<template>
    <div class="w-100 m-0">
        <!-- LOADER -->
        <loader :show="load"></loader>
        <div class="row m-0">
            <div class="col-12">
                <div class="xp-filter-group">
                    <div class="row m-0 xp-filter-group-content flex-row">
                        <div class="xp-filter-group-item mr-4 col-12 col-md-4 p-0">
                            <div class="xp-filter-group-form xp-filter-group-fron-icon">
                                <input class="xp-filter-group-form-control xp-rounded" type="text" placeholder="Buscar alumno" v-model="filters.search">
                                <span class="xp-filter-group-form-control-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <!-- <div class="xp-filter-group-item justify-content-center justify-content-md-end col-12 col-md-4 p-0 mt-3 mt-md-0">
                            <div class="xp-filter-group-text mr-2">Te quedan:</div>
                            <div class="xp-filter-group-subtitle xp-text-primary" v-text="getStatusInvitations() + ' invitaciones'"></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
            <div class="row m-0 mt-4">
                <div class="col-12 px-0 table-responsive xp-scroll">
                    <b-table 
                        small 
                        :fields="fields" 
                        class="xp-table xp-table-dark" 
                        :items="ranges"
                        :filter="filters.search"
                        foot-clone
                        @row-clicked="changeNav"
                    >
                        <!-- A virtual column -->
                        <template v-slot:cell(level)="data">
                            <div class="text-center">
                                <span v-text="data.item.level"></span>
                            </div>
                        </template>

                        <template v-slot:cell(students)="data">
                            <div class="text-center">
                                <span v-text="getTotal(data.item)"></span>
                                <span class="ml-1">/</span>
                                <span class="xp-text-warning" v-text="data.item.limit"></span>
                            </div>
                        </template>

                        <!-- A custom formatted column -->
                        <template v-slot:cell(actives)="data">
                            <div class="text-center">
                                <span v-text="getActives(data.item)"></span>
                            </div>
                        </template>

                        <!-- <template v-slot:cell(range)="data">
                            <div class="text-center">
                                <span v-text="data.item.description"></span>
                                <img v-if="getOverLimit(data.item)" class="xp-table-icon ml-1" src="/img/start.svg" alt="">
                                <img v-else class="xp-table-icon ml-1" src="/img/start-default.svg" alt="">
                            </div>
                        </template>

                        <template v-slot:cell(awards)="data">
                            <div class="xp-range-award">
                                <span class="xp-range-award-content" v-for="award in data.item.awards">
                                    <img v-bind:src="'/storage/awards/'+award.picture" alt="">
                                    <span class="xp-range-award-text mx-2 mt-2 mt-md-0">=</span>
                                    <span class="xp-range-award-text mt-2 mt-md-0" v-text="award.description"></span>
                                </span>
                            </div>
                        </template> -->

                        <template v-if="totalRows == 0" v-slot:table-caption>
                            <div class="d-flex justify-content-center">
                                Sin registros
                            </div>
                        </template>

                        <!-- FOOTER -->
                        <template v-slot:foot(level)="data">
                            <div class="text center">TOTAL</div>
                        </template>

                        <template v-slot:foot(students)="data">
                            <div class="text center" v-text="getTotalStudents()"></div>
                        </template>

                        <template v-slot:foot(actives)="data">
                            <div class="text center" v-text="getTotalActives()"></div>
                        </template>

                        <template v-slot:foot()="data">
                            <span></span>
                        </template>
                    </b-table>
                </div>
            </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                fields: [
                    {key: 'level', label: 'Nivel', sortable: false},
                    {key: 'students', label: 'Número de Alumnos', sortable: false},
                    {key: 'actives', label: 'Número de Activos', sortable: false},
                    // {key: 'range', label: 'Rango', sortable: false},
                    // {key: 'awards', label: 'Premios', sortable: false}
                ],
                filters:{
                    search: '',
                    dateFrom: null,
                    dateTo: null,
                    status: -1
                },
                students: [],
                totalRows: 0,
                ranges: [],
                user: {}
			}
        },
        props:[],
		mounted(){          
            this.getRanges()
            this.getData()
        },
        methods: {
            getRanges(){
                axios.get('/contenido/rangos')
                .then(response => {
                    this.ranges = response.data.ranges
                })
                .catch(error => {
                })
            },
            getData(){
                this.load = true
                axios.get('/embajador/list')
                .then(response => {
                    this.students = response.data.students
                    this.totalRows = this.students.length
                    this.user = response.data.user
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            getTotal(dataRange){
                let result = 0
                this.students.forEach((student) => {
                    if(student.level == dataRange.level){
                        result = student.total
                    }
                })
                return result
            },
            getActives(dataRange){
                let result = 0
                this.students.forEach((student) => {
                    if(student.level == dataRange.level){
                        result = student.actives
                    }
                })
                return result
            },
            getOverLimit(dataRange){
                let result = false
                this.students.forEach((student) => {
                    if(student.level == dataRange.level && dataRange.limit == student.total){
                        result = true
                    }
                })
                return result
            },
            getStatusInvitations(){
                let studentTotal = 0

                this.students.forEach((student) => {
                    if(student.level == 1){
                        studentTotal = student.total
                    }
                })

                return (this.user.limit_invitations - studentTotal)
            },
            getTotalStudents(){
                let result = 0
                this.students.forEach((student)=>{
                    result += student.total
                })
                return result
            },
            getTotalActives(){
                let result = 0
                this.students.forEach((student)=>{
                    result += student.actives
                })
                return result
            },
            changeNav(e){
                let dataItem = {
                    rangeId: e.id,
                    nav: 'detail' 
                }
                this.$emit('change', dataItem)
            }
        },
        computed: {
        }
    }
</script>