<template>
    <div class="row m-0">
        <!-- LOADER -->
        <loader :show="load"></loader>
        <div class="col-12 mb-3">
            <span class="xp-ambassador-link" v-on:click="returnNav('team')">
                <i class="fas fa-chevron-left mr-2"></i>
                <span v-text="'Nivel ' + range.level"></span>
            </span>
        </div>
        <div class="col-12">
            <div class="xp-filter-group">
                <div class="xp-filter-group-content">
                    <div class="xp-filter-group-item mr-4">
                        <div class="xp-filter-group-form xp-filter-group-fron-icon">
                            <input class="xp-filter-group-form-control xp-rounded" type="text" placeholder="Buscar alumno" v-model="filters.search">
                            <span class="xp-filter-group-form-control-icon"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                    <div class="xp-filter-group-item justify-content-end mt-3 mt-md-0">
                        <div class="xp-filter-group-text mr-2">Total:</div>
                        <div class="xp-filter-group-subtitle xp-text-jade.alt" v-text="students.length"></div>
                    </div>
                    <div class="xp-filter-group-item justify-content-end">
                        <div class="xp-filter-group-text mr-2">Activos:</div>
                        <div class="xp-filter-group-subtitle xp-text-primary" v-text="detail.actives"></div>
                    </div>
                    <div class="xp-filter-group-item justify-content-end">
                        <div class="xp-filter-group-text mr-2">Inactivos:</div>
                        <div class="xp-filter-group-subtitle xp-text-danger" v-text="detail.inactives"></div>
                    </div>
                    <div class="xp-filter-group-item justify-content-end mt-2 mt-md-0">
                        <div class="xp-ds-form-group xp-ds-form-group-resalt">
                            <span class="xp-ds-form-group-resalt-icon">
                                <i class="fas fa-sort-amount-up"></i>
                            </span>
                            <select class="xp-ds-form-control" v-model="filters.active" @change="filterActives($event)">
                                <option value="-1">Todos</option>
                                <option value="1">Activos</option>
                                <option value="0">Inactivos</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 px-0 mt-4">
            <div class="row m-0 mt-2">
                <div class="col-12 table-responsive xp-scroll">
                    <b-table 
                        small 
                        :fields="fields" 
                        class="xp-table xp-table-primary" 
                        :items="studentsList"
                        :filter="filters.search"
                        responsive
                        @row-clicked="changeNav"
                    >
                        <!-- :filterIncludedFields="filterOn" -->

                        <!-- A virtual column -->
                        <template v-slot:cell(index)="data">
                            <div class="text-center">
                                <span v-text="data.index + 1"></span>
                            </div>
                        </template>

                        <template v-slot:cell(user)="data">
                            <div class="text-center">
                                <span v-text="data.item.username"></span>
                            </div>
                        </template>

                        <template v-slot:cell(profile)="data">
                            <div class="text-center">
                                <span class="xp-text-link" v-on:click="changeNav(data.item)">Ver</span>
                            </div>
                        </template>

                        <!-- A custom formatted column -->
                        <template v-slot:cell(date)="data">
                            <div class="text-center">
                                <span v-text="data.item.date"></span>
                            </div>
                        </template>

                        <template v-slot:cell(date_payment)="data">
                            <div class="text-center">
                                <span v-text="data.item.date_payment"></span>
                            </div>
                        </template>

                        <template v-slot:cell(status)="data">
                            <span class="d-flex justify-content-center">
                                <span class="xp-badge xp-badge-success" v-if="data.item.active">Activo</span>
                                <span class="xp-badge xp-badge-danger" v-else>Inactivo</span>
                            </span>
                        </template>

                        <template v-slot:cell(sponsor)="data">
                            <div class="text-center">
                                <span v-text="data.item.sponsor"></span>
                            </div>
                        </template>

                        <template v-if="totalRows == 0" v-slot:table-caption>
                            <div class="d-flex justify-content-center">
                                Sin registros
                            </div>
                        </template>

                    </b-table>
                </div>
            </div>
            <div class="row m-0 mt-2">
                <div class="col-12 mt-3 d-flex justify-content-center">
                    <div class="xp-table-pagination">
                        <span class="xp-table-pagination-button mr-3">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="xp-table-pagination-page">1</span>
                        <span class="xp-table-pagination-text mx-1">de</span>
                        <span class="xp-table-pagination-total">2</span>
                        <span class="xp-table-pagination-button ml-3">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                fields: [
                    {key: 'index', label: '#', sortable: false},
                    {key: 'user', label: 'Usuario', sortable: true},
                    {key: 'profile', label: 'Perfil', sortable: false},
                    {key: 'date', label: 'Fecha de Registro', sortable: false},
                    {key: 'date_payment', label: 'Último Pago', sortable: false},
                    {key: 'sponsor', label: 'Invitado por', sortable: false},
                    {key: 'status', label: 'Estado', sortable: true}
                ],
                filters:{
                    search: '',
                    dateFrom: null,
                    dateTo: null,
                    active: -1,
                },
                filterOn: ['user', 'sponsor'],
                students: [],
                studentsList: [],
                totalRows: 0,
                range: {},
                user: {},
                detail:{
                    actives: 0,
                    inactives: 0
                }
			}
        },
        props:["rangeId"],
		mounted(){          
            this.getRanges()
            this.getData()
        },
        methods: {
            getRanges(){
                axios.get('/contenido/rangos')
                .then(response => {
                    response.data.ranges.forEach(ra=>{
                        if(ra.id == this.rangeId){
                            this.range = ra
                        }
                    })
                })
                .catch(error => {
                })
            },
            getData(){
                this.load = true
                // embajador/equipo/detalle
                axios.post('/embajador/equipo/detalle', {
                    rangeId: this.rangeId
                })
                .then(response => {
                    this.students = response.data.students
                    this.studentsList = this.students
                    this.totalRows = this.studentsList.length

                    this.students.forEach(student=>{
                        if(student.active){
                            this.detail.actives++
                        }
                        else{
                            this.detail.inactives++
                        }
                    })
                    return result

                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            returnNav(navVal){
                this.$emit('change', navVal)
            },
            filterActives(e){
                this.studentsList = []
                this.students.forEach((student)=>{
                    if(e.target.value == -1 || e.target.value == student.active){
                        this.studentsList.push(student)
                    }
                })
                this.totalRows = this.studentsList.length
            },
            changeNav(e){
                let dataItem = {
                    userId: e.id,
                    rangeId: this.rangeId,
                    nav: 'info' 
                }
                this.$emit('change', dataItem)
            }
        },
        computed: {
        }
    }
</script>