<template>
    <div class="row m-0 w-100">
        <!-- LOADER -->
        <loader :show="load"></loader>
        <div class="col-12 mb-3">
            <span class="xp-ambassador-link" v-on:click="changeNav('team')">
                <i class="fas fa-chevron-left mr-2"></i>
                <span v-text="'Equipo'"></span>
            </span>
            <span class="xp-ambassador-link" v-on:click="returnNav()">
                <i class="fas fa-chevron-left mr-2"></i>
                <span v-text="'Volver a detalle'"></span>
            </span>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="card-data-profile">
                <div class="card-data-profile-body px-2" v-if="user.student">
                    <div class="card-data-profile-body-picture">
                        <img v-bind:src="(user.picture)?('/usuario/foto/' + user.picture):('/img/user.svg')" alt="">
                    </div>
                    <div class="card-data-profile-name mt-4">
                        <span v-text="getFullName()"></span>
                    </div>
                    <div class="card-data-profile-username mt-3">
                        <span v-text="user.username"></span>
                    </div>
                    <div class="card-data-profile-age mt-3">
                        <span v-text="(age)?(age + ' años'):'Edad'"></span>
                    </div>
                    <div class="card-data-profile-address mt-3">
                        <span v-text="getCity()"></span>
                        <span class="mx-1">-</span>
                        <span v-text="getCountry()"></span>
                    </div>
                    <div class="card-data-profile-status mt-2" v-bind:class="[active?'xp-text-primary':'xp-text-danger']">
                        <span v-text="active?'ALUMNO':'INVITADO'"></span>
                    </div>
                    <div class="card-data-profile-points xp-border-bottom xp-border-top pb-3">
                        <span class="card-data-profile-points-number">
                            <span v-text="user.student.gems"></span>
                            <img src="/img/gem-jade.svg" alt="">
                        </span>
                        <span class="card-data-profile-points-text mt-1">Gemas ganadas</span>
                    </div>
                    <div class="card-data-profile-learn mt-2" v-if="user.student">
                        <div class="card-data-profile-language">
                            <span class="card-data-profile-language-title mr-1">Hablo:</span>
                            <span class="card-data-profile-language-text mr-1" v-for="(language, index) in user.student.languages" v-text="language.name" v-if="language.speak"></span>
                        </div>
                        <div class="card-data-profile-language">
                            <span class="card-data-profile-language-title mr-1">Aprendiendo:</span>
                            <span class="card-data-profile-language-text mr-1" v-for="(language, index) in user.student.languages" v-text="language.name" v-if="language.learn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';
import moment from 'moment'

    export default {
       data(){
			return{
                load: false,
                user: {},
                date : null,
                age: null,
                active: false,
                range: {}
			}
        },
        props:["userId", "rangeId"],
		mounted(){
            this.getRanges()
            this.getData()
        },
        methods: {
            getData(){
                this.load = true
                axios.post('/embajador/usuario/resumen', {
                    userId: this.userId
                })
                .then(response => {
                    this.user = response.data.user
                    this.date = moment(response.data.date).format('DD-MM-YYYY')
                    this.age = response.data.age
                    this.active = response.data.active
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            getFullName(){
                let fullName = 'Nombre completo'
                if(this.user.profile){
                    if(this.user.profile.name){
                        fullName = this.user.profile.name
                    }

                    if(this.user.profile.last_name){
                        if(this.user.profile.name){
                            fullName += ' '
                        }
                        fullName += this.user.profile.last_name
                    }
                }

                return fullName
            },
            getCountry(){
                let country = 'País';
                if(this.user.profile){
                    if(this.user.profile.city){
                        country = this.user.profile.city.region.country.name
                    }
                }

                return country
            },
            getCity(){
                let city = 'Ciudad';
                if(this.user.profile){
                    if(this.user.profile.city){
                        city = this.user.profile.city.name
                    }
                }

                return city
            },
            getRanges(){
                axios.get('/contenido/rangos')
                .then(response => {
                    response.data.ranges.forEach(ra=>{
                        if(ra.id == this.rangeId){
                            this.range = ra
                        }
                    })
                })
                .catch(error => {
                })
            },
            returnNav(){
                let dataItem = {
                    rangeId: this.rangeId,
                    nav: 'detail' 
                }
                this.$emit('change', dataItem)
            },
            changeNav(navVal){
                this.$emit('change', navVal)
            }
        },
        computed: {
        }
    }
</script>