<template>
    <div class="d-flex flex-column animated fadeIn w-100">
        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12 d-flex justify-content-between flex-column flex-md-row mb-3">
                <h2 class="xp-ds-title xp-text-primary m-0">Lista de Lenguajes</h2>
                <button class="xp-button xp-button-primary mt-3 mt-md-0" @click="changeNav('create', null)">
                    Agregar lenguaje
                </button>
            </div>
        </div>
        <!-- FILTERS -->
        <div class="row m-0 mt-3">
            <div class="col-12 p-0">
                <div class="xp-ds-filters">
                    <div class="xp-ds-filters-block row m-0">
                        <div class="xp-ds-filter-item col-12mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-form-group-icon w-100">
                                <input class="xp-ds-form-control xp-ds-rounded w-100" type="text" placeholder="Buscar genero" v-model="filters.search">
                                <span class="xp-ds-form-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="languages"
                    :filter="filters.search"
                    :per-page="perPage"
                    :current-page="currentPage"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <!-- <span v-text="data.index + 1"></span> -->
                        <span v-text="data.item.index"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(name)="data">
                        <div class="text-center" v-text="data.item.name"></div>
                    </template>

                    <!-- A virtual composite column -->
                    <template v-slot:cell(code)="data" class="text-center">
                        <div class="text-center" v-text="data.item.code"></div>
                    </template>

                    <template v-slot:cell(picture)="data" class="text-center">
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="xp-flag">
                                <img v-bind:src="'/img/countries/'+data.item.code+'.svg'" alt="">
                            </span>
                        </div>
                    </template>
            
                    <template v-slot:cell(admin)="data">
                        <div class="text-center">
                            <span class="xp-table-button-icon mr-3" @click="changeNav('create', data.item.id)" title="Editar">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span class="xp-table-button-icon xp-text-danger" v-if="user.username == 'xpeaking'" title="Eliminar">
                                <i class="fas fa-times"></i>
                            </span>
                        </div>
                        <!-- v-on:click="showAlert(data.item)" -->
                    </template>

                    <template v-if="languages.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex flex-column align-items-center justify-content-center">
                <div class="xp-table-pagination">
                    <b-pagination
                    v-model="currentPage"
                    :total-rows="languages.length"
                    :per-page="perPage"
                    ></b-pagination>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <span class="font-weifht-bold mr-2">Total registros: </span>
                    <span class="xp-text-danger" v-text="languages.length"></span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                fields: [
                    {key: 'index', label: '#', sortable: true},
                    {key: 'name', label: 'Nombre del Idioma', sortable: true},
                    {key: 'code', label: 'Codigo', sortable: true},
                    {key: 'picture', label: 'Imagen', sortable: false},
                    {key: 'admin', label: 'Administrar', sortable: false},
                ],
                filters:{
                    search: '',
                },
                languages: [],
                currentPage: 1,
                perPage: 20,
                user: null,
			}
        },
        props:[],
		mounted(){
            this.getLanguages()
            this.getadmin()
        },
        methods: {
            getadmin(){
                axios.get('/usuario/datos/autenticado')
                .then(response=>{
                    this.user = response.data.user
                })
            },
            getLanguages(){
                this.load = true
                axios.post('/panel/lenguajes/lista')
                .then(response => {
                    this.languages = response.data.languages

                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            changeNav(nav, id){
                let dataNav = {
                    nav: nav,
                    id: id
                }
                this.$emit('change', dataNav)
            }
        },
        computed: {
        }
    }
</script>