<template>
    <div class="d-flex flex-column animated fadeIn w-100">

        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12 d-flex justify-content-between flex-column flex-md-row mb-3">
                <h2 class="xp-ds-title xp-text-primary m-0">
                    <span class="cursor-pointer" @click="changeNav('list', null)">
                        <i class="fas fa-chevron-left mr-2"></i>
                    </span>
                    {{ language.id?language.name:'Regresar a la lista'}}
                </h2>
            </div>
        </div>
        <div class="row m-0 px-0 px-md-1">
            <div class="col-12 col-md-6 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border xp-form-control-material" type="text" placeholder="Nombre del lenguaje..." v-model="language.name" v-bind:class="{ filled:language.name.length>0 }" maxlength="200">
                <label class="xp-form-group-super-label">
                    <span>Nombre del lenguaje</span>
                </label>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border xp-form-control-material" type="text" placeholder="Codigo de lenguaje..." v-model="language.code" v-bind:class="{ filled:language.code.length>0 }" maxlength="10">
                <label class="xp-form-group-super-label">
                    <span>Codigo de lenguaje</span>
                </label>
            </div>
            <div class="col-12 mt-5">
                <button class="xp-button xp-button-primary mt-md-0 xp-button-pd" @click="saveData">
                    Guardar cambios
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2'
import Multiselect from 'vue-multiselect'

    export default {
        components: { Multiselect },
        data(){
			return{
                load: false,
                language: {
                    id: null,
                    name: '',
                    code: ''
                }
			}
        },
        props:["id"],
		mounted(){
            if(this.id){
                this.getDataLanguage()
            }
        },
        methods: {
            changeNav(nav, id){
                Swal.fire({
                    title: '¿Estás seguro que deseas salir de la edicion?',
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    let navData = {
                        nav:nav,
                        id: id
                    }
                    if(result.value){
                        this.$emit('change', navData)
                    }
                })
            },
            saveData(){
                if(this.validate()){
                    Swal.fire({
                        title: '¿Estás seguro que deseas guardar los datos?',
                        text: "",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No',
                        customClass: {
                            container: 'xp-sweet-container-xs'
                        }
                    })
                    .then((result) => {
                        if(result.value){
                            this.load = true
                            axios.post('/panel/lenguajes/guardar', {
                                language: this.language
                            })
                            .then(response => {
                                this.load = false
                                if(response.data.success){
                                    if(this.id){
                                        this.getDataLanguage()
                                    }
                                    Swal.fire({
                                        icon: 'success',
                                        title: response.data.message,
                                        showConfirmButton: true,
                                        confirmButtonText:'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })

                                    let navData = {
                                        nav:'list',
                                        id: null
                                    }
                                    this.$emit('change', navData)

                                }
                                else{
                                    Swal.fire({
                                        icon: 'info',
                                        title: response.data.message,
                                        showConfirmButton: true,
                                        confirmButtonText:'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })
                                }
                            })
                            .catch(error => {
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Oh no, no pudimos guardar la informacion',
                                    showConfirmButton: true,
                                    confirmButtonText:'Entendido',
                                    customClass: {
                                        container: 'xp-sweet-container-xs'
                                    }
                                })
                                this.load = false
                            })
                        }
                    })
                }
            },
            validate(){
                let result = true
                if(this.language.name.length == 0 || this.language.code.length == 0){
                    result = false
                    toastr.warning('Complete todos los campos por favor')
                }
                // else if(this.song.genders.length == 0 || this.song.artists.length == 0 || this.song.subtitles.length == 0){
                    // result = false
                //     toastr.warning('Debe seleccionar por lo menos un genero, un artista y un subtitulo')
                // }
                return result
            },
            getDataLanguage(){
                this.load = true
                axios.post('/panel/lenguajes/datos', {
                    id: this.id
                })
                .then(response => {
                    this.language = response.data.language
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            }
        },
        computed: {
        }
    }
</script>