<template>
    <div class="d-flex flex-column animated fadeIn w-100">

        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12 d-flex justify-content-between flex-column flex-md-row mb-3">
                <h2 class="xp-ds-title xp-text-primary m-0">
                    <span class="cursor-pointer" @click="changeNav('list', null)">
                        <i class="fas fa-chevron-left mr-2"></i>
                    </span>
                    Regresar a la lista
                </h2>
            </div>
        </div>

        <div class="row m-0">
            <div class="col-12">
                <p class="text-center">Subtitulos de:</p>
                <h5 class="font-weight-bold text-center" v-text="song.name"></h5>
                <button class="xp-button xp-button-primary mt-3 xp-button-pd mr-2" @click="openModal('xp-modal-subtitle-add')" style="display: inline !important">
                    Agregar subtitulo
                </button>
                <button class="xp-button xp-button-primary mt-3 xp-button-pd" @click="openModal('xp-modal-subtitle-translate')" style="display: inline !important">
                    <i class="fas fa-language pr-1"></i>traducir subtitulo
                </button>
            </div>
        </div>

        <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="subtitles"
                    :filter="filters.search"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <span v-text="data.index + 1"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(status)="data">
                        <span v-text="data.item.status + '%'"></span>
                    </template>

                    <!-- A virtual composite column -->
                    <template v-slot:cell(native)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-badge xp-badge-success" v-if="data.item.native">Si</span>
                            <span class="xp-badge xp-badge-warning" v-else>No</span>
                        </div>
                    </template>

                    <template v-slot:cell(active)="data" class="text-center">
                        <div class="d-flex justify-content-center">
                            <div class="button-cover">
                                <div class="xp-switch-button r">
                                    <input type="checkbox" class="checkbox" :checked="!data.item.active" @click="setActive($event, data.item, data.index)">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </template>

                    <template v-slot:cell(language)="data" class="text-center">
                        <div class="text-center">
                            <span>
                                <img v-bind:src="'/img/countries/' + data.item.language.code + '.svg'" alt="">
                            </span>
                            <span v-text="data.item.language.name"></span>
                        </div>
                    </template>

                    <template v-slot:cell(date)="data">
                        <div class="text-center" v-text="data.item.created"></div>
                    </template>
                    
                    <template v-slot:cell(admin)="data">
                        <div class="text-center">
                            <span class="xp-table-button-icon mr-3" title="Editar datos" @click="editSubtitle(data.item)">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span class="xp-table-button-icon mr-3" title="Archivo" @click="uploadSubtitleFile(data.item)">
                                <i class="fas fa-file-upload"></i>
                            </span>
                            <span class="xp-table-button-icon mr-3" title="Editar Archivo" @click="editSubtitleFile(data.item)">
                                <i class="fas fa-file-signature"></i>
                            </span>
                            <span class="xp-table-button-icon mr-3" title="Vista" @click="previewSubtitleFile(data.item)">
                                <i class="fas fa-eye"></i>
                            </span>
                            <a class="xp-table-button-icon mr-3" v-bind:href="'/panel/subtitulo/descargar/'+data.item.id" title="Descargar Subtitulo">
                                <i class="fas fa-download"></i>
                            </a>
                            <span class="xp-table-button-icon xp-text-danger mr-3" v-if="user.username == 'xpeaking'" title="Eliminar" @click="deleteSubtitle(data.item)">
                                <i class="fas fa-times"></i>
                            </span>
                        </div>
                    </template>

                    <template v-if="subtitles.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-center">
                <div class="xp-table-pagination">
                    <span class="xp-table-pagination-button mr-3">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="xp-table-pagination-page">1</span>
                    <span class="xp-table-pagination-text mx-1">de</span>
                    <span class="xp-table-pagination-total">2</span>
                    <span class="xp-table-pagination-button ml-3">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </div>
            </div>
        </div>

        <!-- MODAL CREATE -->
        <b-modal id="xp-modal-subtitle-add" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Agregar Subtitulo</h5>
            </template>

            <!-- CREATE -->
            <div class="row m-0 d-flex w-100">
                <div class="col-12 mx-auto">
                    <dashboard-songs-subtitles-create @close="closeModal" :song-id="id" :id="idSubtitle"></dashboard-songs-subtitles-create>
                </div>
            </div>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="closeModal('xp-modal-subtitle-add')">Cerrar</button>
        </b-modal>

        <!-- MODAL PREVIEW -->
        <b-modal id="xp-modal-subtitle-preview-file" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Visualizacion de archivo</h5>
            </template>

            <!-- CREATE -->
            <div class="row m-0 d-flex w-100">
                <div class="col-12 mx-auto">
                    <dashboard-songs-subtitles-preview-file :song-id="id" :id="idSubtitle"></dashboard-songs-subtitles-preview-file>
                </div>
            </div>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="closeModal('xp-modal-subtitle-preview-file')">Cerrar</button>
        </b-modal>

        <!--  MODAL TRANSLATE SUBTITLE -->
        <b-modal id="xp-modal-subtitle-translate" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Traducir Subtitulo</h5>
            </template>
            <div class="col-12 col-md-6 row" style="max-width:100% !important;">
                <div class="col md-6">
                    <p>Del:</p>
                    <multiselect v-model="subtitletranslate.languagebase" :options="langavailable" :clear-on-select="false" placeholder="Seleccione lenguaje base" label="name" track-by="name">
                    </multiselect>
                </div>
                <div class="col-md-6">
                    <p>Al:</p>
                    <multiselect v-model="subtitletranslate.languagetarget" :options="languages" :clear-on-select="false" placeholder="Seleccione lenguaje objetivo" label="name" track-by="name">
                    </multiselect>
                </div>
            </div>
            <!-- CREATE -->
            <div class="row m-0 d-flex w-100">
                <div class="col-12 mx-auto">
                    <dashboard-songs-subtitles-translate :langbase="subtitletranslate.languagebase" :langtarget="subtitletranslate.languagetarget" :songId="id" @close="closeModal"></dashboard-songs-subtitles-translate>
                </div>
            </div>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="closeModal('xp-modal-subtitle-translate')">Cerrar</button>
        </b-modal>

        <!-- MODAL UPLOAD -->
        <b-modal id="xp-modal-subtitle-upload-file" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Subir archivo</h5>
            </template>

            <!-- UPLOAD -->
            <div class="row m-0 d-flex w-100">
                <div class="col-12 mx-auto">
                    <dashboard-songs-subtitles-upload-file :id="idSubtitle" @close="closeModal"></dashboard-songs-subtitles-upload-file>
                </div>
            </div>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="closeModal('xp-modal-subtitle-upload-file')">Cerrar</button>
        </b-modal>

    </div>
</template>
<script>
import Swal from 'sweetalert2';
import Multiselect from 'vue-multiselect'

    export default {
        components: { Multiselect },
       data(){
			return{
                load: false,
                song: {},
                subtitles: [],
                fields: [
                    {key: 'index', label: '#', sortable: false},
                    {key: 'status', label: 'Estado', sortable: true},
                    {key: 'native', label: 'Nativo', sortable: true},
                    {key: 'active', label: 'Activo', sortable: true},
                    {key: 'language', label: 'Lenguaje', sortable: true},
                    {key: 'date', label: 'F.Registro', sortable: false},
                    {key: 'admin', label: 'Administrar', sortable: false},
                ],
                filters:{
                    search: ''
                },
                idSubtitle: null,
                languages: [],
                langavailable:[],
                subtitletranslate:{
                    languagebase: null,
                    languagetarget: null
                },
                user: null,
			}
        },
        props:["id"],
		mounted(){
            this.getadmin()
            this.getLaguages()
            this.getDataSong()
            this.getSubtitles()
        },
        methods: {
            getadmin(){
                axios.get('/usuario/datos/autenticado')
                .then(response=>{
                    this.user = response.data.user
                })
            },
            changeNav(nav, id){
                Swal.fire({
                    title: '¿Estás seguro que deseas salir de la edicion de subtitulos?',
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    let navData = {
                        nav:nav,
                        id: id
                    }
                    if(result.value){
                        this.$emit('change', navData)
                    }
                })
            },
            getDataSong(){
                axios.post('/panel/cancion/datos', {
                    id: this.id
                })
                .then(response => {
                    this.song = response.data.song
                })
                .catch(error => {
                })
            },
            getSubtitles(){
                this.load = true
                this.langavailable = []
                axios.post('/panel/canciones/subtitulos/lista', {
                    songId: this.id
                })
                .then(response => {
                    response.data.subtitles.forEach(subtitle =>{
                        if (subtitle.native) {
                            this.langavailable.push(subtitle.language)
                        }
                    });
                    this.subtitles = response.data.subtitles
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            setActive(e, dataSub, index){
                e.preventDefault();
                let title = '¿Está seguro que desea activar esta cancion?'

                if(dataSub.active){
                    title = '¿Está seguro que desea desactivar esta cancion?'
                }

                Swal.fire({
                    title: title,
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/canciones/subtitulos/activar', {
                            id: dataSub.id,
                            active: !dataSub.active
                        })
                        .then(response => {
                            this.load = false
                            if(response.data.success){

                                this.changeActiveList(dataSub.id, !dataSub.active)

                                toastr.success('Estado cambiado exitosamente')
                            }
                            else{
                                toastr.warning('Oh no, no pudimos guardar la informacion')
                            }
                        })
                        .catch(error => {
                            toastr.error('Oh no, no pudimos guardar la informacion')
                            this.load = false
                        })
                    }
                })
            },
            changeActiveList(id, active){
                this.subtitles.forEach((subtitle)=>{
                    if(subtitle.id == id){
                        subtitle.active = active
                    }
                })
            },
            openModal(modalId){
                this.$bvModal.show(modalId)
            },
            closeModal(modalId){
                this.getSubtitles()
                this.$bvModal.hide(modalId)
            },
            editSubtitleFile(dataSub){
                const encryptid="SUB10"+dataSub.id
                window.open('panel/subtitulo/editarsrt/'+encryptid);
                
            },
            editSubtitle(dataSub){
                this.idSubtitle = dataSub.id
                this.openModal('xp-modal-subtitle-add')
            },
            previewSubtitleFile(dataSub){
                this.idSubtitle = dataSub.id
                this.openModal('xp-modal-subtitle-preview-file')
            },
            uploadSubtitleFile(dataSub){
                this.idSubtitle = dataSub.id
                this.openModal('xp-modal-subtitle-upload-file')
            },
            deleteSubtitle(dataSub){
                this.idSubtitle = dataSub.id
                Swal.fire({
                    title: '¿Estás seguro que deseas guardar los datos?',
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        axios.post('/panel/canciones/subtitulos/eliminar', {
                            id: this.idSubtitle
                        })
                        .then(response => {
                            if(response.data.success){
                                toastr.success(response.data.message)
                                this.getSubtitles()
                            }
                            else{
                                toastr.warning(response.data.message)
                            }
                            this.load = false
                        })
                        .catch(error => {
                            this.load = false
                            toastr.error('Algo salio man, no pudimos registrar la informacion')
                        })
                    }
                })
            },
            getLaguages(){
                axios.get('/idiomas')
                .then(response => {
                    response.data.languages.forEach(language => {
                        language.status = 0
                        language.file = null
                    });
                    this.languages = response.data.languages
                })
                .catch(error => {
                })
            },
        },
        computed: {
        }
    }
</script>