<template>
    <div class="d-flex flex-column animated fadeIn w-100">

        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12 mt-3">
                <h5 class="font-weight-bold text-center">Complete la siguiente informacion</h5>
            </div>
        </div>

        <div class="row m-0 px-0 px-md-1">
            <div class="col-12 col-md-6 xp-form-group-super px-2 mt-4">
                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border xp-form-control-material" type="number" placeholder="Estado..." v-model="subtitle.status" v-bind:class="{ filled:subtitle.status>=0 }" min="0">
                <label class="xp-form-group-super-label">
                    <span>Estado (%)</span>
                </label>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2 mt-4 xp-multiselect-material white mt-4">
                <multiselect v-model="subtitle.language" :options="languages" :clear-on-select="false" placeholder="Seleccione lenguaje" label="name" track-by="name">
                </multiselect>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2 justify-content-end mt-4">
                <input type="checkbox" class="xp-form-control checkbox checkbox-default" id="subtitleNative" v-model="subtitle.native"/>
                <label for="subtitleNative" class="xp-form-control-label">
                   Nativo
                </label>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2 justify-content-end mt-4">
                <input type="checkbox" class="xp-form-control checkbox checkbox-default" id="subtitleActive" v-model="subtitle.active"/>
                <label for="subtitleActive" class="xp-form-control-label">
                   Activo
                </label>
            </div>
        </div>

        <div class="row m-0">
            <div class="col-12 mt-5">
                <button class="xp-button xp-button-success mt-md-0 xp-button-pd" @click="saveData">
                    Guardar
                </button>
            </div>
        </div>

    </div>
</template>
<script>
import Swal from 'sweetalert2'
import Multiselect from 'vue-multiselect'

    export default {
        components: { Multiselect },
        data(){
			return{
                load: false,
                subtitle: {
                    id: null,
                    status: 0,
                    language: null,
                    native: false,
                    active: false
                },
                languages: [],
			}
        },
        props:["id", "songId"],
		mounted(){
            this.getLaguages()

            if(this.id){
                this.getSubtitle()
            }
        },
        methods: {
            getLaguages(){
                axios.get('/idiomas')
                .then(response => {
                    response.data.languages.forEach(language => {
                        language.status = 0
                        language.file = null
                    });
                    this.languages = response.data.languages
                })
                .catch(error => {
                })
            },
            getSubtitle(){
                this.load = true
                axios.post('/panel/canciones/subtitulos/datos', {
                    id: this.id
                })
                .then(response => {
                    this.subtitle = response.data.subtitle
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            saveData(){
                if(this.validate()){
                    Swal.fire({
                        title: '¿Estás seguro que deseas guardar los datos?',
                        text: "",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No',
                        customClass: {
                            container: 'xp-sweet-container-xs'
                        }
                    })
                    .then((result) => {
                        if(result.value){
                            this.load = true
                            this.subtitle.songId = this.songId
                            axios.post('/panel/canciones/subtitulos/guardar', {
                                subtitle: this.subtitle
                            })
                            .then(response => {
                                this.load = false
                                if(response.data.success){
                                    toastr.success('Informacion registrada exitosamente')
                                    this.$emit('close', 'xp-modal-subtitle-add')
                                }
                                else{
                                    toastr.warning('Oh no, no pudimos guardar la informacion')
                                }
                            })
                            .catch(error => {
                                toastr.warning('Oh no, no pudimos guardar la informacion')
                                this.load = false
                            })
                        }
                    })
                }
            },
            validate(){
                let result = true
                if(!this.subtitle.language){
                    toastr.warning('Elija un idioma')
                    result = false
                }
                return result
            }
        },
        computed: {
        }
    }
</script>