<template>
    <div class="d-flex flex-column animated fadeIn w-100">

        <loader :show="load"></loader>

        <div class="row m-0 my-3">
            <div class="col-12">
                <p class="text-center">Idioma:</p>
                <h5 v-if="subtitle.language" class="font-weight-bold text-center" v-text="subtitle.language.name"></h5>
            </div>
        </div>

        <div class="row my-3 mx-0">
            <div class="col-12">
                <b-form-file
                v-model="file"
                :state="Boolean(file)"
                placeholder="Seleccione un archivo..."
                drop-placeholder="Arrastr un archivo aqui..."
                :accept="'.srt'"
                :browse-text="'Buscar'"
                @change="readFile"
                ></b-form-file>
                <div class="mt-3">Archivo seleccionado: {{ file ? file.name : '' }}</div>
                <div class="mt-3 xp-text-danger" v-if="subtitle.id" v-text="'Archivo actual: '+subtitle.file"></div>
            </div>
        </div>

        <!-- FILTERS -->
        <div class="row m-0 my-3">
            <div class="col-12 p-0">
                <label class="sr-only" for="xpUploadFileSearch">Buscar en contenido</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="xpUploadFileSearch" placeholder="Buscar en contenido" v-model="filters.search">
                </div>
            </div>
        </div>

         <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="words"
                    :filter="filters.search"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <span v-text="data.index + 1"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(word)="data">
                        <div class="text-center" v-text="data.item.word"></div>
                    </template>
                    <template v-slot:cell(incomplete)="data">
                        <div class="d-flex justify-content-center">
                            <span class="xp-badge xp-badge-warning" v-if="data.item.incomplete">No</span>
                            <span class="xp-badge xp-badge-success" v-else>Si</span>
                        </div>
                    </template>
                    <!-- <template v-slot:cell(exist)="data">
                        <div class="d-flex justify-content-center">
                            <span class="xp-badge xp-badge-success" v-if="data.item.exist">Si</span>
                            <span class="xp-badge xp-badge-warning" v-else>No</span>
                        </div>
                    </template> -->
                    

                    <template v-slot:cell(translation)="data">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column" v-for="dictionary in data.item.dictionaries">
                                <h6 class="xp-text-primary mb-2" v-text="dictionary.language.name"></h6>
                                <div class="xp-form-group-super mt-0">
                                    <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="text" placeholder="Traduccion..." v-model="dictionary.translation" v-bind:class="{ filled:dictionary.translation.length > 0 }">
                                    <label class="xp-form-group-super-label">
                                        <span>Traduccion</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </template>

                    <template v-slot:cell(phonetics)="data">
                        <div class="d-flex flex-column">
                            <div class="xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="text" placeholder="Fonetica..." v-model="data.item.phonetics" v-bind:class="{ filled:data.item.phonetics.length > 0 }">
                                <label class="xp-form-group-super-label">
                                    <span>Fonetica</span>
                                </label>
                            </div>
                        </div>
                    </template>

                    <!-- <template v-slot:cell(admin)="data">
                        <div class="text-center">
                            <span class="xp-table-button-icon mr-3" title="Vista">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                    </template> -->

                    <template v-if="words.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-center">
                <div class="xp-table-pagination">
                    <span class="xp-table-pagination-page" v-text="words.length + ' Registros'"></span>
                </div>
            </div>
        </div>

        <div class="row m-0">
            <div class="col-12 mt-5">
                <button class="xp-button xp-button-success mt-md-0 xp-button-pd" @click="saveData">
                    Guardar Datos
                </button>
            </div>
        </div>
        
    </div>
</template>
<script>
import Swal from 'sweetalert2'

    export default {
        data(){
			return{
                load: false,
                words: [],
                wordsOnly: [],
                fields: [
                    {key: 'index', label: '#', sortable: false},
                    {key: 'word', label: 'Palabra', sortable: true},
                    {key: 'incomplete', label: 'Completa', sortable: false},
                    // {key: 'exist', label: 'Existente', sortable: false},
                    {key: 'translation', label: 'Traduccion', sortable: false},
                    {key: 'phonetics', label: 'Fonetica', sortable: false}
                    // {key: 'admin', label: 'Acciones', sortable: false}
                ],
                filters:{
                    search: ''
                },
                file: null,
                extension: null,
                subtitle: {},
                dictionaries: []
			}
        },
        props:["id", "songId"],
		mounted(){
            this.getSubtitle()
        },
        methods: {
            readFile(e){
                this.words = []
                this.wordsOnly = []
                this.dictionaries = []
                if(e.target.files[0]){
                    let file = e.target.files[0]
                    let filename = e.target.value.split('.')
                    this.extension = filename[filename.length-1]

                    let fileReader=new FileReader();
                    const main = this
                    fileReader.onload=function(){ 
                        this.load = true

                        let contentPrev = String(fileReader.result)
                        let contentFirst = contentPrev.replace(/[`~!@#$%^&*()_|+\-=?;:",.<>\{\}\[\]\\\/]/gi, "")
                        let content = contentFirst.replace(/' |\s'/gi, " ")
                        let contentList = content.split("\n\n")
                        contentList.forEach( (item, index) =>{
                            let line = item.split("\n")
                            //  [
                            //     "16", 
                            //     "00:00:58,100 --> 00:01:02,400", 
                            //     "And now I beg to see you dance just one more time"
                            // ]
                            if(line.length == 3){
                                let wordsString =  line[2].split(" ")
                                wordsString.forEach(wd=>{
                                    let w = wd.trim().toLowerCase()
                                    if(!main.wordsOnly.includes(w) && w.length>0){
                                        main.words.push({
                                            word: w,
                                            incomplete:true,
                                            exist: false,
                                            phonetics: '',
                                            dictionaries: []
                                        })
                                        main.wordsOnly.push(w)
                                    }
                                })
                            }

                            if(index == contentList.length-1){
                                main.getWordsExist()
                            }

                            if(index == contentList.length - 1){
                                this.load = false
                            }

                        })
                    } 

                    fileReader.readAsText(file); 
                }
            },
            formatTime(timeSeconds) {
                let miliSecondsString = timeSeconds.split(',')
                let miliSeconds = miliSecondsString[1]
                let timeString = miliSecondsString[0].split(':')
                let hour = parseInt(timeString[0])
                let minutes = parseInt(timeString[1])
                let seconds = parseInt(timeString[2])
                // let totalSeconds = seconds + (minutes*60) + (hour*60*60)
                // let timeResult = totalSeconds+'.'+miliSeconds
                let timeResult = (hour<10?'0':'') + hour + ":" + (minutes<10?'0':'') + minutes + ":" + (seconds<10?'0':'') + seconds
                return timeResult
            },
            getWordsExist(){
                axios.post('/panel/canciones/subtitulos/palabras/buscar', {
                    languageId: this.subtitle.language.id,
                    words: this.wordsOnly
                })
                .then(response => {
                    if(response.data.dictionaries){
                        this.dictionaries = response.data.dictionaries
                        if(this.dictionaries.length>0){
                            this.dictionaries[0].dictionary.forEach(wordDic => {
                                this.words.forEach(word=>{
                                    if(word.word == wordDic.word){
                                        word.exist = true
                                        if(wordDic.phonetics){
                                            word.phonetics = wordDic.phonetics
                                        }
                                        if(wordDic.incomplete){
                                            word.incomplete = true
                                        }
                                        else{
                                            word.incomplete = false
                                        }
                                    }
                                })
                            })

                            this.dictionaries.forEach(dictionary => {
                                this.words.forEach(word => {
                                    word.dictionaries.push({
                                        language: dictionary.language,
                                        translation: ''
                                    })
                                });
                            })
                            
                            this.dictionaries.forEach(dictionary => {
                                dictionary.dictionary.forEach(wordDic => {
                                    this.words.forEach(word=>{
                                        if(word.word == wordDic.word){
                                            word.dictionaries.forEach(wDicLsit => {
                                                if(wDicLsit.language.id == dictionary.language.id){
                                                    wDicLsit.translation = wordDic.translation
                                                }
                                            })
                                        }
                                    })
                                })
                            })
                        }
                    }
                })
                .catch(error => {
                })
            },
            getSubtitle(){
                axios.post('/panel/canciones/subtitulos/datos', {
                    id: this.id
                })
                .then(response => {
                    this.subtitle = response.data.subtitle
                    this.getFileSubtitle()
                })
                .catch(error => {
                })
            },
            searchWord(word, wordIndex, dictionaryIndex){
                let result = ''
                this.dictionaries[dictionaryIndex].dictionary.forEach(dicWord => {
                    if(dicWord.word == word){
                        result = dicWord.translation
                    }
                });
                return result
            },
            saveData(){
                if(this.validate()){
                    Swal.fire({
                        title: '¿Estás seguro que deseas guardar los datos?',
                        text: "",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No',
                        customClass: {
                            container: 'xp-sweet-container-xs'
                        }
                    })
                    .then((result) => {
                        if(result.value){
                            this.load = true
                            if(this.file){
                                this.saveFile()
                            }
                            axios.post('/panel/canciones/subtitulos/palabras/guardar', {
                                words: this.words,
                                subtitleId: this.id
                            })
                            .then(response => {
                                if(response.data.success){
                                    toastr.success(response.data.message)
                                    this.$emit('close', 'xp-modal-subtitle-upload-file')
                                }
                                else{
                                    toastr.warning(response.data.message)
                                }
                                this.load = false
                            })
                            .catch(error => {
                                this.load = false
                                toastr.error('Algo salio man, no pudimos registrar la informacion')
                            })
                        }
                    })
                }
            },
            validate(){
                let result = true
                // if(!this.file || this.subtitle.id){
                //     toastr.warning('Seleccione un archivo')
                //     result = false
                // }
                return result
            },
            saveFile(){
                let formData = new FormData()
                formData.append('file', this.file)
                formData.append('extension', this.extension)
                formData.append('name', this.file.name.replace(/\s/gi, "-"))
                formData.append('subtitleId', this.id)

                axios.post('/panel/canciones/subtitulos/archivo/guardar', formData, {
                    'content-type': 'multipart/form-data' ,
                    'processData': false,
                    'contentType': false,
                })
                .then(response => {
                    if(response.data.success){
                        toastr.success(response.data.message)
                    }
                    else{
                        toastr.warning(response.data.message)
                    }
                            
                })
                .catch(error => {
                    toastr.error('Algo salio man, no pudimos guardar el archivo')
                });
            },
            getFileSubtitle(){
                this.load= true
                let urlSubtitle = this.subtitle.file
                axios.get('/storage/subtitles/'+urlSubtitle)
                .then(response => {
                    
                    this.words = []
                    this.wordsOnly = []
                    this.dictionaries = []
                    
                    let contentPrev = response.data
                    let contentFirst = contentPrev.split('\n')
                    let contentList = []
                    let cFItem = []
                    contentFirst.forEach((item, index)=>{
                        if(item.trim().length == 0){
                            contentList.push(cFItem)
                            cFItem = []
                        }
                        else{
                            cFItem.push(item)
                        }

                        if(index == contentFirst.length-1){
                            contentList.push(cFItem)
                        }
                    })
                    
                    contentList.forEach( (item, index) =>{
                        if(item.length == 3){
                            let wordStringPrev = item[2].replace(/[`~!@#$%^&*()_|+\-=?;:",.<>\{\}\[\]\\\/]/gi, "")
                            let wordsString =  wordStringPrev.split(" ")
                            wordsString.forEach(wd=>{
                                if(wd.trim()[0]=="'"){
                                    wd = wd.trim().substring(1, wd.length-1)
                                }
                                else if(wd.trim()[wd.length-1]=="'"){
                                    wd = wd.trim().substring(0, wd.length-2)
                                }
                                let w = wd.trim().toLowerCase()
                                if(!this.wordsOnly.includes(w) && w.length>0){
                                    this.words.push({
                                        word: w,
                                        exist: false,
                                        phonetics: '',
                                        dictionaries: []
                                    })
                                    this.wordsOnly.push(w.toLowerCase())
                                }
                            })
                        }

                        if(index == contentList.length-1){
                            this.getWordsExist()
                        }

                        if(index == contentList.length - 1){
                            this.load = false
                        }

                    })
                    
                })
                .catch(error => {
                    this.load = false
                    console.log(error)
                })
            }
        },
        computed: {

        }
    }
</script>