<template>
    <div class="d-flex flex-column animated fadeIn w-100">

        <loader :show="load"></loader>

         <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="d-flex ml-3 mb-2">
                <span class="xp-badge xp-badge-warning" v-if="!activeva">Incompleto</span>
                <span class="xp-badge xp-badge-success" v-else>Completo</span>
            </div>
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="lines"
                    :filter="filters.search"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <span v-text="data.index + 1"></span>
                    </template>
                    <template v-if="native==true" v-slot:cell(active)="data" class="text-center">
                        <div class="d-flex justify-content-center">
                            <div class="button-cover">
                                <div class="xp-switch-button r">
                                    <input type="checkbox" class="checkbox" :checked="!data.item.active" @click="setActive(data.index)">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-if="native==true" v-slot:cell(type)="data">
                        <select v-model="data.item.type">
                            <option v-for="option in typequestion" v-bind:value="option.code">
                                {{ option.name }}
                            </option>
                        </select>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(words)="data">
                        <span v-text="data.item.words"></span>
                    </template>
                    
                    <template v-slot:cell(start)="data">
                        <div class="text-center" v-text="data.item.timeStart"></div>
                    </template>

                    <template v-slot:cell(end)="data">
                        <div class="text-center" v-text="data.item.timeEnd"></div>
                    </template>

                    <template v-if="lines.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-center">
                <div class="xp-table-pagination">
                    <span class="xp-table-pagination-page" v-text="lines.length + ' Registros'"></span>
                </div>
            </div>
            <div>
                <button @click="sendchanges()" class="xp-button xp-button-primary mt-4">Guardar</button>
            </div>
        </div>
        
    </div>
</template>
<script>
import Swal from 'sweetalert2'

    export default {
        data(){
			return{
                load: false,
                native: false,
                activeva: false,
                lines: [],
                fields: [
                    {key: 'index', label: '#', sortable: false},
                    {key: 'words', label: 'Palabras', sortable: false},
                    {key: 'start', label: 'T.Inicio', sortable: false},
                    {key: 'end', label: 'T.Fin', sortable: false},
                ],
                filters:{
                    search: ''
                },
                typequestion: [
                    {name: 'ninguno', code: 0},
                    {name: 'traducir', code: 1},
                    {name: 'transcribir', code: 2},
                    {name: 'hablar', code: 3},
                    {name: 'completar', code: 4},
                ]
			}
        },
        props:["id", "songId"],
		mounted(){
            this.getSubtitles()
        },
        methods: {
            getSubtitles(){
                this.load = true
                axios.post('/panel/canciones/subtitulos/archivo/vista',{
                    id: this.id,
                    songId: this.songId
                })
                .then(response => {
                    if(response.data.lines){
                        response.data.lines.forEach(line => {
                            this.lines.push({
                                words: line.words.join(" "),
                                timeStart: this.formatTime(line.time[0]),
                                timeEnd: this.formatTime(line.time[1]),
                                active: line.active,
                                type: line.type
                            })
                        });
                        this.activeva = response.data.active
                        this.native = response.data.native
                        if (this.native) {
                            this.fields.push({key: 'active', label: 'Activo', sortable: false},
                                            {key: 'type', label: 'Tipo Eva.', sortable: false},)
                        }
                    }
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            formatTime(timeSeconds) {
                let miliSecondsString = timeSeconds.split(',')
                let miliSeconds = miliSecondsString[1]
                let timeString = miliSecondsString[0].split(':')
                let hour = parseInt(timeString[0])
                let minutes = parseInt(timeString[1])
                let seconds = parseInt(timeString[2])
                // let totalSeconds = seconds + (minutes*60) + (hour*60*60)
                // let timeResult = totalSeconds+'.'+miliSeconds
                let timeResult = (hour<10?'0':'') + hour + ":" + (minutes<10?'0':'') + minutes + ":" + (seconds<10?'0':'') + seconds
                return timeResult
            },
            setActive(index){
                this.lines[index]['active'] = !this.lines[index]['active']
            },
            sendchanges(){
                Swal.fire({
                    title: '¿Estás seguro que deseas guardar los datos?',
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/canciones/subtitulos/archivo/vista/guardar',{
                            id: this.id,
                            lines: this.lines
                        })
                        .then(response => {
                           if (response.data.success) {
                                toastr.success('Informacion guardada exitosamente')
                                this.lines = []
                                this.getSubtitles()

                           }
                           this.load = false
                        })
                        .catch(error => {
                            this.load = false
                        })
                    }
                })
            }
        },
        computed: {
        }
    }
</script>