<template>
    <div class="xp-dashboard">
        <span class="xp-burger-nav" v-bind:class="{'xp-burger-nav-sup':(showMenu)}">
            <input class="burger-check" id="burger-check" type="checkbox" v-model="showMenu">
            <label for="burger-check" class="burger"></label>
        </span>
        <div class="xp-dashboard-nav xp-scroll" v-bind:class="{'xp-dashboard-nav-show':(showMenu)}">
            <nav class="xp-ds-nav">
                <ul class="xp-ds-nav-ul">
                    <li class="xp-ds-nav-li">
                        <a class="xp-ds-nav-a">
                        <img src="/img/dashboard.svg" alt=""> 
                        Panel
                        </a>
                    </li>
                    <li class="xp-ds-nav-li">
                        <a class="xp-ds-nav-a">
                        <img src="/img/medal.svg" alt=""> 
                        Curso
                        </a>
                    </li>
                    <li class="xp-ds-nav-li" v-if="permissions.songs">
                        <a class="xp-ds-nav-a xp-ds-nav-a-collapse" data-toggle="collapse" href="#collapseSongs" role="button" :ariaExpanded="(mainNav=='songs'  || mainNav=='artists' || mainNav=='genders' || mainNav=='languages')" aria-controls="collapseSongs" v-bind:class="{collapsed:(mainNav!='songs' || mainNav=='artists' || mainNav=='genders' || mainNav=='languages')}">
                        <img src="/img/music-sound-primary.svg" alt=""> 
                            Canciones
                        <span class="xp-ds-nav-a-arrow"><i class="fas fa-chevron-down"></i></span>
                        </a>
                        <div class="collapse xp-ds-nav-collapse" id="collapseSongs" v-bind:class="{show: (mainNav=='songs' || mainNav=='artists' || mainNav=='genders' || mainNav=='languages')}">
                            <ul class="xp-ds-nav-sub">
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: (childNav=='list' && mainNav=='songs')}" v-on:click="changeNav('songs', 'list')">
                                        Lista de Canciones
                                    </a>
                                </li>
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: childNav=='list' && mainNav=='artists'}" v-on:click="changeNav('artists', 'list')">
                                        Lista de Artistas
                                    </a>
                                </li>
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: childNav=='list' && mainNav=='genders'}" v-on:click="changeNav('genders', 'list')">
                                        Lista de géneros
                                    </a>
                                </li>
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: childNav=='list' && mainNav=='languages'}" v-on:click="changeNav('languages', 'list')">
                                        Lista de idiomas
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="xp-ds-nav-li" v-if="permissions.dictionary">
                        <a class="xp-ds-nav-a xp-ds-nav-a-collapse" data-toggle="collapse" href="#collapseDictionaries" role="button" :ariaExpanded="(mainNav=='dictionaries')" aria-controls="collapseDictionaries" v-bind:class="{collapsed:mainNav!='dictionaries'}">
                        <img src="/img/dictionary-primary.svg" alt=""> 
                            Diccionarios
                        <span class="xp-ds-nav-a-arrow"><i class="fas fa-chevron-down"></i></span>
                        </a>
                        <div class="collapse xp-ds-nav-collapse" id="collapseDictionaries" v-bind:class="{show: mainNav=='dictionaries'}">
                            <ul class="xp-ds-nav-sub">
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: childNav=='list' && mainNav=='dictionaries'}" v-on:click="changeNav('dictionaries', 'list')">
                                        Lista de diccionarios
                                    </a>
                                </li>
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: childNav=='reports' && mainNav=='dictionaries'}" v-on:click="changeNav('dictionaries', 'reports')">
                                        Reportes
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="xp-ds-nav-li" v-if="permissions.users">
                        <a class="xp-ds-nav-a xp-ds-nav-a-collapse" data-toggle="collapse" href="#collapseStudents" role="button" :ariaExpanded="(mainNav=='students')" aria-controls="collapseStudents" v-bind:class="{collapsed:mainNav!='students'}">
                        <img src="/img/user-jade.svg" alt=""> 
                            Usuarios
                        <span class="xp-ds-nav-a-arrow"><i class="fas fa-chevron-down"></i></span>
                        </a>
                        <div class="collapse xp-ds-nav-collapse" id="collapseStudents" v-bind:class="{show: mainNav=='students'}">
                            <ul class="xp-ds-nav-sub">
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: childNav=='list' && mainNav=='students'}" v-on:click="changeNav('students', 'list')">
                                        Alumnos
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="xp-ds-nav-li" v-if="permissions.income">
                        <a class="xp-ds-nav-a xp-ds-nav-a-collapse" data-toggle="collapse" href="#collapseFinances" role="button" :ariaExpanded="(mainNav=='finances')" aria-controls="collapseFinances" v-bind:class="{collapsed:mainNav!='finances'}">
                        <img src="/img/finances.svg" alt=""> 
                        Finanzas
                        <span class="xp-ds-nav-a-arrow"><i class="fas fa-chevron-down"></i></span>
                        </a>
                        <div class="collapse xp-ds-nav-collapse" id="collapseFinances" v-bind:class="{show: mainNav=='finances'}">
                            <ul class="xp-ds-nav-sub">
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: childNav=='payPending'}" v-on:click="changeNav('finances', 'payPending')">
                                        Pendientes de Pago
                                    </a>
                                </li>
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: childNav=='profits'}" v-on:click="changeNav('finances', 'profits')">
                                        Ingresos
                                    </a>
                                </li>
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: childNav=='expenses'}" v-on:click="changeNav('finances', 'expenses')">
                                        Egresos / Canjes
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="xp-ds-nav-li" v-if="permissions.ambassador">
                        <a class="xp-ds-nav-a xp-ds-nav-a-collapse" data-toggle="collapse" href="#collapseAmbassador" role="button" :ariaExpanded="(mainNav=='ambassadors')" aria-controls="collapseAmbassador" v-bind:class="{collapsed:mainNav!='ambassadors'}">
                        <img src="/img/ambassador.svg" alt=""> 
                            Embajador
                        <span class="xp-ds-nav-a-arrow"><i class="fas fa-chevron-down"></i></span>
                        </a>
                        <!-- <div class="collapse xp-ds-nav-collapse" id="collapseAmbassador" v-bind:class="{show: mainNav=='ambassadors'}">
                            <ul class="xp-ds-nav-sub">
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: childNav=='list'}" v-on:click="changeNav('ambassadors', 'list')">
                                        Invitaciones y Niveles
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                    </li>
                    <li class="xp-ds-nav-li" v-if="permissions.admins">
                        <a class="xp-ds-nav-a xp-ds-nav-a-collapse" data-toggle="collapse" href="#collapseAdmins" role="button" :ariaExpanded="(mainNav=='admin')" aria-controls="collapseAdmins" v-bind:class="{collapsed:mainNav!='admin'}">
                        <i class="fas fa-user-lock" style="width: 1rem;margin-right: 1rem;"></i>
                            Administrador
                        <span class="xp-ds-nav-a-arrow"><i class="fas fa-chevron-down"></i></span>
                        </a>
                        <div class="collapse xp-ds-nav-collapse" id="collapseAdmins" v-bind:class="{show: mainNav=='admin'}">
                            <ul class="xp-ds-nav-sub">
                                <li class="xp-ds-nav-sub-li">
                                    <a class="xp-ds-nav-sub-a" v-bind:class="{active: childNav=='list' && mainNav=='admin'}" v-on:click="changeNav('admin', 'list')">
                                        Cuentas
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- <li class="xp-ds-nav-li">
                        <a class="xp-ds-nav-a">
                        <img src="/img/clipboard.svg" alt=""> 
                        Portapapeles
                        </a>
                    </li> -->
                </ul>
            </nav>
        </div>
        <div class="xp-dashboard-main">
            <!-- SONGS -->
            <dashboard-songs v-if="mainNav == 'songs' && childNav == 'list'" class="animated fadeIn xp-delay-04s"></dashboard-songs>
            <!-- SONGS ARTISTS -->
            <dashboard-artists v-if="mainNav == 'artists' && childNav == 'list'" class="animated fadeIn xp-delay-04s"></dashboard-artists>
            <!-- SONGS GENDERS -->
            <dashboard-genders v-if="mainNav == 'genders' && childNav == 'list'" class="animated fadeIn xp-delay-04s"></dashboard-genders>
            <!-- SONGS LANGUAGES -->
            <dashboard-languages v-if="mainNav == 'languages' && childNav == 'list'" class="animated fadeIn xp-delay-04s"></dashboard-languages>
            <!-- DICTIONARIES ADMIN -->
            <dashboard-dictionaries v-if="mainNav == 'dictionaries' && childNav == 'list'" class="animated fadeIn xp-delay-04s"></dashboard-dictionaries>
            <!-- FINANCES - PENDING PAYMENT -->
            <finances-pending-pay v-if="mainNav == 'finances' && childNav == 'payPending'" class="animated fadeIn xp-delay-04s"></finances-pending-pay>
            <!-- FINANCES - PROFITS -->
            <finances-profits v-if="mainNav == 'finances' && childNav == 'profits'" class="animated fadeIn xp-delay-04s"></finances-profits>
            <!-- FINANCES - EXPENSES -->
            <finances-expenses v-if="mainNav == 'finances' && childNav == 'expenses'" class="animated fadeIn xp-delay-04s"></finances-expenses>
            <!-- STUDENTS LIST  -->
            <students-list v-if="mainNav == 'students' && childNav == 'list'" class="animated fadeIn xp-delay-04s"></students-list>
            <!-- STUDENT REPORTS -->
            <students-reports v-if="mainNav == 'dictionaries' && childNav == 'reports'" class="animated fadeIn xp-delay-04s"></students-reports>
            <!--USER-ADMIN-LIST -->
            <admins-list v-if="mainNav == 'admin' && childNav =='list'" class="animated fadeIn xp-delay-04s"></admins-list>
            <!-- AMBASSADORS LIST -->
            <students-invitations v-if="mainNav == 'ambassadors' && childNav == 'list'" class="animated fadeIn xp-delay-04s"></students-invitations>

        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                mainNav: 'songs',
                childNav: 'list',
                showMenu: false,
                load: false,
                permissions : []
			}
        },
        props:[],
		mounted(){
            this.getpermissions()
        },
        methods: {
            changeNav(mNav, cNav){
                if(this.childNav != cNav || this.mainNav != mNav){
                    this.mainNav = mNav
                    this.childNav = cNav
                    this.showMenu = false
                }
            },
            getpermissions(){
                this.load = true
                axios.get('/permissionsuser')
                .then(response => {
                    this.permissions = response.data.permissions
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            }
        },
        computed: {
        }
    }
</script>