@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&display=swap');

:root{
    --primary: #FF6364;
    --secondary: #DB1DAE;
    --violet: #04003D;
    --gray:#F8F8F8;
    --info: #00D0B6;
    --blue: #002D81;
    --dark-blue: #04031D;
    --text-primary: #04003D;
    --text-info: #00D0B6;
    --text-default: #333;
    --dark-coral: #fe433e;

    /* NEW SETTINGS */
    --xp-primary: #FF6364;
    --xp-primary-rgb: 41,121,255;
    --xp-primary-light: #2f6bb2;
    --xp-text-primary: #FF6364;
    --xp-orange: #F7413E;
    --xp-text-default: #2979ff;
    --xp-warning: #FFC208;
    --xp-warning-alt: #E0AD1E;
    --xp-info: #79E6C7;
    --xp-default: #04003D;
    --xp-default-alt: #05052B;
    --xp-gray: #211915;
    --xp-danger: #F64D4C;
    --xp-danger-alt: #F7413E;
    --white-alt: #ECEDEF;
    --gray-light: #D7D8DC;
    --text-gray-light: #99989D;
    --xp-text-dark: #282D31;
    --xp-border-subtitle: #0E0E77;
    --xp-lead: #D5DBDB;
    --xp-black: #090C0F;
    --xp-gray-alt: #1d1d1d;
    --xp-gray-down: #92989b;
    --xp-border-gray: #2a2c2d;
    --xp-dark: #343a40;
    --xp-back-input: #cccccc;
    --xp-border: #DFE0E0;

    /* VARIABLES SETTINGS */
    --xp-set-font-size: 1.2rem;
    --xp-set-dark: #04003D;
    --navbar-height: 60px;
    --xp-white: #fff;
    --xp-ds-nav-width-xl: 250px;
    --xp-ds-nav-width-m: 200px;
    --xp-ds-nav-width-s: 100px;
    --xp-header-video-height: 55px;
    --xp-height-controls: 40px;

    /* ICONS */
    --xp-icon-purple: #9013fe;
    --xp-icon-yellow: #ffc208;
    --xp-icon-light-blue: #2979ff;
    --xp-icon-orange: #ff4b00;
    --xp-icon-light-green: #00ab94;
    --xp-icon-red: #f7413e;
    --xp-green-jade: #79E6C7;
    --xp-green-jade-alt: #00CC99;
}
.xplan-container{
    background: var(--gray);
}
.xplan-content{
    
    background:black;
}
.box-intermediate{
    background-image: linear-gradient(to bottom,#F8F8F8, black);
    height: 50px;
}
.xplan-video{
    padding: 6% 1% 6% 6%;
}
.xplan-video-content-first{
    width: 70%;
    margin:auto;
}
.xp-lan-content-promo-first{
    padding: 10% 5% 10% 1%;

}
.xp-lan-title-promo{
    color: black;
    font-weight: 600;
    font-size: 2em;
    line-height: 1.2em;
}
.xp-lan-content-promo{
    font-size: 1.1em;
    padding:2% 6% 0% 6%;
}
.xp-lan-title-demo{
    color: var(--xp-btn-blue-light);
    font-weight: 600;
    font-size: 2em;
    line-height: 1.2em;
}
.xp-lan-title{
    color:black;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.2em;
}
.xp-lan-subtitle{
    padding: 2% 0% 4% 0%;
    font-size: 1.3em;
    font-weight: 500;
}
.xp-button-title, .xp-icon-demo-text{
    font-weight: 700;
    color: white;
    font-size: 1.1em;
}
.xp-button-subtitle{
    font-weight: 400;
    color: white;
    font-size: 0.9em;
}
.btn-start-promotion{
    background-color:var(--primary);
    border-radius: 1.8em;
}
.xp-demo-zone{
    padding-top: 2%;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}
.xp-icon-demo{
    background-image:url(/img/demo-icon.svg);
    cursor: pointer;
    background-repeat:no-repeat;
    background-position:left;
    background-size:40px 40px;
    text-indent:25px;
    min-width:50px;
}
.xplan-choose{
    padding-top:10%;
    padding-bottom: 10%;
}
.xp-lan-choose-title{
    color:black;
    font-weight: 700;
    font-size: 2.3em;
    line-height: 1.2em;
}
.xp-lan-choose-subtitle{
    padding-top: 3%;
    padding-bottom: 4%;
    font-weight: 400;
    color: black;
    font-size: 1.2em;
}
.strong-content{
    font-weight: 600;
    color: black;
    font-size: 1.1em;
}
.xp-lan-title-choose{
    color:black;
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1em;
}
.strong-content-choose{
    font-weight: 600;
    color: black;
    font-size: 1em;
}
.month-plan-title{
    color:var(--gray);
    font-weight: 600;
    font-size: 2em;
    line-height: 1em;
}

.plan-section-list{
    font-weight: 300;
    color: var(--gray);
    font-size: 1.2em;
    padding-bottom: 2.3%;
}
.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 11px;
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: var(--white);
    transform-origin: bottom left;
    transform: rotate(45deg);
}
.xp-button-title-plan{
    font-weight: 600;
    color: var(--gray);
    font-size: 2em;
}
.xp-button-subtitle-plan{
    padding-top: 2%;
    font-weight: 400;
    color: white;
    font-size: 1.5em;
}
.inspire-content-title{
    width: 60%;
}
.xp-lan-card-sponsors-text{
    font-weight: 500;
    color: black;
    font-size: 1.4em;
}
.section-inspire{
    padding-bottom: 10%
}
.ambassador-content{
    width: 90%;
}
.ambassador-content-first, .ambassador-video{
    margin-top: 8%;
}
.ambassador-subtitle{
    
}
.xp-lan-background-third{
    background:var(--xp-btn-blue-light);
}
.btn-start-ambassador{
    background-color:var(--xp-text-default);
    border-radius: 1.8em;
}
.start-promotion-content{
    width: 25%;
}
.landing-carousel-content{

}
.landing-carousel{

}
.landing-carousel-item-content{
    height: 50%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.xplan-video-content {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.xplan-video-content iframe, .xplan-video-content object, .xplan-video-content embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.xp-jumbotron-body-item{
    margin-top:6% !important;
}
.btn-landing:hover{
    background: var(--dark-coral);
}
.btn-scroll-container{
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: calc(50% - 35px);
    bottom: 1rem;
    z-index: 65;
}
.btn-scroll-show{
    display: none;
    transition: visibility 0s, opacity 0.5s linear;
}
.btn-scroll-container::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid var(--primary);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 3s infinite;
}
@keyframes ring {
  0% {
    width: 70px;
    height: 70px;
    opacity: 0.5;
  }
  100% {
    width: 120px;
    height: 120px;
    opacity: 0;
  }
}
.btn-float-scroll{
    background-image:url(/img/scroll-icon.svg);
    cursor: pointer;
    background-repeat:no-repeat;
    height: 30px;
    width: 70px;
}
.carousel-control-prev-icon{
    background-image:url(/img/demo-icon.svg);
}
.carousel-control-next-icon{
    background-image:url(/img/next-icon.svg);
}
.btn-ambassador-content{
    width: 75%;
    margin-bottom:10%;
}
.ambassador-content-last{
    margin-bottom:8%;
}
.ambassador-video{
    margin-top: 8%;
}

@media (max-width: 330px) {
    .xp-jumbotron-content{
        padding-top: 32%;
    }
    .content-btn-promotion{
        
    }
}
@media (max-width: 576px) {
    .xp-jumbotron-content{
        height: 105% !important;
    }
    .xp-lan-title{
        font-size: 1.5em;
        line-height: 1em;
    }
    .xp-lan-subtitle{
        font-size: 0.8em;
        font-weight: 500;
    }
    .xp-lan-title-promo{
        font-size: 1.5em;
        line-height: 1em;
    }
    .xp-lan-content-promo{
        font-size: 0.9em;
    }
    .xp-jumbotron-body{
        flex-direction: unset;
    }
    .content-btn-promotion{
        padding-left: 0%;
        padding-right: 0%;
    }
    .xp-lan-choose-title{
        font-size: 1.5em;
        line-height: 1.2em;
    }
    .xp-lan-choose-subtitle{
        padding-top: 5%;
        padding-bottom: 6%;
        font-size: 0.8em;
    }
    .xp-lan-title-choose{
        font-size: 1em;
        line-height: 1em;
    }
    .xp-button-title, .xp-icon-demo-text{
        font-size: 0.8em;
    }
    .xp-button-subtitle{
        font-size: 0.6em;
    }
    .month-plan-title{
        font-size: 1.2em;
        line-height: 0.9em;
    }
    .xp-button-title-plan {
        font-size: 1.5em;
    }
    .xp-button-subtitle-plan {
        font-size: 1em;
    }
    .btn-start-promotion {
        padding:0;
    }
    .plan-section-list {
        font-size: 0.8em;
    }
    .xp-lan-card-sponsors-text {
        font-size: 0.8em;
    }
    .start-promotion-content{
        width: 80%;
    }
    .xplan-video-content-first{
        width: 100%;
    }
    
}
@media screen and (max-width:768px) and (min-width:576px) {
    .content-btn-promotion{
        padding-left: 25%;
        padding-right: 25%;
    }
    .start-promotion-content{
        width: 75%;
    }
}
@media (max-width: 768px) { 
    .xplan-video-content{
        margin-top: 10%;
    }
    .xplan-video{
        padding: 0% 4% 6% 4%;
    }
    .xp-lan-content-promo-first{
        padding: 10% 4% 1% 4%;
    }
    .ambassador-video{
        margin-top: 0%;
        margin-bottom: 20%;
    }
    .image-footer{
        width: 160px;
        height: 40px;
    }
    .ambassador-content{
        padding-bottom: 10%;
    }
    .ambassador-content-last{
        margin-top: 8%;
        margin-left: auto;
        margin-right: auto; 
    }
    .ambassador-video{
        margin-top: auto;
        margin-bottom: auto;
    }
    .btn-ambassador-content{
        width: 100%;
    }
}
@media screen and (max-width:992px) and (min-width:768px) {
    .xp-lan-title{
        font-size: 2em;
    }
}
@media (max-width: 992px) { 
    .xp-jumbotron-content{
        height: 100%;
    }
    .xplan-video-content{
        margin-top: 6%;
    }
    .btn-scroll-container{
        display: none;
    }
    .content-btn-promotion{
        margin-top: 1%;
    }
    .xp-lan-subtitle{
        padding-top: 3%
    }
}
@media(min-width: 992px){
    .xp-jumbotron-body{
        padding-bottom: 6rem;
    }
}