<template>
    <div class="row m-0">

        <!-- LOAD -->
        <loader :show="load"></loader>

        <div class="col-12 d-flex align-items-center flex-wrap">
            <div class="d-flex flex-column align-items-center mr-3 mr-md-5">
                <h2 class="xp-text-jade-alt" v-text="pointsTotal"></h2>
                <p class="xp-text-white">Puntos generados</p>
            </div>
            <div class="d-flex flex-column align-items-center mr-0 mr-md-5">
                <h2 class="xp-text-warning" v-text="pointsAvailable"></h2>
                <p class="xp-text-white">Puntos disponibles</p>
            </div>
            <div class="d-flex flex-wrap">
                <!-- <button class="xp-button xp-button-jade font-weight-bold xp-text-dark xp-button-margin xp-button-pd mr-3 mt-3" v-on:click="sendPoints()">
                    Transferir Puntos
                </button> -->
                <button class="xp-button xp-button-warning font-weight-bold xp-text-dark xp-button-margin xp-button-pd mr-3 mt-3">
                    Canjear Puntos
                </button>
                <button class="xp-button xp-button-info font-weight-bold xp-text-dark xp-button-margin xp-button-pd mt-3" v-on:click="paySuscription()">
                    Pagar Suscripción
                </button>
            </div>
        </div>
        <div class="col-12 mt-3 p-0">
            <!-- DATA TABLE -->
            <div class="row m-0 mt-4">
                <div class="col-12 table-responsive xp-scroll">
                    <b-table 
                        small 
                        :fields="fields" 
                        class="xp-table xp-table-primary" 
                        :items="history"
                        :per-page="perPage"
                        :current-page="currentPage"
                    >
                        <!-- A virtual column -->
                        <template v-slot:cell(index)="data">
                            <div class="xp-text-white text-center" v-text="data.index + 1"></div>
                        </template>

                        <!-- A custom formatted column -->
                        <template v-slot:cell(date)="data">
                            <div class="xp-text-white text-center" v-text="data.item.date"></div>
                        </template>

                        <!-- A virtual composite column -->
                        <template v-slot:cell(description)="data" class="text-center">
                            <div class="xp-text-white text-center" v-text="data.item.description"></div>
                        </template>

                        <template v-slot:cell(win)="data" class="text-center">
                            <div class="xp-text-white text-center" v-text="data.item.points" v-bind:class="{'xp-text-danger': data.item.points<0}"></div>
                        </template>

                        <template v-if="history.length == 0" v-slot:table-caption>
                            <div class="d-flex justify-content-center">
                                Sin registros
                            </div>
                        </template>
                    </b-table>
                </div>
                <div class="col-12 mt-3 d-flex flex-column align-items-center justify-content-center">
                    <div class="xp-table-pagination">
                        <b-pagination
                        v-model="currentPage"
                        :total-rows="history.length"
                        :per-page="perPage"
                        ></b-pagination>
                    </div>
                    <div class="mt-3 d-flex justify-content-center">
                        <span class="font-weifht-bold mr-2">Total registros: </span>
                        <span class="xp-text-danger" v-text="history.length"></span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ALERT -->
        <div class="xp-dashboard-alert" v-if="alert">
            <div class="xp-dashboard-card-alert xp-dashboard-card-alert-md animated zoomIn xp-delay-03s">
                <span class="xp-dashboard-alert-close" v-on:click="hideAlert()">
                    <i class="fas fa-times"></i>
                </span>
                <!-- STEP 1 -->
                <div class="d-flex flex-column" v-if="stepAlert == 0">
                    <div class="xp-dashboard-card-alert-header flex-column align-items-center">
                        <span class="xp-dashboard-card-alert-icon xp-text-jade xp-font-25">
                            <i class="fas fa-check"></i>
                        </span>
                        <h2 class="xp-dashboard-card-alert-title xp-text-primary"> ¡Lo sentimos! </h2>
                        <p class="xp-dashboard-card-alert-text xp-font-1 mt-2 xp-text-primary">
                            No cuentas con los puntos suficientes para realizar esta operación
                        </p>
                        <p class="xp-dashboard-card-alert-text xp-font-1 mt-2 xp-text-primary">
                            Monto mínimo: {{ config.minPoints }} puntos
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-column" v-else-if="stepAlert == 1">
                    <div class="xp-dashboard-card-alert-body">
                        <h2 class="xp-dashboard-card-alert-title xp-text-primary"> Transferir Puntos </h2>
                        <p class="xp-dashboard-card-alert-text xp-font-1 mt-2">
                            Monto mínimo: {{ config.minPoints }} puntos
                        </p>
                        <p class="xp-dashboard-card-alert-text xp-font-1">
                            Monto máximo por día: {{ config.maxPoints }} puntos
                        </p>
                        <div class="mt-3 xp-form-group-super">
                            <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-bg-gray-low" type="text" placeholder="Monto" v-model="transfer.points" v-bind:class="{ filled:transfer.points>=0 }" @keypress="onlyNumbers($event)">
                            <label class="xp-form-group-super-label">
                                <span>Monto</span>
                            </label>
                        </div>
                        <div class="mt-3 xp-form-group-super">
                            <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-bg-gray-low" type="text" placeholder="Usuario" v-model="transfer.username" v-bind:class="{ filled:transfer.username.length>0 }" @keypress="notSpaces($event)">
                            <label class="xp-form-group-super-label">
                                <span>Usuario</span>
                            </label>
                        </div>
                        <div class="d-flex flex-column" v-if="errors.length>0">
                            <span class="xp-form-super-alert m-1 xp-font-09 xp-text-danger" v-for="error in errors" v-text="error">
                            </span>
                        </div>
                    </div>
                    <div class="xp-dashboard-card-alert-footer">
                        <div class="row m-0 d-flex justify-content-between mt-2">
                            <div class="col-12 col-md-10 pl-0 pr-1 mx-auto">
                                <button class="xp-button xp-button-primary xp-button-pd w-100" v-on:click="transferPoints()">
                                    Transferir
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- STEP 2 -->
                <div class="d-flex flex-column" v-else-if="stepAlert == 2">
                    <div class="xp-dashboard-card-alert-header flex-column align-items-center">
                        <span class="xp-dashboard-card-alert-icon xp-text-jade xp-font-2">
                            <i class="fas fa-check"></i>
                        </span>
                        <h2 class="xp-dashboard-card-alert-title xp-text-primary"> 
                            ¿Estás seguro que deseas TRANSFERIR? 
                        </h2>
                    </div>
                    <div class="xp-dashboard-card-alert-body">
                        <div class="xp-form-control radius-2 xp-bg-gray-low xp-form-control-white border-0 py-2 xp-font-11 d-flex justify-content-between xp-font-bold px-4">
                            <span v-text="transfer.username" class="mr-2"></span>
                            <span v-text="transfer.points" class="xp-text-primary"></span>
                        </div>
                    </div>
                    <div class="xp-dashboard-card-alert-footer">
                        <div class="row m-0 d-flex justify-content-between mt-2">
                            <div class="col-6 pl-0 pr-1">
                                <button class="xp-button xp-button-primary xp-button-pd w-100" v-on:click="saveTransfer()">
                                    Si
                                </button>
                            </div>
                            <div class="col-6 pr-0 pl-1">
                                <button class="xp-button xp-button-danger xp-button-pd w-100" v-on:click="hideAlert()">
                                    No
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- STEP 3 -->
                <div class="d-flex flex-column" v-if="stepAlert == 3">
                    <div class="xp-dashboard-card-alert-header flex-column align-items-center">
                        <span class="xp-dashboard-card-alert-icon xp-text-jade xp-font-25">
                            <i class="fas fa-check"></i>
                        </span>
                        <h2 class="xp-dashboard-card-alert-title xp-text-primary mb-3"> Tus puntos han sido transferidos exitosamente. </h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ALERT -->
        <!-- PAYMENT -->
        <div class="xp-dashboard-alert" v-else-if="pay">
            <div class="xp-dashboard-card-alert xp-dashboard-card-alert-md animated zoomIn xp-delay-03s">
                <span class="xp-dashboard-alert-close" v-on:click="pay = false">
                    <i class="fas fa-times"></i>
                </span>
                <!-- STEP 1 -->
                <div class="d-flex flex-column" v-if="stepAlert == 0">
                    <div class="xp-dashboard-card-alert-header flex-column align-items-center">
                        <span class="xp-dashboard-card-alert-icon xp-text-jade xp-font-25">
                            <i class="fas fa-check"></i>
                        </span>
                        <h2 class="xp-dashboard-card-alert-title xp-text-primary"> ¡Lo sentimos! </h2>
                        <p class="xp-dashboard-card-alert-text xp-font-1 mt-2 xp-text-primary">
                            No cuentas con los puntos suficientes para realizar esta operación
                        </p>
                        <p class="xp-dashboard-card-alert-text xp-font-1 mt-2 xp-text-primary">
                            Monto mínimo: {{ pointsPayment }} puntos
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-column" v-else-if="stepAlert == 1">
                    <div class="xp-dashboard-card-alert-body">
                        <h2 class="xp-dashboard-card-alert-title xp-text-primary"> Pagar Suscripción </h2>
                        <p class="xp-dashboard-card-alert-tex text-center mt-3">
                            ¡Tus puntos valen dinero!
                            <br>
                            Valor actual de 1 punto = S/ {{ 1/valuePoint }} . 
                            <br>
                            Puedes pagar tus suscripciones y la de tus amigos. 
                        </p>
                        <div class="mt-3 xp-form-group-super">
                            <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-bg-gray-low" type="text" placeholder="Usuario" v-model="payment.username" v-bind:class="{ filled:payment.username.length>0 }" @keypress="notSpaces($event)">
                            <label class="xp-form-group-super-label">
                                <span>Usuario</span>
                            </label>
                        </div>
                        <div class="d-flex flex-column" v-if="errors.length>0">
                            <span class="xp-form-super-alert m-1 xp-font-09 xp-text-danger" v-for="error in errors" v-text="error">
                            </span>
                        </div>
                    </div>
                    <div class="xp-dashboard-card-alert-footer">
                        <div class="row m-0 d-flex justify-content-between mt-2">
                            <div class="col-12 col-md-10 pl-0 pr-1 mx-auto">
                                <button class="xp-button xp-button-primary xp-button-pd w-100" v-on:click="setPayment()">
                                    Pagar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- STEP 2 -->
                <div class="d-flex flex-column" v-else-if="stepAlert == 2">
                    <div class="xp-dashboard-card-alert-header flex-column align-items-center">
                        <span class="xp-dashboard-card-alert-icon xp-text-jade xp-font-2">
                            <i class="fas fa-check"></i>
                        </span>
                        <h2 class="xp-dashboard-card-alert-title xp-text-primary"> 
                            ¿Estás seguro que deseas PAGAR esta SUSCRIPCIÓN?
                        </h2>
                    </div>
                    <div class="xp-dashboard-card-alert-body">
                        <div class="xp-form-control radius-2 xp-bg-gray-low xp-form-control-white border-0 py-2 xp-font-11 d-flex justify-content-between xp-font-bold px-4">
                            <span v-text="payment.username" class="mr-2"></span>
                            <span v-text="pointsPayment" class="xp-text-primary"></span>
                        </div>
                        <div class="d-flex flex-column mt-3" v-if="errors.length>0">
                            <span class="xp-form-super-alert m-1 xp-font-09 xp-text-danger" v-for="error in errors" v-text="error">
                            </span>
                        </div>
                    </div>
                    <div class="xp-dashboard-card-alert-footer">
                        <div class="row m-0 d-flex justify-content-between mt-2">
                            <div class="col-6 pl-0 pr-1">
                                <button class="xp-button xp-button-primary xp-button-pd w-100" v-on:click="savePayment()">
                                    Si
                                </button>
                            </div>
                            <div class="col-6 pr-0 pl-1">
                                <button class="xp-button xp-button-danger xp-button-pd w-100" v-on:click="pay = false">
                                    No
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- STEP 3 -->
                <div class="d-flex flex-column" v-if="stepAlert == 3">
                    <div class="xp-dashboard-card-alert-header flex-column align-items-center">
                        <span class="xp-dashboard-card-alert-icon xp-text-jade xp-font-25">
                            <i class="fas fa-check"></i>
                        </span>
                        <h2 class="xp-dashboard-card-alert-title xp-text-primary mb-3"> La suscripción ha sido PAGADA exitosamente. </h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAYMENT -->
    </div>
</template>
<script>
import Swal from 'sweetalert2'

    export default {
       data(){
			return{
                load: false,
                alert: false,
                pay: false,
                stepAlert: 0,
                fields: [
                    {key: 'index', label: '#'},
                    {key: 'date', label: 'Fecha', sortable: true},
                    {key: 'description', label: 'Descripción'},
                    {key: 'win', label: 'Gané'}
                ],
                filters:{
                    search: '',
                },
                user: {},
                history: [],
                pointsTotal: 0,
                pointsAvailable: 0,
                transfer: {
                    points: 0,
                    username: ''
                },
                payment: {
                    username: '',
                    planId: null
                },
                errors: [],
                config: {
                    minPoints: 50,
                    maxPoints: 1000
                },
                plan: {},
                valuePoint: 0,
                pointsPayment: 0,
                currentPage: 1,
                perPage: 20
			}
        },
        props:[],
		mounted(){
            this.getDataUser()
            this.getPoints()
            // this.getPlan()
            this.getValuePoint()
        },
        methods: {
            getPoints(){
                axios.get('/embajador/puntos/resumen')
                .then(response => {
                    this.history = response.data.history
                    this.pointsTotal = response.data.pointsTotal
                    this.pointsAvailable = response.data.pointsAvailable
                    this.plan = response.data.plan
                })
                .catch(error => {
                })
            },
            getDataUser(){
                axios.get('/usuario/datos/autenticado')
                .then(response => {
                   this.user = response.data.user
                })
                .catch(error => {
                })
            },
            hideAlert(){
                this.alert = false
                this.transfer.points = 0
                this.transfer.username = ''
            },
            sendPoints(){
                this.errors = []
                if(this.pointsAvailable < this.config.minPoints){
                    this.stepAlert = 0
                }
                else{
                    this.transfer.points = 0
                    this.transfer.user = ''
                    this.stepAlert = 1
                }
                this.alert = true
            },
            onlyNumbers(e){
                let key = window.Event ? e.which : e.keyCode
                if(key >= 48 && key <= 57){

                }
                else{
                    e.preventDefault();
                }
            },
            notSpaces(e){
                let key = window.Event ? e.which : e.keyCode
                if(key ==32){
                    e.preventDefault();
                }
            },
            validUser(username){
                this.load = true
                axios.get('/usuarios/validar/' + username)
                .then(response => {
                    if(response.data.error){
                        this.errors.push(response.data.error)
                    }
                    else{
                        if(response.data.user.id == this.user.id){
                            this.errors.push("No es posible seleccionar su mismo usuario")
                        }
                    }
                    this.load = false

                })
                .catch(error => {
                    this.load = false
                })
            },
            validate(){
                this.errors = []
                if(this.transfer.points > this.pointsAvailable){
                    this.errors.push("Actualmente no cuenta con esta cantidad de puntos")
                }
                else if(this.transfer.points < this.config.minPoints){
                    this.errors.push("Monto mínimo de canje: " + this.config.minPoints + " puntos")
                }
                else if(this.transfer.points > this.config.maxPoints){
                    this.errors.push("Monto maximo de canje: " + this.config.maxPoints + " puntos")
                }
                
                this.validUser(this.transfer.username)
            },
            transferPoints(){
                if(this.transfer.points>0 && this.transfer.username.length>=4){
                    this.validate()
                    if(this.errors.length==0){
                        this.stepAlert = 2
                    }
                }
            },
            saveTransfer(){
                this.load = true
                axios.post('/embajador/puntos/transferir', this.transfer)
                .then(response => {
                    if(response.data.success){
                        this.stepAlert = 3
                    }
                    else{
                        toastr.warning('Algo salió man, no se realizó la trasnferencia')
                    }
                    this.getPoints()
                    this.transfer.points = 0
                    this.transfer.username = ''
                    this.load = false
                })
                .catch(error => {
                    toastr.error('Algo salió man, no se realizó la trasnferencia')
                    this.load = false
                })
            },
            getPlan(){
                axios.get('/planes/recomendado')
                .then(response => {
                    this.plan = response.data.plan
                })
                .catch(error => {
                })
            },
            getValuePoint(){
                axios.get('/puntos/valor')
                .then(response => {
                    this.valuePoint = response.data.valuePoint
                })
                .catch(error => {
                })
            },
            paySuscription(){
                this.alert = false
                this.transfer.points = 0
                this.transfer.user = ''
                this.pay = true
                this.payment.username = ''
                this.errors = []
                if(this.pointsAvailable >= this.pointsPayment){
                    this.stepAlert = 1
                }
                else{
                    this.stepAlert = 0
                }
            },
            setPayment(){
                if(this.payment.username.length>=4 && this.pointsAvailable >= this.pointsPayment){
                    this.validUser(this.payment.username)
                    if(this.errors.length==0){
                        this.stepAlert = 2
                    }
                }
            },
            savePayment(){
                this.load = true
                axios.post('/embajador/suscripcion/pagar', this.payment)
                .then(response => {
                    if(response.data.success){
                        this.stepAlert = 3
                    }
                    else{
                        toastr.warning(response.data.message)
                    }
                    this.getPoints()
                    this.payment.username = ''
                    this.load = false
                })
                .catch(error => {
                    toastr.error('Algo salió man, no se realizó el pago')
                    this.load = false
                })
            }
        },
        computed: {
        },
        watch: {
            plan: function(newVal){
                this.pointsPayment = parseInt(this.plan.price) * this.valuePoint
                this.payment.planId = this.plan.id
            },
            valuePoint: function(newVal){
                this.pointsPayment = parseInt(this.plan.price) * this.valuePoint
            }
        }
    }
</script>