<template>
    <div class="d-flex">
        Logros
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
			}
        },
        props:[],
		mounted(){
        },
        methods: {
        },
        computed: {
        }
    }
</script>