<template>
    <div>
        <div class="row m-0 pb-5 xp-border-bottom">
            <loader :show="load"></loader>
            <div class="col-12 px-2 px-md-0 mb-2">
                <h5 class="title">CAMBIO DE CONTRASEÑA</h5>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Contraseña actual:</label>
                <span class="xp-form-control-icon">
                    <input class="xp-form-control alert-aboslute" placeholder="Escribe aquí" v-model="user.password" v-bind:type="fieldShow.includes('password')?'text':'password'" v-bind:class="{ filled:user.password.length>0, invalid: errors.includes('password') }">
                    <span class="xp-form-group-super-icon cursor-pointer" v-on:click="changeFieldShow('password')">
                        <i v-if="fieldShow.includes('password')" class="fas fa-eye"></i>
                        <i v-else class="fas fa-eye-slash"></i>
                    </span>
                    <span class="xp-form-super-alert xp-text-warning-alt">
                        Entre 4 a 20 caracteres
                    </span>
                </span>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Nueva contraseña:</label>
                <span class="xp-form-control-icon">
                    <input class="xp-form-control alert-aboslute" placeholder="Escribe aquí" v-model="user.confirmPassword" v-bind:type="fieldShow.includes('confirmPassword')?'text':'password'" v-bind:class="{ filled:user.confirmPassword.length>0, invalid: errors.includes('confirmPassword') }">
                    <span class="xp-form-group-super-icon cursor-pointer" v-on:click="changeFieldShow('confirmPassword')">
                        <i v-if="fieldShow.includes('confirmPassword')" class="fas fa-eye"></i>
                        <i v-else class="fas fa-eye-slash"></i>
                    </span>
                    <span class="xp-form-super-alert xp-text-warning-alt">
                        Entre 4 a 20 caracteres
                    </span>
                </span>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <button class="xp-button xp-button-primary xp-button-pd xp-button-margin" v-on:click="savePassword()">
                    Guardar cambios
                </button>
            </div>
            <div class="col-12 d-flex justify-content-center mt-3" v-if="error">
                <div class="xp-message-alert xp-message-alert-warning"> 
                    <span v-text="error"></span>
                </div>
            </div>
        </div>
        <div class="row m-0 pt-5">
            <div class="col-12 xp-form-group m-0">
                <label class="xp-form-label m-0" for="">Restringir Contenido:</label>
                <p class="description mt-2 mb-0">
                    En el caso de que su hijo sea usuario de esta cuenta, puede restringir el acceso a cierto contenido.
                </p>
                <p class="description text-warning mb-0">
                    Busca el contenido que deseas restringir y seleccionalo.
                </p>
            </div>
            <div class="col-12 col-md-8 mt-1 xp-form-group">
                <span class="xp-form-control-icon xp-locked-search">
                    <input class="xp-form-control xp-form-control-white xp-form-control-radius xp-locked-search-input" type="text" placeholder="Buscar canciones, artistas, géneros..." @keyup="searchContent($event)" v-model="search.content" @focus="showSearch = true">
                    <i class="fas fa-search"></i>
                    <div class="xp-locked-search-content xp-scroll" v-if="search.content.length>0 && showSearch">
                        <loader-section :show="loadSearch"></loader-section>

                        <div class="xp-locked-search-item nodata" v-if="search.results.genders.length==0 && search.results.artists.length==0 && search.results.songs.length==0">
                            <span class="text-center mx-auto">Sin resultados</span>
                        </div>
                        <div v-else>
                            <div class="xp-locked-search-item" v-for="artist in search.results.artists" v-on:click="addRestricted(artist, 'artist')">
                                <span v-text="artist.stage_name"></span>
                                <span>-</span>
                                <span>Artista</span>
                            </div>
                            <div class="xp-locked-search-item" v-for="gender in search.results.genders" v-on:click="addRestricted(gender, 'gender')">
                                <span v-text="gender.name"></span>
                                <span>-</span>
                                <span>Genero</span>
                            </div>
                            <div class="xp-locked-search-item" v-for="song in search.results.songs" v-on:click="addRestricted(song, 'song')">
                                <span v-text="song.name"></span>
                                <span>-</span>
                                <span>Cancion</span>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <button class="xp-button xp-button-primary xp-button-pd xp-button-margin" v-on:click="saveRestricted()">
                    Guardar cambios
                </button>
            </div>
            <div class="col-12 xp-tags-list">
                <div class="xp-tags-list-content">
                    <loader-section :show="loadRestricted"></loader-section>
                    <div class="xp-tags-list-item" v-for="artist in restricted.artists">
                        <span class="xp-tags-list-item-text" v-text="artist.stage_name"></span>
                        <span class="xp-tags-list-item-icon" v-on:click="removeRestrict(artist.artist_id, 'artist')">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>
                    <div class="xp-tags-list-item" v-for="gender in restricted.genders">
                        <span class="xp-tags-list-item-text" v-text="gender.name"></span>
                        <span class="xp-tags-list-item-icon" v-on:click="removeRestrict(gender.gender_id, 'gender')">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>
                    <div class="xp-tags-list-item" v-for="song in restricted.songs">
                        <span class="xp-tags-list-item-text" v-text="song.name"></span>
                        <span class="xp-tags-list-item-icon" v-on:click="removeRestrict(song.song_id, 'song')">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="xp-restrincted-confirm animated fadeIn" v-if="requestCode.show">
            <div class="xp-restrincted-confirm-content">
                <span class="xp-restrincted-confirm-close" v-on:click="requestCode.show = false">
                    <i class="fas fa-times"></i>
                </span>
                <div class="xp-restrincted-confirm-header">
                    <span class="xp-restrincted-confirm-icon">
                        <i class="fas fa-check"></i>
                    </span>
                    <h4 class="xp-restricted-confirm-title">
                        ¡Ya está!
                    </h4>
                </div>
                <div class="xp-restrincted-confirm-body">
                    <p class="xp-restricted-confirm-text mb-4">
                        Por seguridad, hemos enviado un código a tu correo para confirmar la información restringida. 
                    </p>
                    <input class="xp-form-control xp-form-control-white xp-form-control-radius xp-locked-search-input" type="text" placeholder="Código" v-model="requestCode.code">
                </div>
                <div class="xp-restrincted-confirm-footer">
                    <button class="xp-button xp-button-primary xp-button-pd xp-button-margin" v-on:click="confirmSaveData()">
                        Confirmar código
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                user: {
                    password: '',
                    confirmPassword: ''
                },
                fieldShow: [],
                errors: [],
                error: null,
                search: {
                    content: '',
                    results: {
                        genders: [],
                        artists: [],
                        songs: []
                    }
                },
                loadSearch: false,
                loadRestricted: false,
                restricted: {
                    genders: [],
                    artists: [],
                    songs: []
                },
                removed: {
                    genders: [],
                    artists: [],
                    songs: []
                },
                showSearch: false,
                requestCode: {
                    show: false,
                    code: ''
                },
                changes: false
			}
        },
        props:[],
		mounted(){
            this.getRestricted()
        },
        methods: {
            changeFieldShow(field){
                if(this.fieldShow.includes(field)){
                    let indexField = this.fieldShow.indexOf(field)
                    if(indexField>=0){
                        this.fieldShow.splice(indexField, 1)
                    }
                }
                else{
                    this.fieldShow.push(field)
                }
            },
            savePassword(){
                this.validate()
                if(this.errors.length==0 && !this.error){
                    Swal.fire({
                        title: '¿Está seguro que desea guardar los cambios?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No'
                    })
                    .then((result) => {
                        if (result.value) {

                            this.load = true
                            axios.post('/perfil/password/guardar', this.user)
                            .then(response => {

                                if(response.data.error){
                                    toastr.warning(response.data.error)
                                }
                                else if(response.data.success){
                                    this.$emit('reload')
                                    toastr.success('Contraseña actualizada exitosamente')
                                    this.user.password = ''
                                    this.user.confirmPassword = ''
                                }
                                else{
                                    toastr.error('Algo salio mal, no se guardaron los cambios')
                                }

                                this.load = false
                            })
                            .catch(error => {
                                toastr.error('Algo salio mal, no se guardaron los cambios')
                                this.load = false
                            })

                        }
                    })
                }
            },
            validate(){
                this.errors = []
                this.error = null
                if(this.user.password.length>0 && this.user.confirmPassword.length>0){
                    if(this.user.password.length<4 || this.user.password.length>20){
                        this.errors.push("password")
                    }
                    else{
                        if(this.user.password!=this.user.confirmPassword){
                            this.error = "Las contraseñas no coinciden"
                        }
                    }

                }
                else{
                    this.errors.push("clear")
                }
            },
            searchContent(e){
                let searchContent = e.target.value
                if(this.search.content.trim() == ''){
                    this.search.results.genders = []
                    this.search.results.artists = []
                    this.search.results.songs = []
                }
                else{
                    this.loadSearch = true
                    axios.get('/perfil/contenido/bloqueo/' + searchContent)
                    .then(response => {
                        this.search.results = response.data.results
                        this.loadSearch = false
                    })
                    .catch(error => {
                    })
                }
            },
            getRestricted(){
                this.loadRestricted = true
                axios.get('/perfil/contenido/bloqueado/lista')
                .then(response => {
                    this.restricted = response.data.restricted
                    this.loadRestricted = false
                })
                .catch(error => {
                })
            },
            addRestricted(value, type){
                this.changes = true
                let indexRemoved = null
                let exist = false
                if(type == 'artist'){
                    this.removed.artists.forEach((artistId, index)=>{
                        if(artistId == value.id){
                            indexRemoved = index
                        }
                    })
                    this.removed.artists.splice(indexRemoved, 1)

                    this.restricted.artists.forEach((artist)=>{
                        if(artist.artist_id == value.id){
                            exist = true
                        }
                    })

                    if(!exist){
                        this.restricted.artists.push({
                            artist_id: value.id,
                            stage_name: value.stage_name
                        })
                    }
                }
                else if(type == 'gender'){
                    this.removed.genders.forEach((genderId, index)=>{
                        if(genderId == value.id){
                            indexRemoved = index
                        }
                    })
                    this.removed.genders.splice(indexRemoved, 1)

                    this.restricted.genders.forEach((gender)=>{
                        if(gender.gender_id == value.id){
                            exist = true
                        }
                    })

                    if(!exist){
                        this.restricted.genders.push({
                            gender_id: value.id,
                            name: value.name
                        })
                    }
                }
                else if(type == 'song'){
                    this.removed.songs.forEach((songId, index)=>{
                        if(songId == value.id){
                            indexRemoved = index
                        }
                    })
                    this.removed.songs.splice(indexRemoved, 1)

                    this.restricted.songs.forEach((song)=>{
                        if(song.song_id == value.id){
                            exist = true
                        }
                    })

                    if(!exist){
                        this.restricted.songs.push({
                            song_id: value.id,
                            name: value.name
                        })
                    }
                }

                this.showSearch = false
            },
            removeRestrict(id, type){
                this.changes = true
                let indexRemoved = -1
                if(type == 'artist'){
                    this.restricted.artists.forEach((artist, index)=>{
                        if(artist.artist_id == id){
                            indexRemoved = index
                        }
                    })

                    if(indexRemoved>=0){
                        this.restricted.artists.splice(indexRemoved, 1)
                        this.removed.artists.push(id)
                    }
                }
                else if(type == 'gender'){
                    this.restricted.genders.forEach((gender, index)=>{
                        if(gender.gender_id == id){
                            indexRemoved = index
                        }
                    })

                    if(indexRemoved>=0){
                        this.restricted.genders.splice(indexRemoved, 1)
                        this.removed.genders.push(id)
                    }
                }
                else if(type == 'song'){
                    this.restricted.songs.forEach((song, index)=>{
                        if(song.song_id == id){
                            indexRemoved = index
                        }
                    })

                    if(indexRemoved>=0){
                        this.restricted.songs.splice(indexRemoved, 1)
                        this.removed.songs.push(id)
                    }
                }
            },
            saveRestricted(){
                if(this.changes){
                    Swal.fire({
                        title: '¿Estás seguro que deseas guardar los cambios realizados?',
                        text: "",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No',
                        customClass: {
                            container: 'xp-sweet-container-xs'
                        }
                    })
                    .then((result) => {
                        if (result.value) {
                            this.load = true
                            axios.post('/perfil/contenido/bloqueado/mensaje', {
                                restricted: this.restricted
                            })
                            .then(response => {
                                if(response.data.success){
                                    this.load = false
                                    this.requestCode.show = true
                                }
                            })
                            .catch(error => {
                            })
                        }
                    })
                }
            },
            confirmSaveData(){
                if(this.requestCode.code.trim().length>0){
                    this.load = true
                    axios.post('/perfil/contenido/bloqueado/guardar', {
                        restricted: this.restricted,
                        removed: this.removed,
                        token: this.requestCode.code
                    })
                    .then(response => {
                        if(response.data.success){
                            toastr.success(response.data.message)
                            this.requestCode.code = ''
                            this.requestCode.show = false
                        }
                        else{
                            toastr.warning(response.data.message) 
                        }
                        this.load = false
                    })
                    .catch(error => {
                        this.load = false
                        toastr.warning('Algo salio mal, los cambios no se guardaron correctamente')
                    })
                }
            },
            deleteRestricted(id, type){
                Swal.fire({
                    title: '¿Estás seguro que deseas elimitar esta restricción?',
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if (result.value) {
                        this.loadRestricted = true
                        axios.post('/perfil/contenido/bloqueado/eliminar', {
                            type: type,
                            id: id
                        })
                        .then(response => {
                            this.getRestricted()
                            this.loadRestricted = false
                        })
                        .catch(error => {
                        })
                    }
                })
            }
        },
        computed: {
        }
    }
</script>