<template>
        <div class="full-data-profile-content pt-4 pt-md-5">
            <!-- LOADER -->
            <loader :show="load"></loader>
            <div class="row m-0">
                <div class="col-12 col-md-4 p-0">
                    <div class="card-data-profile">
                        <div class="card-data-profile-header">
                            <h4 class="pt-0 pt-md-3">Mi perfil</h4>
                        </div>
                        <div class="card-data-profile-body" v-if="user.student">
                            <div class="card-data-profile-body-picture">
                                <figure style="width:100%; height:auto; margin: 0;">
                                    <img v-bind:src="(user.picture)?('/usuario/foto/' + user.picture):('/img/user.svg')" alt="" style="width: 100%; height:auto;">
                                </figure>
                                <span class="card-data-profile-button" @click="openModal('xp-modal-change-picture')">
                                    Cambiar imagen
                                </span>
                                <span class="card-data-profile-icon"><i class="fas fa-camera"></i></span>
                            </div>
                            <div class="card-data-profile-name mt-4">
                                <span v-text="getFullName()"></span>
                            </div>
                            <div class="card-data-profile-username mt-3">
                                <span v-text="user.username"></span>
                            </div>
                            <div class="card-data-profile-age mt-3">
                                <span v-text="(age)?(age + ' años'):'Edad'"></span>
                            </div>
                            <div class="card-data-profile-address mt-3">
                                <span v-text="getCity()"></span>
                                <span class="mx-1">-</span>
                                <span v-text="getCountry()"></span>
                            </div>
                            <div class="card-data-profile-status mt-2" v-bind:class="[active?'xp-text-primary':'xp-text-danger']">
                                <span v-text="active?'ALUMNO':'INVITADO'"></span>
                            </div>
                            <div class="card-data-profile-points xp-border-bottom xp-border-top pb-3">
                                <span class="card-data-profile-points-number">
                                    <span v-text="user.student.gems"></span>
                                    <img src="/img/gem-jade.svg" alt="">
                                </span>
                                <span class="card-data-profile-points-text mt-1">Gemas ganadas</span>
                            </div>
                            <div class="card-data-profile-learn mt-2" v-if="user.student">
                                <div class="card-data-profile-language">
                                    <span class="card-data-profile-language-title mr-1">Hablo:</span>
                                    <span class="card-data-profile-language-text mr-1" v-for="(language, index) in user.student.languages" v-text="language.name" v-if="language.speak"></span>
                                </div>
                                <div class="card-data-profile-language">
                                    <span class="card-data-profile-language-title mr-1">Aprendiendo:</span>
                                    <span class="card-data-profile-language-text mr-1" v-for="(language, index) in user.student.languages" v-text="language.name" v-if="language.learn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-8 p-0">
                    <div class="card-data-profile-detail">
                        <div class="card-data-profile-detail-header">
                            <ul class="row nav nav-tabs xp-nav-tabs" id="tab-profile-detail" role="tablist">
                                <li class="col-12 col-md-4 px-0 nav-item xp-nav-item">
                                    <a class="nav-link xp-nav-link" id="xp-achievements-tab" data-toggle="tab" href="#xp-achievements-tab-detail" role="tab" aria-controls="xp-achievements-tab-detail" aria-selected="true">LOGROS</a>
                                </li>
                                <li class="col-12 col-md-4 px-0 nav-item xp-nav-item">
                                    <a class="nav-link xp-nav-link active" id="xp-profile-tab" data-toggle="tab" href="#xp-profile-tab-detail" role="tab" aria-controls="xp-profile-tab-detail" aria-selected="true">MI CUENTA</a>
                                </li>
                                <li class="col-12 col-md-4 px-0 nav-item xp-nav-item">
                                    <a class="nav-link xp-nav-link" id="xp-detail-tab" data-toggle="tab" href="#xp-detail-tab-detail" role="tab" aria-controls="xp-detail-tab-detail" aria-selected="false">CONFIGURACIONES</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-data-profile-detail-body px-2">
                            <div class="tab-content xp-tab-content" id="tab-profile-detail-content">
                                <div class="tab-pane fade" id="xp-achievements-tab-detail" role="tabpanel" aria-labelledby="xp-achievements-tab">
                                    <div class="xp-data-detail">
                                        <account-achievements></account-achievements>
                                    </div>
                                </div>
                                <div class="tab-pane xp-tab-pane show fade active" id="xp-profile-tab-detail" role="tabpanel" aria-labelledby="xp-profile-tab">
                                    <div class="xp-data-detail">
                                        <account-profile @reload="reload"></account-profile>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="xp-detail-tab-detail" role="tabpanel" aria-labelledby="xp-detail-tab">
                                    <div class="xp-data-detail">
                                        <account-configuration></account-configuration>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        <!-- MODAL PICTURE -->
        <b-modal id="xp-modal-change-picture" hide-footer @shown="initCropper">
            <template v-slot:modal-title>
                <h5>Cambiar imagen de perfil</h5>
            </template>
            <!-- LOADER -->
            <loader :show="loadModal"></loader>

            <!-- UPLOAD -->
            <div class="row m-0">
                <div class="col-12">
                    <input type="file"
                    v-on:change="changePicture($event)"
                    :state="Boolean(file)"
                    placeholder="Presione aqui para elegir una imagen..."
                    accept="image/x-png,image/gif,image/jpeg"
                    class="xp-custom-file-input"
                    >
                    <p class="mt-3">Imagen seleccionada: {{ file ? file.name : '----' }}</p>
                </div>
                <div class="col-12">
                    <div>
                        <img id="imageProfile" width="100%" v-bind:src="picture">
                    </div>
                </div>
            </div>
            
            <div class="row mx-0 mt-4">
                <div class="col-12 d-flex justify-content-center">
                    <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mr-2" @click="closeModal('xp-modal-change-picture')">Cerrar</button>
                    <button class="xp-button xp-button-jade xp-button-lg xp-button-pd" @click="savePicture">Guardar</button>
                </div>
            </div>
        </b-modal>

        </div>
</template>
<script>
import Swal from 'sweetalert2'
import moment from 'moment'
import Cropper from "cropperjs"

    export default {
       data(){
			return{
                load: false,
                loadModal: false,
                user: {},
                date : null,
                age: null,
                active: false,
                cropper: null,
                file: null,
                fileData: null,
                picture: '',
                extension: ''
			}
        },
        props:[],
		mounted(){
            this.getData()
        },
        methods: {
            getData(){
                this.load = true
                axios.get('/perfil/data/resumen')
                .then(response => {
                    this.user = response.data.user
                    this.date = moment(response.data.date).format('DD-MM-YYYY')
                    this.age = response.data.age
                    this.active = response.data.active
                    setTimeout(() => {
                        this.load = false
                    }, 2000);

                    if(this.user.picture){
                        this.picture = '/storage/users/' + this.user.picture
                    }
                    else{
                        this.picture = '/img/user.svg'
                    }
                })
                .catch(error => {
                    this.show = false
                })
            },
            getFullName(){
                let fullName = 'Nombre completo'
                if(this.user.profile){
                    if(this.user.profile.name){
                        fullName = this.user.profile.name
                    }

                    if(this.user.profile.last_name){
                        if(this.user.profile.name){
                            fullName += ' '
                        }
                        fullName += this.user.profile.last_name
                    }
                }

                return fullName
            },
            getCountry(){
                let country = 'País';
                if(this.user.profile){
                    if(this.user.profile.city){
                        country = this.user.profile.city.region.country.name
                    }
                }

                return country
            },
            getCity(){
                let city = 'Ciudad';
                if(this.user.profile){
                    if(this.user.profile.city){
                        city = this.user.profile.city.name
                    }
                }

                return city
            },
            reload(){
                this.getData()
            },
            openModal(modalId){
                this.$bvModal.show(modalId)
            },
            closeModal(modalId){
                this.$bvModal.hide(modalId)
            },
            clearCropper(){
                this.cropper.clear();   
            },
            resetCropper(){
                this.cropper.reset();
            },
            destroyCropper(){
                this.cropper.destroy();
            },
            initCropper(){
                let image = document.getElementById('imageProfile')
                // image = this.picture
                this.cropper = null
                if(image){
                    this.cropper = new Cropper(image, {
                        aspectRatio: 1,
                        viewMode: 3,
                        minCropBoxWidth: 50,
                        minCropBoxWidth: 50,
                        moveable: false,
                        crop(event) {
                        },
                    })
                }
            },
            changePicture(e){
                if(e.target.files[0]){
                    let fileI = e.target.files[0]
                    let ext = e.target.files[0].name.split('.')
                    this.extension = ext[ext.length - 1]
                    let reader = new FileReader()
                    reader.readAsDataURL(fileI)
                    reader.onload = (event)=>{
                        let image = document.getElementById('imageProfile');
                        //this.picture = e.target.result
                        image.src = event.target.result
                        this.picture = event.target.result
                        this.fileData = e.target.files[0]
                        this.resetCropper()
                        this.clearCropper()
                        this.destroyCropper()
                        this.initCropper()
                    }
                }
            },
            savePicture(){
                if(this.fileData){
                    Swal.fire({
                        title: '¿Estás seguro que desea guardar los cambios?',
                        text: "",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No',
                        customClass: {
                            container: 'xp-sweet-container-xs'
                        }
                        }).then((result) => {
                        if (result.value) {
                            this.loadModal = true
                            this.cropper.getCroppedCanvas();
                            this.cropper.getCroppedCanvas().toBlob((blob) => {
                                let formData = new FormData()
                                formData.append('picture', blob)
                                formData.append('extension', this.extension)
                                axios.post('perfil/imagen/guardar', formData, {
                                    'content-type': 'multipart/form-data' ,
                                    'processData': false,
                                    'contentType': false,
                                })
                                .then(response => {
                                    this.loadModal = false
                                    if(response.data.success){
                                        this.getData()
                                        Swal.fire({
                                            icon: 'success',
                                            title: response.data.message,
                                            showConfirmButton: true,
                                            confirmButtonText:'Entendido',
                                            customClass: {
                                                container: 'xp-sweet-container-xs'
                                            }
                                        })
                                        .then((result) => {
                                            this.updatePictures()
                                        })
                                    }
                                    else{
                                        Swal.fire({
                                            icon: 'info',
                                            title: response.data.message,
                                            showConfirmButton: true,
                                            confirmButtonText:'Entendido',
                                            customClass: {
                                                container: 'xp-sweet-container-xs'
                                            }
                                        })
                                    }
                                    this.closeModal('xp-modal-change-picture')
                                }).catch(response => {
                                    this.loadModal = false
                                    Swal.fire({
                                        icon: 'info',
                                        title: 'Oh no, no pudimos guardar la informacion',
                                        showConfirmButton: true,
                                        confirmButtonText:'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })
                                    this.closeModal('xp-modal-change-picture')
                                })
                            })
                        }
                    })
                }
            },
            updatePictures(){
                let picturesSet = document.querySelectorAll('img.xp-picture-set')
                if(picturesSet){
                    picturesSet.forEach(pS => {
                        pS.setAttribute('src', '/storage/users/' + this.user.picture)
                    })
                }
            }
        },
        computed: {
        }
    }
</script>