<template>
    <div class="d-flex pt-5 flex-column px-3 px-md-0">
            <!-- LOADER -->
            <loader :show="load"></loader>
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="xp-filter-group">
                    <div class="row m-0 xp-filter-group-content flex-row">
                        <div class="xp-filter-group-item mr-0 mr-md-4 col-12 col-md-4 p-0">
                            <div class="xp-filter-group-form xp-filter-group-fron-icon">
                                <input class="xp-filter-group-form-control xp-rounded" type="text" placeholder="Buscar alumno" v-model="filters.search">
                                <span class="xp-filter-group-form-control-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <div class="xp-filter-group-item justify-content-end col-12 col-md-4 p-0 mt-3 mt-md-0 flex-column flex-md-row">
                            <div class="d-flex">
                                <span class="xp-text-white mx-2">De: </span>
                                <div class="xp-ds-form-group xp-ds-form-group-resalt">
                                    <span class="xp-ds-form-group-resalt-icon">
                                        <i class="fas fa-sort-amount-up"></i>
                                    </span>
                                    <select class="xp-ds-form-control w-100" v-model="languageSource">
                                        <option value="0" :selected="languageSource == 0">Idioma</option>
                                        <option v-for="language in languages" v-bind:value="language.id" v-text="language.name" :selected="language.id == languageSource"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex mt-3 mt-md-0">
                                <span class="xp-text-white ml-3 mr-2">a: </span>
                                <div class="xp-ds-form-group xp-ds-form-group-resalt">
                                    <span class="xp-ds-form-group-resalt-icon">
                                        <i class="fas fa-sort-amount-up"></i>
                                    </span>
                                    <select class="xp-ds-form-control w-100" v-model="languageTarget">
                                        <option value="-1" :selected="languageTarget == -1">Traduccion</option>
                                        <option v-for="language in languages" v-bind:value="language.id" v-text="language.name" :selected="language.id == languageTarget"></option>
                                    </select>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 px-0 px-md-0 mt-4">
            </div>
        </div>
        <div class="row m-0 mt-2">
            <div class="col-12 px-0 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table xp-table-dark" 
                    :items="words"
                    :filter="filters.search"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <span v-text="data.index + 1"></span>
                    </template>

                    <template v-slot:cell(word)="data">
                        <span v-text="data.item.word"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(audio)="data">
                       <div class="text-center">
                            <i class="fas fa-volume-up" v-on:click="playAudio(data.item.audio)"></i>
                        </div>
                    </template>

                    <template v-slot:cell(phonetic)="data">
                        <div class="text-center" v-text="getPhonetic(data.item.phonetics)"></div>
                    </template>

                    <template v-slot:cell(principal)="data">
                        <div class="text-center" v-text="getTranslationPrincipal(data.item.translation)"></div>
                    </template>
                            
                    <template v-slot:cell(others)="data">
                        <div class="text-center" v-text="getTranslationOthers(data.item.translation)"></div>
                    </template>
                            
                    <template v-slot:cell(action)="data">
                        <div class="text-center">
                            <span class="xp-text-danger cursor-pointer" v-on:click="deleteWord(data.item.word)">
                                <i class="fas fa-times"></i>
                            </span>
                        </div>
                    </template>

                    <template v-if="words.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2'

    export default {
       data(){
			return{
                load: false,
                fields: [
                    {key: 'index', label: '#', sortable: false},
                    {key: 'word', label: 'Palabra o Frase', sortable: true},
                    {key: 'audio', label: 'Audio', sortable: false},
                    {key: 'phonetic', label: 'Fonética', sortable: false},
                    {key: 'principal', label: 'Traducción principal', sortable: false},
                    {key: 'others', label: 'Otras traducciones', sortable: false},
                    {key: 'action', label: 'Eliminar', sortable: false}
                ],
                filters:{
                    search: ''
                },
                languages: [],
                languageSource: 0,
                languageTarget: -1,
                languageCode: '',
                words: [],
                audioRoute: 'https://xpeaking.s3.us-east-2.amazonaws.com'
			}
        },
        props:[],
		mounted(){
            this.getLanguages()
        },
        methods: {
            getLanguages(){
                axios.get('/idiomas')
                .then(response => {
                    this.languages = response.data.languages
                })
                .catch(error => {
                })
            },
            getDictionary(){
                this.load = true
                axios.post('/diccionario/lista', {
                    languageSource: this.languageSource,
                    languageTarget: this.languageTarget
                })
                .then(response => {
                    this.words = response.data.words
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            getData(e){
                if(e.target.value > 0 && this.languageSource > 0 && this.languageTarget > 0){
                    this.getDictionary()
                }
                else
                {
                    this.words = []
                }
            },
            getPhonetic(dataP){
                let result = "----";
                if(dataP){
                    let listP = dataP.split(",")
                    if(listP.length > 0){
                        result = "/" + listP[0] + "/"
                    }
                }
                return result
            },
            playAudio(audioWord){
                let code = this.languageCode
                let route = this.audioRoute + '/' + code + '/' + audioWord
                let audio = new Audio(route);
                audio.play();
            },
            getTranslationPrincipal(dataTrans){
                let result = '----'
                if(dataTrans){
                    let listTrans = dataTrans.split(',')
                    listTrans.forEach((lt, index)=>{
                        if(lt.length>0 && result == '----'){
                            result = lt
                        }
                    })
                }
                return result
            },
            getTranslationOthers(dataTrans){
                let result = '----'
                if(dataTrans){
                    let listTrans = dataTrans.split(',')
                    listTrans.forEach((lt, index)=>{
                        if(lt.length>0 && index>0){
                            if(result.length>0){
                                result += ','
                            }
                            if(result = '----') result = ''
                            result += lt
                        }
                    })
                }
                return result
            },
            deleteWord(word){

                if(word.length>0){
                    Swal.fire({
                        title: '¿Estás seguro que deseas elimnar la palabra seleccionada?',
                        text: "",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No',
                        customClass: {
                            container: 'xp-sweet-container-xs'
                        }
                    })
                    .then((result) => {
                        if(result.value){
                            this.load = true
                            axios.post('/diccionario/eliminar', {
                                languageSource: this.languageSource,
                                languageTarget: this.languageTarget,
                                word: word
                            })
                            .then(response => {
                                if(response.data.success){
                                    toastr.success('Palabra eliminada exitosamente')
                                    this.getDictionary()
                                }
                                else{
                                    toastr.warning('Oh no, no pudimos eliminar la palabra del tu diccionario')
                                }
                                this.load = false
                            })
                            .catch(error => {
                                toastr.error('Oh no, no pudimos eliminar la palabra del tu diccionario')
                                this.load = false
                            })
                        }
                    })
                }

            }
        },
        computed: {
        },
        watch: {
            languageSource: function(newData){
                if(newData>0){
                    this.languages.forEach(language=>{
                        if(language.id == newData){
                            this.languageCode = language.code
                        }
                    })
                }

                if(newData > 0 && this.languageTarget != newData){
                    this.getDictionary()
                }
                else
                {
                    this.words = []
                }
            },
            languageTarget: function(newData){
                if(newData > 0 && this.languageSource != newData){
                    this.getDictionary()
                }
                else
                {
                    this.words = []
                }
            }
        }
    }
</script>