<template>
    <!-- LOADER -->
    <div class="xp-slider-card-content">
        <span class="xp-card-single-button prev d-none d-md-block"  v-on:click="prev()">
            <i class="fas fa-chevron-left"></i>
        </span>
        <div class="d-flex" v-if="loaded">
            <slick ref="slick" :options="slickOptions">
                <a class="xp-card-single" v-for="song in songs" v-bind:href="'/cancion/reproductor/'+song.id+'/'+song.slug">
                <div class="xp-card-single-main">
                    <div class="xp-card-single-header">
                        <!-- 'storage/songs/' +  -->
                        <!-- <img v-bind:src="testOrigin(song.cover) " alt=""> -->
                        <div class="xp-card-single-picture" v-bind:style="{background:('url(' + testOrigin(song.cover) + ')')}"></div>
                        <div class="xp-card-single-header-alt">
                        </div>
                    </div>
                    <div class="xp-card-single-body">
                        <div class="xp-card-single-body-title">
                            <h5 class="" v-text="song.name"></h5>
                        </div>
                    </div>
                </div>
                <div class="xp-card-single-footer">
                    <div class="xp-card-single-footer-artist text-white">
                        <a v-for="artist in song.artists" v-bind:href="'/artistas/'+artist.slug" v-text="artist.stage_name"></a>
                    </div>
                </div>
                </a>
            </slick>
        </div>
        <span class="xp-card-single-button next d-none d-md-block" v-on:click="next()">
            <i class="fas fa-chevron-right"></i>
        </span>
    </div>
</template>
<script>
import Slick from 'vue-slick';

    export default {
        components: { 
            Slick,
        },
        data(){
                return{
                    songs: [],
                    slickOptions: {
                        slidesToShow: 5,
                        arrows: false,
                    },
                    loaded: false
                }
            },
            props:["free"],
            mounted(){
                this.getData()
                document.addEventListener('DOMContentLoaded', ()=>{
                    let vw = Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
                    if(vw <= 576){
                        this.slickOptions.slidesToShow = 2
                    }
                })

                window.addEventListener('resize', ()=>{
                    let vw = Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
                    if(vw <= 576){
                        this.slickOptions.slidesToShow = 2
                        this.reInit()
                    }
                    else{
                        this.slickOptions.slidesToShow = 5
                        this.reInit()
                    }
                })
            },
            methods: {
                next() {
                    this.$refs.slick.next();
                },
                prev() {
                    this.$refs.slick.prev();
                },
                reInit() {
                    // Helpful if you have to deal with v-for to update dynamic lists
                    this.$nextTick(() => {
                        this.$refs.slick.reSlick();
                    });
                },
                getData(){
                    axios.get('/contenido/canciones/lista/importante')
                    .then(response => {
                        this.songs = response.data.songs
                        this.loaded = true
                    })
                    .catch(error => {
                    }) 
                },
                getArtists(song){
                    let listArtists = ''
                    song.artists.forEach(artist => {
                        if(listArtists.length > 0){
                            listArtists += ', '
                        }
                        listArtists += artist.stage_name
                    });
                    return listArtists
                },
                testOrigin(url){
                    let evaluate = /^(http|https):\/\//
                    let result = url
                    if(!evaluate.test(url)){
                        result = ('/storage/songs/' + url)
                    }
                    return result
                }
            },
            computed: {
            }
        }
</script>
