<template>
    <!-- LOADER -->
    <div class="row justify-content-center mx-0">
        <div class="col-lg-12">
            <div class="xp-section-bar d-flex flex-column align-items-start">
                <div class="xp-section-title">
                    <h5 class="title xp-text-primary">Canciones</h5>
                    <p class="subtitle xp-text-gray-down" v-text="'TOTAL: '+songs.length"></p>
                </div>
                <!-- <div class="xp-section-title my-2">
                    <p class="subtitle xp-text-white" v-text="'Filtros aplicados: '"></p>
                </div>
                <div class="row mx-0 my-2 w-100">
                    <div class="col-12 col-md-3 text-white" v-if="parameters.type">
                        <span class="font-weight-bold text-white">Tipo: </span>
                        <span class="text-white" v-text="parameters.type"></span>
                    </div>
                    <div class="col-12 col-md-3 text-white" v-if="parameters.gender"></div>
                        <span class="font-weight-bold text-white">Genero: </span>
                        <span class="text-white" v-text="parameters.gender"></span>
                    <div class="col-12 col-md-3 text-white" v-if="parameters.language">
                        <span class="font-weight-bold text-white">Lenguage: </span>
                        <span class="text-white" v-text="parameters.language"></span>
                    </div>
                    <div class="col-12 col-md-3 text-white" v-if="parameters.year">
                        <span class="font-weight-bold text-white">Año: </span>
                        <span class="text-white" v-text="parameters.year"></span>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-12 p-0">
            <div class="xp-songs-grid">
                <div class="xp-songs-grid-item resize" v-for="song in songs">
                    <a class="xp-card-single resize" v-bind:href="'/cancion/reproductor/'+song.id+'/'+song.slug">
                        <div class="xp-card-single-main">
                            <div class="xp-card-single-header resize">
                                <!-- 'storage/songs/' +  -->
                                <div class="xp-card-single-header-pinture" v-bind:style="{background:('url(' + testOrigin(song.cover) + ')')}"></div>
                                <!-- <img v-bind:src="testOrigin(song.cover)" alt=""> -->
                                <div class="xp-card-single-header-alt">
                                </div>
                            </div>
                            <div class="xp-card-single-body">
                                <div class="xp-card-single-body-title">
                                    <h5 class="" v-text="song.name"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="xp-card-single-footer">
                            <div class="xp-card-single-footer-artist text-white">
                                <a v-for="artist in song.artists" v-bind:href="'/artistas/'+artist.slug" v-text="artist.stage_name"></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col p-0 mt-5">
            <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="25" @paginate="getSongs"></pagination>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
                return{
                  songs: [],
                  page: 0,
                  parameters: {
                      type: null,
                      gender: null,
                      language: null,
                      year: null
                  },
                    pagination: {
                        'current_page': 1
                    },
                }
            },
            props:[],
            mounted(){
                let url = window.location.href.split('?')
                if(url.length>1){
                    let parameters = url[1].split('&')
                    parameters.forEach((parameter)=>{
                        let listVar = parameter.split('=')
                        if(listVar.length>1){
                            if(listVar[0] == "tipo"){
                                this.parameters.type = (listVar[1].length==0?null:listVar[1])
                            }
                            if(listVar[0] == "genero"){
                                this.parameters.gender = (listVar[1].length==0?null:listVar[1])
                            }
                            if(listVar[0] == "lenguaje"){
                                this.parameters.language = (listVar[1].length==0?null:listVar[1])
                            }
                            if(listVar[0] == "anio"){
                                this.parameters.year = (listVar[1].length==0?null:listVar[1])
                            }
                        }
                    })
                }
                else{
                    this.parameters.type = null
                    this.parameters.gender = null
                    this.parameters.language = null
                    this.parameters.year = null
                }

                this.getSongs()
                console.log('hola')
                // document.addEventListener('DOMContentLoaded', ()=>{
                //     document.addEventListener('scroll', ()=>{
                //         if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight){
                //             this.page++
                //             this.getSongs()
                //         }
                //     })
                // })

                // this.getSongs()
            },
            methods: {
                testOrigin(url){
                    let evaluate = /^(http|https):\/\//
                    let result = url
                    if(!evaluate.test(url)){
                        result = ('/storage/songs/' + url)
                    }
                    return result
                },
                getSongs(){
                    axios.post('/contenido/canciones/completa?page=' + this.pagination.current_page, this.parameters)
                    .then(response => {
                        this.songs = response.data.songs.data
                        this.pagination = response.data.pagination;
                    })
                    .catch(error => {
                    }) 
                },
            },
            computed: {
            }
        }
</script>
