<template>
    <!-- LOADER -->
   <div class="xp-card-info">
        <div class="xp-card-info" v-if="song.name">
            <div class="xp-card-info-header">
                <a class="xp-card-info-button" v-bind:href="'/'">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <div class="xp-card-info-picture">
                    <img v-bind:src="testOrigin(song.cover)" alt="">
                </div>
                <span class="xp-card-info-button xp-text-primary" v-bind:class="{'cf-icon-animation': favorite}" v-on:click="saveFavorites()">
                    <i class="fas fa-heart" v-if="isFavorite()"></i>
                    <i class="far fa-heart" v-else></i>
                </span>
            </div>
            <div class="xp-card-info-body">
                <span class="xp-card-info-subtitle mb-2" v-text="'CANCIÓN - '+ getYearSong(song.release)"></span>
                <span class="xp-card-info-title mb-2" v-text="song.name"></span>
                <span class="xp-card-info-text mb-2">
                    <a v-for="artist in song.artists" v-bind:href="'/artistas/'+artist.slug" v-text="artist.stage_name"></a>
                </span>
                <span class="xp-card-info-text mb-2">
                    <span v-for="gender in song.genders" v-text="gender.name"></span>
                </span>
                <span class="xp-card-info-text mb-2" v-text="song.views + ' vistas'"></span>
            </div>
            <div class="xp-card-info-footer">
                <div class="xp-card-info-options">
                    <span class="xp-card-info-item">
                        <img src="/img/volume-warning.svg" alt="">
                        <span>
                            <span v-for="language in song.languages" v-text="language.name"></span>
                        </span>
                    </span>
                    <span class="xp-card-info-item">
                        <img src="/img/translate-war.svg" alt="">
                        <span v-text="song.subtitles.length + ' traduccion' + (song.subtitles.length > 1?'es':'') + ' disponibles'"></span>
                    </span>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="xp-button xp-button-primary xp-button-pd mt-3" v-bind:href="'/cancion/reproductor/'+song.id+'/'+song.slug">
                        Practicar
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import moment from 'moment'

    export default {
        data(){
                return{
                    song: {},
                    authenticate: false,
                    favorites: [],
                    show: false,
                    favorite: false
                }
            },
            props:["id", "slug"],
            mounted(){
                this.getData()
            },
            methods: {
                getData(){
                    axios.get('/contenido/canciones/info/'+this.id+'/'+this.slug)
                    .then(response => {
                        this.song = response.data.song
                        this.authenticate = response.data.authenticate
                        this.favorites = response.data.favorites
                    })
                    .catch(error => {
                    }) 
                },
                saveFavorites(){
                    if(this.authenticate){
                        this.show = true
                        axios.post('/favoritos/canciones/guardar', {
                            songId: this.song.id
                        })
                        .then(response => {
                            this.getFavorites()
                            if(response.data.favorite){
                                toastr.success('Guardado en favoritos')
                            }
                            else{
                                toastr.warning('Quitado de favoritos')
                            }
                            this.show = false
                        })
                        .catch(error => {
                            toastr.warning('No pudimos guardar los cambios')
                        }) 
                    }
                },
                getFavorites(){
                    axios.get('/favoritos/canciones/lista/')
                    .then(response => {
                        this.favorites = response.data.favorites
                        this.favorite = false
                        this.favorites.forEach((favorite)=>{
                            if(favorite.song_id == this.song.id){
                                this.favorite = true
                            }
                        })
                    })
                    .catch(error => {
                    }) 
                },
                isFavorite(){
                    let result = false
                    this.favorites.forEach((favorite) => {
                        if(favorite.song_id == this.song.id){
                            result = true
                        }
                    })
                    return result
                },
                statusFavortie(){
                    let result = false
                    this.favorites.forEach(favorite=>{
                        if(favorite.song_id==this.song.id){
                            result = true
                        }
                    })
                    return result
                },
                getYearSong(date){
                    let getYear = moment(date)
                    return getYear.year()
                },
                testOrigin(url){
                    let evaluate = /^(http|https):\/\//
                    let result = url
                    if(!evaluate.test(url)){
                        result = ('/storage/songs/' + url)
                    }
                    return result
                }
            },
            computed: {
            }
        }
</script>
