<template>
    <div class="row m-0">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="xp-card-login">
                <loader :show="show"></loader>
                <div class="xp-card-login-content">
                    <div class="xp-card-login-header">
                        <div class="xp-card-login-header-title">
                           Restablecer contraseña
                        </div>
                        <p class="xp-card-login-header-text mt-2">
                            complete los siguientes datos para restablecer su contraseña.
                        </p>
                    </div>
                    <div class="xp-card-login-body">
                        <div class="row m-0">
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="email" placeholder="Email" v-model="user.email" v-bind:class="{ filled:user.email.length>0, invalid: errors.includes('email') }">
                                <label class="xp-form-group-super-label">
                                    <span>Email</span>
                                </label>
                                <span class="xp-form-super-alert xp-text-warning-alt">
                                    El email ingresado no existe
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 mt-3 xp-form-group-super">
                        <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field with-icon" v-bind:type="fieldShow.includes('password')?'text':'password'" placeholder="Contraseña" v-model="user.password" v-bind:class="{ filled:user.password.length>0, invalid: errors.includes('password') }" >
                        <label class="xp-form-group-super-label">
                            <span>Nueva Contraseña</span>
                        </label>
                        <span class="xp-form-group-super-icon" v-on:click="changeFieldShow('password')">
                            <i v-if="fieldShow.includes('password')" class="fas fa-eye"></i>
                            <i v-else class="fas fa-eye-slash"></i>
                        </span>
                        <span class="xp-form-super-alert xp-text-warning-alt">
                            De 4 a 20 caracteres
                        </span>
                    </div>
                    <div class="col-12 mt-3 xp-form-group-super">
                        <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field with-icon" v-bind:type="fieldShow.includes('confirmPassword')?'text':'password'" placeholder="Confirmar contraseña" v-model="user.confirmPassword" v-bind:class="{ filled:user.confirmPassword.length>0, invalid: errors.includes('confirmPassword') }" >
                        <label class="xp-form-group-super-label">
                            <span>Confirmar nueva contraseña</span>
                        </label>
                        <span class="xp-form-group-super-icon" v-on:click="changeFieldShow('confirmPassword')">
                            <i v-if="fieldShow.includes('confirmPassword')" class="fas fa-eye"></i>
                            <i v-else class="fas fa-eye-slash"></i>
                        </span>
                        <span class="xp-form-super-alert xp-text-warning-alt">
                            De 4 a 20 caracteres
                        </span>
                    </div>

                    <div class="d flex justify-content-center mt-4" v-if="error">
                        <div class="xp-message-alert xp-message-alert-warning"> 
                            <span v-text="error"></span>
                        </div>
                    </div>
                    <div class="d-flex mt-4" v-if="errors.length>0">
                        <div class="xp-message-alert xp-message-alert-warning d-flex flex-column"> 
                            <span class="mt-2" v-for="errorData in errors" v-text="errorData.message"></span>
                        </div>
                    </div>
                    <div class="xp-card-login-footer d-flex flex-column">
                        <button class="xp-button xp-button-primary xp-button-margin xp-button-lg xp-button-pd" v-on:click="recover()">
                            Recuperar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                show: false,
                user: {
                    email: '',
                    password: '',
                    confirmPassword: '',
                    token: ''
                },
                error: null,
                errors: [],
                fieldShow: []
			}
        },
        props:["token"],
		mounted(){
            document.addEventListener('DOMContentLoaded', () => {
                toastr.options.progressBar = true
            })

            this.user.token = this.token
        },
        methods: {
            changeFieldShow(field){
                if(this.fieldShow.includes(field)){
                    let indexField = this.fieldShow.indexOf(field)
                    if(indexField>=0){
                        this.fieldShow.splice(indexField, 1)
                    }
                }
                else{
                    this.fieldShow.push(field)
                }
            },
            recover(){
                this.error = null
                this.errors = []
                this.validate()
                if(this.errors.length==0 && !this.error){
                        this.show = true
                        axios.post('/acceso/restablecer', this.user)
                        .then(response => {
                            let errors = response.data.errors
                            
                            if(response.data.success){
                                window.location.replace("/")
                            }
                            else{
                                if(errors){
                                    this.errors = errors
                                    this.show = false
                                }
                                else if(errors == undefined){
                                    this.show = false
                                }
                            }
                        })
                        .catch(error => {
                            this.error = "Datos invalidos"
                            this.show = false
                            // toastr.error('Lo sentimos, algo salio mal y no se pudo iniciar la sesion')
                        })
                }
            },
             validEmail(email){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            validate(){
                if(!this.validEmail(this.user.email)){
                    this.errors.push('email')
                }
                if( !(this.user.password.length >= 4 && this.user.password.length <= 20) ){
                    this.errors.push('password')
                }
                if( !(this.user.confirmPassword.length >= 4 && this.user.confirmPassword.length <= 20 )){
                    this.errors.push('confirmPassword')
                }
                if( !(this.user.confirmPassword.length > 0 && this.user.password.length >0 &&this.user.confirmPassword==this.user.password) ){
                    this.error = 'Las contraseñas ingresadas no coinciden'
                }
            }
        },
        computed: {
        }
    }
</script>
