<template>
    <div class="row mx-0 mt-5 mt-md-0">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="xp-card-login">
                <loader :show="show"></loader>
                <div class="xp-card-login-content">
                    <div class="xp-card-login-header">
                        <div class="xp-card-login-header-title">
                           Iniciar sesión
                        </div>
                    </div>
                    <div class="xp-card-login-body">
                        <div class="row m-0">
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="email" placeholder="Usuario" v-model="user.username" v-bind:class="{ filled:user.username.length>0, invalid: errors.includes('username') }" v-on:keypress="noSpaces($event)">
                                <label class="xp-form-group-super-label">
                                    <span>Usuario</span>
                                </label>
                                <span class="xp-form-super-alert xp-text-warning-alt">
                                    El usuario ingresado no existe
                                </span>
                            </div>
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field with-icon" v-bind:type="fieldShow.includes('password')?'text':'password'" placeholder="Contraseña" v-model="user.password" v-bind:class="{ filled:user.password.length>0, invalid: errors.includes('password') }" v-on:keypress="keyInput($event)">
                                <label class="xp-form-group-super-label">
                                    <span>Contraseña</span>
                                </label>
                                <span class="xp-form-group-super-icon" v-on:click="changeFieldShow('password')">
                                    <i v-if="fieldShow.includes('password')" class="fas fa-eye"></i>
                                    <i v-else class="fas fa-eye-slash"></i>
                                </span>
                                <span class="xp-form-super-alert xp-text-warning-alt">
                                    De 4 a 20 caracteres
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d flex justify-content-center mt-4" v-if="error">
                        <div class="xp-message-alert xp-message-alert-warning"> 
                            <span v-text="error"></span>
                        </div>
                    </div>
                    <div class="d-flex mt-4" v-if="errors.length>0">
                        <div class="xp-message-alert xp-message-alert-warning d-flex flex-column"> 
                            <span class="mt-2" v-for="errorData in errors" v-text="errorData.message"></span>
                        </div>
                    </div>
                    <div class="xp-card-login-footer d-flex flex-column">
                        <button class="xp-button xp-button-primary xp-button-margin xp-button-lg xp-button-pd" v-on:click="login()">
                            Iniciar sesión
                        </button>
                        <a class="xp-button xp-button-line xp-button-large xp-button-link-primary text-center mt-2 p-0" href="/acceso/restablecer">
                            ¿Olvidaste tu contraseña?
                        </a>
                        <div class="d-flex mt-4 justify-content-center align-items-center text-white xp-font-1">
                            <span class="mr-2">¿Primera vez en Xpeaking?</span>
                            <a class="xp-button xp-button-line no-padding font-bold text-center font-weight-bold" href="/registro">
                                ¡Suscríbete!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ALERT -->
        <div class="xp-dashboard-alert" v-if="alert">
            <div class="xp-dashboard-card-alert animated zoomIn xp-delay-03s">
                <span class="xp-dashboard-alert-close" v-on:click="alert = null">
                    <i class="fas fa-times"></i>
                </span>
                <div class="xp-dashboard-card-alert-header">
                    <span class="xp-dashboard-card-alert-icon xp-text-jade">
                        <img src="/img/alert.svg" alt="">
                    </span>
                </div>
                <div class="xp-dashboard-card-alert-body">
                    <h4 class="xp-dashboard-card-alert-text xp-text-primary" v-text="alert"> </h4>
                </div>
                <div class="xp-dashboard-card-alert-footer">
                    
                    <div class="d-flex justify-content-between mt-2">
                        <button class="xp-button xp-button-danger xp-button-pd w-100" v-on:click="alert = null">
                            Entendido
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                show: false,
                user: {
                    username: '',
                    password: ''
                },
                error: null,
                errors: [],
                fieldShow: [],
                alert: null
			}
        },
        props:[],
		mounted(){
            document.addEventListener('DOMContentLoaded', () => {
                toastr.options.progressBar = true
            })
        },
        methods: {
            changeFieldShow(field){
                if(this.fieldShow.includes(field)){
                    let indexField = this.fieldShow.indexOf(field)
                    if(indexField>=0){
                        this.fieldShow.splice(indexField, 1)
                    }
                }
                else{
                    this.fieldShow.push(field)
                }
            },
            login(){
                this.error = null
                this.errors = []
                if(this.user.username.length>=4 && this.user.password.length>=4){
                        this.show = true
                        axios.post('/acceso', this.user)
                        .then(response => {
                            let errors = response.data.errors
                            
                            if(response.data.success){
                                window.location.replace("/")
                            }
                            else{
                                if(errors){
                                    this.errors = errors
                                    this.show = false
                                }
                                else if(errors == undefined){
                                    this.show = false
                                }

                                this.errors.forEach((error)=>{
                                    if(error.error == 'status'){
                                        this.alert = error.message
                                    }
                                })
                            }
                        })
                        .catch(error => {
                            this.error = "El email no coincide con la contraseña ingresada"
                            this.show = false
                            // toastr.error('Lo sentimos, algo salio mal y no se pudo iniciar la sesion')
                        })
                }
            },
             validEmail(email){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            keyInput(e){
               if(e.keyCode==13){
                   this.login()
               }
            },
            noSpaces(e){
                if(e.keyCode == 32){
                    e.preventDefault();
                }
                else if(e.keyCode==13){
                    this.login()
                }
            }
        },
        computed: {
        }
    }
</script>
