<template>
    <div class="row m-0">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="xp-card-login">
                <loader :show="show"></loader>
                <div class="xp-card-login-content">
                    <div class="xp-card-login-header">
                        <div class="xp-card-login-header-title">
                           Recuperar contraseña
                        </div>
                        <p class="xp-card-login-header-text">
                            Ingresa tu email y te enviaremos un enlace para restablecer su contraseña.
                        </p>
                    </div>
                    <div class="xp-card-login-body">
                        <div class="row m-0">
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field with-icon" type="email" placeholder="Email" v-model="user.email" v-bind:class="{ filled:user.email.length>0, invalid: errors.includes('email') }">
                                <label class="xp-form-group-super-label">
                                    <span>Email</span>
                                </label>
                                <!-- <span class="xp-form-group-super-icon" v-on:click="changeFieldShow('email')">
                                    <i v-if="fieldShow.includes('email')" class="fas fa-eye"></i>
                                    <i v-else class="fas fa-eye-slash"></i>
                                </span> -->
                                <span class="xp-form-super-alert xp-text-warning-alt">
                                    El email ingresado no existe
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d flex justify-content-center mt-4" v-if="error">
                        <div class="xp-message-alert xp-message-alert-warning"> 
                            <span v-text="error"></span>
                        </div>
                    </div>
                    <div class="d-flex mt-4" v-if="errors.length>0">
                        <div class="xp-message-alert xp-message-alert-warning d-flex flex-column"> 
                            <span class="mt-2" v-for="errorData in errors" v-text="errorData.message"></span>
                        </div>
                    </div>
                    <div class="xp-card-login-footer d-flex flex-column">
                        <button class="xp-button xp-button-primary xp-button-margin xp-button-lg xp-button-pd" v-on:click="recover()">
                            Recuperar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                show: false,
                user: {
                    email: '',
                    password: ''
                },
                error: null,
                errors: [],
                fieldShow: []
			}
        },
        props:[],
		mounted(){
            document.addEventListener('DOMContentLoaded', () => {
                toastr.options.progressBar = true
            })
        },
        methods: {
            changeFieldShow(field){
                if(this.fieldShow.includes(field)){
                    let indexField = this.fieldShow.indexOf(field)
                    if(indexField>=0){
                        this.fieldShow.splice(indexField, 1)
                    }
                }
                else{
                    this.fieldShow.push(field)
                }
            },
            recover(){
                this.error = null
                this.errors = []
                if(this.user.email.length>=5){
                    if(this.validEmail(this.user.email)){
                        this.show = true
                        axios.post('/acceso/correo', this.user)
                        .then(response => {
                            let errors = response.data.errors
                            
                            if(response.data.success){
                                window.location.replace("/")
                            }
                            else{
                                if(errors){
                                    this.errors = errors
                                    this.show = false
                                }
                                else if(errors == undefined){
                                    this.show = false
                                }
                            }
                        })
                        .catch(error => {
                            this.error = "Email no coincide con nuestros registros"
                            this.show = false
                            // toastr.error('Lo sentimos, algo salio mal y no se pudo iniciar la sesion')
                        })
                    }
                    else{
                        this.error = 'El email no es valido'
                    }
                }
            },
             validEmail(email){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        },
        computed: {
        }
    }
</script>
