<template>
    <div class="row m-0" v-bind:class="{'mt-5':wizard.step > 1}">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="xp-card-login d-flex flex-column p-relative">
                <loader :show="show"></loader>
                <div class="xp-card-login-content animated fadeIn" v-if="wizard.step==1">
                    <div class="xp-card-login-header">
                        <div class="xp-card-login-step">
                            Paso
                            <span class="xp-card-login-title" v-text="wizard.step"></span>
                            de
                            <span class="xp-card-login-title" v-text="wizard.steps"></span>
                        </div>
                        <div class="xp-card-login-header-title">
                            Selecciona tu idioma nativo
                        </div>
                    </div>
                    <div class="xp-card-login-body">
                        <div class="row m-0">
                            <div class="col-12 xp-form-group">
                                <label class="xp-form-label" for="">Mi idioma nativo es:</label>
                                <select class="xp-form-control xp-form-control-white radius-2" v-bind:class="{ invalid:errors.includes('languageNative') }" name="" v-model="user.languageNative" placeholder="Seleccione" @change="changeLanguage('native', $event)">
                                    <option value="0">Seleccione</option>
                                    <option v-for="language in languages" v-bind:value="language.id" v-text="language.name"></option>
                                </select>
                                <span class="xp-form-super-alert xp-text-warning-alt">
                                    Seleccione su idioma nativo
                                </span>
                            </div>
                            <!-- <div class="col-12 xp-form-group">
                                <select class="xp-form-control xp-form-control-white radius-2" v-bind:class="{ invalid:errors.includes('languageLearn') }" name="" v-model="user.languageLearn" placeholder="Seleccione">
                                    <option value="0">Seleccione</option>
                                    <option v-for="language in languages" v-bind:value="language.id" v-text="language.name" @change="changeLanguage('learn', $event)"></option>
                                </select>
                                <span class="xp-form-super-alert xp-text-warning-alt">
                                    Seleccione el idioma que desea aprender
                                </span>
                            </div> -->
                        </div>
                    </div>
                    <div class="d flex justify-content-center mt-4" v-if="error">
                        <div class="xp-message-alert xp-message-alert-warning"> 
                            <span v-text="error"></span>
                        </div>
                    </div>
                    <div class="xp-card-login-footer">
                        <button class="xp-button xp-button-primary xp-button-margin xp-button-lg xp-button-pd" v-on:click="nextStep()">
                            Siguiente paso
                        </button>
                    </div>  
                </div>
                <div class="xp-card-login-content animated fadeIn" v-if="wizard.step==2">
                    <div class="xp-card-login-header">
                        <div class="xp-card-login-step">
                            Paso
                            <span class="xp-card-login-title" v-text="wizard.step"></span>
                            de
                            <span class="xp-card-login-title" v-text="wizard.steps"></span>
                        </div>
                        <div class="xp-card-login-header-title">
                           Crea tu cuenta
                        </div>
                        <div class="d-flex mt-4" v-if="errors.length>0">
                            <div class="xp-message-alert xp-message-alert-warning d-flex flex-column"> 
                                <span v-if="errorData.message" class="mt-2" v-for="errorData in errors" v-text="errorData.message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="xp-card-login-body">
                        <div class="row m-0">
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="email" placeholder="Email" v-model="user.email" v-bind:class="{ filled:user.email.length>0, invalid: errors.includes('email') }" @keypress="notSpaces($event)">
                                <label class="xp-form-group-super-label">
                                    <span>Email</span>
                                </label>
                                <span class="xp-form-super-alert xp-text-warning-alt">
                                    El email ingresado no es valido
                                </span>
                            </div>
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="text" placeholder="Usuario" v-model="user.username" v-bind:class="{ filled:user.username.length>0, invalid: errors.includes('username') }" maxlength="20" @keypress="notSpaces($event)" @input="Lower()">
                                <label class="xp-form-group-super-label">
                                    <span>Usuario</span>
                                </label>
                                <span class="xp-form-super-alert xp-text-warning-alt">
                                    De 4 a 20 caracteres
                                </span>
                            </div>
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field with-icon" v-bind:type="fieldShow.includes('password')?'text':'password'" placeholder="Contraseña" v-model="user.password" v-bind:class="{ filled:user.password.length>0, invalid: errors.includes('password') }" >
                                <label class="xp-form-group-super-label">
                                    <span>Contraseña</span>
                                </label>
                                <span class="xp-form-group-super-icon" v-on:click="changeFieldShow('password')">
                                    <i v-if="fieldShow.includes('password')" class="fas fa-eye"></i>
                                    <i v-else class="fas fa-eye-slash"></i>
                                </span>
                                <span class="xp-form-super-alert xp-text-warning-alt">
                                    De 4 a 20 caracteres
                                </span>
                            </div>
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field with-icon" v-bind:type="fieldShow.includes('confirmPassword')?'text':'password'" placeholder="Confirmar contraseña" v-model="user.confirmPassword" v-bind:class="{ filled:user.confirmPassword.length>0, invalid: errors.includes('confirmPassword') }" >
                                <label class="xp-form-group-super-label">
                                    <span>Confirmar contraseña</span>
                                </label>
                                <span class="xp-form-group-super-icon" v-on:click="changeFieldShow('confirmPassword')">
                                    <i v-if="fieldShow.includes('confirmPassword')" class="fas fa-eye"></i>
                                    <i v-else class="fas fa-eye-slash"></i>
                                </span>
                                <span class="xp-form-super-alert xp-text-warning-alt">
                                    De 4 a 20 caracteres
                                </span>
                            </div>
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="phone" placeholder="Celular" v-model="user.phone" v-bind:class="{ filled:user.phone.length>0, invalid: errors.includes('phone') }" maxlength="9" @keypress="onlyNumbers($event)">
                                <label class="xp-form-group-super-label">
                                    <span>Celular</span>
                                </label>
                                <span class="xp-form-super-alert xp-text-warning-alt">
                                    Debe inicar con "9" y maximo 9 digitos
                                </span>
                            </div>
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="text" id="fieldSponsor" placeholder="Invitado por" v-model="user.invited" v-bind:class="{ filled:user.invited.length>0, invalid: errors.includes('invited') }" required @keypress="notSpaces($event)" :disabled="fieldSponsor == true">
                                <label class="xp-form-group-super-label">
                                    <span>Invitado por</span>
                                </label>
                                <!-- <span class="xp-form-group-super-icon" v-on:click="ChangeFieldSponsor()">
                                    <i v-if="fieldSponsor" class="fas fa-lock"></i>
                                    <i v-else class="fas fa-unlock"></i>
                                </span> -->
                                 <span class="xp-form-super-alert xp-text-warning-alt">
                                    Ingrese el usuario que lo invitó
                                </span>
                            </div>
                            <div class="col-12 mt-4 xp-form-group">
                                <input type="checkbox" class="xp-form-control checkbox" id="conditions" v-model="user.agree"/>
                                <label for="conditions" class="xp-form-control-label" v-bind:value="1">
                                    Acepto los <a href="/terminos-de-uso" class="xp-link mx-1 xp-font-09" target="_blank">Términos de Uso </a>y <a href="/politicas-de-privacidad" class="xp-link mx-1 xp-font-09" target="_blank">Política de Privacidad</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d flex justify-content-center mt-4" v-if="error">
                        <div class="xp-message-alert xp-message-alert-warning"> 
                            <span v-text="error"></span>
                        </div>
                    </div>
                    <div class="xp-card-login-footer">
                        <button class="xp-button xp-button-primary xp-button-margin xp-button-lg xp-button-pd" v-on:click="nextStep()">
                            Registrarme
                        </button>
                    </div>
                </div>
                <div class="xp-card-login-content animated fadeIn" v-if="wizard.step==3">
                    <div class="xp-card-login-header">
                        <div class="xp-card-login-step">
                            Paso
                            <span class="xp-card-login-title" v-text="wizard.step"></span>
                            de
                            <span class="xp-card-login-title" v-text="wizard.steps"></span>
                        </div>
                        <div class="xp-card-login-header-title">
                           Método de Pago
                        </div>
                    </div>
                    <div class="d-flex mt-4" v-if="wizard.steps==wizard.step && errors.length>0">
                        <div class="xp-message-alert xp-message-alert-warning d-flex flex-column"> 
                            <span class="mt-2" v-for="errorData in errors" v-text="errorData.message"></span>
                        </div>
                    </div>
                    <div class="xp-card-login-body">
                        <div class="row m-0">
                            <div class="col-12 xp-form-group p-0">
                                <select class="xp-form-control xp-form-control-white radius-2"  v-model="card.methodPayment" v-bind:class="{invalid: errors.includes('methodPayment')}">
                                    <option :selected="card.methodsPayment == 0" value="0">Elige tu método de pago</option>
                                    <option value="" :selected="paymentMethod.value == card.methodsPayment" v-for="paymentMethod in paymentMethods" v-text="paymentMethod.name + ' (58 puntos)'" v-bind:value="paymentMethod.value"></option>
                                </select>
                            </div>
                            <div class="col-12 mt-4 xp-form-group" v-if="!getMethodPayment('Puntos')">
                                <label class="xp-form-control-label xp-label-m text-white">
                                    ¡Los puntos Xpeaking valen dinero! 
                                    Si aún no cuentas con puntos, no hay problema! tu amigo(a) puede pagar tu suscripción. 
                                </label>
                            </div>
                        </div>
                        <div class="row m-0" v-if="!getMethodPayment('Tarjeta')">
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="text" placeholder="Número de tarjeta" v-model="card.number" v-bind:class="{ filled:card.number.length>0 }" maxlength="20" :disabled="getMethodPayment('Tarjeta')">
                                <label class="xp-form-group-super-label">
                                    <span>Número de tarjeta</span>
                                </label>
                            </div>
                            <div class="col-12 p-0 d-flex justify-content-between">
                                <div class="xp-form-group-super mr-1">
                                    <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="number" placeholder="MM" v-model="card.monthExpired" v-bind:class="{ filled:card.monthExpired.length>0 }" :disabled="getMethodPayment('Tarjeta')">
                                    <label class="xp-form-group-super-label">
                                        <span>Mes</span>
                                    </label>
                                </div>
                                <div class="xp-form-group-super ml-1">
                                    <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="number" placeholder="YYYY" v-model="card.yearExpired" v-bind:class="{ filled:card.yearExpired.length>0 }" :disabled="getMethodPayment('Tarjeta')">
                                    <label class="xp-form-group-super-label">
                                        <span>Año</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field with-icon" type="text" placeholder="Código de Seguridad (CVV)" v-model="card.codeSecurity" v-bind:class="{ filled:card.codeSecurity.length>0 }" :disabled="getMethodPayment('Tarjeta')">
                                <label class="xp-form-group-super-label">
                                    <span>Código de Seguridad (CVV)</span>
                                </label>
                                <span class="xp-form-group-super-icon">
                                    <i class="fas fa-eye-slash"></i>
                                    <!-- <i class="fas fa-eye"></i> -->
                                </span>
                            </div>
                            <div class="col-12 mt-3 xp-form-group-super">
                                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="text" placeholder="Nombre del titular de la tarjeta" v-model="card.name" v-bind:class="{ filled:card.name.length>0 }" :disabled="getMethodPayment('Tarjeta')">
                                <label class="xp-form-group-super-label">
                                    <span>Nombre del titular de la tarjeta</span>
                                </label>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-12 mt-3 p-0">
                                <div class="xp-alert xp-alert-warning">
                                    <span class="font-weight-bold mr-2">Plan de Suscripción </span>
                                    <span class="font-weight-bold" v-text="'S/' + plan.price + ' al mes'"></span>
                                </div>
                            </div>
                            <div class="col-12 mt-4 xp-form-group">
                                <label class="xp-form-control-label xp-label-xs text-white">
                                    Al hacer clic en el botón "INICIAR SUSCRIPCIÓN", declaras que tienes más de 18 años. Puedes cancelar  tu suscripción en cualquier momento; para hacerlo, visita tu Cuenta y haz clic en "Cancelar Suscripción".
                                </label>
                                <label class="xp-form-control-label xp-label-xs text-white">
                                    Xpeaking continuará tu Suscripción de manera  automática y, hasta que la canceles, te facturará el  cargo mensual equivalente a S/59.00 a través de la  forma de pago elegida. No se ofrecen reembolsos.
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="d flex justify-content-center mt-4" v-if="error">
                        <div class="xp-message-alert xp-message-alert-warning"> 
                            <span v-text="error"></span>
                        </div>
                    </div> -->
                    <div class="xp-card-login-footer">
                        <button class="xp-button xp-button-primary xp-button-margin xp-button-lg xp-button-pd" v-on:click="nextStep()">
                            Registrarme
                        </button>
                    </div>
                </div>
                <div class="xp-card-login-arrow" v-if="wizard.step>1">
                    <span class="xp-card-login-arrow-icon" v-on:click="prevStep()">
                        <i class="fas fa-chevron-left"></i>
                        <span>Volver</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                show: false,
                alert: false,
                user: {
                    languageNative: 0,
                    // languageLearn: 0,
                    email: '',
                    username: '',
                    password: '',
                    confirmPassword: '',
                    phone: '',
                    invited: '',
                    agree: null
                },
                card: {
                    methodPayment: 0,
                    number: '',
                    monthExpired: '',
                    yearExpired: '',
                    codeSecurity: '',
                    name: ''
                },
                wizard: {
                    step: 1,
                    steps: 2
                },
                languages: [],
                methodsPayment: [],
                errors: [],
                error: null,
                fieldShow: [],
                plan: {},
                paymentMethods: [],
                fieldSponsor:false
            }
        },
        props:["username"],
		mounted(){
            this.user.invited = this.username
            document.addEventListener('DOMContentLoaded', () => {
                toastr.options.progressBar = true
            })
            this.getLanguages()
            this.getPlan()
        },
        methods: {
            getLanguages(){
                axios.get('/idiomas')
                .then(response => {
                    this.languages = response.data.languages
                })
                .catch(error => {
                });
            },
            changeLanguage(origin, e){
                if(origin=='native'){
                    this.user.languageNative = e.target.value
                }
                // else if(origin=='learn'){
                //     this.user.languageLearn = e.target.value
                // }
            },
            validateStep(step){
                this.errors = []
                this.error = null
                if(step==1){
                    if(this.user.languageNative==0){
                        this.errors.push('languageNative')
                    }
                    // else if(this.user.languageLearn==0){
                    //     this.errors.push('languageLearn')
                    // }
                    // else if(this.user.languageNative==this.user.languageLearn){
                    //     this.error = 'Los idiomas no pueden ser iguales'
                    // }
                }
                else if(step==2){
                    if(!this.validEmail(this.user.email)){
                        this.errors.push('email')
                    }
                    if( !(this.user.username.length >= 4 && this.user.username.length <= 20) ){
                        this.errors.push('username')
                    }
                    if( !(this.user.password.length >= 4 && this.user.password.length <= 20) ){
                        this.errors.push('password')
                    }
                    if( !(this.user.confirmPassword.length >= 4 && this.user.confirmPassword.length <= 20) ){
                        this.errors.push('confirmPassword')
                    }
                    if( !(this.validatePhone(this.user.phone) && this.user.phone.length == 9) ){
                        this.errors.push('phone')
                    }
                    if( !(this.user.confirmPassword.length > 0 && this.user.password.length >0 && this.user.confirmPassword==this.user.password) ){
                        this.error = 'Las contraseñas ingresadas no coinciden'
                    }
                    if( !this.user.agree ){
                        this.error = 'Debe aceptar los terminos y condiciones'
                    }
                    if( !this.fieldSponsor && !(this.user.invited.length >= 4 && this.user.invited.length <= 100) ){
                        this.errors.push('invited')
                    }
                }
                else if(step == 3){
                    if(this.user.invited.length>0){
                        this.validSponsor()
                    }
                }
            },
            nextStep(){
                this.validateStep(this.wizard.step)
                if(this.wizard.step <= this.wizard.steps){
                    if(this.errors.length==0 && !this.error){

                        if(this.wizard.step == this.wizard.steps){
                            this.saveData()
                        }
                        else{
                            
                        }

                        if(this.wizard.step< this.wizard.steps){
                            this.wizard.step++
                        }

                    }
                }
            },
            prevStep(){
                if(this.wizard.step > 1){
                    this.wizard.step--
                }
            },
            validEmail(email){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            changeFieldShow(field){
                if(this.fieldShow.includes(field)){
                    let indexField = this.fieldShow.indexOf(field)
                    if(indexField>=0){
                        this.fieldShow.splice(indexField, 1)
                    }
                }
                else{
                    this.fieldShow.push(field)
                }
            },
            ChangeFieldSponsor(){
                var sponsor = document.getElementById('fieldSponsor')
                if (this.fieldSponsor == true) {
                    this.fieldSponsor = false
                    sponsor.placeholder = 'Invitado por'
                }else{
                    this.fieldSponsor = true
                    this.user.invited = ''
                    sponsor.placeholder = 'Sin invitación'
                }
            },
            saveData(){
                this.validateStep(1)
                this.validateStep(2)
                // this.validateStep(3)
                
                if(this.errors.length==0 && !this.error && this.methodPoints()){
                    this.show = true
                    this.errors = []
                    axios.post('/registro', {
                        user: this.user,
                        plan: this.plan,
                        card: this.card
                    })
                    .then(response => {
                        let errors = response.data.errors

                        if(response.data.success){
                            toastr.success('Usuario registrado exitosamente')
                            setTimeout(() => {
                                window.location.replace("/acceso")
                            }, 1000);
                        }
                        else{
                            if(errors){
                                this.errors = errors
                                this.show = false
                            }
                            else if(errors == undefined){
                                this.show = false
                            }
                        }
                    })
                    .catch(error => {
                        this.show = false
                        toastr.error('El registro no se realizo correctamente, intentelo de nuevo por favor')
                    })
                }
            },
            getPlan(){
                axios.get('/planes/recomendado')
                .then(response => {
                    this.plan = response.data.plan
                    this.paymentMethods = response.data.paymentMethods

                    this.paymentMethods.forEach((method)=>{
                        if(method.name=="Puntos"){
                            this.card.methodPayment = method.value
                        }
                    })
                })
                .catch(error => {
                })
            },
            getMethodPayment(type){
                let result = true
                this.paymentMethods.forEach((method)=>{
                    if(method.name==type && this.card.methodPayment == method.value){
                        result = false
                    }
                })
                return result
            },
            validSponsor(){
                if(this.user.invited.length > 0){
                    this.show = true
                    axios.post('/embajador/validar', {
                        username: this.user.invited
                    })
                    .then(response => {
                        if(!response.data.success){
                            // result = false
                            this.error = response.data.message
                            Swal.fire({
                                icon: 'error',
                                title: this.error,
                                text: '',
                                confirmButtonText: 'Aceptar',
                                showCancelButton: false,
                            })
                        }
                        else{
                        }
                        this.show = false
                    })
                    .catch(error => {
                        this.error = 'oh No'
                        this.show = false
                    })
                }
                
            },
            methodPoints(){
                let result = false
                this.paymentMethods.forEach((method)=>{
                    if(method.name=='Puntos' && method.value == this.card.methodPayment){
                        result = true
                    }
                })

                if(!result){
                    toastr.warning('Por el momento solo tenemos habilitado el metodo de pago por Puntos')
                }
                return result
            },
            validatePhone(value){
                let t = /^9[0-9]+/
                return t.test(value)
            },
            onlyNumbers(e){
                let key = window.Event ? e.which : e.keyCode
                if(key >= 48 && key <= 57){

                }
                else{
                    e.preventDefault();
                }
            },
            notSpaces(e){
                let key = window.Event ? e.which : e.keyCode
                if(key ==32){
                    e.preventDefault();
                }
            },
            Lower(){
                this.user.username = (this.user.username.toLowerCase()).trim();
            }
        },
        computed: {
        }
    }
</script>
