<template>
    <div class="d-flex flex-column">
        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12">
                <h2 class="xp-ds-title xp-text-primary">Invitaciones y Niveles</h2>
            </div>
        </div>
        <!-- RESUME -->
        <div class="row m-0 mt-0 mt-md-3 mb-4">
            <div class="col-12">
                <div class="xp-ds-list">
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Total:</h4>
                        <span class="xp-ds-subtitle xp-text-jade-alt font-weight-bold" v-text="resume.total"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Activos:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="resume.active"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Inactivos:</h4>
                        <span class="xp-ds-subtitle xp-text-danger font-weight-bold" v-text="resume.inactive"></span>
                    </span>
                </div>
            </div>
        </div>
        <!-- FILTERS -->
        <div class="row m-0 mt-3">
            <div class="col-12 p-0">
                <div class="xp-ds-filters">
                    <div class="xp-ds-filters-block row-m-0">
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4">
                            <div class="xp-ds-form-group xp-ds-form-group-icon w-100">
                                <input class="xp-ds-form-control xp-ds-rounded w-100" type="text" placeholder="Buscar alumno" v-model="filters.search">
                                <span class="xp-ds-form-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">Del:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateFrom" @change="getResume()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">al:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateTo" @change="getResume()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-order col-12 col-md-6 mt-3 pl-3 pl-lg-3">
                            <div class="xp-ds-form-group xp-ds-form-group-resalt w-100">
                                <span class="xp-ds-form-group-resalt-icon">
                                    <i class="fas fa-sort-amount-up"></i>
                                </span>
                                <select class="xp-ds-form-control w-100" v-model="filters.status">
                                    <option v-for="optionD in optionsActives" v-bind:value="optionD.value" v-text="optionD.label" :selected="optionD.value == filters.status"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="filterRegisters()"
                    :filter="filters.search"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <span v-text="data.index + 1"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(username)="data">
                        <span v-text="data.item.username"></span>
                    </template>

                    <!-- A virtual composite column -->
                    <template v-slot:cell(profile)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-text-link" v-on:click="showProfile(data.item.username)">Ver</span>
                        </div>
                    </template>

                    <template v-slot:cell(team)="data" class="text-center">
                        <div class="text-center">
                            <a href="">Ver</a>
                        </div>
                    </template>

                    <template v-slot:cell(suscription)="data" class="text-center">
                        <div class="text-center">
                            <a href="">Ver</a>
                        </div>
                    </template>

                    <template v-slot:cell(date)="data" class="text-center">
                        <div class="text-center" v-text="data.item.date"></div>
                    </template>

                    <template v-slot:cell(active)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-badge xp-badge-success" v-if="data.item.active">Activo</span>
                            <span class="xp-badge xp-badge-warning" v-else>Inactivo</span>
                        </div>
                    </template>

                    <template v-slot:cell(status)="data" class="text-center">
                        <div class="d-flex justify-content-center">
                            <div class="button-cover">
                                <div class="xp-switch-button reverse r">
                                    <input type="checkbox" class="checkbox" :checked="data.item.status == codeLocked" @change="changeStatusUser($event, data.item)" @click="cancelClicked($event, data.item)">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </template>

                    <template v-slot:cell()="data">
                        <span  class="d-flex">
                        </span>
                    </template>
                    <template v-if="totalRows == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-center">
                <div class="xp-table-pagination">
                    <span class="xp-table-pagination-button mr-3">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="xp-table-pagination-page">1</span>
                    <span class="xp-table-pagination-text mx-1">de</span>
                    <span class="xp-table-pagination-total">2</span>
                    <span class="xp-table-pagination-button ml-3">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </div>
            </div>
        </div>

        <!-- PROFILE USER -->
        <students-profile :username="userSelect" v-if="userSelect" @close="closeModal"></students-profile>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                resume: {},
                registers: [],
                totalRows: 0,
                fields: [
                    {key: 'index', label: '#', sortable: true},
                    {key: 'username', label: 'Usuario', sortable: true},
                    {key: 'profile', label: 'Perfil'},
                    {key: 'team', label: 'Equipo'},
                    {key: 'suscription', label: 'Suscripción'},
                    {key: 'date', label: 'Fecha de Registro'},
                    {key: 'active', label: 'Estado', sortable: true},
                    {key: 'status', label: 'Bloqueado', sortable: true},
                ],
                filters:{
                    search: '',
                    dateFrom: null,
                    dateTo: null,
                    status: -1
                },
                optionsActives: [
                    {label: 'Todos', value: -1},
                    {label: 'Activos', value: true},
                    {label: 'Inactivos', value: false},
                ],
                codeLocked: null,
                userSelect: null
			}
        },
        props:[],
		mounted(){
            this.getResume()
        },
        methods: {
            getResume(){
                this.load = true
                axios.post('/panel/estudiantes/resumen', this.filters)
                .then(response => {
                    this.resume = response.data.resume
                    this.registers = response.data.registers
                    this.codeLocked = response.data.codeLocked
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            filterRegisters(){
                let list = []
                this.registers.forEach(register => {
                    if(this.filters.status == -1 || this.filters.status == register.active){
                        list.push(register)
                    }
                })
                this.totalRows = list.length
                return list
            }
        },
        computed: {
        }
    }
</script>