<template>
    <div class="row m-0">
        <!-- LOADER -->
        <loader :show="load"></loader>

        <div class="col-12 px-2 px-md-0 mb-2">
            <h5 class="title">INFORMACIÓN GENERAL</h5>
            <p class="description">
                Bríndanos tus datos para hacer que nuestra experiencia de soporte sea mucho más personal.
            </p>
        </div>
        <div class="col-12 col-md-4 xp-form-group">
            <label class="xp-form-label" for="">Usuario:</label>
            <input class="xp-form-control" type="text" placeholder="Usuario" readonly v-bind:value="user.username">
        </div>
        <div class="col-12 col-md-4 xp-form-group">
            <label class="xp-form-label" for="">Correo electronico:</label>
            <input class="xp-form-control" type="text" placeholder="Correo electronico" readonly v-bind:value="user.email">
        </div>
        <div class="col-12 col-md-4 xp-form-group">
            <label class="xp-form-label" for="">Nombres:</label>
            <input class="xp-form-control" type="text" placeholder="Nombres" v-model="user.profile.name">
        </div>
        <div class="col-12 col-md-4 xp-form-group">
            <label class="xp-form-label" for="">Apellidos:</label>
            <input class="xp-form-control" type="text" placeholder="Apellidos" v-model="user.profile.last_name">
        </div>
        <div class="col-12 col-md-4 xp-form-group">
            <label class="xp-form-label" for="">Celular:</label>
            <input class="xp-form-control" type="text" placeholder="Celular" v-model="user.profile.phone" @keypress="onlyNumbers($event)">
        </div>
        <div class="col-12 col-md-4 xp-form-group">
            <label class="xp-form-label" for="">Mi fecha de nacimiento:</label>
            <input type="date" class="xp-form-control" placeholder="Anótalo aquí" v-model="user.profile.birthdate">
        </div>
        <div class="col-12 col-md-4 xp-form-group">
            <label class="xp-form-label" for="">Sexo:</label>
            <select class="xp-form-control" name="" id="" v-model="user.profile.sex">
                <option :selected="user.profile.sex == 0" value="0">Seleccione</option>
                <option :selected="user.profile.sex == sex" v-for="sex in sexList" v-bind:value="sex" v-text="(sex == 'F')?'Femenino':( sex == 'M'?'Masculino': ( sex == 'NE'?'No Especificar':'' ) )"></option>
            </select>
        </div>
        <div class="col-12 col-md-4 xp-form-group">
            <label class="xp-form-label" for="">Pais:</label>
            <select class="xp-form-control" name="" id="" @change="changeCountry($event)" v-model="update.countryId">
                <option :selected="update.countryId == 0" value="0">Seleccione</option>
                <option :selected="update.countryId == country.id" v-for="country in countries" v-bind:value="country.id" v-text="country.name"></option>
            </select>
        </div>
        <div class="col-12 col-md-4 xp-form-group">
            <label class="xp-form-label" for="">Departamento:</label>
            <select class="xp-form-control" name="" id="" v-model="update.regionId" @change="changeRegion($event)">
                <option :selected="update.regionId == 0" value="0">Seleccione</option>
                <option :selected="update.regionId == region.id" v-for="region in regions" v-bind:value="region.id" v-text="region.name"></option>
            </select>
        </div>
        <div class="col-12 col-md-4 xp-form-group">
            <label class="xp-form-label" for="">Provincia:</label>
            <select class="xp-form-control" name="" id="" v-model="update.cityId">
                <option :selected="update.cityId == 0" value="0">Seleccione</option>
                <option :selected="city.id == update.cityId" v-for="city in cities" v-bind:value="city.id" v-text="city.name"></option>
            </select>
        </div>
        <div class="col-12 col-md-8 xp-form-group">
            <label class="xp-form-label" for="">Dirección:</label>
            <input class="xp-form-control" type="text" placeholder="Dirección" v-model="user.profile.address">
        </div>
        <div class="col-12 xp-form-group mt-4">
            <div class="d-flex">
                <button class="xp-button xp-button-primary xp-button-pd" v-on:click="saveData()">
                    Guardar cambios
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                user: {
                    profile: {},
                    username: '',
                    email: ''
                },
                countries: {},
                regions: {},
                cities: {},
                update: {
                    cityId : 0,
                    countryId: 0,
                    regionId: 0,
                    languageId: 0,
                    typeDocument: 0
                },
                countrySelect: {},
                sexList: ["F", "M", "NE"],
			}
        },
        props:[],
		mounted(){          
            this.getData()
        },
        methods: {
            getData(){
                axios.get('/panel/perfil/datos/obtener')
                .then(response => {
                    this.countries = response.data.countries
                    this.user = response.data.user

                    if(this.user.profile){
                        if(this.user.profile.city){
                            this.update.countryId = this.user.profile.city.region.country.id
                            this.setRegions(this.update.countryId)
                            this.update.regionId = this.user.profile.city.region.id
                            this.setCities(this.update.regionId)
                            this.update.cityId = this.user.profile.city.id
                        }
                        if(!this.user.profile.sex){
                            this.user.profile.sex = 0
                        }

                        if(this.user.profile.type_document){
                            this.update.typeDocument = this.user.profile.type_document
                        }
                    }

                })
                .catch(error => {
                })
            },
            changeCountry(e){
                this.setRegions(e.target.value)
            },
            setRegions(countryId){
                this.regions = []
                this.update.regionId = 0
                this.update.cityId = 0
                this.countries.forEach(country => {
                    if(country.id == countryId){
                        this.regions = country.regions
                    }
                })
            },
            changeRegion(e){
                this.setCities(e.target.value)
            },
            setCities(regionId){
                this.update.cityId = 0
                this.cities = []
                this.countries.forEach((country)=>{
                    if(country.id == this.update.countryId){
                        country.regions.forEach(region => {
                            if(region.id == regionId){
                                this.cities = region.cities
                            }
                        })
                    }
                })
            },
            saveData(){
                if(this.validate()){

                    Swal.fire({
                        title: '¿Está seguro que desea guardar los cambios?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No'
                    })
                    .then((result) => {
                        if (result.value) {

                            this.load = true
                            axios.post('/panel/perfil/datos/guardar', {
                                profile: this.user.profile,
                                update: this.update
                            })
                            .then(response => {

                                if(response.data.error){
                                    toastr.warning(response.data.error)
                                }
                                else if(response.data.success){
                                    this.$emit('reload')
                                    toastr.success('Los cambios se guardaron exitosamente')
                                }
                                else{
                                    toastr.error('Algo salio mal, no se guardaron los cambios')
                                }

                                this.load = false
                            })
                            .catch(error => {
                                toastr.error('Algo salio mal, no se guardaron los cambios')
                                this.load = false
                            })

                        }
                    })
                }
            },
            validate(){
                let result = true
                // this.update.languageNativeId > 0 && this.update.languageLearnId > 0
      
                return result
            },
            validEmail(email){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            onlyNumbers(e){
                let key = window.Event ? e.which : e.keyCode
                if(key >= 48 && key <= 57){

                }
                else{
                    e.preventDefault();
                }
            }
        },
        computed: {
        }
    }
</script>