<template>
    <div>
        <div class="row m-0 pb-5 xp-border-bottom">
            <loader :show="load"></loader>
            <div class="col-12 px-2 px-md-0 mb-2">
                <h5 class="title">CAMBIO DE CONTRASEÑA</h5>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Contraseña actual:</label>
                <span class="xp-form-control-icon">
                    <input class="xp-form-control alert-aboslute" placeholder="Escribe aquí" v-model="user.password" v-bind:type="fieldShow.includes('password')?'text':'password'" v-bind:class="{ filled:user.password.length>0, invalid: errors.includes('password') }">
                    <span class="xp-form-group-super-icon cursor-pointer" v-on:click="changeFieldShow('password')">
                        <i v-if="fieldShow.includes('password')" class="fas fa-eye"></i>
                        <i v-else class="fas fa-eye-slash"></i>
                    </span>
                    <span class="xp-form-super-alert xp-text-warning-alt">
                        Entre 4 a 20 caracteres
                    </span>
                </span>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Nueva contraseña:</label>
                <span class="xp-form-control-icon">
                    <input class="xp-form-control alert-aboslute" placeholder="Escribe aquí" v-model="user.confirmPassword" v-bind:type="fieldShow.includes('confirmPassword')?'text':'password'" v-bind:class="{ filled:user.confirmPassword.length>0, invalid: errors.includes('confirmPassword') }">
                    <span class="xp-form-group-super-icon cursor-pointer" v-on:click="changeFieldShow('confirmPassword')">
                        <i v-if="fieldShow.includes('confirmPassword')" class="fas fa-eye"></i>
                        <i v-else class="fas fa-eye-slash"></i>
                    </span>
                    <span class="xp-form-super-alert xp-text-warning-alt">
                        Entre 4 a 20 caracteres
                    </span>
                </span>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <button class="xp-button xp-button-primary xp-button-pd xp-button-margin" v-on:click="savePassword()">
                    Guardar cambios
                </button>
            </div>
            <div class="col-12 d-flex justify-content-center mt-3" v-if="error">
                <div class="xp-message-alert xp-message-alert-warning"> 
                    <span v-text="error"></span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                user: {
                    password: '',
                    confirmPassword: ''
                },
                fieldShow: [],
                errors: [],
                error: null,
                changes: false
			}
        },
        props:[],
		mounted(){
        },
        methods: {
            changeFieldShow(field){
                if(this.fieldShow.includes(field)){
                    let indexField = this.fieldShow.indexOf(field)
                    if(indexField>=0){
                        this.fieldShow.splice(indexField, 1)
                    }
                }
                else{
                    this.fieldShow.push(field)
                }
            },
            savePassword(){
                this.validate()
                if(this.errors.length==0 && !this.error){
                    Swal.fire({
                        title: '¿Está seguro que desea guardar los cambios?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No'
                    })
                    .then((result) => {
                        if (result.value) {

                            this.load = true
                            axios.post('/panel/perfil/password/guardar', this.user)
                            .then(response => {

                                if(response.data.error){
                                    toastr.warning(response.data.error)
                                }
                                else if(response.data.success){
                                    this.$emit('reload')
                                    toastr.success('Contraseña actualizada exitosamente')
                                    this.user.password = ''
                                    this.user.confirmPassword = ''
                                }
                                else{
                                    toastr.error('Algo salio mal, no se guardaron los cambios')
                                }

                                this.load = false
                            })
                            .catch(error => {
                                toastr.error('Algo salio mal, no se guardaron los cambios')
                                this.load = false
                            })

                        }
                    })
                }
            },
            validate(){
                this.errors = []
                this.error = null
                if(this.user.password.length>0 && this.user.confirmPassword.length>0){
                    if(this.user.password.length<4 || this.user.password.length>20){
                        this.errors.push("password")
                    }
                    else{
                        if(this.user.password!=this.user.confirmPassword){
                            this.error = "Las contraseñas no coinciden"
                        }
                    }

                }
                else{
                    this.errors.push("clear")
                }
            },
            searchContent(e){
                let searchContent = e.target.value
                if(this.search.content.trim() == ''){
                    this.search.results.genders = []
                    this.search.results.artists = []
                    this.search.results.songs = []
                }
                else{
                    this.loadSearch = true
                    axios.get('/perfil/contenido/bloqueo/' + searchContent)
                    .then(response => {
                        this.search.results = response.data.results
                        this.loadSearch = false
                    })
                    .catch(error => {
                    })
                }
            },
            confirmSaveData(){
                if(this.requestCode.code.trim().length>0){
                    this.load = true
                    axios.post('/perfil/contenido/bloqueado/guardar', {
                        restricted: this.restricted,
                        removed: this.removed,
                        token: this.requestCode.code
                    })
                    .then(response => {
                        if(response.data.success){
                            toastr.success(response.data.message)
                            this.requestCode.code = ''
                            this.requestCode.show = false
                        }
                        else{
                            toastr.warning(response.data.message) 
                        }
                        this.load = false
                    })
                    .catch(error => {
                        this.load = false
                        toastr.warning('Algo salio mal, los cambios no se guardaron correctamente')
                    })
                }
            }
        },
        computed: {
        }
    }
</script>