<template>
        <div class="full-data-profile-content pt-4 pt-md-5">
            <!-- LOADER -->
            <loader :show="load"></loader>
            <div class="row m-0" v-if="user">
                <div class="col-12 col-md-4 p-0">
                    <div class="card-data-profile">
                        <div class="card-data-profile-header">
                            <h4 class="pt-0 pt-md-3">Mi perfil</h4>
                        </div>
                        <div class="card-data-profile-body">
                            <div class="card-data-profile-body-picture">
                                <img src="/img/artists/artist-1.jpg" alt="">
                            </div>
                            <div class="card-data-profile-name mt-4">
                                <span v-text="getFullName()"></span>
                            </div>
                            <div class="card-data-profile-username mt-3">
                                <span v-text="user.username"></span>
                            </div>
                            <div class="card-data-profile-age mt-3">
                                <span v-text="(age)?(age + ' años'):'Edad'"></span>
                            </div>
                            <div class="card-data-profile-address mt-3">
                                <span v-text="getCity()"></span>
                                <span class="mx-1">-</span>
                                <span v-text="getCountry()"></span>
                            </div>
                            <div class="card-data-profile-points xp-border-bottom xp-border-top pb-3 mt-3">
                                <span class="card-data-profile-points-text mt-1">
                                    <span class="font-weight-bold">Rol : </span>
                                    <span v-text="user.role.name"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-8 p-0">
                    <div class="card-data-profile-detail">
                        <div class="card-data-profile-detail-header">
                            <ul class="row nav nav-tabs xp-nav-tabs" id="tab-profile-detail" role="tablist">
                                <li class="col-12 col-md-6 px-0 nav-item xp-nav-item">
                                    <a class="nav-link xp-nav-link active" id="xp-profile-tab" data-toggle="tab" href="#xp-profile-tab-detail" role="tab" aria-controls="xp-profile-tab-detail" aria-selected="true">MI CUENTA</a>
                                </li>
                                <li class="col-12 col-md-6 px-0 nav-item xp-nav-item">
                                    <a class="nav-link xp-nav-link" id="xp-detail-tab" data-toggle="tab" href="#xp-detail-tab-detail" role="tab" aria-controls="xp-detail-tab-detail" aria-selected="false">CONFIGURACIONES</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-data-profile-detail-body px-2">
                            <div class="tab-content xp-tab-content" id="tab-profile-detail-content">
                                <div class="tab-pane xp-tab-pane show fade active" id="xp-profile-tab-detail" role="tabpanel" aria-labelledby="xp-profile-tab">
                                    <div class="xp-data-detail">
                                        <admin-profile-account @reload="reload"></admin-profile-account>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="xp-detail-tab-detail" role="tabpanel" aria-labelledby="xp-detail-tab">
                                    <div class="xp-data-detail">
                                        <admin-profile-configuration></admin-profile-configuration>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
</template>
<script>
import Swal from 'sweetalert2'
import moment from 'moment'

    export default {
       data(){
			return{
                load: false,
                user: null,
                age: null
			}
        },
        props:[],
		mounted(){
            this.getData()
        },
        methods: {
            getData(){
                this.load = true
                axios.get('/panel/perfil/datos')
                .then(response => {
                    this.user = response.data.user
                    this.age = response.data.age
                    this.load = false
                })
                .catch(error => {
                    this.show = false
                })
            },
            getFullName(){
                let fullName = 'Nombre completo'
                if(this.user.profile){
                    if(this.user.profile.name){
                        fullName = this.user.profile.name
                    }

                    if(this.user.profile.last_name){
                        if(this.user.profile.name){
                            fullName += ' '
                        }
                        fullName += this.user.profile.last_name
                    }
                }

                return fullName
            },
            getCountry(){
                let country = 'País';
                if(this.user.profile){
                    if(this.user.profile.city){
                        country = this.user.profile.city.region.country.name
                    }
                }

                return country
            },
            getCity(){
                let city = 'Ciudad';
                if(this.user.profile){
                    if(this.user.profile.city){
                        city = this.user.profile.city.name
                    }
                }

                return city
            },
            reload(){
                this.getData()
            }
        },
        computed: {
        }
    }
</script>