<template>
    <div class="d-flex">
        <dashboard-artists-list v-if="nav=='list'" @change="changeNav"></dashboard-artists-list>
        <dashboard-artists-create :id="idArtist" v-if="nav=='create'" @change="changeNav"></dashboard-artists-create>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                nav: 'list',
                idArtist: null
			}
        },
        props:[],
		mounted(){
        },
        methods: {
            changeNav(navValue){
                this.idArtist = navValue.id
                this.nav = navValue.nav
            }
        },
        computed: {
        }
    }
</script>