<template>
    <div class="d-flex">
        <loader :show="load"></loader>
        <div class="d-flex flex-column flex-md-row">
            <div class="xp-card-info bg-white" v-if="artist.stage_name">
                <div class="xp-card-info-header">
                    <div class="xp-card-info-picture">
                        <div class="row m-0">
                            <div class="col-12 col-md-4 mx-auto">
                                <img class="xp-card-info-picture-rounded" v-bind:src="'/storage/artists/' + artist.picture" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xp-card-info-body" v-if="artist.songs">
                    <span class="xp-card-info-subtitle mb-2" v-text="'ARTISTA - ' + artist.songs.length + ' CANCION' + (artist.songs.length>1?'ES':'')"></span>
                    <span class="xp-card-info-title mb-2" v-text="artist.stage_name"></span>
                    <span class="xp-card-info-text mb-2 xp-text-dark">
                        <span v-for="(gender, index) in artist.genders" v-text="gender.name + (index < (artist.genders.length -1)?',':'')"></span>
                    </span>
                    <span class="xp-card-info-text mb-2 xp-text-dark" v-text="artist.views + ' vistas'"></span>
                </div>
            </div>
            <!-- SONGS -->
            <div class="xp-songs-list mt-3 mt-md-0">
                <a v-for="(song, index) in artist.songs" class="xp-songs-list-item row m-0 xp-bg-dark xp-border-radius-md" v-bind:href="'/cancion/' + song.id + '/' + song.slug">
                    <span class="col-1 xp-songs-list-item-num" v-text="index + 1"></span>
                    <span class="col-2 col-md-3 xp-songs-list-item-cover">
                        <figure style="width:100%; height:auto; margin: 0;">
                            <img v-bind:src="testOriginSong(song.cover)" alt="" style="height:auto;">
                        </figure>
                    </span>
                    <span class="col-5 col-md-4 xp-songs-list-item-box-title pl-2">
                        <span class="xp-songs-list-item-title xp-font-1" v-text="song.name"></span>
                    </span>
                    <span class="col-2 xp-songs-list-item-status">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="col-2 xp-songs-list-item-time" v-text="song.duration"></span>
                </a>
            </div>
            <!-- END SONGS -->
        </div>
    </div>
</template>
<script>
import moment from 'moment'

    export default {
       data(){
			return{
                load: false,
                artist: {}
			}
        },
        props:["id"],
		mounted(){
            this.getDataArtist()
        },
        methods: {
            getDataArtist(){
                this.load = true
                axios.post('/panel/artistas/datos', {
                    id: this.id
                })
                .then(response => {
                    this.artist = response.data.artist
                    this.load = false

                })
                .catch(error => {
                    this.load = false
                })
            },
            testOrigin(url){
                let evaluate = /^(http|https):\/\//
                let result = url
                if(!evaluate.test(url)){
                    result = ('/storage/artists/' + url)
                }
                return result
            },
            testOriginSong(url){
                let evaluate = /^(http|https):\/\//
                let result = url
                if(!evaluate.test(url)){
                    result = ('/storage/songs/' + url)
                }
                return result
            }
        },
        computed: {
        }
    }
</script>