<template>
    <div class="d-flex flex-column animated fadeIn w-100">

        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12 d-flex justify-content-between flex-column flex-md-row mb-3">
                <h2 class="xp-ds-title xp-text-primary m-0">
                    <span class="cursor-pointer" @click="changeNav('list', null)">
                        <i class="fas fa-chevron-left mr-2"></i>
                    </span>
                    {{ artist.id?artist.name:'Regresar a la lista'}}
                </h2>
            </div>
        </div>
        <div class="row m-0 px-0 px-md-1">
            <div class="col-12 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border xp-form-control-material" type="text" placeholder="Nombre del artista..." v-model="artist.stage_name" v-bind:class="{ filled:artist.stage_name.length>0 }" maxlength="500" @keyup="getSlug($event)">
                <label class="xp-form-group-super-label">
                    <span>Nombre del artista</span>
                </label>
            </div>
            <div class="col-12 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border xp-form-control-material" type="text" placeholder="Slug del artista..." v-model="artist.slug" v-bind:class="{ filled:artist.slug.length>0 }" maxlength="500">
                <label class="xp-form-group-super-label">
                    <span>Slug del artista</span>
                </label>
            </div>
            <div class="col-12 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-material xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="text" placeholder="Link de la foto de la canción..." v-model="artist.picture" v-bind:class="{ filled:artist.picture.length>0 }">
                <label class="xp-form-group-super-label">
                    <span>Link de la foto del artista</span>
                </label>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2 justify-content-end">
                <input type="checkbox" class="xp-form-control checkbox checkbox-default" id="artistImportant" v-model="artist.important"/>
                <label for="artistImportant" class="xp-form-control-label">
                   Artista destacado
                </label>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-material xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="number" placeholder="N° de orden..." v-model="artist.order" v-bind:class="{ filled:artist.order>=0 }">
                <label class="xp-form-group-super-label">
                    <span>N° de orden</span>
                </label>
            </div>
            <!-- <div class="col-12 col-md-6 xp-form-group-super px-2 justify-content-end">
                <input type="checkbox" class="xp-form-control checkbox checkbox-default" id="artistPublished" v-model="artist.published"/>
                <label for="artistPublished" class="xp-form-control-label">
                   Publica
                </label>
            </div> -->
            <div class="col-12 col-md-6 xp-form-group-super px-2 mt-5 xp-multiselect-material">
                <multiselect v-model="artist.languages" :options="languages" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Seleccione lenguajes" label="name" track-by="name">
                    <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} Lenguajes Seleccionados</span></template>
                </multiselect>
                <div class="xp-multiselect-selected mt-3" v-if="artist.languages.length>0">
                    <div class="xp-multiselect-selected-item" v-for="(language, index) in artist.languages">
                        <span class="xp-multiselect-selected-text" v-text="(index + 1) + '° ' + language.name">
                        </span>
                        <span class="xp-multiselect-selected-icon xp-text-danger" @click="removeLanguage(index)">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2 mt-5 xp-multiselect-material">
                <multiselect v-model="artist.genders" :options="genders" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Seleccione generos" label="name" track-by="name">
                    <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} Generos Seleccionados</span></template>
                </multiselect>
                <div class="xp-multiselect-selected mt-3" v-if="artist.genders.length>0">
                    <div class="xp-multiselect-selected-item" v-for="(gender, index) in artist.genders">
                        <span class="xp-multiselect-selected-text" v-text="(index + 1) + '° ' + gender.name">
                        </span>
                        <span class="xp-multiselect-selected-icon xp-text-danger" @click="removeGender(index)">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <button class="xp-button xp-button-primary mt-md-0 xp-button-pd" @click="saveData">
                    Guardar cambios
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2'
import Multiselect from 'vue-multiselect'

    export default {
        components: { Multiselect },
        data(){
			return{
                load: false,
                artist: {
                    id: null,
                    stage_name: '',
                    slug: '',
                    picture: '',
                    important: false,
                    published: false,
                    order: 0,
                    genders: [],
                    languages: []
                },
                genders: [],
                languages: [],
                removed: {
                    genders: [],
                    languages: []
                },
                original: {
                    genders: [],
                    languages: []
                },
                new: {
                    genders: [],
                    languages: []
                }
			}
        },
        props:["id"],
		mounted(){
            this.getGenders()
            this.getLaguages()

            if(this.id){
                this.getDataArtist()
            }
        },
        methods: {
            changeNav(nav, id){
                Swal.fire({
                    title: '¿Estás seguro que deseas salir de la edicion?',
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    let navData = {
                        nav:nav,
                        id: id
                    }
                    if(result.value){
                        this.$emit('change', navData)
                    }
                })
            },
            getGenders(){
                axios.get('/contenido/generos/list')
                .then(response => {
                    this.genders = response.data.genders
                })
                .catch(error => {
                })
            },
            getLaguages(){
                axios.get('/idiomas')
                .then(response => {
                    response.data.languages.forEach(language => {
                        language.status = 0
                        language.file = null
                    });
                    this.languages = response.data.languages
                })
                .catch(error => {
                })
            },
            getSlug(e){
                let slug = ''
                e.target.value.trim().split(' ').forEach((caracter)=>{
                    if(caracter.trim().length>0){
                        if(slug.length!=0){
                            slug += '-'
                        }

                        slug+= caracter.trim().toLowerCase()
                    }
                })
                this.artist.slug = slug
            },
            saveData(){
                if(this.validate()){
                    Swal.fire({
                        title: '¿Estás seguro que deseas guardar los datos?',
                        text: "",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No',
                        customClass: {
                            container: 'xp-sweet-container-xs'
                        }
                    })
                    .then((result) => {
                        if(result.value){
                            this.load = true
                            this.generateRemoved()
                            this.generateNews()
                            axios.post('/panel/artistas/guardar', {
                                artist: this.artist,
                                removed: this.removed,
                                news: this.new
                            })
                            .then(response => {
                                this.load = false
                                if(response.data.success){
                                    if(this.id){
                                        this.getDataArtist()
                                    }
                                    Swal.fire({
                                        icon: 'success',
                                        title: response.data.message,
                                        showConfirmButton: true,
                                        confirmButtonText:'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })

                                    let navData = {
                                        nav:'list',
                                        id: null
                                    }
                                    this.$emit('change', navData)

                                }
                                else{
                                    Swal.fire({
                                        icon: 'info',
                                        title: response.data.message,
                                        showConfirmButton: true,
                                        confirmButtonText:'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })
                                }
                            })
                            .catch(error => {
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Oh no, no pudimos guardar la informacion',
                                    showConfirmButton: true,
                                    confirmButtonText:'Entendido',
                                    customClass: {
                                        container: 'xp-sweet-container-xs'
                                    }
                                })
                                this.load = false
                            })
                        }
                    })
                }
            },
            validate(){
                let result = true
                if(this.artist.stage_name.length == 0 || this.artist.picture.length == 0){
                    result = false
                    toastr.warning('Complete todos los campos por favor')
                }
                // else if(this.song.genders.length == 0 || this.song.artists.length == 0 || this.song.subtitles.length == 0){
                    // result = false
                //     toastr.warning('Debe seleccionar por lo menos un genero, un artista y un subtitulo')
                // }
                return result
            },
            generateRemoved(){
                // REMOVED GENDERS
                this.original.genders.forEach(gender => {
                    let exist = false
                    this.artist.genders.forEach(artistGender => {
                        if(artistGender.id == gender){
                            exist = true
                        }
                    })
                    if(!exist){
                        this.removed.genders.push(gender)
                    }
                } )

                // REMOVED LANGUAGES
                this.original.languages.forEach(language => {
                    let exist = false
                    this.artist.languages.forEach(artistLanguage => {
                        if(artistLanguage.id == language){
                            exist = true
                        }
                    })
                    if(!exist){
                        this.removed.languages.push(language)
                    }
                } )

            },
            generateNews(){
                // NEWS GENDERS
                this.artist.genders.forEach(artistGender => {
                    if(!this.original.genders.includes(artistGender.id)){
                        this.new.genders.push(artistGender.id)
                    }
                })

                // NEWS LANGUAGES
                this.artist.languages.forEach(artistLanguage => {
                    if(!this.original.languages.includes(artistLanguage.id)){
                        this.new.languages.push(artistLanguage.id)
                    }
                })
            },
            getDataArtist(){
                this.load = true
                axios.post('/panel/artistas/datos', {
                    id: this.id
                })
                .then(response => {
                    response.data.artist.genders.forEach(gender => {
                        this.original.genders.push(gender.id)
                    })

                    response.data.artist.languages.forEach(language => {
                        this.original.languages.push(language.id)
                    })

                    this.artist = response.data.artist
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            removeGender(index){
                this.artist.genders.splice(index, 1)
            },
            removeLanguage(index){
                this.artist.languages.splice(index, 1)
            }
        },
        computed: {
        }
    }
</script>