<template>
    <!-- LOADER -->
    <div class="row justify-content-center mx-0">
        <div class="col-lg-12">
            <div class="xp-section-bar">
                <div class="xp-section-title">
                    <h5 class="title xp-text-primary">Artists</h5>
                    <p class="subtitle xp-text-gray-down" v-text="'TOTAL: '+artists.length"></p>
                </div>
            </div>
        </div>
        <div class="col-12 p-0">
            <div class="xp-songs-grid">
                <div class="xp-songs-grid-item resize" v-for="artist in artists">
                    <a class="xp-card-single resize" v-bind:href="'/artistas/'+artist.slug">
                        <div class="xp-card-single-main">
                            <div class="xp-card-single-header resize xp-card-single-header-rounded">
                                <!-- <img v-bind:src="testOrigin(artist.picture)" alt=""> -->
                                <div class="xp-card-single-header-pinture rounded" v-bind:style="{background:('url(' + testOrigin(artist.picture) + ')')}"></div>
                                <div class="xp-card-single-header-alt xp-card-single-header-rounded-alt">
                                </div>
                            </div>
                            <div class="xp-card-single-body">
                                <div class="xp-card-single-body-title">
                                    <h5 class="" v-text="artist.stage_name"></h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col p-0 mt-5">
            <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="25" @paginate="getArtists"></pagination>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
                return{
                  artists: [],
                  page: 0,
                  pagination: {
                        'current_page': 1
                    },
                    parameters: {
                      type: null,
                      gender: null,
                      language: null,
                      year: null
                  },
                }
            },
            props:[],
            mounted(){
                // document.addEventListener('DOMContentLoaded', ()=>{
                //     document.addEventListener('scroll', ()=>{
                //         if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight){
                //             this.page++
                //             this.getArtists()
                //         }
                //     })
                // })

                let url = window.location.href.split('?')
                if(url.length>1){
                    let parameters = url[1].split('&')
                    parameters.forEach((parameter)=>{
                        let listVar = parameter.split('=')
                        if(listVar.length>1){
                            if(listVar[0] == "tipo"){
                                this.parameters.type = (listVar[1].length==0?null:listVar[1])
                            }
                            if(listVar[0] == "genero"){
                                this.parameters.gender = (listVar[1].length==0?null:listVar[1])
                            }
                            if(listVar[0] == "lenguaje"){
                                this.parameters.language = (listVar[1].length==0?null:listVar[1])
                            }
                            if(listVar[0] == "anio"){
                                this.parameters.year = (listVar[1].length==0?null:listVar[1])
                            }
                        }
                    })
                }
                else{
                    this.parameters.type = null
                    this.parameters.gender = null
                    this.parameters.language = null
                    this.parameters.year = null
                }

                this.getArtists()
            },
            methods: {
                testOrigin(url){
                    let evaluate = /^(http|https):\/\//
                    let result = url
                    if(!evaluate.test(url)){
                        result = ('/storage/songs/' + url)
                    }
                    return result
                },
                getArtists(){
                    axios.post('/contenido/artistas/completa?page=' + this.pagination.current_page, this.parameters)
                    .then(response => {
                        this.artists = response.data.artists.data
                        this.pagination = response.data.pagination;
                    })
                    .catch(error => {
                    }) 
                },
            },
            computed: {
            }
        }
</script>
