<template>
    <!-- LOADER -->
   <div class="xp-card-info">
       <loader :show="show"></loader>
        <div class="xp-card-info-header xp-card-artist-sm">
            <a class="xp-card-info-button" v-bind:href="'/'">
                <i class="fas fa-chevron-left"></i>
            </a>
            <div class="xp-card-info-picture d-flex justify-content-center">
                <img class="xp-card-info-picture-rounded xp-card-info-artist-picture" v-bind:src="testOrigin(artist.picture)" alt="">
            </div>
            <span class="xp-card-info-button xp-text-primary" v-on:click="saveFavorites()" v-bind:class="{'cf-icon-animation': favorite}">
                <i class="fas fa-heart" v-if="isFavorite()"></i>
                <i class="far fa-heart" v-else></i>
            </span>
        </div>
        <div class="xp-card-info-body" v-if="artist.songs">
            <span class="xp-card-info-subtitle mb-2" v-text="'ARTISTA - ' + artist.songs.length + ' CANCION' + (artist.songs.length>1?'ES':'')"></span>
            <span class="xp-card-info-title mb-2" v-text="artist.stage_name"></span>
            <span class="xp-card-info-text mb-2">
                <span v-for="(gender, index) in artist.genders" v-text="gender.name + (index < (artist.genders.length -1)?',':'')"></span>
            </span>
            <!-- <span class="xp-card-info-text mb-2">129 vistas</span> -->
        </div>
    </div>
</template>
<script>
import Slick from 'vue-slick';

    export default {
        components: { 
            Slick,
        },
        data(){
                return{
                    artist: {},
                    authenticate: false,
                    favorites: [],
                    show: false,
                    favorite: false
                }
            },
            props:["slug"],
            mounted(){
                this.getData()
            },
            methods: {
                getData(){
                    axios.get('/contenido/artistas/informacion/'+this.slug)
                    .then(response => {
                        this.artist = response.data.artist
                        this.authenticate = response.data.authenticate
                        this.favorites = response.data.favorites
                    })
                    .catch(error => {
                    }) 
                },
                saveFavorites(){
                    if(this.authenticate){
                        this.show = true
                        axios.post('/favoritos/artistas/guardar', {
                            artistId: this.artist.id
                        })
                        .then(response => {
                            if(response.data.favorite){
                                toastr.success('Guardado en favoritos')
                            }
                            else{
                                toastr.warning('Quitado de favoritos')
                            }
                            this.getFavorites()
                            this.show = false
                        })
                        .catch(error => {
                            toastr.warning('No pudimos guardar los cambios')
                        }) 
                    }
                    toastr.options = {
                      "closeButton": false,
                      "debug": true,
                      "newestOnTop": false,
                      "progressBar": true,
                      "positionClass": "toast-top-right",
                      "preventDuplicates": false,
                      "onclick": null,
                      "showDuration": "300",
                      "hideDuration": "1000",
                      "timeOut": "1000",
                      "extendedTimeOut": "1000",
                      "showEasing": "swing",
                      "hideEasing": "linear",
                      "showMethod": "fadeIn",
                      "hideMethod": "fadeOut"
                    }
                },
                getFavorites(){
                    axios.get('/favoritos/artistas/lista/')
                    .then(response => {
                        this.favorites = response.data.favorites
                        this.favorite = false
                        this.favorites.forEach((favorite)=>{
                            if(favorite.artist_id == this.artist.id){
                                this.favorite = true
                            }
                        })
                    })
                    .catch(error => {
                    }) 
                },
                isFavorite(){
                    let result = false
                    this.favorites.forEach((favorite) => {
                        if(favorite.artist_id == this.artist.id){
                            result = true
                        }
                    })
                    return result
                },
                testOrigin(url){
                    let evaluate = /^(http|https):\/\//
                    let result = url
                    if(!evaluate.test(url)){
                        result = ('/storage/artists/' + url)
                    }
                    return result
                }
            },
            computed: {
            }
        }
</script>
