<template>
    <!-- LOADER -->
    <div class="xp-slider-card-content">
        <span class="xp-card-single-button prev d-none d-md-block"  v-on:click="prev()">
            <i class="fas fa-chevron-left"></i>
        </span>
        <div class="d-flex" v-if="loaded">
            <slick ref="slick" :options="slickOptions">
                <a class="xp-card-single" v-for="artist in artists" v-bind:href="'/artistas/'+artist.slug">
                    <div class="xp-card-single-main">
                        <div class="xp-card-single-header xp-card-single-header-rounded">
                            <!-- <img v-bind:src="testOrigin(artist.picture)" alt=""> -->
                            <div class="xp-card-single-picture rounded" v-bind:style="{background:('url(' + testOrigin(artist.picture) + ')')}"></div>
                            <div class="xp-card-single-header-alt xp-card-single-header-rounded-alt">
                            </div>
                        </div>
                        <div class="xp-card-single-body">
                            <div class="xp-card-single-body-title">
                                <h5 class="" v-text="artist.stage_name"></h5>
                            </div>
                        </div>
                    </div>
                </a>
            </slick>
        </div>
        <span class="xp-card-single-button next d-none d-md-block" v-on:click="next()">
            <i class="fas fa-chevron-right"></i>
        </span>
    </div>
</template>
<script>
import Slick from 'vue-slick';

    export default {
        components: { 
            Slick,
        },
        data(){
                return{
                    artists: [],
                    slickOptions: {
                        slidesToShow: 5
                    },
                    loaded: false
                }
            },
            props:[],
            mounted(){
                this.getData()

                document.addEventListener('DOMContentLoaded', ()=>{
                    let vw = Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
                    if(vw <= 576){
                        this.slickOptions.slidesToShow = 2
                    }
                })

                window.addEventListener('resize', ()=>{
                    let vw = Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
                    if(vw <= 576){
                        this.slickOptions.slidesToShow = 2
                        this.reInit()
                    }
                    else{
                        this.slickOptions.slidesToShow = 5
                        this.reInit()
                    }
                })
            },
            methods: {
                next() {
                    this.$refs.slick.next();
                },
                prev() {
                    this.$refs.slick.prev();
                },
                reInit() {
                    // Helpful if you have to deal with v-for to update dynamic lists
                    this.$nextTick(() => {
                        this.$refs.slick.reSlick();
                    });
                },
                getData(){
                    axios.get('/contenido/artistas/list')
                    .then(response => {
                        this.artists = response.data.artists
                        this.loaded = true
                    })
                    .catch(error => {
                    }) 
                },
                 testOrigin(url){
                    let evaluate = /^(http|https):\/\//
                    let result = url
                    if(!evaluate.test(url)){
                        result = ('/storage/songs/' + url)
                    }
                    return result
                }
            },
            computed: {
            }
        }
</script>
