<template>
    <div class="xp-player-card">

        <!-- HEADER VIDEO -->
        <div class="xp-functions xp-functions-absolute" v-bind:class="{'show-video':settings.showVideo, 'show-video-top':player?(player.playing?true:false):false}">
            <div class="xp-functions-header">
                <div class="xp-functions-menu">
                    <div class="d-flex">
                        
                        <div class="xp-functions-menu-item mr-3">
                            <span class="xp-functions-menu-button" v-on:click="showVideo()" data-toggle="collapse" data-target="#xpCollapseVideo" aria-expanded="false" aria-controls="xpCollapseVideo">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class="xp-functions-menu-item">
                            <span class="xp-functions-menu-button xp-decoration" v-on:click="SentChanges()">
                                Guardar
                                <i class="fas fa-save ml-1"></i>
                                <!-- <img src="/img/times.svg" v-else class="ml-2" alt=""> -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- LOADER -->
        <loader :show="load"></loader>
        <div class="xp-player-card-header player-srt-editor collapse show" id="xpCollapseVideo" style="margin:auto;">
            <div class="xp-player-card-video">
                <div class="plyr__video-embed" id="player">
                    <iframe
                        v-bind:src="dataInit.song.video"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"
                    ></iframe>
                </div>
                <!-- ARROW VIDEO -->
                    <span class="xp-player-card-arrow-button left" v-if="(player?(!player.playing?true:false):false) && tabs.repeat.active" @click="prevRangeVideo()">
                        <i class="fas fa-chevron-left"></i>
                    </span>

                    <span class="xp-player-card-button-round" v-if="player?(!player.playing?true:false):false" @click="tabs.karaoke.active?actionVideo('play'):setPlaySelect(settings.pagination.currentPage)">
                        <i class="fas fa-play"></i>
                    </span>

                    <span class="xp-player-card-arrow-button right" v-if="(player?(!player.playing?true:false):false) && tabs.repeat.active" @click="nextRangeVideo()">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                    <span class="xp-player-card-button-complete" v-if="player?(player.playing?true:false):false" @click="actionVideo('pause')">

                    </span>
                <!-- </div> -->

                <!-- TABS LIST AND LOGO -->
                <div class="xp-tabs-absolute" v-if="player">
                    <div class="xp-tabs-absolute-content" v-if="!player.playing">
                        <div class="xp-tabs-absolute-item">
                            <span class="text-white xp-font-1" v-text="settings.timeLine.progressVideo"></span>
                            <span class="text-white xp-font-1 px-1">/</span>
                            <span class="text-white xp-font-1" v-text="formatTimeText(settings.timeLine.max)"></span>
                        </div>
                        <div class="xp-tabs-absolute-item">
                            <img class="xp-tabs-absolute-item-img xp-opacity-8" src="/img/youtube-white.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>


            <!-- TIME PROGRESS -->
            <div class="xp-player-bar">
                <div class="xp-player-bar-item xp-player-bar-time">
                    <div class="slider-container">
                        <span class="bar">
                            <span class="fill" v-bind:style="{width: settings.timeLine.width + '%'}"></span>
                        </span>
                        <input type="range" v-bind:min="settings.timeLine.min" v-bind:max="settings.timeLine.max" v-bind:step="settings.timeLine.step" v-bind:value="video.currentTime" class="slider" @input="changeTimerVideo($event, null)">
                    </div>
                </div>
               
            </div>
            <!-- END TIME PROGRESS -->
        </div>
        <div class="xp-player-card-body xp-music-nocomplete" v-bind:class="{'xp-music-complete':settings.expand, 'pt-0':settings.showVideo, 'xp-player-card-body-absolute':tabs.dictation.active}">
            <div class="xp-functions">
                <div class="xp-funcitons-body" v-bind:class="{'xp-funcitons-body-complete':(settings.gems.active || settings.expand), 'xp-funcitons-body-max':settings.expand}">
                    <div class="xp-functions-subtitles xp-back-cover xp-backcontent">
                        <div class="xp-functions-subtitles-content" style="display:block">
                            <!-- SUBTITLES BOX -->
                            <div class="xp-functions-subtitles-body xp-functions-subtitles-body-complete" v-if="settings.gems.active">
                                <div class="xp-functions-subtitles-list">
                                    <div class="xp-functions-subtitles-list-item" v-for="(subtitle, indexLine) in settings.gems.subtitles">
                                        <div class="xp-functions-subtitles-list-item-content">
                                            <span class="xp-functions-subtitles-item-button" @click="setPlaySelect(indexLine)" v-bind:class="{'xp-text-jade':(subtitle.approve == 1), 'xp-text-danger':subtitle.approve==2}">
                                                <i v-if="settings.playSelect.active && settings.playSelect.index == indexLine" class="fas fa-pause-circle"></i>
                                                <i v-else class="fas fa-play-circle"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- SUBTITLES NORMAL -->
                            <div class="xp-functions-subtitles-body" v-bind:class="{'xp-functions-subtitles-body-max':settings.expand}" style="height: 100%" v-else>
                                <div class="xp-functions-subtitles-list" id="xp-functions-subtitles-scroll">
                                    <div class="xp-functions-subtitles-list-item" v-for="(line, indexLine) in subtitles" v-bind:class="{active:getActiveLine(indexLine, 'cf-line-subtitle-'+indexLine), block:tabs.repeat.active}" v-if="getShowLine(indexLine)" v-bind:id="'cf-line-subtitle-'+indexLine" style="margin-bottom:20px;min-height: 25%">
                                        <!-- SUBTITLE LYRICS -->
                                        <div class="xp-functions-subtitles-list-item-content">
                                            <span class="xp-functions-subtitles-item-button m-auto" @click="setPlaySelect(indexLine)">
                                                <i v-if="settings.playSelect.active && settings.playSelect.index == indexLine && player.playing" class="fas fa-pause-circle"></i>
                                                <i v-else class="fas fa-play-circle"></i>
                                            </span>
                                            <!-- LINE TEXT -->
                                            <div class="xp-functions-subtitles-item-text" style="display: flex">
                                                <div class="xp-functions-subtitles-item-group">
                                                    <span v-text="indexLine+1" class="text-srt-editor mr-1"></span>
                                                    <textarea style="width:90%;" class="text-srt-editor" v-model="line.content" @input="changeTimeLine(indexLine)">
                                                    </textarea>
                                                    <div class="pl-1 srt-content-times">
                                                        <div class="startdiv">
                                                            de
                                                            <input type="number" :value="line.startorigin.hour" step="1"  min="0" max="23" v-bind:id="'starthour'+indexLine" class="time-editor-srt" @change="changeTimeLine(indexLine)">:
                                                            <input type="number" :value="line.startorigin.minutes" step="1"  min="0" max="59" v-bind:id="'startminute'+indexLine" class="time-editor-srt" @change="changeTimeLine(indexLine)">:
                                                            <input type="number" :value="line.startorigin.seconds" step="1"  min="0" max="59" v-bind:id="'startsecond'+indexLine" class="time-editor-srt" @change="changeTimeLine(indexLine)">,
                                                            <input type="number" :value="line.startorigin.miliseconds" step="1"  min="0" max="999" v-bind:id="'startmilisecond'+indexLine" class="time-editor-srt" @change="changeTimeLine(indexLine)">
                                                        </div>
                                                        <div class="endiv">
                                                             a 
                                                            <input type="number" :value="line.endorigin.hour" step="1"  min="0" max="23" v-bind:id="'endhour'+indexLine" class="time-editor-srt pl-2" @change="changeTimeLine(indexLine)">:
                                                            <input type="number" :value="line.endorigin.minutes" step="1"  min="0" max="59" v-bind:id="'endminute'+indexLine" class="time-editor-srt" @change="changeTimeLine(indexLine)">:
                                                            <input type="number" :value="line.endorigin.seconds" step="1"  min="0" max="59" v-bind:id="'endsecond'+indexLine" class="time-editor-srt" @change="changeTimeLine(indexLine)">,
                                                            <input type="number" :value="line.endorigin.miliseconds" step="1"  min="0" max="999" v-bind:id="'endmilisecond'+indexLine" class="time-editor-srt" @change="changeTimeLine(indexLine)">
                                                        </div>
                                                        
                                                    <!-- <input type="time" :value="line.startorigin" step="1" class="" v-bind:id="'start'+indexLine"></input> -->
                                                    <!-- <input type="time" :value="line.endorigin" step="0.001" class="" v-bind:id="'end'+indexLine"></input> -->
                                                    </div>
                                                </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- NAV SETTINGS -->
        <div class="xp-dropdown-config xp-dropdown-config-settings animated fadeIn delay-01s pt-4" v-if="navs.navSettings">
            <!-- <div class="xp-triangle xp-dropdown-config-triangle">
            </div> -->
            <div class="xp-dropdown-config-close" v-on:click="changeNav('navSettings')">
                <i class="fas fa-times"></i>
            </div>
            <div class="xp-card-settings-player mt-3">
                <div class="xp-card-settigs-player-list">
                    <div class="xp-card-settigs-player-item">
                        <span class="xp-card-settigs-player-title">
                            Velocidad de Reproducción
                        </span>
                        <div class="xp-card-settigs-player-options mt-1">
                            <div class="xp-card-settigs-player-option" v-for="speed in settings.speed" v-on:click="setSeedVideo(speed)">
                                <div>
                                    <i class="fas fa-check" v-if="speed.active"></i>
                                    <span v-text="speed.label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="xp-card-settigs-player-item">
                        <span class="xp-card-settigs-player-title">
                            Fondo de Pantalla
                        </span>


                        <!-- SLIDER -->
                        <div class="xp-colors-carousel my-3 ml-1" v-if="startCarousel">
                                <span class="xp-colors-carousel-button xp-left"  v-on:click="prev()">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                            <slick ref="slick" :options="slickOptions" @setPosition="handleSetPosition">
                                <div class="xp-carousel-colors-item" v-for="picture in backgrounds.pictures">
                                    <span class="xp-carousel-colors-item-content" v-bind:style="{ backgroundImage: 'url(' + picture.picture + ')', backgroundSize: 'cover' }" v-on:click="changeBackground('picture',picture.picture)" v-bind:class="[
                                    {active:picture.active}]"></span>
                                    <span class="xp-carousel-colors-item-content-back">
                                        <span>
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </div>
                                <div class="xp-carousel-colors-item" v-for="color in backgrounds.colors">
                                    <span class="xp-carousel-colors-item-content" v-bind:class="[color.color, {active:color.active}]" v-on:click="changeBackground('color', color.color)"></span>
                                    <span class="xp-carousel-colors-item-content-back">
                                        <span>
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </div>
                            </slick>
                                <span class="xp-colors-carousel-button xp-right" v-on:click="next()">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            
                        </div>
                    </div>
                    <div class="xp-card-settigs-player-item d-block">
                        <span class="xp-card-settigs-player-title">
                            Tamaño de letra
                        </span>
                        <div class="xp-card-settigs-player-options mt-1">
                            <div class="xp-card-settigs-player-option mx-3" v-for="fontSize in settings.fontSizes" v-on:click="changeFontSize(fontSize)">
                                <div>
                                    <i class="fas fa-check" v-if="fontSize.active"></i>
                                    <span v-text="fontSize.label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="xp-card-settigs-player-item d-block">
                        <span class="xp-card-settigs-player-title">
                            Subtítulo y Traducción
                        </span>
                        <div class="d-flex justify-content-center mt-2">
                            <span class="xp-functions-subtitle-button mr-0 mr-md-2" v-on:click="changeNav('navLyrics')">
                                <img src="/img/music-sound.svg" class="mr-2" alt="">
                                <span v-text="(settings.lyrics.languageId == 0)?'Sin letra':traduction.subtitleFrom.language.name"></span>
                            </span>
                            <span class="xp-functions-subtitle-button ml-0 ml-md-2" v-on:click="changeNav('navTraduction')">
                                <img src="/img/translate.svg" class="mr-2" alt="">
                                <span v-text="(settings.traduction.languageId == 0)?'Sin traducción':traduction.subtitleTo.language.name"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</template>
<script>
import Slick from 'vue-slick';
import Swal from 'sweetalert2';

    export default {
        components: { 
            Slick,
        },
        data(){
            return{
                load: false,
                loaderFavorite: false,
                navs: {
                    navChallenges: false,
                    navSettings : false,
                    navLyrics: false,
                    navTraduction: false,
                    navLanguage: false,
                    navGem: false
                },
                video: {
                    show: false,
                    currentTime: 0,
                    progressVideo: '00:00'
                },
                user: {},
                song: {},
                languages: {},
                subtitles:{},
                traduction: {
                    subtitleFrom: {},
                    subtitleTo: {},
                    translateWord: 0,
                    currentIndex: -1
                },
                player: null,
                settings: {
                    audioRoute: '',
                    speed: [
                        {label: 'x0.5', value: 0.50, active: false},
                        {label: 'x0.75', value: 0.75, active: false},
                        {label: 'Normal', value: 1.00, active: true},
                        {label: 'x1.25', value: 1.25, active: false}
                    ],
                    display: {
                        incomplete: {
                            label: 'Incompleta', value: 2, active: true
                        },
                        complete: {
                            label: 'Completa', value: 1, active: false
                        }
                    },
                    challenges: [
                        {label: "Todo", value: 0, active: true},
                        {label: "5", value: 5, active: false},
                        {label: "10", value: 10, active: false},
                        {label: "15", value: 15, active: false},
                        {label: "20", value: 20, active: false}
                    ],
                    fontSizes:[
                        {label: "26", value: 1, active: true},
                        {label: "28", value: 1.2, active: false},
                        {label: "30", value: 1.4, active: false},
                        {label: "32", value: 1.6, active: false},
                        {label: "34", value: 1.8, active: false}
                    ],
                    playSelect: {
                        active: false,
                        from: 0,
                        to: 0,
                        index: -1,
                        between: 0
                    },
                    pagination: {
                        active: false,
                        pages: 0,
                        from: -1,
                        to: -1,
                        range: 0,
                        page: 0,
                        currentPage: 0
                    },
                    lyrics: {
                        languageId: 0
                    },
                    // TRADUCTION COMPLETE SUBTITLE
                    traduction: {
                        languageId: 0,
                        active: false
                    },
                    showVideo: true,
                    playing: false,
                    // TRANSLATE WORD
                    translate: {
                        languageId: 0
                    },
                    gems:{
                        active:false,
                        subtitles: [],
                        win: 0,
                        approve: [],
                        winNow: 0,
                        exit: false
                    },
                    expand: false,
                    report: {
                        active: false,
                        content: '',
                        word: 'them [fonética]',
                        sourceLanguage: 0,
                        targetLanguage: 0
                    },
                    timeLine:{
                        min: 0,
                        max: 0,
                        step: 0.01,
                        width: 0,
                        value: 0,
                        progressVideo: '0:00'
                    },
                    volumeLine:{
                        min: 0,
                        max: 1,
                        step: 0.1,
                        width: 0,
                        value: 0
                    }
                },
                slickOptions: {
                    slidesToShow: 5,
                    infinite: false
                    // Any other options that can be got from plugin documentation
                },
                backgrounds: {
                    colors: [
                        {"color": 'jshine', "active": false},
                        {"color": 'amin', "active": false},
                        {"color": 'flare', "active": false},
                        {"color": 'wiretap', "active": false},
                        {"color": 'quepal', "active": false},
                        {"color": 'purpink', "active": true},
                        {"color": 'very-blue', "active": false},
                        {"color": 'excursionista', "active": false}
                    ],
                    pictures:[]
                },
                startCarousel: false,
                pop: '',
                dictionaries: [],
                dictionary: {
                    active: false,
                    word: null,
                    translations: [],
                    wordOriginal: null
                },
                dataContainer: {
                    height: 0
                },
                firstPlaying: false,
                tabs: {
                    repeat: {
                        order: 1,
                        name: 'REPITE',
                        active: true
                    },
                    karaoke: {
                        order: 2,
                        name: 'KARAOKE',
                        active: false
                    },
                    dictation: {
                        order: 3,
                        name: 'DICTADO',
                        active: false
                    }
                },
                splittime:{},
                Updatesubtitle:[
                    {order:-1,
                    timestart:'',
                    timeend:'',
                    content:''
                } ],
            }
        },
        props:["dataInit"],
        created(){
            this.subtitles=this.dataInit.formated
            console.log(this.subtitles)
            this.sog = this.dataInit.song
            document.addEventListener('DOMContentLoaded', ()=>{
                toastr.options.timeOut = 2000
                this.checkdoublezero()
                this.getData()
                // DATA CONTAINER
                this.getHeightContainer()

                // DETECT SCROLL
                // let bodyScroll = document.getElementById('xp-functions-subtitles-scroll')
                // if(bodyScroll){
                //     bodyScroll.addEventListener('scroll', ()=>{

                //     })
                // }
 

            })
        },
        methods: {
            checkdoublezero(){
                document.querySelectorAll('input[type=number]')
                  .forEach(e => e.oninput = () => {
                    // Always 2 digits
                    if (e.value.length >= 2) e.value = e.value.slice(0, 3);
                    // 0 on the left (doesn't work on FF)
                    // if (e.value.length === 1) e.value = '0' + e.value;
                    // // Avoiding letters on FF
                    // if (!e.value) e.value = '00';
                  });
            },
            getHeightContainer(){
                let container = document.getElementById('xp-functions-subtitles-scroll')
                if(container){
                    this.dataContainer.height = parseFloat(container.getClientRects()[0].height).toFixed(2)
                }
            },
            next() {
                this.$refs.slick.next();
            },
            prev() {
                this.$refs.slick.prev();
            },
            actionVideo(action){
                if(action=='pause'){
                    this.player.pause()
                }
                else if(action=='play'){
                    this.player.muted = false
                    this.player.speed = 1
                    this.player.play()
                    if(!this.firstPlaying){
                        this.firstPlaying = true
                    }
                }
                else if(action=='stop'){
                    this.player.stop()
                }
                else if(action=='back'){
                    this.player.currentTime -= this.settings.controls.back
                }
                else if(action=='along'){
                    this.player.currentTime += this.settings.controls.along
                }
                else if(action=='volume'){
                    this.player.muted = false
                    this.video.muted = false
                }
                else if(action=='muted'){
                    this.player.muted = true
                    this.video.muted = true
                }
                else if(action=='fullscreen'){
                    this.player.fullscreen.enter()
                }
            },
            changeTimerVideo(e, time){
                try{
                    
                    // this.settings.playSelect.active = false
                    this.player.currentTime = parseFloat(e.target.value)
                    this.video.currentTime = parseFloat(e.target.value)
                    this.settings.timeLine.width = ( (parseFloat(e.target.value) - this.settings.timeLine.min) * 100 ) / (this.settings.timeLine.max - this.settings.timeLine.min)
                    // this.getWithTimer()
                }
                catch(error){
                    console.log(error)
                }
            },
            getWithTimer(){
                try{
                    this.settings.timeLine.width = ( (this.player.currentTime - this.settings.itmeLine.min) * 100 ) / (this.settings.timeLine.max - this.settings.timeLine.min)
                }
                catch(error){

                }
            },
            changeVolume(e){
                this.player.volume = parseFloat(e.target.value)
                this.settings.volumeLine.width = ( (parseFloat(e.target.value) - this.settings.volumeLine.min) * 100 ) / (this.settings.volumeLine.max - this.settings.volumeLine.min)
            },
            getCurretTimeVideo(){
                let result = '0:00'
                if(this.player){
                    if(this.player.currentTime){
                        result = this.formatTimeText(this.player.currentTime)
                    }
                }

                return result
            },
            formatTimeText(valueTime){
                let timeC = valueTime.toString()
                let timesList = timeC.split('.')
                let totalSeconds = timesList[0]
                let minutes = 0
                let seconds = totalSeconds
                let resultTime = ""
                if(totalSeconds>60){
                    minutes = parseInt(totalSeconds/60)
                    seconds = totalSeconds%60
                }
                
                if(minutes<10){
                    // resultTime="0"
                }
                resultTime+=(minutes+":")
                if(seconds<10){
                    resultTime+="0"
                }
                resultTime+=seconds

                return resultTime
            },
            reInit() {
                // Helpful if you have to deal with v-for to update dynamic lists
                this.$nextTick(() => {
                    this.$refs.slick.reSlick();
                });
            },
            showVideo(){
                this.settings.showVideo = !this.settings.showVideo
            },
            getData(){
                if(this.song.id != 0){
                    this.load = true

                    this.startCarousel = true
                    this.initPlayer()

                    this.setPagination(0)

                    this.saveViewSong(this.song.id)

                    // MOVE SLICK BACKGROUNDS


                    let intervalLoadCompleted = setInterval(() => {
                                                    try{
                                                        if(!isNaN(this.player.currentTime)){
                                                            this.load = false
                                                            clearInterval(intervalLoadCompleted)
                                                        }
                                                    }
                                                    catch(error){

                                                    }
                                                        
                    }, 1000);
                }
            },
            initPlayer(){
                this.player = new Plyr('#player')

                this.player.on('ready', event => {
                    
                    // INIT TEST
                    this.player = event.detail.plyr

                    // TIME LINE VIDEO
                    this.settings.timeLine.max = this.player.duration
                    this.settings.timeLine.value = 0
                    // TIME LINE VOLUME VIDEO
                    this.player.volume = 1
                    this.settings.volumeLine.width = ( (1 - 0) * 100 ) / (1 - 0)
                    this.getCurretTimeVideo()

                    this.player.volume = 1
                    this.player.playing = false
                    this.player.speed = parseFloat(this.settings.speed[2])

                    // PLAYER CONTROLS
                    event.detail.plyr.hideControls = true
                    // this.player.controls = ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'captions', 'settings', 'pip', 'airplay', 'fullscreen']
                    // this.player.config.controls = ["play"]
                    this.showVideo()
                })

                this.player.on('playing', event => {
                    this.settings.playing = true
                    // if(this.firstPlaying){
                        this.load = false
                    // }
                })

                 this.player.on('pause', event => {
                    this.settings.playing = false
                })
                this.player.on('timeupdate', event => {
                    let currentTime = parseFloat(event.detail.plyr.currentTime).toFixed(2)
                    this.video.currentTime =  currentTime

                    this.settings.timeLine.width = ( (parseFloat(currentTime) - this.settings.timeLine.min) * 100 ) / (this.settings.timeLine.max - this.settings.timeLine.min)
                    this.settings.timeLine.progressVideo = this.formatTimeText(currentTime)
                    this.getCurretTimeVideo()
                    if (currentTime>this.settings.playSelect.to) {
                        this.player.pause()
                        this.player.currentTime=this.settings.playSelect.from
                        // console.log(this.settings.playSelect.to)

                    }

                    
                })
            },
            changeShowLine(index){
                if(index >= 0){
                    this.traduction.subtitleFrom.formated[index].show = !this.traduction.subtitleFrom.formated[index].show
                }
            },
            changeTimeLine(index){
                var exist=false
                // obtener nuevos tiempos
                let SubtitleStartChangehour=document.getElementById("starthour"+index).value
                let SubtitleStartChangeminutes=document.getElementById("startminute"+index).value
                let SubtitleStartChangeseconds=document.getElementById("startsecond"+index).value
                let SubtitleStartChangemiliseconds=document.getElementById("startmilisecond"+index).value

                let SubtitleEndChangehour=document.getElementById("endhour"+index).value
                let SubtitleEndChangeminutes=document.getElementById("endminute"+index).value
                let SubtitleEndChangeseconds=document.getElementById("endsecond"+index).value
                let SubtitleEndChangemiliseconds=document.getElementById("endmilisecond"+index).value

                console.log(SubtitleStartChangeminutes,SubtitleEndChangeseconds,this.subtitles[index].content)

                this.subtitles[index].startorigin.hour = SubtitleStartChangehour
                this.subtitles[index].startorigin.minutes = SubtitleStartChangeminutes
                this.subtitles[index].startorigin.seconds = SubtitleStartChangeseconds
                this.subtitles[index].startorigin.miliseconds = SubtitleStartChangemiliseconds

                this.subtitles[index].endorigin.hour = SubtitleEndChangehour
                this.subtitles[index].endorigin.minutes = SubtitleEndChangeminutes
                this.subtitles[index].endorigin.seconds = SubtitleEndChangeseconds
                this.subtitles[index].endorigin.miliseconds = SubtitleEndChangemiliseconds
                // reemplazando los tiempos para el reproductor
                this.subtitles[index].start = this.timeToDecimal(SubtitleStartChangehour,SubtitleStartChangeminutes,SubtitleStartChangeseconds,SubtitleStartChangemiliseconds)

                this.subtitles[index].end = this.timeToDecimal(SubtitleEndChangehour,SubtitleEndChangeminutes,SubtitleEndChangeseconds,SubtitleEndChangemiliseconds)

                for (var i = this.Updatesubtitle.length-1; i > 0; i--) {
                    if ((index)==parseInt(this.Updatesubtitle[i].order)) {
                        this.Updatesubtitle[i].timestart=this.subtitles[index].start
                        this.Updatesubtitle[i].timeend=this.subtitles[index].end
                        this.Updatesubtitle[i].content=this.subtitles[index].content
                        exist=true
                    }
                }
                if (!exist) {
                    this.Updatesubtitle.push({order:index,timestart:this.subtitles[index].start,timeend:this.subtitles[index].end,content:this.subtitles[index].content})
                }

            },
            timeToDecimal(hour,minutes,seconds,miliseconds){
                // separar los datos de tiempo
                let completetime
                let time = (parseFloat(miliseconds/1000) +parseFloat(seconds)).toFixed(3)
                // convirtiendo y sumando los minutos y horas a milisegundos
                completetime = (parseFloat(time) + parseFloat(parseInt(hour, 10)*60 + parseInt(minutes, 10)*60)).toFixed(3)
                console.log(completetime)
                return completetime
            },
            SentChanges(){
                const params ={
                    updatesubtitle: this.Updatesubtitle,
                    id: this.dataInit.subtitle.id
                }
                axios.post('/panel/subtitulo/editarsrt', params    
                    )
                    .then(response => {
                        if (response.data.message) {
                            toastr.success('Guardado exitosamente')
                        }
                        else{
                            toastr.error('Ocurrió un problema')
                        }
                    })
                    .catch(error =>{
                        console.log(error)
                    })
            },
            setPlaySelect(index){
                this.changeTimeLine(index)
                try {
                    if(this.player){
    
                        if(index>=0){
    
                            if(this.settings.playSelect.index!= index){
    
                                this.settings.playSelect.from = parseFloat(this.subtitles[index].start).toFixed(4)
                                this.settings.playSelect.to = parseFloat(this.subtitles[index].end)
                                this.player.currentTime = parseFloat(this.subtitles[index].start)
                                this.settings.playSelect.index = index
                                this.settings.playSelect.active = true
                                this.actionVideo('play')
                            }
                            else{
                                if(this.player.playing){
                                    this.player.pause()

                                }
                                else{
                                    this.settings.playSelect.from = parseFloat(this.subtitles[index].start).toFixed(4)
                                    this.settings.playSelect.to = parseFloat(this.subtitles[index].end)
                                    this.player.currentTime = parseFloat(this.subtitles[index].start)
                                    this.settings.playSelect.index = index
                                    this.settings.playSelect.active = true
                                    this.actionVideo('play')
                                }
                            }
                        }
                        else{
                            this.settings.playSelect.from = parseFloat(this.subtitles[index].start).toFixed(4)
                            this.settings.playSelect.to = parseFloat(this.subtitles[index].end)
                            this.player.currentTime = parseFloat(this.subtitles[index].start)
                            this.settings.playSelect.index = index
                            this.settings.playSelect.active = true
                            this.actionVideo('play')
                        }
                    }
                } catch (error) {
                    // alert(error)
                }
            },
            setPagination(range){
                if(range==0){
                    this.settings.pagination.active = true
                    this.settings.pagination.range = 0
                    this.settings.pagination.from = 0
                    this.settings.pagination.to = this.subtitles.length - 1
                    this.settings.pagination.pages = 1
                    this.settings.pagination.page = 1
                    this.settings.pagination.currentPage = 0
                }
                else{
                    this.settings.pagination.active = true
                    this.settings.pagination.range = range
                    this.settings.pagination.from = 0
                    this.settings.pagination.to = (range - 1)

                    let pagesTotal = parseInt(this.subtitles.length / range)
                    let residue = this.subtitles.length % range
                    if(residue>0){
                        pagesTotal++
                    }
                    this.settings.pagination.pages = pagesTotal
                    this.settings.pagination.page = 1
                    this.settings.pagination.currentPage = 0
                }
            },
            setRangePagination(value){
                this.settings.pagination.to = (value * this.settings.pagination.range) - 1
                this.settings.pagination.from = this.settings.pagination.to - (this.settings.pagination.range - 1)
                this.settings.pagination.page = value
                this.settings.pagination.currentPage = this.settings.pagination.to - (this.settings.pagination.range - 1)
                this.setTimeProgressLine()
            },
            setTimeProgressLine(){
                console.log(13)
                this.subtitles.forEach((line, index) => {
                    console.log(1)
                    if(index == this.settings.pagination.from){
                        console.log(line)
                        this.settings.timeLine.min = parseFloat(line.start).toFixed(4)
                        // this.settings.timeLine.value = 0
                    }
                    else if(index == this.settings.pagination.to){
                        console.log(line)
                        this.settings.timeLine.max = parseFloat(line.end).toFixed(4)
                    }
                })

                // TIME LINE VOLUME VIDEO
                // this.settings.timeLine.width = ( (parseFloat(currentTime) - this.settings.timeLine.min) * 100 ) / (this.settings.timeLine.max - this.settings.timeLine.min)
            },
            getShowLine(index){
                let result = true
                
                
                return result
            },
            changeLyrics(id){
                if(id != this.settings.traduction.languageId || this.settings.traduction.languageId == 0){
                    this.settings.lyrics.languageId = id
                    this.subtitles.forEach(subtitle => {
                        if((subtitle.language.id == id) || (subtitle.native && id==0)){
                            this.traduction.subtitleFrom = subtitle
                            if(subtitle.language.id == this.settings.translate.languageId){
                                // this.changeTranslate(0)
                            }
                        }
                    });

                    if(id==0){
                        this.settings.traduction.languageId = 0
                        this.traduction.subtitleTo = {}
                    }
                }
                this.changeNav('navSettings')

                // if(this.settings.lyrics.languageId == 0){
                //     this.resetLines(false)
                // }
                // else{
                //     this.resetLines(true)
                // }
            },
            resetLines(value){
                this.subtitles.forEach(line => {
                    line.show = value
                });
            },
            changeTranslate(lang){
                if(lang != this.settings.lyrics.languageId){
                    this.settings.translate.languageId = lang
                    this.changeNav('navLanguage')
                }
            },
            getNameTranslate(){
                let name = 'Seleccione'
                this.languages.forEach((language)=>{
                    if(language.id == this.settings.translate.languageId){
                        name = language.name
                    }
                })
                return name
            },
            noEnter(e){
                if(e.keyCode === 13){
                    e.preventDefault()
                }
            },
            changeExpand(){
                this.settings.expand = !this.settings.expand
                setTimeout(() => {
                    this.getHeightContainer()
                }, 500);
            },
            setSeedVideo(valueSpeed){
                this.settings.speed.forEach((speed)=>{
                    if(speed.value != valueSpeed.value){
                        speed.active = false
                    }
                    else{
                        this.player.speed = parseFloat(valueSpeed.value)
                        speed.active = true
                    }
                })
            },
            closePopover(){
                this.$root.$emit('bv::hide::popover')
            },
            getTranslate(indexLine, indexWord){
                // if(!this.traduction.subtitleFrom.formated[indexLine].words[indexWord].translate.loaded){
                    let word = this.traduction.subtitleFrom.formated[indexLine].words[indexWord].word
                    let from = this.traduction.subtitleFrom.language.code
                    let to = ''
                    this.languages.forEach((language) => {
                        if(language.id == this.settings.translate.languageId){
                            to = language.code
                        }
                    })
                    axios.post('/translate', {
                        from: from,
                        to: to,
                        word: word
                    })
                    .then(response => {
                        if(response.data.translate){
                            this.traduction.subtitleFrom.formated[indexLine].words[indexWord].translate = response.data.translate
                        }
                    })
                    .catch(error =>{

                    })
                // }
            },
            getPhonetic(indexLine, indexWord){
                // console.log(indexLine)
                // console.log(indexWord)
                // console.log(this.traduction.subtitleFrom.formated[indexLine].words[indexWord].translate.phonetic)
                return this.traduction.subtitleFrom.formated[indexLine].words[indexWord].translate.phonetic
            },
            playAudio(word){
                if(word){
                    let code = this.traduction.subtitleFrom.language.code
                    let route = this.audioRoute + '/' + code + '/' + word
                    let audio = new Audio(route);
                    audio.play();
                }
            },
            moveScroll(direction){
                let list = document.getElementById('xp-functions-subtitles-scroll')
                let child = null
                let heightChild = 0
                if(list){
                    child = list.firstChild
                    if(child){
                        heightChild = child.getBoundingClientRect().height + 24
                        if(direction){
                            list.scrollTop += heightChild
                        }
                        else{
                            list.scrollTop -= heightChild
                        }
                    }
                }
            },
            getActiveLine(indexWord, indexLine, id){
                let result = false;
                if(indexWord == indexLine){
                    result = true
                    if(this.tabs.karaoke.active){
                        let list = document.getElementById('xp-functions-subtitles-scroll')
                        let lineDiv = document.getElementById(id)
                        list.scrollTop = lineDiv.offsetTop - (this.dataContainer.height / 2)
                    }
                    else{
                        this.setScrollItem()
                    }
                }
                return result
            },
            setView(songId){
                axios.post('/usuario/cancion/visita', {
                    songId: songId
                })
                .then(response => {
                    
                })
                .catch(error =>{

                })
            },
            saveViewSong(songId){
                axios.post('/cancion/visita/agregar', {
                    songId: songId
                })
                .then(response => {
                    
                })
                .catch(error =>{

                })
            },
            clearSimbols(word){
                let wordClear = word.replace(/[`~!@#$%^&*()_|+\-=?;:",.<>\{\}\[\]\\\/]/gi, "")
                wordClear = wordClear.replace(/' |\s'/gi, " ")
                return wordClear
            },
            prevPage(){
                if(this.settings.pagination.currentPage > this.settings.pagination.from){
                    this.settings.pagination.currentPage--

                    // SET TIME
                    this.setTimeProgress()
                    this.setScrollItem()
                    this.setPlaySelect(this.settings.pagination.currentPage)
                }
            },
            setTimeProgress(){
                    this.settings.playSelect.from = parseFloat(this.traduction.subtitleFrom.formated[this.settings.pagination.currentPage].start).toFixed(4)
                    this.settings.playSelect.to = parseFloat(this.traduction.subtitleFrom.formated[this.settings.pagination.currentPage].end)
                    this.player.currentTime = parseFloat(this.traduction.subtitleFrom.formated[this.settings.pagination.currentPage].start)
                    this.settings.playSelect.index = this.settings.pagination.currentPage
                    this.settings.playSelect.active = true
            },
            nextPage(){
                if(this.settings.pagination.currentPage < this.settings.pagination.to){
                    this.settings.pagination.currentPage++

                    // SET TIME
                    this.setTimeProgress()
                    this.setScrollItem()
                    this.setPlaySelect(this.settings.pagination.currentPage)
                    this.actionVideo('play')
                }
            },
            setScrollItem(){
                let list = document.getElementById('xp-functions-subtitles-scroll')
                let child = document.getElementById('cf-line-subtitle-'+this.settings.pagination.currentPage)
                // let heightChild = 0
                if(list){
                    if(child){
                        // heightChild = child.getBoundingClientRect().height * this.settings.pagination.currentPage
                        list.scrollTop = child.offsetTop - 8
                    }
                }
            },
            showLineSubtitle(){
                try{
                    this.traduction.subtitleFrom.formated[this.settings.pagination.currentPage].show = !this.traduction.subtitleFrom.formated[this.settings.pagination.currentPage].show
                }
                catch(error){

                }
            },
            showTranslation(){
                try{
                    this.traduction.subtitleFrom.formated[this.settings.pagination.currentPage].showTranslation = !this.traduction.subtitleFrom.formated[this.settings.pagination.currentPage].showTranslation
                }
                catch(error){
                    
                }
            },
            prevRangeVideo(){
                this.prevPage()
                this.setPlaySelect(this.settings.pagination.currentPage)
                this.actionVideo('play')
            },
            nextRangeVideo(){
                this.nextPage()
                this.setPlaySelect(this.settings.pagination.currentPage)
            },
            changeTabPrincipal(tabValue){
                if(tabValue == 'repeat'){
                    this.tabs.repeat.active = true
                    this.tabs.karaoke.active = false
                    this.tabs.dictation.active = false
                }
                else if(tabValue == 'karaoke'){
                    this.tabs.repeat.active = false
                    this.tabs.karaoke.active = true
                    this.tabs.dictation.active = false
                }
                else if(tabValue == 'dictation'){
                    this.tabs.repeat.active = false
                    this.tabs.karaoke.active = false
                    this.tabs.dictation.active = true
                    this.setListForGems()
                }
                this.settings.traduction.active = false
            },
            testOriginSong(url){
                let evaluate = /^(http|https):\/\//
                let result = url
                if(!evaluate.test(url)){
                    result = ('/storage/songs/' + url)
                }
                return result
            },
        },
        computed: {
        },
        watch: {
            
        }
    }
</script>
