<template>
    <div class="row m-0">
        <!-- LOADER -->
        <loader :show="load"></loader>
        <div class="col-12" v-if="user">
            <h5 class="text-center mb-3">
                <span class="font-weight-bold mr-2">Usuario: </span>
                <span class="font-weight-normal" v-text="user.username"></span>
            </h5>
        </div>
        <!-- FILTERS -->
        <div class="col-12 mb-3">
            <label class="sr-only" for="inlineFormInputGroupUsername">Buscar contenido</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-search"></i></div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Buscar contenido" v-model="filter.search">
            </div>
        </div>
        <div class="col-12 table-responsive xp-scroll" v-if="user">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="user.tracing"
                    :filter="filter.search"
                    :per-page="perPage"
                    :current-page="currentPage"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <span v-text="data.index + 1"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(name)="data">
                        <span v-text="data.item.name"></span>
                    </template>

                    <!-- A virtual composite column -->
                    <template v-slot:cell(artists)="data" class="text-center">
                        <span v-text="getArtists(data.item.artists)"></span>
                    </template>

                    <template v-slot:cell(date)="data" class="text-center">
                        <div class="text-center" v-text="data.item.date"></div>
                    </template>

                    <template v-slot:cell(time)="data" class="text-center">
                        <div class="text-center" v-text="data.item.time_start"></div>
                    </template>

                    <template v-if="user.tracing == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
        </div>
        <div class="col-12 mt-3 d-flex flex-column align-items-center justify-content-center" v-if="user">
            <div class="xp-table-pagination">
                <b-pagination
                v-model="currentPage"
                :total-rows="user.tracing.length"
                :per-page="perPage"
                ></b-pagination>
            </div>
            <div class="mt-3 d-flex justify-content-center">
                <span class="font-weifht-bold mr-2">Total registros: </span>
                <span class="xp-text-danger" v-text="user.tracing.length"></span>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                user: null,
                filter: {
                    search: ''
                },
                fields: [
                    {key: 'index', label: '#', sortable: false, searchable: false},
                    {key: 'name', label: 'Cancion', sortable: true, searchable: true},
                    {key: 'artists', label: 'Artistas', sortable: false, searchable: true},
                    {key: 'date', label: 'Fecha', sortable: false, searchable: false},
                    {key: 'time', label: 'Hora', sortable: false, searchable: false}
                ],
                currentPage: 1,
                perPage: 20
			}
        },
        props:["username"],
		mounted(){ 
            this.getTracing()
        },
        methods: {
            getTracing(){
                this.load = true
                axios.post('/panel/usuario/canciones/vistas', {
                    username: this.username
                })
                .then(response => {
                    this.user = response.data.user
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            getArtists(artists){
                let list = ''
                artists.forEach(artist => {
                    if(list.length>0){
                        list += ', '
                    }
                    list += artist.stage_name
                });
                return list
            }
        }
    }
</script>