<template>
        <div class="d-flex">
            <dashboard-user-ambassador-team :username="username" v-if="nav=='team'" @change="changeNav"></dashboard-user-ambassador-team>
            <dashboard-user-ambassador-detail v-else-if="nav=='detail'" :range-id="rangeId" @change="changeNav" :username="username"></dashboard-user-ambassador-detail>
            <dashboard-user-ambassador-information v-else-if="nav=='info'" :user-id="userId" :range-id="rangeId" @change="changeNav"></dashboard-user-ambassador-information>
        </div>
</template>
<script>
import Swal from 'sweetalert2'

    export default {
       data(){
			return{
                load: false,
                nav: 'team',
                rangeId: 1,
                userId: null
			}
        },
        props:['username'],
		mounted(){
        },
        methods: {
            changeNav(item){
                this.rangeId = null
                this.userId = null
                if(item.nav){
                    if(item.nav == 'detail'){
                        this.rangeId = item.rangeId
                    }
                    else if(item.nav=='info'){
                        this.userId = item.userId
                        this.rangeId = item.rangeId
                    }
                    this.nav = item.nav
                }
                else{
                    this.nav = item
                }
            }
        },
        computed: {
        }
    }
</script>