<template>
    <div class="xp-player-card">

        <!-- LOADER -->
        <loader :show="load"></loader>

        <div class="xp-player-card-header collapse" id="xpCollapseVideo">
            <div class="xp-player-card-video">
                <div class="plyr__video-embed" id="player">
                    <iframe
                        v-bind:src="link"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"
                    ></iframe>
                </div>
            </div>
        </div>

        <!-- BODY -->
        <div class="xp-player-card-body">
            <div class="xp-functions">

                <!-- HEADER -->
                <div class="xp-functions-header">
                    <div class="xp-functions-menu">
                        <div class="xp-functions-menu-item">
                            <a v-bind:href="'/cancion/'+song.id+'/'+song.slug" title="Regresar">
                                <span class="xp-functions-menu-button">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                            </a>
                        </div>
                        <div class="xp-functions-menu-item xp-functions-menu-item-static d-flex flex-column align-items-start">
                            <div class="xp-functions-menu-title" v-text="song.name"></div>
                            <div class="xp-functions-menu-subtitle">
                                <a v-bind:href="'/artistas/'+artist.slug" class="mr-2" v-for="artist in song.artists" v-text="artist.stage_name"></a>
                            </div>
                        </div>
                        <div class="xp-functions-menu-item">
                            <span class="xp-functions-menu-button xp-text-primary">
                                <i class="far fa-heart"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- BODY -->
                <div class="xp-card-tabs">
                    <div class="xp-card-tabs-header">
                        <ul class="xp-nav-cards">
                            <li class="xp-nav-cards-item" v-bind:class="{active: tabs.repeat}">
                                <a class="xp-nav-cards-link" @click="changeTab('repeat')">Repite</a>
                            </li>
                            <li class="xp-nav-cards-item" v-bind:class="{active: tabs.flashCard}">
                                <a class="xp-nav-cards-link" @click="changeTab('flashCard')">Flashcard</a>
                            </li>
                            <li class="xp-nav-cards-item" v-bind:class="{active: tabs.karaoke}">
                                <a class="xp-nav-cards-link" @click="changeTab('karaoke')">Karaoke</a>
                            </li>
                            <li class="xp-nav-cards-item" v-bind:class="{active: tabs.dictation}">
                                <a class="xp-nav-cards-link" @click="changeTab('dictation')">Dictado</a>
                            </li>
                        </ul>
                    </div>
                    <div class="xp-card-tabs-body pt-0">
                        <div class="xp-nav-cards-content">
                            <div class="xp-nav-cards-pane animated fadeIn" v-if="tabs.repeat">
                                <div class="xp-card-iteraction">
                                    <div class="xp-card-iteraction-header">

                                    </div>
                                    <div class="xp-card-iteraction-body">

                                    </div>
                                    <div class="xp-card-iteraction-footer">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="xp-nav-cards-pane animated fadeIn" v-if="tabs.flashCard">
                                <div class="xp-card-iteraction">
                                    
                                </div>
                            </div>
                            <div class="xp-nav-cards-pane animated fadeIn" v-if="tabs.karaoke">
                                <div class="xp-card-iteraction">
                                    <div class="xp-card-iteraction-header">
                                        <div class="d-flex justify-content-end">
                                            <span class="xp-card-iteraction-button size-md">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="xp-card-iteraction-body xp-scroll xp-card-iteraction-body-list" id="xp-card-iteraction-body-list">
                                        <div class="xp-card-iterancion-subtitle" v-for="(line, indexLine) in traduction.subtitleFrom.formated" v-bind:class="[{active:getActiveLine(traduction.currentIndex, indexLine, 'cf-line-subtitle-'+indexLine)}, 'cf-line-subtitle-'+indexLine]" v-bind:id="'cf-line-subtitle-'+indexLine">
                                            <div class="xp-card-iterancion-subtitle-original">
                                                <span v-for="(word, indexWord) in line.words" v-text="word.word" v-if="line.show || settings.lyrics.languageId != 0" @click="showDictionary(word, indexLine, indexWord)"></span>
                                            </div>
                                            <div class="xp-card-iterancion-subtitle-translation mt-2" v-if="settings.traduction.languageId!=0">
                                                <span v-for="word in traduction.subtitleTo.formated[indexLine].words" v-text="word.word"></span>
                                            </div>
                                        </div>

                                        <!-- POPPOVER DICTIONARY -->
                                        <div class="xp-popper-dictionary animated fadeIn delay-01s" v-if="dictionary.active && dictionary.word">
                                            <div class="xp-popper-dictionary-content hideDic">
                                                <div class="xp-card-dictionary hideDic">
                                                    <div class="xp-card-dictionary-header hideDic">
                                                        <div class="xp-card-dictionary-word hideDic">
                                                            <span class="xp-card-dictionary-button hideDic" v-on:click="playAudio(dictionary.word.audio)">
                                                                <i class="fas fa-volume-up hideDic"></i>
                                                            </span>
                                                            <span class="xp-card-dictionary-word-text text-white hideDic">
                                                                <span v-text="clearSimbols(dictionary.wordOriginal)"></span>
                                                                <span v-text="getFormatPhonetic(dictionary.word)"></span>
                                                            </span>
                                                        </div>
                                                        <span v-if="user" class="xp-card-dictionary-button xp-card-dictionary-button-xs xp-text-warning hideDic" v-on:click="saveWordDictionary(dictionary.word)" v-bind:class="{'cf-icon-animation': existDisctionary(dictionary.word)}">
                                                            <i v-if="existDisctionary(dictionary.word)" class="fas fa-bookmark hideDic"></i>
                                                            <i v-else class="far fa-bookmark hideDic"></i>
                                                        </span>
                                                    </div>
                                                    <div class="xp-card-dictionary-body hideDic">
                                                        <span class="xp-card-dictionary-traduction hideDic" v-text="dictionary.word.translation">
                                                        </span>
                                                        <span class="xp-card-dictionary-references hideDic">
                                                            <span class="xp-card-dictionary-references-text hideDic">
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div class="xp-card-dictionary-footer mt-3 hideDic">
                                                        <button class="xp-button  xp-button-success xp-button-margin xp-text-dark hideDic" @click="closeDictionary()">
                                                            Continuar
                                                        </button>
                                                        <span v-if="user" class="xp-card-dictionary-footer-link xp-text-white ml-4 hideDic" v-on:click="showReport(dictionary.indexLine, dictionary.indexWord)">
                                                            Reportar
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END POPPOVER DICTIONARY -->

                                    </div>
                                    <div class="xp-card-iteraction-footer">
                                        <div class="xp-player-bar">
                                            <div class="xp-player-bar-item" v-if="player">
                                                <div class="xp-player-bar-button size-md" v-on:click="player.playing?actionVideo('pause'):actionVideo('play')">
                                                    <i v-if="settings.playing" class="fas fa-pause-circle"></i>
                                                    <i v-else class="fas fa-play-circle"></i>
                                                </div>
                                            </div>
                                            <div class="xp-player-bar-item xp-player-bar-time px-2">
                                                <div class="slider-container">
                                                    <span class="bar">
                                                        <span class="fill" v-bind:style="{width: settings.timeLine.width + '%'}"></span>
                                                    </span>
                                                    <input type="range" v-bind:min="settings.timeLine.min" v-bind:max="settings.timeLine.max" v-bind:step="settings.timeLine.step" v-bind:value="video.currentTime" class="slider" @input="changeTimerVideo($event, null)">
                                                </div>
                                                <div class="xp-player-bar-item-text pl-2" v-text="video.progressVideo"></div>
                                            </div>
                                            <div class="xp-player-bar-item xp-player-bar-volume px-2" v-if="player">
                                                <div class="xp-player-bar-button size-sm mr-1">
                                                    <i class="fas fa-volume-up"></i>
                                                </div>
                                                <div class="slider-container">
                                                    <span class="bar">
                                                        <span class="fill" v-bind:style="{width: settings.volumeLine.width + '%'}"></span>
                                                        </span>
                                                    <input type="range" v-bind:min="0" v-bind:max="1" v-bind:step="0.1" v-bind:value="player.volume" class="slider" @change="changeVolume($event)" @input="changeVolume($event)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="xp-nav-cards-pane animated fadeIn" v-if="tabs.dictation">
                                <div class="xp-card-iteraction">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="xp-card-tabs-footer">
                        <span class="xp-card-tabs-text" v-text="song.views + ' vistas'"></span>
                        <span class="xp-card-tabs-text" v-text="'Audio: ' + getAudioOriginal()"></span>
                        <span class="xp-card-tabs-text" v-text="'Traducciones: ' + (subtitles.length - 1)"></span>
                    </div>
                </div>

                <!-- FOOTER -->
                <div class="xp-functions-footer">
                    <div class="xp-functions-menu justify-content-between">
                        <div class="xp-functions-menu-item">
                            <img class="xp-functions-menu-item-icon xp-w-08" src="/img/music-sound.svg" alt="">
                            <b-dropdown class="xp-dropdown-black" id="dropdown-dropup-from" dropup variant="primary">
                                <template v-slot:button-content>
                                    <span v-text="(settings.lyrics.languageId == 0)?'Sin letra':traduction.subtitleFrom.language.name"></span>
                                </template>
                                
                                <b-dropdown-item v-for="subtitle in subtitles" v-bind:class="{active:settings.lyrics.languageId == subtitle.language.id, disabled: (settings.traduction.languageId == subtitle.language.id)}" v-on:click="changeLyrics(subtitle.language.id)">
                                    <span class="xp-dropdown-black-item">
                                        <span class="xp-dropdown-black-item-icon mr-2">
                                            <img v-bind:src="'/img/countries/' + subtitle.language.code +'.svg'" alt="">
                                        </span>
                                        <span class="dropdown-black-group-text">
                                            <span v-text="subtitle.language.name" class="pr-2"></span>
                                            <span v-text="subtitle.status + '%'"></span>
                                        </span>
                                    </span>
                                </b-dropdown-item>
                            </b-dropdown>
                        </div>
                        <div class="xp-functions-menu-item">
                            <img class="xp-functions-menu-item-icon xp-w-1-2" src="/img/translate.svg" alt="">
                            <b-dropdown class="xp-dropdown-black" id="dropdown-dropup-to" dropup variant="primary">
                                <template v-slot:button-content>
                                    <span v-text="(settings.traduction.languageId == 0)?'Sin traducción':traduction.subtitleTo.language.name"></span>
                                </template>

                                <b-dropdown-item v-for="subtitle in subtitles" v-bind:class="{active:settings.traduction.languageId == subtitle.language.id, disabled: (settings.lyrics.languageId == subtitle.language.id || subtitle.language.id == traduction.subtitleFrom.language.id)}" v-on:click="changeTraduction(subtitle.language.id)">
                                    <span class="xp-dropdown-black-item">
                                        <span class="xp-dropdown-black-item-icon mr-2">
                                            <img v-bind:src="'/img/countries/' + subtitle.language.code +'.svg'" alt="">
                                        </span>
                                        <span class="dropdown-black-group-text">
                                            <span v-text="subtitle.language.name"></span>
                                        </span>
                                    </span>
                                </b-dropdown-item>
                            </b-dropdown>
                        </div>
                        <div class="xp-functions-menu-item">
                            <span class="xp-functions-menu-button xp-text-white">
                                <img src="/img/logo-icon.svg" alt="Inicio" title="Inicio">
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>
<script>
import Swal from 'sweetalert2'
import Slick from 'vue-slick'

    export default {
        data(){
			return{
                load: false,
                navs: {
                    navChallenges: false,
                    navSettings : false,
                    navLyrics: false,
                    navTraduction: false,
                    navLanguage: false,
                    navGem: false
                },
                tabs:{
                    repeat: false,
                    flashCard: false,
                    karaoke: true,
                    dictation: false
                },
                video: {
                    show: false,
                    currentTime: 0,
                    progressVideo: '00:00'
                },
                user: {},
                song: {},
                languages: {},
                subtitles:[],
                traduction: {
                    subtitleFrom: {},
                    subtitleTo: {},
                    translateWord: 0,
                    currentIndex: -1
                },
                player: null,
                settings: {
                    audioRoute: '',
                    speed: [
                        {label: 'x0.5', value: 0.50, active: false},
                        {label: 'x0.75', value: 0.75, active: false},
                        {label: 'Normal', value: 1.00, active: true},
                        {label: 'x1.25', value: 1.25, active: false}
                    ],
                    display: {
                        incomplete: {
                            label: 'Incompleta', value: 2, active: true
                        },
                        complete: {
                            label: 'Completa', value: 1, active: false
                        }
                    },
                    challenges: [
                        {label: "Todo", value: 0, active: true},
                        {label: "5", value: 5, active: false},
                        {label: "10", value: 10, active: false},
                        {label: "15", value: 15, active: false},
                        {label: "20", value: 20, active: false}
                    ],
                    fontSizes:[
                        {label: "16", value: 0.8, active: false},
                        {label: "20", value: 0.9, active: false},
                        {label: "24", value: 1, active: false},
                        {label: "26", value: 1.2, active: true},
                        {label: "28", value: 1.4, active: false}
                    ],
                    playSelect: {
                        active: false,
                        from: 0,
                        to: 0,
                        index: -1,
                        between: 0
                    },
                    pagination: {
                        active: false,
                        pages: 0,
                        from: -1,
                        to: -1,
                        range: 0,
                        page: 0
                    },
                    lyrics: {
                        languageId: 0
                    },
                    // TRADUCTION COMPLETE SUBTITLE
                    traduction: {
                        languageId: 0
                    },
                    showVideo: false,
                    playing: false,
                    // TRANSLATE WORD
                    translate: {
                        languageId: 0
                    },
                    gems:{
                        active:false,
                        subtitles: [],
                        win: 0,
                        approve: [],
                        winNow: 0,
                        exit: false
                    },
                    expand: false,
                    report: {
                        active: false,
                        content: '',
                        word: 'them [fonética]',
                        sourceLanguage: 0,
                        targetLanguage: 0
                    },
                    timeLine:{
                        min: 0,
                        max: 0,
                        step: 0.01,
                        width: 0,
                        value: 0
                    },
                    volumeLine:{
                        min: 0,
                        max: 1,
                        step: 0.1,
                        width: 0,
                        value: 0
                    }
                },
                slickOptions: {
                    slidesToShow: 5,
                    infinite: false
                    // Any other options that can be got from plugin documentation
                },
                backgrounds: {
                    colors: [
                        {"color": 'jshine', "active": false},
                        {"color": 'amin', "active": false},
                        {"color": 'flare', "active": false},
                        {"color": 'wiretap', "active": false},
                        {"color": 'quepal', "active": false},
                        {"color": 'purpink', "active": false},
                        {"color": 'very-blue', "active": false},
                        {"color": 'excursionista', "active": false}
                    ],
                    pictures:[]
                },
                startCarousel: false,
                pop: '',
                dictionaries: [],
                dictionary: {
                    active: false,
                    word: null,
                    translations: [],
                    wordOriginal: null
                },
                dataContainer: {
                    height: 0
                },
                firstPlaying: false
			}
        },
        components: { 
            Slick,
        },
        props:["id", "slug", "link"],
		mounted(){
            document.addEventListener('DOMContentLoaded', ()=>{
                this.getData()
                // DATA CONTAINER
                this.getHeightContainer()
            })

            document.addEventListener('click', (e)=>{
                let clic = e.target
                if(!clic.classList.contains('hideDic')){
                    this.closeDictionary()
                }
            })
        },
        methods: {
            getHeightContainer(){
                let container = document.getElementById('xp-functions-subtitles-scroll')
                if(container){
                    this.dataContainer.height = parseFloat(container.getClientRects()[0].height).toFixed(2)
                }
            },
            getData(){
                if(this.song.id != 0){
                    this.load = true
                    axios.post('/cancion/reproductor/data', {
                        id: this.id,
                        slug: this.slug
                    })
                    .then(response => {
                        this.audioRoute = response.data.audioRoute
                        this.song = response.data.song
                        this.user = response.data.user
                        this.languages = response.data.languages
                        this.subtitles = response.data.subtitles
                        this.routeProvious = response.data.routeProvious

                        if(this.user){
                            this.settings.gems.win = response.data.user.student.gems
                            this.user.student.languages.forEach((language)=>{
                                if(language.speak){
                                    this.settings.translate.languageId = language.language_id
                                }
                            })

                            this.setView(this.song.id)

                        }

                        this.backgrounds.pictures.push({
                            picture: ('/storage/songs/' + this.song.cover),
                            active: true
                        })

                        this.song.artists.forEach((artist) => {
                            this.backgrounds.pictures.push({
                                picture: ('/storage/artists/'+artist.picture),
                                active: false
                            })
                        })

                        this.subtitles.forEach(subtitle => {
                            if(subtitle.native){
                                this.traduction.subtitleFrom = subtitle
                                this.changeLyrics(subtitle.language.id)
                            }
                        });

                        this.startCarousel = true
                        this.initPlayer()
                        if(this.user){
                            this.getDictionaries()
                        }

                        this.saveViewSong(this.song.id)
    
                        this.load = false
                    })
                    .catch(error =>{
                        console.log(error)
                    })
                }
            },
            setView(songId){
                axios.post('/usuario/cancion/visita', {
                    songId: songId
                })
                .then(response => {
                    
                })
                .catch(error =>{

                })
            },
            saveViewSong(songId){
                axios.post('/cancion/visita/agregar', {
                    songId: songId
                })
                .then(response => {
                    
                })
                .catch(error =>{

                })
            },
            changeTab(nameTab){
                if(nameTab == 'repeat'){
                    this.tabs.repeat = true
                    this.tabs.flashCard = false
                    this.tabs.karaoke = false
                    this.tabs.dictation = false
                }
                else if(nameTab == 'flashCard'){
                    this.tabs.flashCard = true
                    this.tabs.repeat = false
                    this.tabs.karaoke = false
                    this.tabs.dictation = false
                }
                else if(nameTab == 'karaoke'){
                    this.tabs.karaoke = true
                    this.tabs.repeat = false
                    this.tabs.flashCard = false
                    this.tabs.dictation = false
                }
                else if(nameTab == 'dictation'){
                    this.tabs.dictation = true
                    this.tabs.repeat = false
                    this.tabs.flashCard = false
                    this.tabs.karaoke = false
                }
            },
            getDictionaries(){
                axios.get('/dictionario/lista', {
                })
                .then(response => {
                    this.dictionaries = response.data.dictionaries
                })
                .catch(error =>{
                })
            },
            closeDictionary(){
                this.dictionary.word = null
                this.dictionary.active = false
                this.dictionary.indexLine = null
                this.dictionary.indexWord = null
            },
            initPlayer(){
                this.player = new Plyr('#player')

                this.player.on('ready', event => {
                    
                    // INIT TEST
                    this.player = event.detail.plyr

                    // this.player.volume = 0
                    // this.player.play()
                    
                    // setTimeout(() => {
                    //     this.player.pause()
                    //     this.player.currentTime = 0
                    // }, 1000);

                    // TIME LINE VIDEO
                    this.settings.timeLine.max = this.player.duration
                    this.settings.timeLine.value = 0
                    // TIME LINE VOLUME VIDEO
                    this.player.volume = 1
                    this.settings.volumeLine.width = ( (1 - 0) * 100 ) / (1 - 0)

                    this.getCurretTimeVideo()

                    this.player.volume = 1
                    this.player.playing = false
                    this.player.speed = parseFloat(this.settings.speed[2])
                })

                this.player.on('playing', event => {
                    this.settings.playing = true
                    if(this.firstPlaying){
                        this.load = false
                    }
                })

                 this.player.on('pause', event => {
                    this.settings.playing = false
                })

                this.player.on('timeupdate', event => {
                    let currentTime = parseFloat(event.detail.plyr.currentTime).toFixed(2)
                    this.video.currentTime =  currentTime

                    // this.changeTimerVideo(null, currentTime)
                    this.settings.timeLine.width = ( (parseFloat(currentTime) - this.settings.timeLine.min) * 100 ) / (this.settings.timeLine.max - this.settings.timeLine.min)

                    this.getCurretTimeVideo()
                    this.player.speed = parseFloat(this.settings.speed[2])

                    // TEST
                    let found = false
                    let indexLineC = -1
                    let lineData

                    // PLAY SELECT
                    if(this.settings.playSelect.active){
                        let playStop = parseFloat(this.settings.playSelect.to).toFixed(3)
                        if(parseFloat(currentTime) > parseFloat(playStop)){
                            this.player.pause()
                            this.setPlaySelect(-1)
                        }
                    }

                    this.traduction.subtitleFrom.formated.forEach((line, indexLine)=>{
                        let timeStart = parseFloat(line.start).toFixed(4)
                        let timeEnd = parseFloat(line.end).toFixed(4)
                        if(parseFloat(currentTime) >= parseFloat(timeStart) && parseFloat(currentTime) <= parseFloat(timeEnd)){
                            found = true
                            lineData = line
                            indexLineC = indexLine
                        }
                    })

                    if(found){
                        let listWord = lineData.content.split(' ')
                        listWord.forEach((word)=>{
                            setTimeout(() => {
                                this.traduction.subtitleFrom.currentLine.push({
                                    word: word,
                                    traduction: ""
                                })
                                this.traduction.currentIndex = indexLineC
                            }, 500);
                        })
                    }
                    else{ 
                        this.traduction.subtitleFrom.currentLine = []
                        this.traduction.currentIndex = -1
                    }
                    
                })
            },
            changeTimerVideo(e, time){
                try{
                    
                    
                    this.player.currentTime = parseFloat(e.target.value)
                    this.video.currentTime = parseFloat(e.target.value)
                    this.settings.timeLine.width = ( (parseFloat(e.target.value) - this.settings.timeLine.min) * 100 ) / (this.settings.timeLine.max - this.settings.timeLine.min)
                    // this.getWithTimer()
                }
                catch(error){
                    console.log(error)
                }
            },
            getWithTimer(){
                try{
                    this.settings.timeLine.width = ( (this.player.currentTime - this.settings.itmeLine.min) * 100 ) / (this.settings.timeLine.max - this.settings.timeLine.min)
                }
                catch(error){

                }
            },
            changeVolume(e){
                this.player.volume = parseFloat(e.target.value)
                this.settings.volumeLine.width = ( (parseFloat(e.target.value) - this.settings.volumeLine.min) * 100 ) / (this.settings.volumeLine.max - this.settings.volumeLine.min)
            },
            getCurretTimeVideo(){
                this.video.progressVideo = this.formatTimeText(this.player.currentTime)
            },
            formatTimeText(valueTime){
                let timeC = valueTime.toString()
                let timesList = timeC.split('.')
                let totalSeconds = timesList[0]
                let minutes = 0
                let seconds = totalSeconds
                let resultTime = ""
                if(totalSeconds>60){
                    minutes = parseInt(totalSeconds/60)
                    seconds = totalSeconds%60
                }
                
                if(minutes<10){
                    resultTime="0"
                }
                resultTime+=(minutes+":")
                if(seconds<10){
                    resultTime+="0"
                }
                resultTime+=seconds

                return resultTime
            },
            actionVideo(action){
                if(action=='pause'){
                    this.player.pause()
                }
                else if(action=='play'){
                    this.player.muted = false
                    this.player.speed = 1
                    this.player.play()
                    if(!this.firstPlaying){
                        this.firstPlaying = true
                        this.load = true
                    }
                }
                else if(action=='stop'){
                    this.player.stop()
                }
                else if(action=='back'){
                    this.player.currentTime -= this.settings.controls.back
                }
                else if(action=='along'){
                    this.player.currentTime += this.settings.controls.along
                }
                else if(action=='volume'){
                    this.player.muted = false
                    this.video.muted = false
                }
                else if(action=='muted'){
                    this.player.muted = true
                    this.video.muted = true
                }
                else if(action=='fullscreen'){
                    this.player.fullscreen.enter()
                }
            },
            changeLyrics(id){
                if(id != this.settings.traduction.languageId || this.settings.traduction.languageId == 0){
                    this.settings.lyrics.languageId = id
                    this.subtitles.forEach(subtitle => {
                        if((subtitle.language.id == id) || (subtitle.native && id==0)){
                            this.traduction.subtitleFrom = subtitle
                            if(subtitle.language.id == this.settings.translate.languageId){
                                // this.changeTranslate(0)
                            }
                        }
                    });

                    if(id==0){
                        this.settings.traduction.languageId = 0
                        this.traduction.subtitleTo = {}
                    }
                }
            },
            changeTraduction(id){
                if(id != this.settings.lyrics.languageId && id != this.traduction.subtitleFrom.language.id){
                    this.settings.traduction.languageId = id
                    this.subtitles.forEach(subtitle => {
                        if((subtitle.language.id == id) || (subtitle.native && id==0)){
                            this.traduction.subtitleTo = subtitle
                        }
                    });

                    if(id==0){
                        this.settings.traduction.languageId = 0
                        this.traduction.subtitleTo = {}
                    }

                }

                if(this.settings.lyrics.languageId == 0){
                    this.resetLines(false)
                }
                else{
                    this.resetLines(true)
                }
            },
            resetLines(value){
                this.traduction.subtitleFrom.formated.forEach(line => {
                    line.show = value
                });
            },
            showDictionary(wordData, indexLine, indexWord){
                this.dictionary.wordOriginal = wordData.word
                let exist = false
                let sourceLanguage = this.traduction.subtitleFrom.language.code
                let targetLanguage = 0
                this.languages.forEach((language)=>{
                    if(language.id == this.settings.translate.languageId){
                        targetLanguage = language.code
                    }
                })

                if(sourceLanguage != targetLanguage){
                    this.dictionary.translations.forEach(transW => {
                        if(transW){
                            if(transW.word == wordData.word && transW.targetLanguage==targetLanguage && transW.sourceLanguage==sourceLanguage){
                                this.dictionary.active = true
                                this.dictionary.word = transW
                                this.playAudio(this.dictionary.word.audio)
                                this.player.pause()
                                exist = true
                            }
                        }
                    });
    
                    if(!exist){
                        let wordClear = wordData.word.replace(/[`~!@#$%^&*()_|+\-=?;:",.<>\{\}\[\]\\\/]/gi, "")
                        wordClear = wordClear.replace(/' |\s'/gi, " ")
                        axios.post('/translate', {
                            word: this.clearWord(wordClear),
                            sourceLanguage: sourceLanguage,
                            targetLanguage: targetLanguage
                        })
                        .then(response => {
                            this.dictionary.active = true
                            this.dictionary.word = response.data.word
                            this.dictionary.translations.push(response.data.word)
                            this.playAudio(this.dictionary.word.audio)
                            this.player.pause()
                        })
                        .catch(error =>{
                        })
                    }
                }

            },
            clearWord(word){
                // .replace('(',"").replace(')',"")
                let clearW = word.replace(',',"").replace('?', "").replace('¿', "")
                return clearW
            },
            playAudio(word){
                if(word){
                    let code = this.traduction.subtitleFrom.language.code
                    let route = this.audioRoute + '/' + code + '/' + word
                    let audio = new Audio(route);
                    audio.play();
                }
            },
            clearSimbols(word){
                let wordClear = word.replace(/[`~!@#$%^&*()_|+\-=?;:",.<>\{\}\[\]\\\/]/gi, "")
                wordClear = wordClear.replace(/' |\s'/gi, " ")
                return wordClear
            },
            getFormatPhonetic(wordData){
                let phonetic = ''
                if(wordData.phonetic){
                    let init = 0
                    if(wordData.phonetic.length>0){
                        phonetic += ' / '
                        if(wordData.phonetic.substring(0,1) == "ˈ" || wordData.phonetic.substring(0,1) == "ˌ"){
                            init = 1
                        }
                        phonetic += wordData.phonetic.substring(init, wordData.phonetic.length)
                        phonetic += ' /'
                    }
                }
                return phonetic
            },
            saveWordDictionary(wordData){
                this.load = true
                axios.post('/diccionario/guardar', {
                    word: wordData.word,
                    sourceLanguageId: this.traduction.subtitleFrom.language.id,
                    targetLanguageId: this.settings.translate.languageId
                })
                .then(response => {
                    this.getDictionaries()
                    this.load = false
                })
                .catch(error =>{
                })
            },
            existDisctionary(wordData){
                let result = false
                this.dictionaries.forEach((dictionary) => {
                    if(wordData.word == dictionary.word && this.traduction.subtitleFrom.language.id == dictionary.source_language_id && this.settings.translate.languageId == dictionary.target_language_id){
                        result = true
                    }
                })
                return result
            },
            showReport(indexLine, indexWord){
                this.$root.$emit('bv::hide::popover')
                // let word = this.traduction.subtitleFrom.formated[indexLine].words[indexWord].word
                // let phonetic = this.traduction.subtitleFrom.formated[indexLine].words[indexWord].phonetic
                let word = this.dictionary.word.word
                let phonetic = this.dictionary.word.phonetic
                this.settings.report.word = word + ' [' + phonetic + ']'
                this.settings.report.active = true
                this.settings.report.sourceLanguage = this.traduction.subtitleFrom.language.id
                this.settings.report.targetLanguage = this.settings.translate.languageId
            },
            getAudioOriginal(){
                let lOr = '----'
                this.subtitles.forEach(subtitle => {
                    if(subtitle.native){
                        lOr = subtitle.language.name
                    }
                })
                return lOr
            },
            getActiveLine(indexWord, indexLine, id){
                // let result = false;
                // if(indexWord == indexLine){
                //     result = true
                //     let list = document.getElementById('xp-card-iteraction-body-list')
                //     let lineDiv = document.getElementById(id)
                //     list.scrollTop = lineDiv.offsetTop + (this.dataContainer.height)
                // }
                // return result
            }
        },
        computed: {
        }
    }
</script>
