<template>
    <div class="xp-player-card">
        <div class="xp-player-result animated fadeIn delay-01s" v-if="settings.gems.exit">
            <div class="xp-player-result-content">
                <span class="xp-player-result-title" v-text="(settings.gems.winNow==0)?'¡Lo sentimos mucho!':'¡Felicidades!'" v-bind:class="[settings.gems.winNow>0?'xp-text-primary':'xp-text-danger']"></span>
                <span class="xp-player-result-subtitle" v-text="(settings.gems.winNow==0)?'No has ganado ninguna gema':'Has ganado:'">
                </span>
                <span class="xp-player-result-win" v-if="settings.gems.winNow>0">
                    <span v-text="settings.gems.winNow"></span>
                    <img src="/img/gem-jade.svg" alt="">
                </span>
                <button class="xp-button xp-button-primary xp-button-pd px-4" v-on:click="resetPlayGems('part')">
                    Volver a jugar
                </button>
                <span class="xp-player-result-link" v-on:click="resetPlayGems('total')">
                    <i class="fas fa-chevron-left"></i>
                    <span>Volver al inicio de la canción </span>
                </span>
            </div>
        </div>
        <div class="xp-player-result animated fadeIn delay-01s" v-if="settings.report.active">
            <div class="xp-dropdown-config-close" v-on:click="hideReport()">
                <i class="fas fa-times"></i>
            </div>
            <div class="xp-player-result-content">
                <span class="xp-player-result-subtitle-lg xp-text-white">
                    <i class="fas fa-exclamation-triangle mr-2"></i>
                        Reportar
                </span>
                <span class="xp-player-result-subtitle-xs">
                    Te ofrecemos disculpas por nuestro error, pero por favor, cuéntanos con toda confianza en qué hemos fallado.
                </span>
                <div class="xp-functions-subtitles-item-box p-0">
                    <div class="xp-functions-gems">
                        <textarea style="height: 7rem;" class="pt-5" rows="1" maxlength="100" wrap="soft"  placeholder="Anótalo aquí" @keydown="noEnter($event)" v-model="settings.report.content"></textarea>
                        <span v-text="settings.report.word" class="xp-functions-gems-abstitle"></span>
                    </div>
                </div>
                <button class="xp-button xp-button-primary xp-button-pd px-4 mt-5" v-on:click="sendReport()">
                    Enviar
                </button>
            </div>
        </div>
        <!-- LOADER -->
        <loader :show="load"></loader>
        <div class="xp-player-card-header collapse" id="xpCollapseVideo">
            <div class="xp-player-card-video">
                <div class="plyr__video-embed" id="player">
                    <iframe
                        v-bind:src="link"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"
                    ></iframe>
                </div>
            </div>
        </div>
        <div class="xp-player-card-body xp-music-nocomplete" v-bind:class="{'xp-music-complete':settings.expand}">
            <div class="xp-functions">
                <div class="xp-functions-header">
                    <div class="xp-functions-menu">
                        <div class="xp-functions-menu-item">
                            <a v-bind:href="'/cancion/'+song.id+'/'+song.slug">
                                <span class="xp-functions-menu-button">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                            </a>
                        </div>
                        <div class="xp-functions-menu-item xp-functions-menu-item-static d-flex flex-column align-items-start">
                            <div class="xp-functions-menu-title" v-text="song.name"></div>
                            <div class="xp-functions-menu-subtitle">
                                <a v-bind:href="'/artistas/'+artist.slug" class="mr-2" v-for="artist in song.artists" v-text="artist.stage_name"></a>
                            </div>
                        </div>
                        <div class="xp-functions-menu-item mr-1" v-if="!settings.gems.active">
                            <span class="xp-functions-menu-button" v-on:click="showVideo()" data-toggle="collapse" data-target="#xpCollapseVideo" aria-expanded="false" aria-controls="xpCollapseVideo">
                                <span v-if="settings.showVideo" class="xp-button-imagen"><img src="/img/youtube-enabled.svg" alt=""></span>
                                <span v-else class="xp-button-imagen"><img src="/img/youtube-disabled.svg" alt=""></span>
                            </span>
                        </div>
                        <div class="xp-functions-menu-item">
                            <span class="xp-functions-menu-button xp-decoration" v-on:click="changeNav('navChallenges')">
                                {{ getCurrentChallenges() }}
                                <img src="/img/playlist.svg" class="ml-2" alt="">
                                <!-- <img src="/img/times.svg" v-else class="ml-2" alt=""> -->
                            </span>
                        </div>
                    </div>
                </div>
                <div class="xp-functions-title-gems" v-if="settings.gems.active">
                    <div class="xp-functions-title-gems-item">
                        <span class="xp-functions-title-gems-number xp-text-jade">
                            <span v-text="settings.gems.win"></span>
                            <img src="/img/gem-jade.svg" alt="">
                        </span>
                        <span class="xp-functions-title-gems-title">
                            Gemas ganadas
                        </span>
                    </div>
                </div>
                <div class="xp-funcitons-body" v-bind:class="{'xp-funcitons-body-complete':(settings.gems.active || settings.expand), 'xp-funcitons-body-max':settings.expand}">
                    <div class="xp-functions-subtitles xp-back-cover xp-backcontent" style="background: url('/img/songs/balvin.jpg');" v-bind:style="{ backgroundImage: 'url(' + getPictureBackground() + ')', backgroundSize: 'cover', backgroundPosition:'center' }" v-bind:class="getClassBackground()">
                        <div class="xp-functions-subtitles-content">
                            <div class="xp-functions-subtitles-header" v-if="!settings.gems.active">
                                <span class="xp-functions-subtitle-button" v-on:click="changeNav('navSettings')">
                                    <i class="fas fa-ellipsis-h"></i>
                                </span>
                            </div>
                            <!-- SUBTITLES BOX -->
                            <div class="xp-functions-subtitles-body xp-functions-subtitles-body-complete" v-if="settings.gems.active">
                                <div class="xp-functions-subtitles-list">
                                    <div class="xp-functions-subtitles-list-item" v-for="(subtitle, indexLine) in settings.gems.subtitles">
                                        <div class="xp-functions-subtitles-list-item-content">
                                            <span class="xp-functions-subtitles-item-button" @click="setPlaySelect(indexLine)" v-bind:class="{'xp-text-jade':(subtitle.approve == 1), 'xp-text-danger':subtitle.approve==2}">
                                                <i v-if="settings.playSelect.active && settings.playSelect.index == indexLine" class="fas fa-pause-circle"></i>
                                                <i v-else class="fas fa-play-circle"></i>
                                            </span>
                                            <!-- BOX COMPARE -->
                                            <div class="xp-functions-subtitles-item-box">
                                                <div class="xp-functions-gems">
                                                    <textarea rows="1" maxlength="100" wrap="soft"  placeholder="Transcribe el audio aquí" @keydown="noEnter($event)" v-model="subtitle.transcription" v-bind:class="evaluateApprove(indexLine)" v-if="subtitle.approve == 0"></textarea>
                                                    <div class="xp-functions-gems-text" v-else v-bind:class="{'xp-transcribe-success':(subtitle.approve == 1), 'xp-transcribe-error':subtitle.approve==2}">
                                                        <span v-text="subtitle.transcription"></span>
                                                        <span v-text="'Rpta: '+subtitle.content"></span>
                                                    </div>
                                                    <span class="xp-functions-gems-check" v-on:click="evaluateTranscription(indexLine)" v-if="subtitle.approve==0">
                                                        <i class="fas fa-check"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- SUBTITLES NORMAL -->
                            <div class="xp-functions-subtitles-body" v-bind:class="{'xp-functions-subtitles-body-max':settings.expand}" v-else>
                                <div class="xp-functions-subtitles-list" id="xp-functions-subtitles-scroll">
                                    <div class="xp-functions-subtitles-list-item" v-for="(line, indexLine) in traduction.subtitleFrom.formated" v-bind:class="{active:getActiveLine(traduction.currentIndex, indexLine, 'cf-line-subtitle-'+indexLine)}" v-if="getShowLine(indexLine)" v-bind:id="'cf-line-subtitle-'+indexLine">
                                        <!-- SUBTITLE LYRICS -->
                                        <div class="xp-functions-subtitles-list-item-content">
                                            <span class="xp-functions-subtitles-item-button" @click="setPlaySelect(indexLine)">
                                                <i v-if="settings.playSelect.active && settings.playSelect.index == indexLine && player.playing" class="fas fa-pause-circle"></i>
                                                <i v-else class="fas fa-play-circle"></i>
                                            </span>
                                            <!-- LINE TEXT -->
                                            <div class="xp-functions-subtitles-item-text">
                                                <div class="xp-functions-subtitles-item-group">
                                                    <span class="xp-functions-subtitles-item-word xp-setting-text principal" v-for="(word, indexWord) in line.words" v-text="word.word" v-if="line.show || settings.lyrics.languageId != 0" v-on:click="showDictionary(word, indexLine, indexWord)">
                                                        <!-- POPOVER -->
                                                        <!-- <b-popover :target="'xp-popover-target-'+indexLine+'-'+indexWord" triggers="hover" placement="top" custom-class="xp-popover xp-popover-dictionary xp-popover-primary" v-bind:style="{top: '100px !important'}" @show="openPop($event)"> -->
                                                        <!-- @show="getTranslate(indexLine, indexWord)" -->
                                                            <!-- <div class="xp-functions-subtitles-dictionary">
                                                                <div class="xp-card-dictionary">
                                                                    <div class="xp-card-dictionary-header">
                                                                        <div class="xp-card-dictionary-word">
                                                                            <span class="xp-card-dictionary-button" v-on:click="playAudio(word.audio)">
                                                                                <i class="fas fa-volume-up"></i>
                                                                            </span>
                                                                            <span class="xp-card-dictionary-word-text text-white" v-text="word.word + ((word.phonetic)?(' [' + word.phonetic + ']'):'')">
                                                                            </span>
                                                                        </div>
                                                                        <span class="xp-card-dictionary-button" v-on:click="saveWordDictionary(word)">
                                                                            <i v-if="existDisctionary(word)" class="fas fa-minus"></i>
                                                                            <i v-else class="fas fa-plus"></i>
                                                                        </span>
                                                                    </div>
                                                                    <div class="xp-card-dictionary-body">
                                                                        <span class="xp-card-dictionary-traduction" v-text="word.translation">
                                                                        </span>
                                                                        <span class="xp-card-dictionary-references">
                                                                            <span class="xp-card-dictionary-references-text">
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="xp-card-dictionary-footer mt-3">
                                                                        <button class="xp-button  xp-button-success xp-button-margin xp-text-dark" @click="closePopover">
                                                                            Continuar
                                                                        </button>
                                                                        <span class="xp-card-dictionary-footer-link xp-text-danger ml-4" v-on:click="showReport(indexLine, indexWord)">
                                                                            Reportar
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div> -->

                                                        <!-- END POPOVER -->
                                                        <!-- </b-popover> -->
                                                    </span>
                                                    

                                                    <!-- TOOLTIP TRANSLATE -->
                                                    <!-- END TOOLTIP TRANSLATE -->

                                                </div>
                                                <!-- SUBTITLE TRADUCTION -->
                                                <div class="xp-functions-subtitles-list-item-content xp-functions-subtitles-traduction" v-if="settings.traduction.languageId!=0 && line.show">
                                                    <div class="xp-functions-subtitles-item-text">
                                                        <div class="xp-functions-subtitles-item-group">
                                                            <span class="xp-functions-subtitles-item-word xp-word-traduction xp-setting-text" v-for="word in traduction.subtitleTo.formated[indexLine].words" v-text="word.word"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="xp-functions-subtitles-item-button" @click="changeShowLine(indexLine)" v-if="settings.lyrics.languageId == 0 && !settings.gems.active">
                                                <i v-if="line.show" class="fas fa-eye-slash"></i>
                                                <i v-else class="fas fa-eye"></i>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="xp-functions-subtitles-footer" v-if="!settings.gems.active">
                                <span class="xp-functions-subtitle-button" v-on:click="changeNav('navLyrics')">
                                    <img src="/img/music-sound.svg" class="mr-2" alt="">
                                    <span v-text="(settings.lyrics.languageId == 0)?'Sin letra':traduction.subtitleFrom.language.name"></span>
                                </span>
                                <span class="xp-functions-subtitle-button" v-on:click="changeNav('navTraduction')">
                                    <img src="/img/translate.svg" class="mr-2" alt="">
                                    <span v-text="(settings.traduction.languageId == 0)?'Sin traducción':traduction.subtitleTo.language.name"></span>
                                </span>
                                <!-- PLAY -->
                                 <span class="xp-functions-subtitle-button mx-2" v-if="settings.lyrics.languageId != 0 && settings.expand" v-on:click="player.playing?player.pause():player.play()">
                                    <i v-if="settings.playing" class="fas fa-pause"></i>
                                    <i v-else class="fas fa-play"></i>
                                </span>
                                <!-- EXPAND -->
                                <span class="xp-functions-subtitle-button" v-on:click="changeExpand()">
                                    <i class="fas fa-compress" v-if="settings.expand"></i>
                                    <i class="fas fa-expand" v-else></i>
                                </span>
                            </div>
                        </div>
                    </div>


                    <!-- POPPOVER DICTIONARY -->
                    <div class="xp-popper-dictionary animated fadeIn delay-01s" v-if="dictionary.active && dictionary.word">
                        <div class="xp-popper-dictionary-content hideDic">
                            <div class="xp-card-dictionary hideDic">
                                <div class="xp-card-dictionary-header hideDic">
                                    <div class="xp-card-dictionary-word hideDic">
                                        <span class="xp-card-dictionary-button hideDic" v-on:click="playAudio(dictionary.word.audio)">
                                            <i class="fas fa-volume-up hideDic"></i>
                                        </span>
                                        <span class="xp-card-dictionary-word-text text-white hideDic">
                                            <span v-text="clearSimbols(dictionary.wordOriginal)"></span>
                                            <span v-text="getFormatPhonetic(dictionary.word)"></span>
                                        </span>
                                    </div>
                                    <span v-if="user" class="xp-card-dictionary-button xp-card-dictionary-button-xs xp-text-warning hideDic" v-on:click="saveWordDictionary(dictionary.word)" v-bind:class="{'cf-icon-animation': existDisctionary(dictionary.word)}">
                                        <i v-if="existDisctionary(dictionary.word)" class="fas fa-bookmark hideDic"></i>
                                        <i v-else class="far fa-bookmark hideDic"></i>
                                    </span>
                                </div>
                                <div class="xp-card-dictionary-body hideDic">
                                    <span class="xp-card-dictionary-traduction hideDic" v-text="dictionary.word.translation">
                                    </span>
                                    <span class="xp-card-dictionary-references hideDic">
                                        <span class="xp-card-dictionary-references-text hideDic">
                                        </span>
                                    </span>
                                </div>
                                <div class="xp-card-dictionary-footer mt-3 hideDic">
                                    <button class="xp-button  xp-button-success xp-button-margin xp-text-dark hideDic" @click="closeDictionary()">
                                        Continuar
                                    </button>
                                    <span v-if="user" class="xp-card-dictionary-footer-link xp-text-white ml-4 hideDic" v-on:click="showReport(dictionary.indexLine, dictionary.indexWord)">
                                        Reportar
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END POPPOVER DICTIONARY -->

                </div>
            </div>
        </div>
        <!-- pb-5 mb-5 -->
        <div class="xp-player-card-footer" v-if="!settings.expand">
            <span class="xp-functions-button-large my-3" v-if="settings.lyrics.languageId != 0" v-on:click="player.playing?player.pause():player.play()">
                <i v-if="settings.playing" class="fas fa-pause"></i>
                <i v-else-if="!settings.playing" class="fas fa-play"></i>
            </span>
            <div class="xp-functions-menu" v-if="settings.lyrics.languageId==0">
                <div class="xp-functions-menu-item">
                    <span class="xp-functions-menu-button" v-on:click="moveScroll(false)">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="xp-functions-menu-button" v-on:click="moveScroll(true)">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="xp-player-card-bottom" v-if="settings.lyrics.languageId != 0 && !settings.expand">
            <div class="xp-player-card-bottom-content justify-content-center" v-if="settings.gems.active">
                <button class="xp-button xp-button-primary xp-button-pd" v-on:click="exitTranscription()">
                    Finalizar desafío
                </button>
            </div>
            <div class="xp-player-card-bottom-content" v-else>
                <span class="xp-player-card-bottom-item xp-text-primary" v-on:click="changeNav('navLanguage')">
                    <img src="/img/dictionary-primary.svg" alt="">
                    <span v-text="getNameTranslate()"></span>
                </span>
                <span v-if="user" class="xp-player-card-bottom-item xp-text-jade" v-on:click="setListForGems()">
                    <img src="/img/gem-jade.svg" alt="">
                    Obtener gemas
                </span>
            </div>
        </div>

        <!-- NAVS -->
        <!-- NAV CHALLENGES -->
        <div class="xp-dropdown-config animated fadeIn delay-01s pt-4" v-if="navs.navChallenges">
            <div class="xp-triangle xp-dropdown-config-triangle">
            </div>
            <div class="xp-dropdown-config-close" v-on:click="changeNav('navChallenges')">
                <i class="fas fa-times"></i>
            </div>
            <h4 class="xp-dropdown-config-title">
                Personaliza tu aprendizaje a tu propio ritmo. 
                    Divide esta canción en pequeños fragmentos y  supera cada desafío.
            </h4>
            <div class="xp-card-challenges mt-3">
            <div class="xp-card-challenges-header">
                <span class="xp-card-challenges-title">
                    N° de filas a practicar
                </span>
                <div class="xp-form-group m-0 pr-0">
                    <select class="xp-form-control xp-form-control-success" name="" @change="changeChallenge($event)">
                        <option v-for="challenge in settings.challenges" v-bind:value="challenge.value" v-text="challenge.label" :selected="challenge.active" class="xp-option-select"></option>
                    </select>
                </div>
            </div>
            <div class="xp-card-challenges-body">
                <div class="xp-card-challenges-list">
                    <div class="xp-card-challenges-item" v-for="n in settings.pagination.pages" v-on:click="setRangePagination(n)" v-bind:class="{active: (n==settings.pagination.page)}">
                        <span class="xp-card-challenges-item-button mr-2">
                            <i class="fas fa-play-circle"></i>
                        </span>
                        <span class="xp-card-challenges-item-text" v-text="'Desafío '+ n"></span>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- NAV SETTINGS -->
        <div class="xp-dropdown-config xp-dropdown-config-settings animated fadeIn delay-01s pt-4" v-if="navs.navSettings">
            <!-- <div class="xp-triangle xp-dropdown-config-triangle">
            </div> -->
            <div class="xp-dropdown-config-close" v-on:click="changeNav('navSettings')">
                <i class="fas fa-times"></i>
            </div>
            <div class="xp-card-settings-player mt-3">
                <div class="xp-card-settigs-player-list">
                    <div class="xp-card-settigs-player-item">
                        <span class="xp-card-settigs-player-title">
                            Velocidad de Reproducción
                        </span>
                        <div class="xp-card-settigs-player-options mt-1">
                            <div class="xp-card-settigs-player-option" v-for="speed in settings.speed" v-on:click="setSeedVideo(speed)">
                                <div>
                                    <i class="fas fa-check" v-if="speed.active"></i>
                                    <span v-text="speed.label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="xp-card-settigs-player-item">
                        <span class="xp-card-settigs-player-title">
                            Fondo de Pantalla
                        </span>


                        <!-- SLIDER -->
                        <div class="xp-colors-carousel my-3 ml-1" v-if="startCarousel">
                                <span class="xp-colors-carousel-button xp-left"  v-on:click="prev()">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                            <slick ref="slick" :options="slickOptions" @setPosition="handleSetPosition">
                                <div class="xp-carousel-colors-item" v-for="picture in backgrounds.pictures">
                                    <span class="xp-carousel-colors-item-content" v-bind:style="{ backgroundImage: 'url(' + picture.picture + ')', backgroundSize: 'cover' }" v-on:click="changeBackground('picture',picture.picture)" v-bind:class="[
                                    {active:picture.active}]"></span>
                                    <span class="xp-carousel-colors-item-content-back">
                                        <span>
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </div>
                                <div class="xp-carousel-colors-item" v-for="color in backgrounds.colors">
                                    <span class="xp-carousel-colors-item-content" v-bind:class="[color.color, {active:color.active}]" v-on:click="changeBackground('color', color.color)"></span>
                                    <span class="xp-carousel-colors-item-content-back">
                                        <span>
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </div>
                            </slick>
                                <span class="xp-colors-carousel-button xp-right" v-on:click="next()">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            
                        </div>
                    </div>
                    <div class="xp-card-settigs-player-item">
                        <span class="xp-card-settigs-player-title">
                            Tamaño de letra
                        </span>
                        <div class="xp-card-settigs-player-options mt-1">
                            <div class="xp-card-settigs-player-option mx-3" v-for="fontSize in settings.fontSizes" v-on:click="changeFontSize(fontSize)">
                                <div>
                                    <i class="fas fa-check" v-if="fontSize.active"></i>
                                    <span v-text="fontSize.label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- NAV LYRICS -->
        <div class="xp-dropdown-config animated fadeIn delay-01s pt-4" v-if="navs.navLyrics">
            <div class="xp-dropdown-config-close" v-on:click="changeNav('navLyrics')">
                <i class="fas fa-times"></i>
            </div>
            <h4 class="xp-dropdown-config-title">
                <img src="/img/music-sound-primary.svg" alt="">
                Elige la LETRA de tu canción
            </h4>
            <div class="xp-lyrics-list">
                <div class="xp-lyrics-content">
                    <div class="xp-lyrics-item" v-bind:class="{active:settings.lyrics.languageId == 0}" v-on:click="changeLyrics(0)">
                        <div class="xp-lyrics-item-box w-100 pl-2">
                            <span class="xp-lyrics-item-icon">
                                <img src="/img/music-sound.svg" alt="">
                            </span>
                            <span class="xp-lyrics-item-text">Sin letra</span>
                        </div>
                        <span v-if="settings.lyrics.languageId == 0" class="xp-lyrics-item-check">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <div class="xp-lyrics-item" v-for="subtitle in subtitles" v-bind:class="{active:settings.lyrics.languageId == subtitle.language.id, disabled: (settings.traduction.languageId == subtitle.language.id)}" v-on:click="changeLyrics(subtitle.language.id)">
                        <div class="xp-lyrics-item-box w-100">
                            <span class="xp-lyrics-item-icon xp-lyrics-item-icon-rounded">
                                <img v-bind:src="'/img/countries/' + subtitle.language.code +'.svg'" alt="">
                            </span>
                            <span class="xp-lyrics-item-text">
                                <span v-text="subtitle.language.name" class="mr-2"></span>
                                <span v-text="subtitle.status + '%'"></span>
                            </span>
                        </div>
                        <span v-if="settings.lyrics.languageId == subtitle.language.id" class="xp-lyrics-item-check">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="xp-lyrics-item-disabled">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- NAV TRADUCTION -->
        <div class="xp-dropdown-config animated fadeIn delay-01s pt-4" v-if="navs.navTraduction">
            <div class="xp-dropdown-config-close" v-on:click="changeNav('navTraduction')">
                <i class="fas fa-times"></i>
            </div>
            <h4 class="xp-dropdown-config-title">
                <img src="/img/translate-primary.svg" alt="">
                Elige la TRADUCCIÓN de tu letra
            </h4>
            <div class="xp-lyrics-list">
                <div class="xp-lyrics-content">
                    <div class="xp-lyrics-item" v-bind:class="{active:settings.traduction.languageId == 0}" v-on:click="changeTraduction(0)">
                        <div class="xp-lyrics-item-box w-100 pl-2">
                            <span class="xp-lyrics-item-icon">
                                <img src="/img/translate.svg" alt="">
                            </span>
                            <span class="xp-lyrics-item-text">Sin traducción</span>
                        </div>
                        <span v-if="settings.traduction.languageId == 0" class="xp-lyrics-item-check">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="xp-lyrics-item-disabled">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <div class="xp-lyrics-item" v-for="subtitle in subtitles" v-bind:class="{active:settings.traduction.languageId == subtitle.language.id, disabled: (settings.lyrics.languageId == subtitle.language.id || subtitle.language.id == traduction.subtitleFrom.language.id)}" v-on:click="changeTraduction(subtitle.language.id)">
                        <div class="xp-lyrics-item-box w-100">
                            <span class="xp-lyrics-item-icon xp-lyrics-item-icon-rounded">
                                <img v-bind:src="'/img/countries/' + subtitle.language.code +'.svg'" alt="">
                            </span>
                            <span class="xp-lyrics-item-text w-100">
                                <span v-text="subtitle.language.name" class="mr-2"></span>
                                <span v-text="subtitle.status + '%'"></span>
                            </span>
                        </div>
                        <span v-if="settings.traduction.languageId == subtitle.language.id" class="xp-lyrics-item-check">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="xp-lyrics-item-disabled">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- NAV LANGUAGE -->
        <div class="xp-dropdown-config animated fadeIn delay-01s pt-4" v-if="navs.navLanguage">
            <div class="xp-dropdown-config-close" v-on:click="changeNav('navLanguage')">
                <i class="fas fa-times"></i>
            </div>
            <h4 class="xp-dropdown-config-title">
                <img src="/img/dictionary-primary.svg" alt="">
                Elige el idioma para traducir cada palabra.
                Recuerda que estas palabras traducidas puedas agregarlas tu DICCIONARIO (+)
            </h4>
            <div class="xp-lyrics-list">
                <div class="xp-lyrics-content">
                    <div class="xp-lyrics-item" v-for="language in languages" v-bind:class="{active:settings.translate.languageId == language.id, disabled: settings.lyrics.languageId == language.id}" v-on:click="changeTranslate(language.id)">
                        <div class="xp-lyrics-item-box w-100">
                            <span class="xp-lyrics-item-icon xp-lyrics-item-icon-rounded">
                                <img v-bind:src="'/img/countries/' + language.code +'.svg'" alt="">
                            </span>
                            <span class="xp-lyrics-item-text" v-text="language.name"></span>
                        </div>
                        <span v-if="settings.translate.languageId == language.id" class="xp-lyrics-item-check">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="xp-lyrics-item-disabled">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END NAVS -->

    </div>
</template>
<script>
import Slick from 'vue-slick';
import Swal from 'sweetalert2';

    export default {
        components: { 
            Slick,
        },
        data(){
			return{
                load: false,
                navs: {
                    navChallenges: false,
                    navSettings : false,
                    navLyrics: false,
                    navTraduction: false,
                    navLanguage: false,
                    navGem: false
                },
                video: {
                    show: false,
                    currentTime: 0
                },
                user: {},
                song: {},
                languages: {},
                subtitles:{},
                traduction: {
                    subtitleFrom: {},
                    subtitleTo: {},
                    translateWord: 0,
                    currentIndex: -1
                },
                player: null,
                settings: {
                    audioRoute: '',
                    speed: [
                        {label: 'x0.5', value: 0.50, active: false},
                        {label: 'x0.75', value: 0.75, active: false},
                        {label: 'Normal', value: 1.00, active: true},
                        {label: 'x1.25', value: 1.25, active: false}
                    ],
                    display: {
                        incomplete: {
                            label: 'Incompleta', value: 2, active: true
                        },
                        complete: {
                            label: 'Completa', value: 1, active: false
                        }
                    },
                    challenges: [
                        {label: "Todo", value: 0, active: true},
                        {label: "5", value: 5, active: false},
                        {label: "10", value: 10, active: false},
                        {label: "15", value: 15, active: false},
                        {label: "20", value: 20, active: false}
                    ],
                    fontSizes:[
                        {label: "16", value: 0.8, active: false},
                        {label: "20", value: 0.9, active: false},
                        {label: "24", value: 1, active: false},
                        {label: "26", value: 1.2, active: true},
                        {label: "28", value: 1.4, active: false}
                    ],
                    playSelect: {
                        active: false,
                        from: 0,
                        to: 0,
                        index: -1,
                        between: 0
                    },
                    pagination: {
                        active: false,
                        pages: 0,
                        from: -1,
                        to: -1,
                        range: 0,
                        page: 0
                    },
                    lyrics: {
                        languageId: 0
                    },
                    // TRADUCTION COMPLETE SUBTITLE
                    traduction: {
                        languageId: 0
                    },
                    showVideo: false,
                    playing: false,
                    // TRANSLATE WORD
                    translate: {
                        languageId: 0
                    },
                    gems:{
                        active:false,
                        subtitles: [],
                        win: 0,
                        approve: [],
                        winNow: 0,
                        exit: false
                    },
                    expand: false,
                    report: {
                        active: false,
                        content: '',
                        word: 'them [fonética]',
                        sourceLanguage: 0,
                        targetLanguage: 0
                    }
                },
                slickOptions: {
                    slidesToShow: 5,
                    infinite: false
                    // Any other options that can be got from plugin documentation
                },
                backgrounds: {
                    colors: [
                        {"color": 'jshine', "active": false},
                        {"color": 'amin', "active": false},
                        {"color": 'flare', "active": false},
                        {"color": 'wiretap', "active": false},
                        {"color": 'quepal', "active": false},
                        {"color": 'purpink', "active": false},
                        {"color": 'very-blue', "active": false},
                        {"color": 'excursionista', "active": false}
                    ],
                    pictures:[]
                },
                startCarousel: false,
                pop: '',
                dictionaries: [],
                dictionary: {
                    active: false,
                    word: null,
                    translations: [],
                    wordOriginal: null
                },
                dataContainer: {
                    height: 0
                }
			}
        },
        props:["id", "slug", "link"],
		mounted(){
            document.addEventListener('DOMContentLoaded', ()=>{
                this.getData()
                // DATA CONTAINER
                this.getHeightContainer()
            })

            document.addEventListener('click', (e)=>{
                // let dictionary = document.querySelector('.xp-popper-dictionary-content')
                let clic = e.target
                if(!clic.classList.contains('hideDic')){
                    this.closeDictionary()
                }
            })
        },
        methods: {
            getHeightContainer(){
                let container = document.getElementById('xp-functions-subtitles-scroll')
                if(container){
                    this.dataContainer.height = parseFloat(container.getClientRects()[0].height).toFixed(2)
                }
            },
            next() {
                this.$refs.slick.next();
            },
            prev() {
                this.$refs.slick.prev();
            },
            reInit() {
                // Helpful if you have to deal with v-for to update dynamic lists
                this.$nextTick(() => {
                    this.$refs.slick.reSlick();
                });
            },
            changeNav(navVal){
                if(navVal=='navChallenges'){
                    this.navs.navSettings = false
                    this.navs.navLyrics = false
                    this.navs.navTraduction = false
                    this.navs.navLanguage = false
                    this.navs.navGem = false
                    this.navs.navChallenges = !this.navs.navChallenges
                }
                else if(navVal=='navSettings'){
                    this.navs.navLyrics = false
                    this.navs.navTraduction = false
                    this.navs.navChallenges = false
                    this.navs.navLanguage = false
                    this.navs.navGem = false
                    this.navs.navSettings = !this.navs.navSettings
                }
                else if(navVal == 'navLyrics'){
                    this.navs.navSettings = false
                    this.navs.navTraduction = false
                    this.navs.navChallenges = false
                    this.navs.navLanguage = false
                    this.navs.navGem = false
                    this.navs.navLyrics = !this.navs.navLyrics
                }
                else if(navVal == 'navTraduction'){
                    this.navs.navSettings = false
                    this.navs.navLyrics = false
                    this.navs.navChallenges = false
                    this.navs.navLanguage = false
                    this.navs.navGem = false
                    this.navs.navTraduction = !this.navs.navTraduction
                }
                else if(navVal == 'navLanguage'){
                    this.navs.navSettings = false
                    this.navs.navLyrics = false
                    this.navs.navTraduction = false
                    this.navs.navChallenges = false
                    this.navs.navGem = false
                    this.navs.navLanguage = !this.navs.navLanguage
                }
                else if(navVal == 'navGem'){
                    this.navs.navSettings = false
                    this.navs.navLyrics = false
                    this.navs.navTraduction = false
                    this.navs.navChallenges = false
                    this.navs.navLanguage = false
                    this.navs.navGem = !this.navs.navGem
                }
            },
            showVideo(){
                this.settings.showVideo = !this.settings.showVideo
            },
            getData(){
                if(this.song.id != 0){
                    this.load = true
                    axios.post('/cancion/reproductor/data', {
                        id: this.id,
                        slug: this.slug
                    })
                    .then(response => {
                        this.audioRoute = response.data.audioRoute
                        this.song = response.data.song
                        this.user = response.data.user
                        this.languages = response.data.languages
                        this.subtitles = response.data.subtitles
                        this.routeProvious = response.data.routeProvious
                        // this.reInit()
                        // console.log(this.languages)

                        if(this.user){
                            this.settings.gems.win = response.data.user.student.gems
                            this.user.student.languages.forEach((language)=>{
                                if(language.speak){
                                    this.settings.translate.languageId = language.language_id
                                }
                            })

                            this.setView(this.song.id)

                        }

                        this.backgrounds.pictures.push({
                            picture: ('/storage/songs/' + this.song.cover),
                            active: true
                        })

                        this.song.artists.forEach((artist) => {
                            this.backgrounds.pictures.push({
                                picture: ('/storage/artists/'+artist.picture),
                                active: false
                            })
                        })

                        this.subtitles.forEach(subtitle => {
                            if(subtitle.native){
                                this.traduction.subtitleFrom = subtitle
                            }
                        });

                        this.startCarousel = true
                        this.initPlayer()
                        if(this.user){
                            this.getDictionaries()
                        }

                        this.saveViewSong(this.song.id)

                        this.load = false
                    })
                    .catch(error =>{
                        console.log(error)
                    })
                }
            },
            initPlayer(){
                this.player = new Plyr('#player')

                this.player.on('ready', event => {
                    
                    // INIT TEST
                    this.player = event.detail.plyr

                    this.player.volume = 0
                    this.player.play()
                    
                    setTimeout(() => {
                        this.player.pause()
                        this.player.currentTime = 0
                    }, 1000);


                    this.player.volume = 1
                    this.player.playing = false
                    this.player.speed = parseFloat(this.settings.speed[2])
                })

                this.player.on('playing', event => {
                    this.settings.playing = true
                })

                 this.player.on('pause', event => {
                    this.settings.playing = false
                })

                this.player.on('timeupdate', event => {
                    let currentTime = parseFloat(event.detail.plyr.currentTime).toFixed(2)
                    this.video.currentTime =  currentTime
                    // TEST
                    let found = false
                    let indexLineC = -1
                    let lineData

                    // PLAY SELECT
                    if(this.settings.playSelect.active){
                        let playStop = parseFloat(this.settings.playSelect.to).toFixed(3)
                        if(parseFloat(currentTime) > parseFloat(playStop)){
                            this.player.pause()
                            this.setPlaySelect(-1)
                        }
                    }

                    this.traduction.subtitleFrom.formated.forEach((line, indexLine)=>{
                        let timeStart = parseFloat(line.start).toFixed(4)
                        let timeEnd = parseFloat(line.end).toFixed(4)
                        if(parseFloat(currentTime) >= parseFloat(timeStart) && parseFloat(currentTime) <= parseFloat(timeEnd)){
                            found = true
                            lineData = line
                            indexLineC = indexLine
                        }
                    })

                    if(found){
                        let listWord = lineData.content.split(' ')
                        listWord.forEach((word)=>{
                            setTimeout(() => {
                                this.traduction.subtitleFrom.currentLine.push({
                                    word: word,
                                    traduction: ""
                                })
                                this.traduction.currentIndex = indexLineC
                            }, 500);
                        })
                    }
                    else{ 
                        this.traduction.subtitleFrom.currentLine = []
                        this.traduction.currentIndex = -1
                    }
                    
                })
            },
            getArtistsNames(){
                let listArts = ''
                if(this.song.artists){
                    this.song.artists.forEach((artist, index) => {
                        listArts += artist.stage_name
                        if(index < (this.song.artists.length -1)){
                            listArts += ', '
                        }
                    })
                }
                return listArts
            },
            changeBackground(typeBack, backData){
                this.backgrounds.colors.forEach((color, index)=>{
                    color.active = false
                    if(typeBack == 'color' && color.color == backData){
                        color.active = true
                    }
                })

                this.backgrounds.pictures.forEach((picture, index)=>{
                    picture.active = false
                    if(typeBack == 'picture' && picture.picture == backData){
                        picture.active = true
                    }
                })
            },
            getPictureBackground(){
                let pictureSel = ''
                this.backgrounds.pictures.forEach((picture)=>{
                    if(picture.active){
                        pictureSel = picture.picture
                    }
                })
                return pictureSel
            },
            getClassBackground(){
                let colorBack = ''
                this.backgrounds.colors.forEach((color)=>{
                    if(color.active){
                        colorBack = ( 'xp-picture-content ' + color.color)
                    }
                })
                return colorBack
            },
            changeChallenge(e){
                this.settings.challenges.forEach((challenge)=>{
                    challenge.active = false
                    if(challenge.value == e.target.value){
                        challenge.active = true
                        this.setPagination(challenge.value)
                        if(this.settings.gems.active){
                            this.setListForGems()
                        }
                        this.changeNav('navChallenges')
                    }
                })
            },
            changeShowLine(index){
                if(index >= 0){
                    this.traduction.subtitleFrom.formated[index].show = !this.traduction.subtitleFrom.formated[index].show
                }
            },
            setPlaySelect(index){
                try {
                    if(this.player){
    
                        if(index>=0){
    
                            if(this.settings.playSelect.index!= index){
    
                                this.settings.playSelect.from = parseFloat(this.traduction.subtitleFrom.formated[index].start).toFixed(4)
                                this.settings.playSelect.to = parseFloat(this.traduction.subtitleFrom.formated[index].end)
                                // this.settings.playSelect.to = parseFloat(this.traduction.subtitleFrom.formated[index].end) + parseFloat(0.500)
                                // if((parseFloat(this.traduction.subtitleFrom.formated[index].end) - parseFloat(this.traduction.subtitleFrom.formated[index].start))<=1.150){
                                //     this.settings.playSelect.to = parseFloat(this.traduction.subtitleFrom.formated[index].end) + parseFloat(0.900)
                                // }
        
        
                                // console.log(this.settings.playSelect.to)
                                // console.log(this.traduction.subtitleFrom.formated[index].start)
                                // console.log(this.traduction.subtitleFrom.formated[index].end)
                                // if((this.settings.playSelect.to - this.settings.playSelect.from)<2){
                                //     this.settings.playSelect.from = parseFloat(parseFloat(this.settings.playSelect.from) + 0.5).toFixed(4)
                                //     this.settings.playSelect.to = parseFloat(parseFloat(this.settings.playSelect.to) + 0.9).toFixed(4)
                                // }
        
        
                                // this.player.currentTime = parseFloat(this.traduction.subtitleFrom.formated[index].start) + parseFloat(0.800)
                                this.player.currentTime = parseFloat(this.traduction.subtitleFrom.formated[index].start)
        
        
                                // console.log(parseFloat(this.traduction.subtitleFrom.formated[index].end) - parseFloat(this.traduction.subtitleFrom.formated[index].start))
                                // console.log(this.player.currentTime)
                                // console.log(parseFloat(this.settings.playSelect.from))
                                // console.log(parseFloat(this.settings.playSelect.to))
                                // console.log(parseFloat(this.settings.playSelect.from) + parseFloat(1.000))
        
        
                                this.player.muted = true
                                this.player.muted = false
                                this.settings.playSelect.index = index
                                this.settings.playSelect.active = true
                                console.log(this.player.currentTime)
                                this.player.play()
                            }
                            else{
                                if(this.player.playing){
                                    this.player.pause()
                                }
                                else{
                                    this.player.play()
                                }
                            }
                        }
                        else{
                            this.settings.playSelect.active = false
                            this.settings.playSelect.from = 0
                            this.settings.playSelect.to = 0
                            this.settings.playSelect.index = -1
                        }
                    }
                } catch (error) {
                    // alert(error)
                }
            },
            setPagination(range){
                if(range==0){
                    this.settings.pagination.active = false
                    this.settings.pagination.list = []
                    this.settings.pagination.from = -1
                    this.settings.pagination.to = -1
                    this.settings.pagination.range = 0
                    this.settings.pagination.pages = 0
                }
                else{
                    this.settings.pagination.active = true
                    this.settings.pagination.range = range
                    this.settings.pagination.from = 0
                    this.settings.pagination.to = (range - 1)

                    let pagesTotal = parseInt(this.traduction.subtitleFrom.formated.length / range)
                    let residue = this.traduction.subtitleFrom.formated.length % range
                    if(residue>0){
                        pagesTotal++
                    }
                    this.settings.pagination.pages = pagesTotal
                    this.settings.pagination.page = 1
                }
            },
            setRangePagination(value){
                this.settings.pagination.to = (value * this.settings.pagination.range) - 1
                this.settings.pagination.from = this.settings.pagination.to - (this.settings.pagination.range - 1)
                this.settings.pagination.page = value
            },
            getShowLine(index){
                let result = true
                
                if(this.settings.pagination.active){
                    if(index < this.settings.pagination.from || index > this.settings.pagination.to){
                        result = false
                    }
                }
                
                return result
            },
            changeLyrics(id){
                if(id != this.settings.traduction.languageId || this.settings.traduction.languageId == 0){
                    this.settings.lyrics.languageId = id
                    this.subtitles.forEach(subtitle => {
                        if((subtitle.language.id == id) || (subtitle.native && id==0)){
                            this.traduction.subtitleFrom = subtitle
                            if(subtitle.language.id == this.settings.translate.languageId){
                                // this.changeTranslate(0)
                            }
                        }
                    });

                    if(id==0){
                        this.settings.traduction.languageId = 0
                        this.traduction.subtitleTo = {}
                    }
                }
                this.changeNav('navLyrics')

                // if(this.settings.lyrics.languageId == 0){
                //     this.resetLines(false)
                // }
                // else{
                //     this.resetLines(true)
                // }
            },
            changeTraduction(id){
                if(id != this.settings.lyrics.languageId && id != this.traduction.subtitleFrom.language.id){
                    this.settings.traduction.languageId = id
                    this.subtitles.forEach(subtitle => {
                        if((subtitle.language.id == id) || (subtitle.native && id==0)){
                            this.traduction.subtitleTo = subtitle
                        }
                    });

                    if(id==0){
                        this.settings.traduction.languageId = 0
                        this.traduction.subtitleTo = {}
                    }

                    this.changeNav('navTraduction')
                }

                if(this.settings.lyrics.languageId == 0){
                    this.resetLines(false)
                }
                else{
                    this.resetLines(true)
                }
            },
            resetLines(value){
                this.traduction.subtitleFrom.formated.forEach(line => {
                    line.show = value
                });
            },
            changeTranslate(lang){
                if(lang != this.settings.lyrics.languageId){
                    this.settings.translate.languageId = lang
                    this.changeNav('navLanguage')
                }
            },
            getNameTranslate(){
                let name = 'Seleccione'
                this.languages.forEach((language)=>{
                    if(language.id == this.settings.translate.languageId){
                        name = language.name
                    }
                })
                return name
            },
            setListForGems(){
                this.settings.gems.active = true
                this.settings.gems.subtitles = []
                this.settings.showVideo = false
                let from = 0
                let to = 0
                let subtitlesTemp

                if(this.settings.pagination.active){
                    from = this.settings.pagination.from
                    to = this.settings.pagination.to
                }
                else{
                    from = 0
                    to = this.traduction.subtitleFrom.formated.length - 1
                }

                this.subtitles.forEach((subtitle)=>{
                    if(subtitle.native){
                        subtitlesTemp = subtitle
                    }
                })

                for(from; from <= to; from++){
                    subtitlesTemp.formated[from]["approve"] = 0
                    subtitlesTemp.formated[from]["transcription"] = ''
                    this.settings.gems.subtitles.push(subtitlesTemp.formated[from])
                }

                // MIX ARRAY
                let currentIndex = this.settings.gems.subtitles.length
                let temporaryValue
                let randomIndex

                while(currentIndex !== 0){
                    randomIndex = Math.floor(Math.random() * currentIndex);
                    currentIndex -= 1;

                    // CHANGE CURRENT ELEMENT
                    temporaryValue = this.settings.gems.subtitles[currentIndex];
                    this.settings.gems.subtitles[currentIndex] = this.settings.gems.subtitles[randomIndex];
                    this.settings.gems.subtitles[randomIndex] = temporaryValue;
                }
            },
            noEnter(e){
                if(e.keyCode === 13){
                    e.preventDefault()
                }
            },
            evaluateTranscription(index){
                let textOriginal = this.settings.gems.subtitles[index].content.replace(/[^A-Za-z' ']+/gi,"").trim()
                let textTranscribe = this.clearSimbols(this.settings.gems.subtitles[index].transcription).trim()
                if(textTranscribe.length>0){
                    if(textOriginal==textTranscribe){
                        this.settings.gems.subtitles[index].approve = 1
                        this.settings.gems.approve.push({
                            index: index,
                            approve: true
                        })
                        // SAVE GEM
                        this.settings.gems.win ++
                        this.load = true
                        axios.post('/cancion/reproductor/gemas', {
                            gems: this.settings.gems.win
                        })
                        .then(response => {
                            if(response.data.success){
                                this.settings.gems.win = response.data.gems
                                this.settings.gems.winNow++
                            }
                            else{
                                 this.settings.gems.win --
                            }
                            this.load = false
                        })
                        .catch(error => {
                            this.settings.gems.win --
                            this.load = false
                        })
                    }
                    else{
                        this.settings.gems.subtitles[index].approve = 2
                        this.settings.gems.approve.push({
                            index: index,
                            approve: false
                        })
                    }
                }
            },
            evaluateApprove(index){
                let result = ''
                this.settings.gems.approve.forEach((item)=>{
                    if(item.index == index){
                        if(item.approve){
                            result = 'xp-transcribe-success'
                        }
                        else{
                            result = 'xp-transcribe-error'
                        }
                    }
                })
                return result
            },
            exitTranscription(){
                Swal.fire({
                    title: '¿Estás seguro que deseas finalizar este desafío?',
                    text: "",
                    icon: 'success',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if (result.value) {
                        this.settings.gems.exit = true
                    }
                })
            },
            resetPlayGems(type){
                this.settings.gems.subtitles.forEach((subtitle)=>{
                    subtitle.approve = 0
                    subtitle.transcription = ''
                })
                this.settings.gems.winNow = 0
                this.settings.gems.win = 0
                this.settings.gems.exit = false
                this.settings.gems.approve = []

                if(type=='part'){

                }
                else if(type=='total'){
                    this.settings.gems.active = false
                }
            },
            changeExpand(){
                this.settings.expand = !this.settings.expand
                setTimeout(() => {
                    this.getHeightContainer()
                }, 500);
            },
            setSeedVideo(valueSpeed){
                this.settings.speed.forEach((speed)=>{
                    if(speed.value != valueSpeed.value){
                        speed.active = false
                    }
                    else{
                        this.player.speed = parseFloat(valueSpeed.value)
                        speed.active = true
                    }
                })
            },
            changeFontSize(fontSizeValue){
                this.settings.fontSizes.forEach((fontSize)=>{
                    if(fontSize.value == fontSizeValue.value){
                        fontSize.active = true
                        document.documentElement.style.setProperty('--xp-set-font-size', fontSize.value + "rem")
                    }
                    else{
                        fontSize.active = false
                    }
                })
            },
            closePopover(){
                this.$root.$emit('bv::hide::popover')
            },
            getTranslate(indexLine, indexWord){
                // if(!this.traduction.subtitleFrom.formated[indexLine].words[indexWord].translate.loaded){
                    let word = this.traduction.subtitleFrom.formated[indexLine].words[indexWord].word
                    let from = this.traduction.subtitleFrom.language.code
                    let to = ''
                    this.languages.forEach((language) => {
                        if(language.id == this.settings.translate.languageId){
                            to = language.code
                        }
                    })
                    axios.post('/translate', {
                        from: from,
                        to: to,
                        word: word
                    })
                    .then(response => {
                        if(response.data.translate){
                            this.traduction.subtitleFrom.formated[indexLine].words[indexWord].translate = response.data.translate
                        }
                    })
                    .catch(error =>{

                    })
                // }
            },
            getPhonetic(indexLine, indexWord){
                // console.log(indexLine)
                // console.log(indexWord)
                // console.log(this.traduction.subtitleFrom.formated[indexLine].words[indexWord].translate.phonetic)
                return this.traduction.subtitleFrom.formated[indexLine].words[indexWord].translate.phonetic
            },
            playAudio(word){
                if(word){
                    let code = this.traduction.subtitleFrom.language.code
                    let route = this.audioRoute + '/' + code + '/' + word
                    let audio = new Audio(route);
                    audio.play();
                }
            },
            showReport(indexLine, indexWord){
                this.$root.$emit('bv::hide::popover')
                // let word = this.traduction.subtitleFrom.formated[indexLine].words[indexWord].word
                // let phonetic = this.traduction.subtitleFrom.formated[indexLine].words[indexWord].phonetic
                let word = this.dictionary.word.word
                let phonetic = this.dictionary.word.phonetic
                this.settings.report.word = word + ' [' + phonetic + ']'
                this.settings.report.active = true
                this.settings.report.sourceLanguage = this.traduction.subtitleFrom.language.id
                this.settings.report.targetLanguage = this.settings.translate.languageId
            },
            hideReport(){
                this.settings.report.word = ''
                this.settings.report.content = ''
                this.settings.report.active = false
                this.settings.report.sourceLanguage = 0
                this.settings.report.targetLanguage = 0
            },
            sendReport(){
                if(this.settings.report.active){
                    if(this.settings.report.content.length > 6){
                        this.load = true
                        axios.post('/cancion/reproductor/report', {
                            word: this.settings.report.word,
                            content: this.settings.report.content,
                            sourceLanguageId: this.settings.report.sourceLanguage,
                            targetLanguageId: this.settings.report.targetLanguage
                        })
                        .then(response => {
                            if(response.data.status=="success"){
                                toastr.success(response.data.message)
                                this.hideReport()
                            }
                            else{
                                toastr.warning(response.data.message)
                            }
                            this.load = false
                        })
                        .catch(error =>{
                            this.load = false
                            toastr.warning('No pudimos guardar su reporte, intentelo de nuevo mas tarde por favor')
                        })
                    }
                    else{
                        toastr.warning('El contenido debe tener por lo menos 6 caracteres')
                    }
                }
            },
            openPop(e){
                
                let parent = e.target.getAttribute('id')
                let parentObj = document.getElementById(parent)
                let coords = parentObj.getBoundingClientRect()
                // let child = document.querySelector('.popover')
              
                setTimeout(() => {
                    let child = document.querySelector('.popover')
                    let coordsChild = child.getBoundingClientRect()
                    if(parseInt(coordsChild.bottom) > parseInt(coords.bottom)){
                        child.style.transform = "translate3d(372px, " + (coords.top + 20) + "px, 0px)"
                    }
                }, 50); 
                
            },
            getDictionaries(){
                axios.get('/dictionario/lista', {
                })
                .then(response => {
                    this.dictionaries = response.data.dictionaries
                })
                .catch(error =>{
                })
            },
            saveWordDictionary(wordData){
                this.load = true
                axios.post('/diccionario/guardar', {
                    word: wordData.word,
                    sourceLanguageId: this.traduction.subtitleFrom.language.id,
                    targetLanguageId: this.settings.translate.languageId
                })
                .then(response => {
                    this.getDictionaries()
                    this.load = false
                })
                .catch(error =>{
                })
            },
            existDisctionary(wordData){
                let result = false
                this.dictionaries.forEach((dictionary) => {
                    if(wordData.word == dictionary.word && this.traduction.subtitleFrom.language.id == dictionary.source_language_id && this.settings.translate.languageId == dictionary.target_language_id){
                        result = true
                    }
                })
                return result
            },
            showDictionary(wordData, indexLine, indexWord){
                this.dictionary.wordOriginal = wordData.word
                let exist = false
                let sourceLanguage = this.traduction.subtitleFrom.language.code
                let targetLanguage = 0
                this.languages.forEach((language)=>{
                    if(language.id == this.settings.translate.languageId){
                        targetLanguage = language.code
                    }
                })

                if(sourceLanguage != targetLanguage){
                    this.dictionary.translations.forEach(transW => {
                        if(transW){
                            if(transW.word == wordData.word && transW.targetLanguage==targetLanguage && transW.sourceLanguage==sourceLanguage){
                                this.dictionary.active = true
                                this.dictionary.word = transW
                                this.playAudio(this.dictionary.word.audio)
                                this.player.pause()
                                exist = true
                            }
                        }
                    });
    
                    if(!exist){
                        let wordClear = wordData.word.replace(/[`~!@#$%^&*()_|+\-=?;:",.<>\{\}\[\]\\\/]/gi, "")
                        wordClear = wordClear.replace(/' |\s'/gi, " ")
                        axios.post('/translate', {
                            word: this.clearWord(wordClear),
                            sourceLanguage: sourceLanguage,
                            targetLanguage: targetLanguage
                        })
                        .then(response => {
                            this.dictionary.active = true
                            this.dictionary.word = response.data.word
                            this.dictionary.translations.push(response.data.word)
                            this.playAudio(this.dictionary.word.audio)
                            this.player.pause()
                        })
                        .catch(error =>{
                        })
                    }
                }

            },
            clearWord(word){
                // .replace('(',"").replace(')',"")
                let clearW = word.replace(',',"").replace('?', "").replace('¿', "")
                return clearW
            },
            closeDictionary(){
                this.dictionary.word = null
                this.dictionary.active = false
                this.dictionary.indexLine = null
                this.dictionary.indexWord = null
            },
            getFormatPhonetic(wordData){
                let phonetic = ''
                if(wordData.phonetic){
                    let init = 0
                    if(wordData.phonetic.length>0){
                        phonetic += ' / '
                        if(wordData.phonetic.substring(0,1) == "ˈ" || wordData.phonetic.substring(0,1) == "ˌ"){
                            init = 1
                        }
                        phonetic += wordData.phonetic.substring(init, wordData.phonetic.length)
                        phonetic += ' /'
                    }
                }
                return phonetic
            },
            getCurrentChallenges(){
                let result = 'Todo'
                this.settings.challenges.forEach((challenge)=>{
                    if(challenge.active){
                        result = challenge.label
                    }
                })
                return result
            },
            handleSetPosition(event, slick){
                //     let current = slick.currentSlide
                //     let indexActive = -1
                //     this.backgrounds.colors.forEach((color, index)=>{
                //         if(color.active){
                //             indexActive = index
                //         }
                //     })
    
                //     if(indexActive>2){
                //         for(let i = 1; i <= (indexActive-1); i++){
                //             slick.next()
                //         }
                // }
            },
            moveScroll(direction){
                let list = document.getElementById('xp-functions-subtitles-scroll')
                let child = null
                let heightChild = 0
                if(list){
                    child = list.firstChild
                    if(child){
                        heightChild = child.getBoundingClientRect().height + 24
                        if(direction){
                            list.scrollTop += heightChild
                        }
                        else{
                            list.scrollTop -= heightChild
                        }
                    }
                }
            },
            getActiveLine(indexWord, indexLine, id){
                let result = false;
                if(indexWord == indexLine){
                    result = true
                    let list = document.getElementById('xp-functions-subtitles-scroll')
                    let lineDiv = document.getElementById(id)
                    list.scrollTop = lineDiv.offsetTop - (this.dataContainer.height / 2)
                }
                return result
            },
            setView(songId){
                axios.post('/usuario/cancion/visita', {
                    songId: songId
                })
                .then(response => {
                    
                })
                .catch(error =>{

                })
            },
            saveViewSong(songId){
                axios.post('/cancion/visita/agregar', {
                    songId: songId
                })
                .then(response => {
                    
                })
                .catch(error =>{

                })
            },
            clearSimbols(word){
                let wordClear = word.replace(/[`~!@#$%^&*()_|+\-=?;:",.<>\{\}\[\]\\\/]/gi, "")
                wordClear = wordClear.replace(/' |\s'/gi, " ")
                return wordClear
            }
        },
        computed: {
        }
    }
</script>
