<template>
    <div class="d-flex flex-column animated fadeIn w-100">
        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12 d-flex justify-content-between flex-column flex-md-row mb-3">
                <h2 class="xp-ds-title xp-text-primary m-0">Diccionarios</h2>
                <button class="xp-button xp-button-primary mt-3 mt-md-0" @click="changeNav('create', null, filters.status)">
                    Agregar Palabra
                </button>
            </div>
        </div>
        <!-- FILTERS -->
        <div class="row m-0 mt-3">
            <div class="col-12 p-0">
                <div class="xp-ds-filters">
                    <div class="xp-ds-filters-block row m-0">
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-form-group-icon w-100">
                                <input class="xp-ds-form-control xp-ds-rounded w-100" type="text" placeholder="Buscar palabra" v-model="filters.search">
                                <span class="xp-ds-form-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">Filtrar</label>
                                <select class="xp-ds-form-control w-100" v-model="filters.complete" @change="filterComplete($event)">
                                    <option v-for="optionS in optionsStatus" v-bind:value="optionS.value" v-text="optionS.label" :selected="optionS.value == filters.complete"></option>
                                </select>
                            </div>
                        </div>
                        <div class="xp-ds-filter-order col-12 col-md-6 col-lg-4 mt-3 mt-lg-0 pl-3 pl-lg-3">
                            <div class="xp-ds-form-group xp-ds-form-group-resalt w-100">
                                <span class="xp-ds-form-group-resalt-icon">
                                    <i class="fas fa-sort-amount-up"></i>
                                </span>
                                <select class="xp-ds-form-control w-100" v-model="filters.status" @change="filterStatus($event)">
                                    <option v-for="optionO in optionsOrder" v-bind:value="optionO.value" v-text="optionO.label" :selected="optionO.value == filters.status"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="WordsGlobal"
                    :filter="filters.search"
                    :per-page="perPage"
                    :current-page="currentPage"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <!-- <span v-text="data.index + 1"></span> -->
                        <span v-text="data.item.id"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(word)="data">
                        <span v-text="data.item.word"></span>
                    </template>

                    <template v-slot:cell(translation)="data" class="text-center">
                        <div class="text-center" v-text="data.item.translation"></div>
                    </template>
                    <template v-slot:cell(complete)="data">
                        <div class="d-flex justify-content-center">
                            <span class="xp-badge xp-badge-warning" v-if="data.item.incomplete">No</span>
                            <span class="xp-badge xp-badge-success" v-else>Si</span>
                        </div>
                    </template>
                    <template v-slot:cell(phonetics)="data" class="text-center">
                        <div class="text-center">
                            <span v-text="data.item.phonetics"></span>
                        </div>
                    </template>
                    <template v-slot:cell(audio)="data" class="text-center">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <span v-text="data.item.audio"></span>
                        </div>
                    </template>

                    <template v-slot:cell(created)="data" class="text-center">
                        <div class="text-center" v-text="data.item.created_at"></div>
                    </template>

                    <template v-slot:cell(admin)="data">
                        <div class="text-center">
                            <span class="xp-table-button-icon mr-3" @click="changeNav('create', data.item.id, filters.status)" title="Editar">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span class="xp-table-button-icon xp-text-danger" v-if="user.username == 'xpeaking'" @click="deleteword(data.item.id,filters.status)" title="Eliminar">
                                <i class="fas fa-times"></i>
                            </span>
                        </div>
                        <!-- v-on:click="showAlert(data.item)" -->
                    </template>

                    <template v-if="WordsGlobal.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex flex-column align-items-center justify-content-center">
                <div class="xp-table-pagination">
                    <b-pagination
                    v-model="currentPage"
                    :total-rows="WordsGlobal.length"
                    :per-page="perPage"
                    ></b-pagination>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <span class="font-weifht-bold mr-2">Total registros: </span>
                    <span class="xp-text-danger" v-text="WordsGlobal.length"></span>
                </div>
            </div>
        </div>

        <!-- MODAL PREVIEW -->
        <!-- <b-modal id="xp-modal-song-preview" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Previsualizacion de cancion</h5>
            </template> -->

            <!-- UPLOAD -->
            <!-- <div class="row m-0 d-flex w-100">
                <div class="col-12 mx-auto">
                    <dashboard-songs-preview :id="songSelectedId"></dashboard-songs-preview>
                </div>
            </div>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="closeModal('xp-modal-song-preview')">Cerrar</button>
        </b-modal> -->

    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                fields: [
                    {key: 'index', label: '#', sortable: true},
                    {key: 'word', label: 'Palabra', sortable: true},
                    {key: 'translation', label: 'Traducción', sortable: false},
                    {key: 'complete', label: 'Completa', sortable: false},
                    {key: 'phonetics', label: 'Fonética', sortable: true},
                    {key: 'audio', label: 'Pista de Audio', sortable: true},
                    {key: 'created', label: 'Creado el:', sortable: true},
                    {key: 'admin', label: 'Administrar', sortable: false},
                ],
                filters:{
                    search: '',
                    dateFrom: null,
                    dateTo: null,
                    status: 0,
                    complete: 2,
                },
                optionsOrder: [
                    {label: 'Ingles-Español', value: 0},
                    {label: 'Español-Ingles', value: 1},
                    // {label: 'Ranking con más vistas', value: '5'}
                ],
                optionsStatus:[
                    {label: 'Completo', value: 0},
                    {label: 'Incompleto', value: 1},
                    {label: 'Todos', value: 2},
                ],
                WordsGlobal: [],
                WordsSpanishEnglish: [],
                WordsEnglishSpanish:[],
                WordsFiltered: [],
                WordSelectedId: null,
                currentPage: 1,
                perPage: 20,
                user: null,
			}
        },
        props:[],
		mounted(){
            this.getadmin()
            this.getDictionaries()
        },
        methods: {
            getadmin(){
                axios.get('/usuario/datos/autenticado')
                .then(response=>{
                    this.user = response.data.user
                })
            },
            getDictionaries(){
                this.load = true
                axios.get('/panel/diccionarios/lista', {
                })
                .then(response => {
                    this.WordsSpanishEnglish = response.data.DictionarySpanishEnglish
                    this.WordsEnglishSpanish = response.data.DictionaryEnglishSpanish
                    this.changelanguage()
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            changeNav(nav, id, filterid){
                let dataNav = {
                    nav: nav,
                    id: id,
                    filterid:filterid
                }
                this.$emit('change', dataNav)
            },
            changelanguage(){
                
                switch(this.filters.status){
                    case 0:
                        this.WordsGlobal = this.WordsEnglishSpanish

                        break
                    case 1:
                        this.WordsGlobal = this.WordsSpanishEnglish
                        break
                    default:
                        break
                }
            },
            filterStatus(e){
                let status = e.target.value
                this.WordsGlobal = []
                this.changelanguage()
            },
            filterComplete(e){
                let status = e.target.value
                this.WordsGlobal = []
                this.changelanguage()
                if (status < 2) {
                    let temporary = this.WordsGlobal
                    this.WordsGlobal = []
                    temporary.forEach(word=>{
                        if( status == 0 && word.incomplete == false ){
                            this.WordsGlobal.push(word)
                        }
                        else if(status == 1 && word.incomplete == true){
                            this.WordsGlobal.push(word)
                        }
                    })
                }
            },
            deleteword(id,filter){
                Swal.fire({
                    title: '¿Estás seguro que deseas eliminar esta palabra?',
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/diccionarios/eliminar', {
                            id: id,
                            filterid: filter
                        })
                        .then(response => {
                            this.load = false
                            if(response.data.success){
                                this.WordsGlobal = []
                                this.WordsSpanishEnglish = []
                                this.WordsEnglishSpanis = []
                                this.getDictionaries()
                                Swal.fire({
                                    icon: 'success',
                                    title: response.data.message,
                                    showConfirmButton: true,
                                    confirmButtonText:'Entendido',
                                    customClass: {
                                        container: 'xp-sweet-container-xs'
                                    }
                                })
                            }
                            else{
                                Swal.fire({
                                    icon: 'info',
                                    title: response.data.message,
                                    showConfirmButton: true,
                                    confirmButtonText:'Entendido',
                                    customClass: {
                                        container: 'xp-sweet-container-xs'
                                    }
                                })
                            }
                        }).catch(error => {
                            Swal.fire({
                                icon: 'info',
                                title: 'Oh no, no pudimos eliminar la informacion',
                                showConfirmButton: true,
                                confirmButtonText:'Entendido',
                                customClass: {
                                    container: 'xp-sweet-container-xs'
                                }
                            })
                            this.load = false
                        })

                    }
                })
            }
        },
        computed: {
        }
    }
</script>