<template>
    <div class="d-flex">
        <dashboard-dictionaries-list v-if="nav=='list'" @change="changeNav"></dashboard-dictionaries-list>
        <dashboard-dictionaries-create :idWord="idWord" :filterid="filterid" v-if="nav=='create'" @change="changeNav"></dashboard-dictionaries-create>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                nav: 'list',
                idSong: null,
                filterid:null
			}
        },
        props:[],
		mounted(){
        },
        methods: {
            changeNav(navValue){
                this.idWord = navValue.id
                this.nav = navValue.nav
                this.filterid = navValue.filterid
            }
        },
        computed: {
        }
    }
</script>