<template>
    <div class="d-flex flex-column animated fadeIn w-100">

        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12 d-flex justify-content-between flex-column flex-md-row mb-3">
                <h2 class="xp-ds-title xp-text-primary m-0">
                    <span class="cursor-pointer" @click="changeNav('list', null, null)">
                        <i class="fas fa-chevron-left mr-2"></i>
                    </span>
                    Regresar a la lista
                </h2>
            </div>
        </div>
        <div class="row m-0 px-0 px-md-1">
            <div class="col-12 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border xp-form-control-material" type="text" placeholder="Palabra" v-model="word.word" v-bind:class="{ filled:word.word.length>0 }" maxlength="500" @keyup="getSlug($event)">
                <label class="xp-form-group-super-label">
                    <span>Palabra</span>
                </label>
            </div>
            <div class="col-12 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border xp-form-control-material" type="text" placeholder="Traducción..." v-model="word.translation" v-bind:class="{ filled:word.translation.length>0 }" maxlength="500">
                <label class="xp-form-group-super-label">
                    <span>Traducción de la palabra</span>
                </label>
            </div>
            <div class="col-12 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-material xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="text" placeholder="Fonética..." v-model="word.phonetics">
                <label class="xp-form-group-super-label">
                    <span>Fonética de la palabra</span>
                </label>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-material xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="text" placeholder="Audio..." v-model="word.audio" disabled="">
                <label class="xp-form-group-super-label">
                    <span>Audio de la palabra)</span>
                </label>
                <button class="xp-button xp-button-primary mt-md-0 xp-button-pd" @click="getAudio">
                    Obtener audio
                </button>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2 justify-content-end">
            </div>
            <div class="col-12 mt-5">
                <button class="xp-button xp-button-primary mt-md-0 xp-button-pd" @click="saveData">
                    Guardar cambios
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2'
import Multiselect from 'vue-multiselect'

    export default {
        components: { Multiselect },
        data(){
			return{
                load: false,
                word: {
                    id: null,
                    word: '',
                    translation: '',
                    phonetics: '',
                    audio: ''
                    
                },
                removed: {
                    genders: [],
                    artists: []
                },
                original: {
                    genders: [],
                    artists: []
                },
                new: {
                    genders: [],
                    artists: []
                }
			}
        },
        props:["idWord","filterid"],
		mounted(){
            if(this.idWord){
                this.getData()
            }

            // this.song.name = "cancion 1"
            // this.song.slug = "cancion-1"
            // this.song.video = "video"
            // this.song.cover = "cover"
            // this.song.duration = "12:12"
        },
        methods: {
            changeNav(nav, id){
                Swal.fire({
                    title: '¿Estás seguro que deseas salir de la edicion?',
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    let navData = {
                        nav:nav,
                        id: id
                    }
                    if(result.value){
                        this.$emit('change', navData)
                    }
                })
            },
            saveData(){
                if(this.validate()){
                    Swal.fire({
                        title: '¿Estás seguro que deseas guardar los datos?',
                        text: "",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No',
                        customClass: {
                            container: 'xp-sweet-container-xs'
                        }
                    })
                    .then((result) => {
                        if(result.value){
                            this.load = true
                            axios.post('/panel/diccionarios/guardar', {
                                word: this.word,
                                filterid: this.filterid
                            })
                            .then(response => {
                                this.load = false
                                if(response.data.success == true){
                                    if(this.idWord){
                                        this.getData()
                                    }
                                    Swal.fire({
                                        icon: 'success',
                                        title: response.data.message,
                                        showConfirmButton: true,
                                        confirmButtonText:'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })
                                }
                                else{
                                    Swal.fire({
                                        icon: 'info',
                                        title: response.data.message,
                                        showConfirmButton: true,
                                        confirmButtonText:'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })
                                }
                            }).catch(error => {
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Oh no, no pudimos guardar la informacion',
                                    showConfirmButton: true,
                                    confirmButtonText:'Entendido',
                                    customClass: {
                                        container: 'xp-sweet-container-xs'
                                    }
                                })
                                this.load = false
                            })

                        }
                    })
                }
            },
            validate(){
                let result = true
                if(this.word.word.length == 0 || this.word.translation.length == 0 || this.word.phonetics.length == 0 || this.word.audio == 0){
                    result = false
                    toastr.warning('Complete todos los campos por favor')
                }
                // else if(this.song.genders.length == 0 || this.song.artists.length == 0 || this.song.subtitles.length == 0){
                    // result = false
                //     toastr.warning('Debe seleccionar por lo menos un genero, un artista y un subtitulo')
                // }
                return result
            },
            getSlug(e){
                let slug = ''
                e.target.value.trim().split(' ').forEach((caracter)=>{
                    if(caracter.trim().length>0){
                        if(slug.length!=0){
                            slug += '-'
                        }

                        slug+= caracter.trim().toLowerCase()
                    }
                })
                this.song.slug = slug
            },
            getData(){
                this.load = true
                axios.post('/panel/diccionarios/editar', {
                    id: this.idWord,
                    filterid: this.filterid
                })
                .then(response => {
                    this.word = response.data.word
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            getAudio(){
                axios.post('/panel/diccionarios/audio',{
                    word: this.word.word,
                    filterid: this.filterid
                })
                .then(response=>{
                    toastr.success(response.data.message);
                    this.word.audio = response.data.audiotext;
                    let audio = new Audio(response.data.route);
                    audio.play();
                })
                
            }
        },
        computed: {
        }
    }
</script>