<template>
    <div class="d-flex">
        <dashboard-songs-list v-if="nav=='list'" @change="changeNav"></dashboard-songs-list>
        <dashboard-songs-create :id="idSong" v-if="nav=='create'" @change="changeNav"></dashboard-songs-create>
        <dashboard-songs-subtitles :id="idSong" v-if="nav=='subtitles'" @change="changeNav"></dashboard-songs-subtitles>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                nav: 'list',
                idSong: null
			}
        },
        props:[],
		mounted(){
        },
        methods: {
            changeNav(navValue){
                this.idSong = navValue.id
                this.nav = navValue.nav
            }
        },
        computed: {
        }
    }
</script>