<template>
    <div class="d-flex">
        <loader :show="load"></loader>
            <div class="xp-card-info bg-white" v-if="song.name">
                <div class="xp-card-info-header">
                    <div class="xp-card-info-picture">
                        <div class="row m-0">
                            <div class="col-12 col-md-6 mx-auto">
                                <img v-bind:src="testOrigin(song.cover)" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xp-card-info-body">
                    <a class="btn btn-success" v-bind:href="'panel/cancion/reproductor/'+song.id+'/'+song.slug" style="width: 170px" target="_blank"><i class="fas fa-play mr-2"></i>Reproducir</a>
                    <span class="xp-card-info-subtitle mb-2" v-text="'CANCIÓN - '+ getYearSong(song.release)"></span>
                    <span class="xp-card-info-title mb-2" v-text="song.name"></span>
                    <span class="xp-card-info-text xp-text-dark mb-2">
                        <a class="xp-text-dark" v-for="artist in song.artists" v-text="artist.stage_name"></a>
                    </span>
                    <span class="xp-card-info-text mb-2 xp-text-dark">
                        <span v-for="gender in song.genders" v-text="gender.name"></span>
                    </span>
                    <span class="xp-card-info-text mb-2 xp-text-dark" v-text="song.views + ' vistas'"></span>
                </div>
                <div class="xp-card-info-footer">
                    <div class="xp-card-info-options">
                        <span class="xp-card-info-item">
                            <img src="/img/volume-warning.svg" alt="">
                            <span>
                                <span class="xp-text-dark" v-for="language in song.languages" v-text="language.name"></span>
                            </span>
                        </span>
                        <span class="xp-card-info-item">
                            <img src="/img/translate-war.svg" alt="">
                            <span class="xp-text-dark" v-text="song.subtitles.length + ' traduccion' + (song.subtitles.length > 1?'es':'') + ' disponibles'"></span>
                        </span>
                    </div>
                </div>
            </div>
    </div>
</template>
<script>
import moment from 'moment'

    export default {
       data(){
			return{
                load: false,
                song: {}
			}
        },
        props:["id"],
		mounted(){
            this.getDataSong()
        },
        methods: {
            getDataSong(){
                this.load = true
                axios.post('/panel/cancion/datos', {
                    id: this.id
                })
                .then(response => {
                    this.song = response.data.song
                    this.load = false

                })
                .catch(error => {
                    this.load = false
                })
            },
            getYearSong(date){
                let getYear = moment(date)
                return getYear.year()
            },
            testOrigin(url){
                let evaluate = /^(http|https):\/\//
                let result = url
                if(!evaluate.test(url)){
                    result = ('/storage/songs/' + url)
                }
                return result
            },
            previewsong(){

            }
        },
        computed: {
        }
    }
</script>