<template>
    <div class="d-flex flex-column animated fadeIn w-100">

        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12 d-flex justify-content-between flex-column flex-md-row mb-3">
                <h2 class="xp-ds-title xp-text-primary m-0">
                    <span class="cursor-pointer" @click="changeNav('list', null)">
                        <i class="fas fa-chevron-left mr-2"></i>
                    </span>
                    Regresar a la lista
                </h2>
            </div>
        </div>
        <div class="row m-0 px-0 px-md-1">
            <div class="col-12 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border xp-form-control-material" type="text" placeholder="Nombre de la canción..." v-model="song.name" v-bind:class="{ filled:song.name.length>0 }" maxlength="500" @keyup="getSlug($event)">
                <label class="xp-form-group-super-label">
                    <span>Nombre de la canción</span>
                </label>
            </div>
            <div class="col-12 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border xp-form-control-material" type="text" placeholder="Slug de la canción..." v-model="song.slug" v-bind:class="{ filled:song.slug.length>0 }" maxlength="500">
                <label class="xp-form-group-super-label">
                    <span>Slug de la canción</span>
                </label>
            </div>
            <div class="col-12 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-material xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="text" placeholder="Link Original..." v-model="song.original_link" v-bind:class="{ filled:song.original_link.length>0 }">
                <label class="xp-form-group-super-label">
                    <span>Link original del video</span>
                </label>
            </div>
            <div class="col-12 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-material xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="text" placeholder="Link del video..." v-model="song.video" v-bind:class="{ filled:song.video.length>0 }">
                <label class="xp-form-group-super-label">
                    <span>Link del video</span>
                </label>
            </div>
            
            <div class="col-12 col-md-6 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-material xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="number" placeholder="año de lanzamiento..." v-model="song.year_release" v-bind:class="{ filled:song.year_release }" min="1900" max="2099" maxlength="4" step="1">
                <label class="xp-form-group-super-label">
                    <span>Año de lanzamiento</span>
                </label>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2 mt-4 xp-multiselect-material white">
                <multiselect v-model="song.language" :options="languages" :clear-on-select="false" placeholder="Seleccione lenguaje" label="name" track-by="name">
                </multiselect>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-material xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="text" placeholder="Duración (mm:ss)..." v-model="song.duration" v-bind:class="{ filled:song.duration.length>0 }">
                <label class="xp-form-group-super-label">
                    <span>Duración (mm:ss)</span>
                </label>
            </div>
             <div class="col-12 col-md-6 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-material xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="text" placeholder="Link de la foto de la canción..." v-model="song.cover" v-bind:class="{ filled:song.cover.length>0 }">
                <label class="xp-form-group-super-label">
                    <span>Link de la foto de la canción</span>
                </label>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2 justify-content-end">
                <input type="checkbox" class="xp-form-control checkbox checkbox-default" id="songImportant" v-model="song.important"/>
                <label for="songImportant" class="xp-form-control-label">
                   Canción destacada 
                </label>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2">
                <input class="xp-form-control xp-form-control-material xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border" type="number" placeholder="N° de orden..." v-model="song.order" v-bind:class="{ filled:song.order>=0 }">
                <label class="xp-form-group-super-label">
                    <span>N° de orden</span>
                </label>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2 justify-content-end">
                <input type="checkbox" class="xp-form-control checkbox checkbox-default" id="songFree" v-model="song.free"/>
                <label for="songFree" class="xp-form-control-label">
                   Canción gratuita 
                </label>
            </div>
            <div class="col-12 col-md-6 xp-form-group-super px-2 justify-content-end">
            </div>
            <!-- <div class="col-12 col-md-6 xp-form-group-super px-2 justify-content-end">
                <input type="checkbox" class="xp-form-control checkbox checkbox-default" id="songPublished" v-model="song.published"/>
                <label for="songPublished" class="xp-form-control-label">
                   Publica
                </label>
            </div> -->
            <div class="col-12 col-md-6 xp-form-group-super px-2 mt-5 xp-multiselect-material">
                <multiselect v-model="song.genders" :options="genders" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Seleccione generos" label="name" track-by="name">
                    <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} Generos Seleccionados</span></template>
                </multiselect>
                <div class="xp-multiselect-selected mt-3" v-if="song.genders.length>0">
                    <div class="xp-multiselect-selected-item" v-for="(gender, index) in song.genders">
                        <span class="xp-multiselect-selected-text" v-text="(index + 1) + '° ' + gender.name">
                        </span>
                        <span class="xp-multiselect-selected-icon xp-text-danger" @click="removeGender(index)">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 px-2 mt-5 xp-multiselect-material">
                <multiselect v-model="song.artists" :options="artists" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Seleccione artistas" label="stage_name" track-by="stage_name">
                    <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} Artistas Seleccionados</span></template>
                </multiselect>
                <div class="xp-multiselect-selected mt-3" v-if="song.artists.length>0">
                    <div class="xp-multiselect-selected-item" v-for="(artist, index) in song.artists">
                        <span class="xp-multiselect-selected-text" v-text="(index + 1) + '° ' + artist.stage_name">
                        </span>
                        <span class="xp-multiselect-selected-icon xp-text-danger" @click="removeArtist(index)">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- <div class="col-12 col-md-6 px-2 mt-5 xp-multiselect-material">
                <multiselect v-model="song.subtitles" :options="languages" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Subtitulos" label="name" track-by="name">
                    <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} Subtitulos</span></template>
                </multiselect>
                <div class="xp-multiselect-selected mt-3" v-if="song.subtitles.length>0">
                    <div class="xp-multiselect-selected-item xp-border-none" v-for="(subtitle, index) in song.subtitles">
                        <span class="xp-multiselect-selected-text align-items-end xp-border-bottom xp-border-gray-down mr-2 pb-1">
                            <span v-text="subtitle.name" class="mr-2 d-flex align-items-end"></span>
                            <span class="xp-multiselect-selected-img">
                                <img v-bind:src="'/img/countries/' + subtitle.code + '.svg'" alt="">
                            </span>
                        </span>
                        <div class="xp-form-group-super px-2 m-0">
                            <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field xp-filled-border xp-form-control-material" type="number" placeholder="Porcentaje" v-model="subtitle.status" v-bind:class="{ filled:(subtitle.status.length>0 || subtitle.status>=0) }" maxlength="3">
                            <label class="xp-form-group-super-label">
                                <span>Porcentaje</span>
                            </label>
                        </div>
                        <span class="xp-multiselect-selected-icon xp-text-dark d-flex align-items-center mr-2 xp-font-11">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="xp-multiselect-selected-icon xp-text-danger d-flex align-items-center xp-font-11">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>
                </div>
            </div> -->
            <div class="col-12 mt-5">
                <button class="xp-button xp-button-primary mt-md-0 xp-button-pd" @click="saveData">
                    Guardar cambios
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2'
import Multiselect from 'vue-multiselect'

    export default {
        components: { Multiselect },
        data(){
			return{
                load: false,
                song: {
                    id: null,
                    name: '',
                    slug: '',
                    video: '',
                    original_link: '',
                    duration: '',
                    free: false,
                    important: false,
                    published: false,
                    cover: '',
                    order: 0,
                    genders: [],
                    artists: [],
                    subtitles: [],
                    language: null
                },
                genders: [],
                artists: [],
                languages: [],
                removed: {
                    genders: [],
                    artists: []
                },
                original: {
                    genders: [],
                    artists: []
                },
                new: {
                    genders: [],
                    artists: []
                }
			}
        },
        props:["id"],
		mounted(){
            this.getArtists()
            this.getGenders()
            this.getLaguages()

            if(this.id){
                this.getDataSong()
            }

            // this.song.name = "cancion 1"
            // this.song.slug = "cancion-1"
            // this.song.video = "video"
            // this.song.cover = "cover"
            // this.song.duration = "12:12"
        },
        methods: {
            changeNav(nav, id){
                Swal.fire({
                    title: '¿Estás seguro que deseas salir de la edicion?',
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    let navData = {
                        nav:nav,
                        id: id
                    }
                    if(result.value){
                        this.$emit('change', navData)
                    }
                })
            },
            getArtists(){
                axios.get('/contenido/artistas/list')
                .then(response => {
                    this.artists = response.data.artists
                })
                .catch(error => {
                })
            },
            getGenders(){
                axios.get('/contenido/generos/list')
                .then(response => {
                    this.genders = response.data.genders
                })
                .catch(error => {
                })
            },
            getLaguages(){
                axios.get('/idiomas')
                .then(response => {
                    response.data.languages.forEach(language => {
                        language.status = 0
                        language.file = null
                    });
                    this.languages = response.data.languages
                })
                .catch(error => {
                })
            },
            getSlug(e){
                let slug = ''
                e.target.value.trim().split(' ').forEach((caracter)=>{
                    if(caracter.trim().length>0){
                        if(slug.length!=0){
                            slug += '-'
                        }

                        slug+= caracter.trim().toLowerCase()
                    }
                })
                this.song.slug = slug
            },
            saveData(){
                if(this.validate()){
                    Swal.fire({
                        title: '¿Estás seguro que deseas guardar los datos?',
                        text: "",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No',
                        customClass: {
                            container: 'xp-sweet-container-xs'
                        }
                    })
                    .then((result) => {
                        if(result.value){
                            this.load = true
                            this.generateRemoved()
                            this.generateNews()
                            axios.post('/panel/cancion/guardar', {
                                song: this.song,
                                removed: this.removed,
                                news: this.new
                            })
                            .then(response => {
                                this.load = false
                                if(response.data.success){
                                    if(this.id){
                                        this.getDataSong()
                                    }
                                    Swal.fire({
                                        icon: 'success',
                                        title: response.data.message,
                                        showConfirmButton: true,
                                        confirmButtonText:'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })
                                }
                                else{
                                    Swal.fire({
                                        icon: 'info',
                                        title: response.data.message,
                                        showConfirmButton: true,
                                        confirmButtonText:'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })
                                }
                            })
                            .catch(error => {
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Oh no, no pudimos guardar la informacion',
                                    showConfirmButton: true,
                                    confirmButtonText:'Entendido',
                                    customClass: {
                                        container: 'xp-sweet-container-xs'
                                    }
                                })
                                this.load = false
                            })
                        }
                    })
                }
            },
            validate(){
                let result = true
                if(this.song.name.length == 0 || !this.song.year_release || this.song.video.length == 0 || this.song.original_link.length == 0 || this.song.cover.length == 0 || !this.song.language){
                    result = false
                    toastr.warning('Complete todos los campos por favor')
                }
                else if(!this.testDuration(this.song.duration)){
                    result = false
                    toastr.warning('El campo duracion no tiene el formato correcto')
                }
                // else if(this.song.genders.length == 0 || this.song.artists.length == 0 || this.song.subtitles.length == 0){
                    // result = false
                //     toastr.warning('Debe seleccionar por lo menos un genero, un artista y un subtitulo')
                // }
                return result
            },
            generateRemoved(){
                // REMOVED GENDERS
                this.original.genders.forEach(gender => {
                    let exist = false
                    this.song.genders.forEach(genderSong => {
                        if(genderSong.id == gender){
                            exist = true
                        }
                    })
                    if(!exist){
                        this.removed.genders.push(gender)
                    }
                } )

                // REMOVED ARTISTS
                this.original.artists.forEach(artist => {
                    let exist = false
                    this.song.artists.forEach(artistSong => {
                        if(artistSong.id == artist){
                            exist = true
                        }
                    })
                    if(!exist){
                        this.removed.artists.push(artist)
                    }
                } )

            },
            generateNews(){
                // NEWS GENDERS
                this.song.genders.forEach(genderSong => {
                    if(!this.original.genders.includes(genderSong.id)){
                        this.new.genders.push(genderSong.id)
                    }
                })

                // NEWS ARTISTS
                this.song.artists.forEach(artistSong => {
                    if(!this.original.artists.includes(artistSong.id)){
                        this.new.artists.push(artistSong.id)
                    }
                })
            },
            testDuration(value){
                let d = /^[0-9]{2}:[0-9]{2}$/
                return d.test(value);
            },
            getDataSong(){
                this.load = true
                axios.post('/panel/cancion/datos', {
                    id: this.id
                })
                .then(response => {
                    response.data.song.genders.forEach(gender => {
                        this.original.genders.push(gender.id)
                    })

                    response.data.song.artists.forEach(artist => {
                        this.original.artists.push(artist.id)
                    })

                    if(response.data.song.languages[0]){
                         response.data.song.language = response.data.song.languages[0]
                    }

                    this.song = response.data.song
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            removeGender(index){
                this.song.genders.splice(index, 1)
            },
            removeArtist(index){
                this.song.artists.splice(index, 1)
            }
        },
        computed: {
        }
    }
</script>