<template>
    <div class="d-flex flex-column animated fadeIn w-100">
        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12 d-flex justify-content-between flex-column flex-md-row mb-3">
                <h2 class="xp-ds-title xp-text-primary m-0">Lista de Canciones</h2>
                <button class="xp-button xp-button-primary mt-3 mt-md-0" @click="changeNav('create', null)">
                    Agregar canción
                </button>
            </div>
        </div>
        <!-- FILTERS -->
        <div class="row m-0 mt-3">
            <div class="col-12 p-0">
                <div class="xp-ds-filters">
                    <div class="xp-ds-filters-block row m-0">
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-form-group-icon w-100">
                                <input class="xp-ds-form-control xp-ds-rounded w-100" type="text" placeholder="Buscar canción" v-model="filters.search">
                                <span class="xp-ds-form-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">Del:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateFrom" @change="getSongs()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">al:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateTo" @change="getSongs()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-order col-12 col-md-6 col-lg-3 mt-3 mt-lg-0 pl-3 pl-lg-3">
                            <div class="xp-ds-form-group xp-ds-form-group-resalt w-100">
                                <span class="xp-ds-form-group-resalt-icon">
                                    <i class="fas fa-sort-amount-up"></i>
                                </span>
                                <select class="xp-ds-form-control w-100" v-model="filters.status" @change="filterStatus($event)">
                                    <option v-for="optionO in optionsOrder" v-bind:value="optionO.value" v-text="optionO.label" :selected="optionO.value == filters.status"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="songsFiltered"
                    :filter="filters.search"
                    :per-page="perPage"
                    :current-page="currentPage"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <!-- <span v-text="data.index + 1"></span> -->
                        <span v-text="data.item.index"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(name)="data">
                        <span v-text="data.item.name"></span>
                    </template>

                    <!-- A virtual composite column -->
                    <template v-slot:cell(preview)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-text-link" @click="previewSong(data.item.id)">Ver</span>
                        </div>
                    </template>

                    <template v-slot:cell(verified)="data" class="text-center">
                        <div class="d-flex justify-content-center">
                            <div class="button-cover">
                                <div class="xp-switch-button r">
                                    <input type="checkbox" class="checkbox" :checked="!data.item.verified" @click="saveVerified($event, data.item, data.index)">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </template>

                    <template v-slot:cell(published)="data" class="text-center">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <span v-text="data.item.published?'Publicado':'No  publicado'"></span>
                            <span v-if="data.item.date_published" v-text="data.item.date_published"></span>
                        </div>
                    </template>

                    <template v-slot:cell(admin)="data">
                        <div class="text-center">
                            <span class="xp-table-button-icon mr-3" @click="changePublished(data.item)" title="Cambiar estado de publicacion">
                                <i class="fas fa-exchange-alt"></i>
                            </span>
                            <span class="xp-table-button-icon mr-3" @click="changeNav('create', data.item.id)" title="Editar">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span class="xp-table-button-icon mr-3" @click="changeNav('subtitles', data.item.id)" title="Subtitulos">
                                <i class="fas fa-closed-captioning"></i>
                            </span>
                            <span class="xp-table-button-icon xp-text-danger" v-if="user.username == 'xpeaking'" title="Eliminar">
                                <i class="fas fa-times"></i>
                            </span>
                        </div>
                        <!-- v-on:click="showAlert(data.item)" -->
                    </template>
                    <template v-slot:cell(order)="data" class="text-center">
                        <div class="text-center" v-text="data.item.order"></div>
                    </template>

                    <template v-slot:cell(views)="data" class="text-center">
                        <div class="text-center">
                            <span v-text="data.item.views"></span>
                        </div>
                    </template>
                    <template v-slot:cell(created)="data" class="text-center">
                        <div class="text-center" v-text="data.item.created"></div>
                    </template>

                    <template v-if="songsFiltered.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex flex-column align-items-center justify-content-center">
                <div class="xp-table-pagination">
                    <b-pagination
                    v-model="currentPage"
                    :total-rows="songsFiltered.length"
                    :per-page="perPage"
                    ></b-pagination>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <span class="font-weifht-bold mr-2">Total registros: </span>
                    <span class="xp-text-danger" v-text="songsFiltered.length"></span>
                </div>
            </div>
        </div>

        <!-- MODAL PREVIEW -->
        <b-modal id="xp-modal-song-preview" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Previsualizacion de cancion</h5>
            </template>

            <!-- UPLOAD -->
            <div class="row m-0 d-flex w-100">
                <div class="col-12 mx-auto">
                    <dashboard-songs-preview :id="songSelectedId"></dashboard-songs-preview>
                </div>
            </div>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="closeModal('xp-modal-song-preview')">Cerrar</button>
        </b-modal>

    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                fields: [
                    {key: 'index', label: '#', sortable: true},
                    {key: 'name', label: 'Nombre de la Canción', sortable: true},
                    {key: 'preview', label: 'Vista previa', sortable: false},
                    {key: 'verified', label: 'Verificado', sortable: true},
                    {key: 'published', label: 'Estado', sortable: true},
                    {key: 'admin', label: 'Administrar', sortable: false},
                    {key: 'order', label: 'Orden', sortable: true},
                    {key: 'views', label: 'N° de vistas', sortable: true},
                    {key: 'created', label: 'Creado', sortable: true},
                ],
                filters:{
                    search: '',
                    dateFrom: null,
                    dateTo: null,
                    status: 0
                },
                optionsOrder: [
                    {label: 'Todos', value: 0},
                    {label: 'Publicados', value: 1},
                    {label: 'No publicados', value: 2},
                    {label: 'Verificados', value: 3},
                    {label: 'No verificados', value: 4}
                    // {label: 'Ranking con más vistas', value: '5'}
                ],
                songs: [],
                songsFiltered: [],
                songSelectedId: null,
                currentPage: 1,
                perPage: 20,
                user: null,
			}
        },
        props:[],
		mounted(){
            this.getSongs()
            this.getadmin()
        },
        methods: {
            getadmin(){
                axios.get('/usuario/datos/autenticado')
                .then(response=>{
                    this.user = response.data.user
                })
            },
            getSongs(){
                this.load = true
                axios.post('/panel/canciones/lista', {
                    dateFrom: this.filters.dateFrom,
                    dateTo: this.filters.dateTo
                })
                .then(response => {
                    this.songs = response.data.songs
                    this.songsFiltered = []
                    this.songs.forEach(song=>{
                        if( status == 0 || (status == 1 && song.published) || (status == 2 && !song.published) || (status == 3 && song.verified) || (status == 4 && !song.verified) ){
                            this.songsFiltered.push(song)
                        }
                    })

                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            changeNav(nav, id){
                let dataNav = {
                    nav: nav,
                    id: id
                }
                this.$emit('change', dataNav)
            },
            saveVerified(e, dataSong, index){
                e.preventDefault();
                let title = '¿Está seguro que desea verificar esta cancion?'

                if(dataSong.verified){
                    title = '¿Está seguro que desea quitar la verificacion a esta cancion?'
                }

                Swal.fire({
                    title: title,
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/cancion/verificar', {
                            id: dataSong.id,
                            verified: !dataSong.verified
                        })
                        .then(response => {
                            this.load = false
                            if(response.data.success){

                                this.changeVerifiedList(dataSong.id, !dataSong.verified)

                                toastr.success('Estado cambiado exitosamente')
                            }
                            else{
                                toastr.warning('Oh no, no pudimos guardar la informacion')
                            }
                        })
                        .catch(error => {
                            toastr.error('Oh no, no pudimos guardar la informacion')
                            this.load = false
                        })
                    }
                })
            },
            changeVerifiedList(id, verified){
                this.songs.forEach((song)=>{
                    if(song.id == id){
                        song.verified = verified
                    }
                })

                this.songsFiltered.forEach((song)=>{
                    if(song.id == id){
                        song.verified = verified
                    }
                })
            },
            changePublished(dataSong){
                let title = '¿Está seguro que desea publicar esta cancion?'

                if(dataSong.published){
                    title = '¿Está seguro que desea quitar la publicacion de esta cancion?'
                }

                Swal.fire({
                    title: title,
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/cancion/publicar', {
                            id: dataSong.id,
                            published: !dataSong.published
                        })
                        .then(response => {
                            this.load = false
                            if(response.data.success){

                                this.changePublishedList(dataSong.id, !dataSong.published, response.data.datePublished)

                                toastr.success('Estado cambiado exitosamente')
                            }
                            else{
                                toastr.warning('Oh no, no pudimos guardar la informacion')
                            }
                        })
                        .catch(error => {
                            toastr.error('Oh no, no pudimos guardar la informacion')
                            this.load = false
                        })
                    }
                })
            },
            changePublishedList(id, published, datePublished){
                this.songs.forEach((song)=>{
                    if(song.id == id){
                        song.published = published
                        song.date_published = datePublished
                    }
                })

                this.songsFiltered.forEach((song)=>{
                    if(song.id == id){
                        song.published = published
                        song.date_published = datePublished
                    }
                })
            },
            previewSong(id){
                this.songSelectedId = id
                this.$bvModal.show('xp-modal-song-preview')
            },
            filterStatus(e){
                let status = e.target.value
                this.songsFiltered = []
                this.songs.forEach(song=>{
                    if( status == 0 || (status == 1 && song.published) || (status == 2 && !song.published) || (status == 3 && song.verified) || (status == 4 && !song.verified) ){
                        this.songsFiltered.push(song)
                    }
                })
            }
        },
        computed: {
        }
    }
</script>