<template>
    <div class="d-flex flex-column">
        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12">
                <h2 class="xp-ds-title xp-text-primary">Alumnos</h2>
            </div>
        </div>
        <!-- RESUME -->
        <div class="row m-0 mt-0 mt-lg-3 mb-4">
            <div class="col-12">
                <div class="xp-ds-list">
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Total:</h4>
                        <span class="xp-ds-subtitle xp-text-jade-alt font-weight-bold" v-text="resume.total"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Activos:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="resume.active"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Inactivos:</h4>
                        <span class="xp-ds-subtitle xp-text-danger font-weight-bold" v-text="resume.inactive"></span>
                    </span>
                </div>
            </div>
        </div>
        <!-- FILTERS -->
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="xp-ds-filters">
                    <div class="xp-ds-filters-block row m-0">
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">Del:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateFrom" @change="getResume()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">al:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateTo" @change="getResume()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-order col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-form-group-resalt">
                                <span class="xp-ds-form-group-resalt-icon">
                                    <i class="fas fa-sort-amount-up"></i>
                                </span>
                                <select class="xp-ds-form-control w-100" v-model="filters.status" @change="filterRegisters($event)">
                                    <option v-for="optionD in optionsActives" v-bind:value="optionD.value" v-text="optionD.label" :selected="optionD.value == filters.status"></option>
                                </select>
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 mt-3 pl-3 pl-lg-3">
                            <div class="xp-ds-form-group xp-ds-form-group-icon w-100">
                                <input class="xp-ds-form-control xp-ds-rounded w-100" type="text" placeholder="Buscar alumno" v-model="filters.search">
                                <span class="xp-ds-form-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="registersFilter"
                    :filter="filters.search"
                    :per-page="perPage"
                    :current-page="currentPage"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <!-- <span v-text="data.index + 1"></span> -->
                        <span v-text="data.item.index"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(username)="data">
                        <span v-text="data.item.username"></span>
                    </template>

                    <!-- A virtual composite column -->
                    <template v-slot:cell(profile)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-text-link" v-on:click="showProfile(data.item.username)">Ver</span>
                        </div>
                    </template>

                    <template v-slot:cell(team)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-text-link" v-on:click="showTeam(data.item.username)">Ver</span>
                        </div>
                    </template>

                    <template v-slot:cell(suscription)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-text-link" v-on:click="showSuscription(data.item.username)">Ver</span>
                        </div>
                    </template>

                    <template v-slot:cell(payment)="data" class="text-center">
                        <div class="text-center" v-text="data.item.payment"></div>
                    </template>

                    <template v-slot:cell(invitations)="data" class="text-center">
                        <div class="xp-box-increment">
                            <span class="xp-box-increment-text" v-text="data.item.invitations"></span>
                            <span class="xp-box-increment-action">
                                <span class="xp-box-increment-button-up" v-on:click="changeLimitIntitation(data.item, 1)">
                                    <i class="fas fa-chevron-up"></i>
                                </span>
                                <span class="xp-box-increment-button-down" v-on:click="changeLimitIntitation(data.item, -1)">
                                    <i class="fas fa-chevron-down"></i>
                                </span>
                            </span>
                            <span class="xp-box-increment-button" v-on:click="saveLimitInvitations(data.item)">
                                <i class="fas fa-save"></i>
                            </span>
                        </div>
                    </template>

                    <template v-slot:cell(views)="data" class="text-center">
                        <div class="text-center d-flex flex-column justify-content-center align-items-center">
                            <span v-text="data.item.tracing.length + ' Cancion' + (data.item.tracing.length>1?'es':'')"></span>
                            <span class="xp-text-link" @click="showTracing(data.item.username)">Ver</span>
                        </div>
                    </template>

                    <!-- <template v-slot:cell(levels)="data" class="text-center">
                        <div class="xp-box-increment">
                            <span class="xp-box-increment-text" v-text="data.item.levels"></span>
                            <span class="xp-box-increment-action">
                                <span class="xp-box-increment-button-up" v-on:click="changeLimitLevel(data.item, 1)">
                                    <i class="fas fa-chevron-up"></i>
                                </span>
                                <span class="xp-box-increment-button-down" v-on:click="changeLimitLevel(data.item, -1)">
                                    <i class="fas fa-chevron-down"></i>
                                </span>
                            </span>
                            <span class="xp-box-increment-button" v-on:click="saveLimitLevels(data.item)">
                                <i class="fas fa-save"></i>
                            </span>
                        </div>
                    </template> -->

                    <template v-slot:cell(active)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-badge xp-badge-success" v-if="data.item.active">Activo</span>
                            <span class="xp-badge xp-badge-warning" v-else>Inactivo</span>
                        </div>
                    </template>

                    <template v-slot:cell(status)="data" class="text-center">
                        <div class="d-flex justify-content-center">
                            <div class="button-cover">
                                <div class="xp-switch-button r">
                                    <input type="checkbox" class="checkbox" :checked="data.item.status == codeVerify" @change="changeStatusUser($event, data.item)" @click="cancelClicked($event, data.item)">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </template>

                    <template v-if="registersFilter.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                    <template v-slot:cell(email)="data">
                        <span v-text="data.item.email"></span>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex flex-column align-items-center justify-content-center">
                <div class="xp-table-pagination">
                    <b-pagination
                    v-model="currentPage"
                    :total-rows="registersFilter.length"
                    :per-page="perPage"
                    ></b-pagination>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <span class="font-weifht-bold mr-2">Total registros: </span>
                    <span class="xp-text-danger" v-text="registersFilter.length"></span>
                </div>
            </div>
        </div>

        <!-- MODAL STUDENT INFO -->
        <b-modal id="xp-moda-info-student" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Informacion de alumno</h5>
            </template>

            <!-- PROFILE USER -->
            <students-profile :username="userSelect" v-if="userSelect" @close="closeModal"></students-profile>
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd" @click="$bvModal.hide('xp-moda-info-student')">Cerrar</button>
        </b-modal>

        <!-- SUSCRIPTION -->
        <b-modal id="xp-moda-suscription-student" size="lg" hide-footer>
            <template v-slot:modal-title>
                <h5>Suscripción</h5>
            </template>

            <!-- Suscription -->
            <div class="row m-0 d-flex w-100">
                <div class="col-12 mx-auto mb-2">
                    <!-- SUSCRIPTION EXPIRES -->
                    <div v-if="modalSuscription.suscription">
                        <div class="d-flex mt-3 mt-md-0 justify-content-center align-items-center xp-bg-jade-alt xp-text-dark p-3 xp-font-weight-semibold">
                        Estado: <span class="font-weight-bold mx-1">ACTIVO</span>
                            <span class="mount-currency xp-text-primary mx-2">
                                S/  {{ modalSuscription.suscription.planprice }}  <small class="range-currency">/ mes</small></span>
                        </div>
                        <div class="d-flex mt-3 p-3 xp-border xp-border-primary text-center justify-content-enter" >
                            <span class="font-weight-bold mr-2">Desde: </span>
                            <span class="xp-text-primary mr-5" v-text="modalSuscription.suscription.init_at"></span>
                            <span class="font-weight-bold mr-2">Hasta: </span>
                            <span class="xp-text-primary" v-text="modalSuscription.suscription.expires_at"></span>
                        </div>
                    </div>
                    <div v-else class="d-flex mt-3 mt-md-0 justify-content-center align-items-center xp-bg-danger xp-text-dark p-3 xp-font-weight-semibold">
                    Estado: <span class="font-weight-bold mx-1">INACTIVO</span>
                    </div>
                </div>
                <div class="col-12 px-0 table-responsive xp-scroll">
                    <b-table 
                        small 
                        :fields="fields_history" 
                        class="xp-table xp-table-dark" 
                        :items="modalSuscription.orders"
                    >
                        <!-- :filter="filters.search" -->
                        <!-- A virtual column -->
                        <template v-slot:cell(index)="data">
                            <span v-text="data.index + 1"></span>
                        </template>

                        <template v-slot:cell(dateCreated)="data">
                            <div class="text-center" v-text="data.item.dateCreated"></div>
                        </template>

                        <!-- A custom formatted column -->
                        <template v-slot:cell(datePayment)="data">
                           <div class="text-center" v-text="data.item.datePayment"></div>
                        </template>

                        <template v-slot:cell(ammount)="data">
                            <div class="text-center" v-text="data.item.ammount"></div>
                        </template>

                        <template v-slot:cell(paymentMethod)="data">
                            <div class="text-center" v-text="data.item.paymentMethod"></div>
                        </template>
                                
                        <template v-slot:cell(userPayment)="data">
                            <div class="text-center" v-text="data.item.userPayment"></div>
                        </template>

                        <template v-if="modalSuscription.orders.length == 0" v-slot:table-caption>
                            <div class="d-flex justify-content-center">
                                Sin registros
                            </div>
                        </template>
                    </b-table>
                </div>
                <div class="col-12 mx-auto" v-if="!modalSuscription.suscription && modalSuscription.order">
                    <div class="d-flex xp-border xp-border-danger p-3 text-center align-items-center flex-column" >
                        <div class="d-flex"><span>Orden Pendiente</span></div>
                        <div class="d-flex mt-2">
                            <span class="font-weight-bold mr-2">Desde: </span>
                            <span class="xp-text-danger" v-text="modalSuscription.order.create"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="$bvModal.hide('xp-moda-suscription-student')">Cerrar</button>
        </b-modal>

        <!-- TEAM -->
        <b-modal id="xp-moda-team-student" :body-class="'xp-bg-black'" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Equipo</h5>
            </template>

            <!-- TEAM -->
            <dashboard-user-ambassador :username="userSelect"></dashboard-user-ambassador>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="$bvModal.hide('xp-moda-team-student')">Cerrar</button>
        </b-modal>

        <!-- TRACING -->
        <b-modal id="xp-moda-tracing-student" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Canciones vistas por el usuario</h5>
            </template>

            <!-- Tracing -->
            <div class="row m-0 d-flex w-100">
                <div class="col-12 mx-auto">
                    <dashboard-user-tracing :username="userSelect"></dashboard-user-tracing>
                </div>
            </div>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="$bvModal.hide('xp-moda-tracing-student')">Cerrar</button>
        </b-modal>

    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                resume: {},
                registers: [],
                registersFilter: [],
                totalRows: 0,
                fields_history:[
                    {key: 'index', label: '#', sortable: false},
                    {key: 'dateCreated', label: 'Factura generada', sortable: false},
                    {key: 'datePayment', label: 'Fecha de Pago', sortable: false},
                    {key: 'ammount', label: 'Monto', sortable: false},
                    {key: 'paymentMethod', label: 'Método de Pago', sortable: false},
                    {key: 'userPayment', label: 'Usuario que Pagó', sortable: false},
                ],
                fields: [
                    {key: 'index', label: '#', sortable: true},
                    {key: 'username', label: 'Usuario', sortable: true},
                    {key: 'profile', label: 'Perfil'},
                    {key: 'team', label: 'Equipo'},
                    {key: 'suscription', label: 'Suscripción'},
                    // {key: 'date', label: 'Fecha de Registro'},
                    {key: 'payment', label: 'Fecha de Suscripción'},
                    {key: 'invitations', label: '# Invitaciones'},
                    {key: 'views', label: 'Visualizaciones'},
                    // {key: 'levels', label: '# Niveles'},
                    {key: 'active', label: 'Estado', sortable: true},
                    {key: 'status', label: 'Verificado', sortable: true},
                    {key: 'email', label: 'Email', sortable: true},
                ],
                filters:{
                    search: '',
                    dateFrom: null,
                    dateTo: null,
                    status: -1
                },
                optionsActives: [
                    {label: 'Todos', value: -1},
                    {label: 'Activos', value: true},
                    {label: 'Inactivos', value: false},
                ],
                codeVerify: null,
                userSelect: null,
                modalSuscription: {
                    suscription: null,
                    order: null,
                    orders:[]
                },
                tracing: null,
                currentPage: 1,
                perPage: 15
			}
        },
        props:[],
		mounted(){
            this.getResume()
        },
        methods: {
            getResume(){
                this.load = true
                axios.post('/panel/estudiantes/resumen', this.filters)
                .then(response => {
                    this.registersFilter = []
                    this.resume = response.data.resume
                    this.registers = response.data.registers
                    response.data.registers.forEach(reg => {
                        this.registersFilter.push(reg)
                    })
                    this.codeVerify = response.data.codeVerify
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            filterRegisters(e){
                let st = e.target.value
                this.registersFilter = []
                this.registers.forEach(register => {
                    if(this.filters.status == -1 || this.filters.status == register.active){
                    console.log(st + " - " + register.active)
                        this.registersFilter.push(register)
                    }
                })
            },
            cancelClicked(e, dataUser){
                e.preventDefault();
                let verify = false
                let title = '¿Estás seguro que deseas desactivar el correo este usuario?'

                if(dataUser.status == this.codeVerify){
                    verify = true
                    title = '¿Estás seguro que deseas confirmar el correo de este usuario?'
                }

                Swal.fire({
                    title: title,
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/estudiantes/verificarcorreo', {
                            username: dataUser.username,
                            verify: verify
                        })
                        .then(response => {
                            this.load = false
                            if(response.data.success){
                                this.getResume()
                                toastr.success('Estado cambiado exitosamente')
                            }
                            else{
                                toastr.warning('Oh no, no pudimos guardar la informacion')
                            }
                        })
                        .catch(error => {
                            toastr.error('Oh no, no pudimos guardar la informacion')
                            this.load = false
                        })
                    }
                })
            },
            showProfile(userN){
                this.userSelect = userN
                this.$bvModal.show('xp-moda-info-student')
            },
            closeModal(){
                this.userSelect = null
            },
            changeLimitIntitation(dataReg, value){
                this.registers.forEach((register) => {
                    if(register.id == dataReg.id){
                        if( (value > 0) || (value < 0 && register.invitations>0) ){
                            register.invitations += value
                        }
                    }
                })
            },
            showSuscription(userN){
                this.userSelect = userN
                this.modalSuscription.suscription = null
                this.modalSuscription.order = null
                this.modalSuscription.orders = []
                
                axios.post('/panel/estudiantes/suscripcion/datos', {
                    username: this.userSelect
                })
                .then(response => {
                    this.modalSuscription.suscription = response.data.suscription
                    this.modalSuscription.order = response.data.order
                    this.modalSuscription.orders = response.data.orders
                })
                .catch(error => {
                })

                this.$bvModal.show('xp-moda-suscription-student')
            },
            showTracing(userN){
                this.userSelect = userN

                this.$bvModal.show('xp-moda-tracing-student')
            },
            showTeam(userN){
                this.userSelect = userN
                this.$bvModal.show('xp-moda-team-student')
            },
            // changeLimitLevel(dataReg, value){
            //     this.registers.forEach((register) => {
            //         if(register.id == dataReg.id){
            //             if( (value > 0) || (value < 0 && register.levels>0) ){
            //                 register.levels += value
            //             }
            //         }
            //     })
            // },
            saveLimitInvitations(dataReg){
                Swal.fire({
                    title: '¿Estás seguro que deseas GUARDAR estos cambios?',
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/estudiantes/limite/invitaciones', dataReg)
                        .then(response => {
                            this.load = false
                            if(response.data.success){
                                this.getResume()
                                Swal.fire({
                                    icon: 'success',
                                    title: response.data.message,
                                    showConfirmButton: false,
                                    timer: 1500,
                                    customClass: {
                                        container: 'xp-sweet-container-xs'
                                    }
                                })
                            }
                            else{
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Oh no, no pudimos guardar la informacion',
                                    showConfirmButton: false,
                                    timer: 1500,
                                    customClass: {
                                        container: 'xp-sweet-container-xs'
                                    }
                                })
                            }
                        })
                        .catch(error => {
                            Swal.fire({
                                icon: 'info',
                                title: 'Oh no, no pudimos guardar la informacion',
                                showConfirmButton: false,
                                timer: 1500,
                                customClass: {
                                    container: 'xp-sweet-container-xs'
                                }
                            })
                            this.load = false
                        })
                    }
                })
            },
            // saveLimitLevels(dataReg){
            //     Swal.fire({
            //         title: '¿Estás seguro que deseas GUARDAR estos cambios?',
            //         text: "",
            //         icon: 'question',
            //         showCancelButton: true,
            //         confirmButtonText: 'Si',
            //         cancelButtonText: 'No',
            //         customClass: {
            //             container: 'xp-sweet-container-xs'
            //         }
            //     })
            //     .then((result) => {
            //         if(result.value){
            //             this.load = true
            //             axios.post('/panel/estudiantes/limite/niveles', dataReg)
            //             .then(response => {
            //                 this.load = false
            //                 if(response.data.success){
            //                     this.getResume()
            //                     Swal.fire({
            //                         icon: 'success',
            //                         title: response.data.message,
            //                         showConfirmButton: false,
            //                         timer: 1500,
            //                         customClass: {
            //                             container: 'xp-sweet-container-xs'
            //                         }
            //                     })
            //                 }
            //                 else{
            //                     Swal.fire({
            //                         icon: 'info',
            //                         title: 'Oh no, no pudimos guardar la informacion',
            //                         showConfirmButton: false,
            //                         timer: 1500,
            //                         customClass: {
            //                             container: 'xp-sweet-container-xs'
            //                         }
            //                     })
            //                 }
            //             })
            //             .catch(error => {
            //                 Swal.fire({
            //                     icon: 'info',
            //                     title: 'Oh no, no pudimos guardar la informacion',
            //                     showConfirmButton: false,
            //                     timer: 1500,
            //                     customClass: {
            //                         container: 'xp-sweet-container-xs'
            //                     }
            //                 })
            //                 this.load = false
            //             })
            //         }
            //     })
            // }
        },
        computed: {
        }
    }
</script>