<template>
    <div class="d-flex flex-column animated fadeIn w-100">

        <loader :show="load"></loader>
        <div class="">
            <button class="xp-button xp-button-primary mt-4" style="display: inline !important" @click="getSubtitles()"><i class="far fa-keyboard pr-1"></i>Iniciar</button>
            <button class="xp-button xp-button-primary mt-4 ml-2" style="display: inline !important" @click="getsubtitlegoogletranslate()"><i class="fab fa-google pr-1"></i>Usar Google Translate</button>
        </div>
        <form id="FormSubtitle">
             <!-- DATA TABLE -->
            <div class="row m-0 mt-4">
                <div class="col-12 table-responsive xp-scroll">
                    <b-table 
                        small 
                        :fields="fields" 
                        class="xp-table" 
                        :items="lines"
                        :filter="filters.search"
                    >
                        <!-- A virtual column -->
                        <template v-slot:cell(index)="data">
                            <span v-text="data.index + 1"></span>
                        </template>

                        <!-- A custom formatted column -->
                        <template v-slot:cell(words)="data">
                            <span v-text="data.item.words"></span><br>
                            <input class="w-100" type="text" name="frase" v-model="data.item.translation" :id="data.index + 1" autocomplete="off">
                        </template>
                        
                        <template v-slot:cell(start)="data">
                            <div class="text-center" v-text="data.item.timeStart"></div>
                        </template>

                        <template v-slot:cell(end)="data">
                            <div class="text-center" v-text="data.item.timeEnd"></div>
                        </template>

                        <template v-if="lines.length == 0" v-slot:table-caption>
                            <div class="d-flex justify-content-center">
                                Sin registros
                            </div>
                        </template>
                    </b-table>
                </div>
                <div class="col-12 mt-3 d-flex justify-content-center">
                    <div class="xp-table-pagination">
                        <span class="xp-table-pagination-page" v-text="lines.length + ' Registros'"></span>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <button class="xp-button xp-button-primary mt-4" @click="sendsubtitle()">Guardar</button>
        </div>

    </div>
</template>
<script>
import Swal from 'sweetalert2'

    export default {
        data(){
			return{
                load: false,
                lines: [],
                newlines: [],
                fields: [
                    {key: 'index', label: '#', sortable: false},
                    {key: 'words', label: 'Palabras', sortable: false},
                    {key: 'start', label: 'T.Inicio', sortable: false},
                    {key: 'end', label: 'T.Fin', sortable: false},
                ],
                filters:{
                    search: ''
                },
			}
        },
        props:["langbase", "langtarget", "songId"],
		mounted(){
        },
        methods: {
            getSubtitles(){
                this.lines = []
                this.newlines = []
                if (this.langbase && this.langtarget) {
                    if (this.langbase.id != this.langtarget.id) {
                        this.load = true
                        axios.post('/panel/canciones/subtitulos/translate/vista',{
                            id: this.langbase.id,
                            target: this.langtarget.id,
                            songId: this.songId,
                            googletranslate: false
                        })
                        .then(response => {
                            if(response.data.formated){
                                response.data.formated.forEach(line => {
                                    this.lines.push({
                                        translation: line.translation,
                                        words: line.content,
                                        timeStart: line.startorigin,
                                        timeEnd: line.endorigin
                                    })
                                    this.newlines.push({
                                        words: line.content,
                                        timeStart: line.start,
                                        timeEnd: line.end
                                    })
                                });
                            }
                            else if(response.data.error){
                                toastr.error('Ya existe el subtitulo')
                            }
                            this.load = false
                        })
                        .catch(error => {
                            this.load = false
                        })
                    }
                    else{
                        toastr.warning('Deben ser idiomas distintos')
                    }
                }
                else{
                    toastr.warning('Escoge un idioma')
                }
                
            },
            getsubtitlegoogletranslate(){
                this.lines = []
                this.newlines = []
                if (this.langbase && this.langtarget) {
                    if (this.langbase.id != this.langtarget.id) {
                        this.load = true
                        axios.post('/panel/canciones/subtitulos/translate/vista',{
                            id: this.langbase.id,
                            target: this.langtarget.id,
                            songId: this.songId,
                            googletranslate: true
                        })
                        .then(response => {
                            if(response.data.formated){
                                response.data.formated.forEach(line => {
                                    this.lines.push({
                                        translation: line.translation,
                                        words: line.content,
                                        timeStart: line.startorigin,
                                        timeEnd: line.endorigin
                                    })
                                    this.newlines.push({
                                        words: line.content,
                                        timeStart: line.start,
                                        timeEnd: line.end
                                    })
                                });
                            }
                            else if(response.data.error){
                                toastr.error('Ya existe el subtitulo')
                            }
                            this.load = false
                        })
                        .catch(error => {
                            this.load = false
                        })
                    }
                    else{
                        toastr.warning('Deben ser idiomas distintos')
                    }
                }
                else{
                    toastr.warning('Escoge un idioma')
                }
            },
            formatTime(timeSeconds) {
                let miliSecondsString = timeSeconds.split('.')
                let miliSeconds = miliSecondsString[1]
                let timeString = miliSecondsString[0].split(':')
                let hour = parseInt(timeString[0])
                let minutes = parseInt(timeString[1])
                let seconds = parseInt(timeString[2])
                // let totalSeconds = seconds + (minutes*60) + (hour*60*60)
                // let timeResult = totalSeconds+'.'+miliSeconds
                let timeResult = (hour<10?'0':'') + hour + ":" + (minutes<10?'0':'') + minutes + ":" + (seconds<10?'0':'') + seconds
                return timeResult
            },
            timeToDecimal(starttime){
                // separar los datos de tiempo
                this.splittime = starttime.split(':')
                // convirtiendo y sumando los minutos y horas a milisegundos
                this.splittime[2] =(parseFloat(this.splittime[2]) + parseFloat(parseInt(this.splittime[0], 10)*60 + parseInt(this.splittime[1], 10)*60)).toFixed(3)
                return this.splittime[2]
            },
            sendsubtitle(){
                if (this.lines.length > 0) {
                    var available = true
                    var elements = document.querySelectorAll("#FormSubtitle input[type=text]")
                    for (var i = 0; i < elements.length; i++ )
                    {
                        var check = document.getElementById(elements[i].id).value
                        if (check != '') {
                            this.newlines[i].words = check
                        }
                        else{
                            available = false
                        }
                    }
                    if (available) {
                        this.load = true
                        axios.post('/panel/canciones/subtitulos/translate/guardar',{
                            lines: this.newlines,
                            songId: this.songId,
                            lang: this.langtarget.id
                        })
                        .then(response => {
                            this.load = false
                            if (response.data.success) {
                                toastr.success('Archivo SRT creado')
                                this.$emit('close', 'xp-modal-subtitle-translate')
                            }else{
                                toastr.error('Algo salió mal, inténtalo más tarde')
                            }
                        })
                        .catch(error => {
                            this.load = false
                        })
                    }else{
                        toastr.warning('Todos los campos no están completos')
                    }
                    
                }
                else{
                    toastr.error('no hay datos que guardar')
                }
                
            }
        },
        computed: {
        }
    }
</script>