<template>
    <div>
        <div class="row m-0 pt-5">
            <div class="col-12 xp-form-group m-0">
                <label class="xp-form-label m-0 xp-text-dark" for="">Restringir Contenido:</label>
            </div>
            <div class="col-12 xp-tags-list">
                <div class="xp-tags-list-content flex-wrap">
                    <div class="d-flex my-2 w-100">
                        <h5 class="font-weight-normal xp-text-primary">Artistas</h5>
                    </div>
                    <div class="xp-tags-list-item" v-for="(artist, index) in restricted.artists">
                        <span class="xp-text-danger mr-2">*</span>
                        <span class="xp-tags-list-item-text xp-text-dark nowrap" v-text="artist.stage_name"></span>
                    </div>
                    <div class="d-flex my-2 w-100">
                        <h5 class="font-weight-normal xp-text-primary">Generos</h5>
                    </div>
                    <div class="xp-tags-list-item" v-for="(gender, index) in restricted.genders">
                        <span class="xp-text-danger mr-2">*</span>
                        <span class="xp-tags-list-item-text xp-text-dark nowrap" v-text="gender.name"></span>
                    </div>
                    <div class="d-flex my-2 w-100">
                        <h5 class="font-weight-normal xp-text-primary">Canciones</h5>
                    </div>
                    <div class="xp-tags-list-item" v-for="(song, index) in restricted.songs">
                        <span class="xp-text-danger mr-2">*</span>
                        <span class="xp-tags-list-item-text xp-text-dark nowrap" v-text="song.name"></span>
                    </div>
                    <span class="d-flex text-center xp-text-dark py-3" v-if="restricted.artists.length == 0 && restricted.genders.length == 0 && restricted.songs.length == 0">
                        No se encontraron restricciones
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                restricted: {
                    genders: [],
                    artists: [],
                    songs: []
                }
			}
        },
        props:["username"],
		mounted(){
            this.getRestricted()
        },
        methods: {
            getRestricted(){
                axios.post('/panel/estudiantes/datos/restricciones',{
                    username: this.username
                })
                .then(response => {
                    this.restricted = response.data.restricted
                })
                .catch(error => {
                })
            }
        },
        computed: {
        }
    }
</script>