<template>
    <div class="delay-04s xp-scroll">
        <!-- LOADER -->
        <loader :show="load"></loader>
        <!-- <span class="cf-modal-close" v-on:click="close()"> <i class="fas fa-times"></i> </span> -->
        <div class="full-data-profile-content">
            <div class="row m-0">
                <div class="col-12 col-md-4 p-0">
                    <div class="card-data-profile">
                        <div class="card-data-profile-header">
                            <h4>Mi cuenta</h4>
                        </div>
                        <div class="card-data-profile-body" v-if="user.student">
                            <div class="card-data-profile-body-picture">
                                <img v-bind:src="(user.picture)?('/usuario/foto/' + user.picture):('/img/user.svg')" alt="">
                            </div>
                            <div class="card-data-profile-name mt-4">
                                <span v-text="getFullName()"></span>
                            </div>
                            <div class="card-data-profile-username mt-3">
                                <span v-text="user.username"></span>
                            </div>
                            <div class="card-data-profile-age mt-3">
                                <span class="xp-text-gray-down" v-text="(age)?(age + ' años'):'Edad'"></span>
                            </div>
                            <div class="card-data-profile-address mt-3">
                                <span class="xp-text-gray-down" v-text="getCity()"></span>
                                <span class="xp-text-gray-down mx-1">-</span>
                                <span class="xp-text-gray-down" v-text="getCountry()"></span>
                            </div>
                            <div class="card-data-profile-status mt-2" v-bind:class="[(user.status == statusList.active)?'xp-text-primary':'xp-text-danger']">
                                <span v-text="user.status == statusList.active?'ALUMNO':'NO ACTIVADO'"></span>
                            </div>
                            <div class="card-data-profile-points xp-border-bottom xp-border-top pb-3">
                                <span class="card-data-profile-points-number">
                                    <span v-text="user.student.gems"></span>
                                    <img src="/img/gem-jade.svg" alt="">
                                </span>
                                <span class="card-data-profile-points-text mt-1 xp-text-gray-down">Gemas ganadas</span>
                            </div>
                            <div class="card-data-profile-learn mt-2" v-if="user.student">
                                <div class="card-data-profile-language">
                                    <span class="card-data-profile-language-title mr-1">Hablo:</span>
                                    <span class="card-data-profile-language-text mr-1 xp-text-gray-down" v-for="(language, index) in user.student.languages" v-text="language.name" v-if="language.speak"></span>
                                </div>
                                <div class="card-data-profile-language">
                                    <span class="card-data-profile-language-title mr-1">Aprendiendo:</span>
                                    <span class="card-data-profile-language-text mr-1 xp-text-gray-down" v-for="(language, index) in user.student.languages" v-text="language.name" v-if="language.learn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-8 p-0">
                    <div class="card-data-profile-detail">
                        <div class="card-data-profile-detail-header">
                            <ul class="row nav nav-tabs xp-nav-tabs" id="tab-profile-detail" role="tablist">
                                <li class="col-12 col-md-4 px-0 nav-item xp-nav-item">
                                    <a class="nav-link xp-nav-link" id="xp-achievements-tab" data-toggle="tab" href="#xp-achievements-tab-detail" role="tab" aria-controls="xp-achievements-tab-detail" aria-selected="true">Logros</a>
                                </li>
                                <li class="col-12 col-md-4 px-0 nav-item xp-nav-item">
                                    <a class="nav-link xp-nav-link active" id="xp-profile-tab" data-toggle="tab" href="#xp-profile-tab-detail" role="tab" aria-controls="xp-profile-tab-detail" aria-selected="true">Mi Perfil</a>
                                </li>
                                <li class="col-12 col-md-4 px-0 nav-item xp-nav-item">
                                    <a class="nav-link xp-nav-link" id="xp-detail-tab" data-toggle="tab" href="#xp-detail-tab-detail" role="tab" aria-controls="xp-detail-tab-detail" aria-selected="false">Configuraciones</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-data-profile-detail-body px-2">
                            <div class="tab-content xp-tab-content" id="tab-profile-detail-content">
                                <div class="tab-pane fade" id="xp-achievements-tab-detail" role="tabpanel" aria-labelledby="xp-achievements-tab">
                                    <div class="xp-data-detail xp-text-dark">
                                        LOGROS
                                        <!-- <account-achievements></account-achievements> -->
                                    </div>
                                </div>
                                <div class="tab-pane xp-tab-pane show fade active" id="xp-profile-tab-detail" role="tabpanel" aria-labelledby="xp-profile-tab">
                                    <div class="xp-data-detail">
                                        <students-information :user-data="user" :username="username"></students-information>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="xp-detail-tab-detail" role="tabpanel" aria-labelledby="xp-detail-tab">
                                    <div class="xp-data-detail">
                                        <students-configuration :username="username"></students-configuration>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>
<script>

    export default {
       data(){
			return{
                load:false,
                user: {},
                date : null,
                age: null,
                active: false,
                statusList: []
			}
        },
        props:["username"],
		mounted(){
            this.getStatusList()
            this.getUserData()
        },
        methods: {
            getStatusList(){
                axios.get('/estados/lista', {
                })
                .then(response => {
                    this.statusList = response.data.statusList
                })
                .catch(error => {
                })
            },
            getUserData(){
                this.load = true
                axios.post('/panel/estudiantes/datos/perfil', {
                    username: this.username
                })
                .then(response => {
                    this.user = response.data.user
                    this.date = moment(response.data.date).format('DD-MM-YYYY')
                    this.age = response.data.age
                    this.active = response.data.active
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            getFullName(){
                let fullName = 'Nombre completo'
                if(this.user.profile){
                    if(this.user.profile.name){
                        fullName = this.user.profile.name
                    }

                    if(this.user.profile.last_name){
                        if(this.user.profile.name){
                            fullName += ' '
                        }
                        fullName += this.user.profile.last_name
                    }
                }

                return fullName
            },
            getCountry(){
                let country = 'País';
                if(this.user.profile){
                    if(this.user.profile.city){
                        country = this.user.profile.city.region.country.name
                    }
                }

                return country
            },
            getCity(){
                let city = 'Ciudad';
                if(this.user.profile){
                    if(this.user.profile.city){
                        city = this.user.profile.city.name
                    }
                }

                return city
            },
            close(){
                this.$emit('close');
            }
        },
        computed: {
        }
    }
</script>