<template>
    <div class="">
        <!-- LOADER -->
        <loader :show="load"></loader>
        <div class="row m-0" v-if="user.profile">
            <div class="col-12 p-0 mb-2">
                <h5 class="title xp-text-gray-down">ACCIONES</h5>
            </div>
            <div class="d-flex justify-content-center">
                <label class="xp-form-label pr-4" for="">Bloquear Usuario:</label>
                <div class="button-cover">
                    <div class="xp-switch-button r">
                        <input type="checkbox" class="checkbox" :checked="user.status != codeLocked" @change="changeStatusUser($event, user)" @click="cancelClicked($event, user)">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-0 mb-2">
                <h5 class="title xp-text-gray-down">INFORMACIÓN GENERAL</h5>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Usuario:</label>
                <span class="xp-form-control xp-form-control-noscroll xp-bg-white xp-text-dark dark-input" v-text="user.username"></span>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Correo electronico:</label>
                <input class="xp-form-control xp-bg-white xp-text-dark" type="text" placeholder="Correo electronico" v-bind:class="[(edit==false)?'dark-input':'']" v-model="user.email" :disabled="edit == false">
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Patrocinador:</label>
                <span class="xp-form-control xp-form-control-noscroll xp-bg-white xp-text-dark dark-input" v-text="(user.sponsor)?user.sponsor:''"></span>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Nombres:</label>
                <input class="xp-form-control xp-bg-white xp-text-dark" type="text" placeholder="Nombres" v-bind:class="[(edit==false)?'dark-input':'']" v-model="user.profile.name" :disabled="edit == false">
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Apellidos:</label>
                <input class="xp-form-control xp-bg-white xp-text-dark" type="text" placeholder="Apellidos" v-bind:class="[(edit==false)?'dark-input':'']" v-model="user.profile.last_name" :disabled="edit == false">
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Celular:</label>
                <input class="xp-form-control xp-bg-white xp-text-dark" type="text" v-bind:class="[(edit==false)?'dark-input':'']" placeholder="Celular" v-model="user.profile.phone" @keypress="onlyNumbers($event)" :disabled="edit == false">
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Mi fecha de nacimiento:</label>
                <input class="xp-form-control xp-bg-white xp-text-dark" type="date" v-bind:class="[(edit==false)?'dark-input':'']" v-model="user.profile.birthdate" :disabled="edit == false">
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Sexo:</label>
                <select class="xp-form-control xp-bg-white xp-text-dark" name="" id="" v-model="user.profile.sex" v-bind:class="[(edit==false)?'dark-input':'']" :disabled="edit == false">
                    <option :selected="user.profile.sex == sex" v-for="sex in sexList" v-bind:value="sex" v-text="(sex == 'F')?'Femenino':( sex == 'M'?'Masculino': ( sex == 'NE'?'No Especificar':'' ) )"></option>
                </select>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Hablo:</label>
                <span class="xp-form-control xp-form-control-noscroll xp-bg-white xp-text-dark dark-input" v-text="getSpeak()"></span>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Pais:</label>
                <span class="xp-form-control xp-form-control-noscroll xp-bg-white xp-text-dark dark-input" v-text="(user.profile.city?user.profile.city.region.country.name:'----')"></span>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Departamento:</label>
                <span class="xp-form-control xp-form-control-noscroll xp-bg-white xp-text-dark dark-input" v-text="(user.profile.city?user.profile.city.region.name:'----')"></span>
            </div>
            <div class="col-12 col-md-4 xp-form-group">
                <label class="xp-form-label" for="">Provincia:</label>
                <span class="xp-form-control xp-form-control-noscroll xp-bg-white xp-text-dark dark-input" v-text="(user.profile.city?user.profile.city.name:'----')"></span>
            </div>
            <div class="col-12 xp-form-group">
                <label class="xp-form-label" for="">Dirección:</label>
                <span class="xp-form-control xp-form-control-noscroll xp-bg-white xp-text-dark dark-input" v-text="(user.profile.address)?user.profile.address:'----'"></span>
            </div>
            <div class="col-12">
                <button v-if="!edit" class="col-5 xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="editinfo()">Editar</button>
                <button v-if="edit" class="col-md-5 xp-button btn btn-success mt-3" @click="saveData()" style="display:inline !important"><i class="fas fa-check pr-1"></i>Guardar datos</button>
                <button v-if="edit" class="col-md-5 xp-button btn btn-danger mt-3" @click="discard()" style="display:inline !important"><i class="fab fa-xing pr-1"></i>Descartar Cambios</button>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                user: {
                    profile: {}
                },
                sexList: ["F", "M", "NE"],
                edit: false,
                codeLocked: null,
                sponsor:null
			}
        },
        props:["username", "userData"],
		mounted(){        
            this.getData()
        },
        methods: {
            getData(){
                this.load = true
                this.user = {
                    profile:{}
                }
                axios.post('/panel/estudiantes/datos/perfil', {
                    username: this.username
                })
                .then(response => {
                    this.user = response.data.user
                    this.codeLocked = response.data.codeLocked
                    // this.sponsor = response.data.sponsor
                    setTimeout(() => {
                        this.load = false
                    }, 2000);
                })
                .catch(error => {
                    this.load = false
                })
            },
            getSpeak(){
                let result = ''
                if(this.user.student){
                    this.user.student.languages.forEach(language => {
                        if(language.speak){
                            result = language.name
                        }
                    });
                }
                return result
            },
            editinfo(){
                this.edit = true
            },
            discard(){
                Swal.fire({
                        title: '¿Está seguro que desea descartar los cambios?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No'
                    })
                    .then((result) => {
                        this.getData()
                        this.edit = false
                    })

            },
            saveData(){
                // if(this.validate()){

                    Swal.fire({
                        title: '¿Está seguro que desea guardar los cambios?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No'
                    })
                    .then((result) => {
                        if (result.value) {

                            this.load = true
                            axios.post('/panel/estudiantes/datos/perfil/guardar', {
                                user: this.user,
                            })
                            .then(response => {

                                if(response.data.error){
                                    toastr.warning(response.data.error)
                                }
                                else if(response.data.success){
                                    // this.$emit('reload')
                                    this.getData()
                                    toastr.success('Los cambios se guardaron exitosamente')
                                    this.edit = false
                                }
                                else{
                                    toastr.error('Algo salio mal, no se guardaron los cambios')
                                }

                                this.load = false
                            })
                            .catch(error => {
                                toastr.error('Algo salio mal, no se guardaron los cambios')
                                this.load = false
                            })

                        }
                    })
                // }
            },
            cancelClicked(e, dataUser){
                console.log(dataUser)
                e.preventDefault();
                let locked = true
                let title = '¿Estás seguro que deseas bloquear a este usuario?'

                if(dataUser.status == this.codeLocked){
                    locked = false
                    title = '¿Estás seguro que deseas activar a este usuario?'
                }

                Swal.fire({
                    title: title,
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/estudiantes/bloquear', {
                            username: dataUser.username,
                            locked: locked
                        })
                        .then(response => {
                            this.load = false
                            if(response.data.success){
                                this.getData()
                                toastr.success('Estado cambiado exitosamente')
                            }
                            else{
                                toastr.warning('Oh no, no pudimos guardar la informacion')
                            }
                        })
                        .catch(error => {
                            toastr.error('Oh no, no pudimos guardar la informacion')
                            this.load = false
                        })
                    }
                })
            },
            validEmail(email){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            onlyNumbers(e){
                let key = window.Event ? e.which : e.keyCode
                if(key >= 48 && key <= 57){

                }
                else{
                    e.preventDefault();
                }
            }
        },
        computed: {

        },
        watch: {
            userData: function (val) {
                if(this.userData){
                    this.user = this.userData
                }  
                else{
                    this.getData()
                }
            }
        }
    }
</script>
