<template>
    <div class="d-flex flex-column">
        <loader :show="load"></loader>
        <div class="row m-0">
            <div class="col-12 col-md-4 px-0 px-md-4">
                <div class="card-plan-dark mx-2">
                    <div class="pricing-style-one xp-card-pricing xp-card-pricing-dark" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <div class="pricing-header text-center">
                            <p class="month xp-card-pricing-mount xp-text-primary">
                                <span class="mount-currency xp-text-primary mx-2">
                                    S/  29  <small class="range-currency">/ mes</small>
                                </span>
                            </p>
                            <!-- <p v-if="newest" class="month xp-card-pricing-mount xp-text-primary">
                                <span class="mount-currency xp-text-primary mx-2">
                                <small class="range-currency">-20% el primer mes por invitación</small>
                                </span>
                            </p> -->
                        </div>
                        <div class="pricing-list">
                            <ul class="xp-list-options">
                                <li class="xp-list-options-item">
                                    <img class="xp-list-options-icon xp-icon mr-2" src="/img/check.svg" alt="">
                                    <span class="xp-list-options-text xp-text-white">
                                        Acceso ilimitado a todo nuestro catálogo de canciones.
                                    </span>
                                </li>
                                <li class="xp-list-options-item">
                                    <img class="xp-list-options-icon xp-icon mr-2" src="/img/check.svg" alt="">
                                    <span class="xp-list-options-text xp-text-white">
                                        Aprende idiomas sin anuncios.
                                    </span>
                                </li>
                                <li class="xp-list-options-item">
                                    <img class="xp-list-options-icon xp-icon mr-2" src="/img/check.svg" alt="">
                                    <span class="xp-list-options-text xp-text-white">
                                        Acceso 24/7. Desde cualquier lugar y dispositivo.
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 p-0">
                <!-- NOT SUSCRIPTION -->
                <div v-if="!suscription" class="d-flex mt-3 mt-md-0 justify-content-center align-items-center xp-bg-danger xp-text-dark p-3 xp-font-weight-semibold">
                    Estado: <span class="font-weight-bold mx-1">INACTIVO</span>
                </div>
                <!-- SUSCRIPTION EXPIRES -->
                <div v-else class="d-flex mt-3 mt-md-0 justify-content-center align-items-center xp-bg-jade-alt xp-text-dark p-3 xp-font-weight-semibold">
                    Estado: <span class="font-weight-bold mx-1">ACTIVO</span>  -  Próxima fecha de renovación: <span class="font-weight-bold mx-1" v-text="dateRenewal"></span>
                </div>
                <div class="xp-card-plan-suscription mt-3">
                    <div class="xp-card-plan-suscription-item">
                        <span class="d-flex xp-font-1 align-items-center">
                            <span class="xp-icon-circle xp-text-jade-alt mr-2">
                                <img src="/img/check.svg" alt="">
                            </span>
                            <span>1 mes</span>
                        </span>
                    </div>
                    <div class="xp-card-plan-suscription-item">
                        <span class="xp-font-1">
                            <span v-if="order && order.description == 'Register'" v-text="'S/ '+order.ammount"></span>
                            <span v-else v-text="'S/ '+plan.price"></span>
                        </span> 
                    </div>
                    <div class="xp-card-plan-suscription-item">
                        <span class="xp-font-09 xp-text-gray-down">
                            <span v-if="order && order.description == 'Register'" v-text="'(ó '+ parseInt(valuePoint * parseInt(order.ammount)) +' puntos)'"></span>
                            <span v-else v-text="'(ó '+ parseInt(valuePoint * parseInt(plan.price)) +' puntos)'"></span>
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-column mt-3">
                    <p class="xp-text-white">Continuar con el Pago:</p>
                    <div class="d-flex mt-3 row m-0">
                        <div class="col-12 col-md-4 mt-3 mt-md-0">
                            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mr-0 mr-md-2" @click="payMethod = paymentsMethods.points" :disabled="!order">
                                Puntos
                            </button>
                        </div>
                        <div class="col-12 col-md-4 mt-3 mt-md-0">
                            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mr-0 mr-md-4" :disabled="!order">
                                Tarjeta
                            </button>
                        </div>
                        <div class="col-12 col-md-4 mt-3 mt-md-0">
                            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd ml-0 ml-md-2" @click="payMethod = paymentsMethods.transfer" :disabled="!order">
                                Transferencias
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ALERT -->
        <div class="xp-dashboard-alert xp-bg-primary animated zoomIn xp-delay-03s" v-if="payMethod != 0">
            <div class="xp-dashboard-card-alert xp-bg-dark-grad xp-dashboard-card-alert-md">
                <span class="xp-dashboard-alert-close" @click="payMethod = 0">
                    <i class="fas fa-times"></i>
                </span>
                <!-- PAYMENT POINTS -->
                <div class="d-flex flex-column" v-if="payMethod == paymentsMethods.points">
                    <div class="xp-dashboard-card-alert-header flex-column align-items-center">
                        <h2 class="xp-dashboard-card-alert-title xp-text-primary xp-font-2"> Pagar con Puntos </h2>
                        <p class="xp-font-1 mt-4 xp-text-white text-center xp-font-light xp-line-1-2">
                            ¡Los puntos Xpeaking valen dinero! 
                            Si aún no cuentas con puntos ¡no hay problema! tu amigo(a) puede pagar tu suscripción. 
                        </p>
                        <p class="xp-font-1 mt-4 mb-2 font-weight-bold xp-text-dark xp-bg-warning w-100 py-2 px-3 d-flex justify-content-between">
                            <span>Plan de Suscripción:</span>
                            <span v-text="parseInt(parseInt(order.ammount) * valuePoint) + ' puntos'"></span>
                        </p>
                        <p class="xp-font-09 mt-3 xp-text-white text-center xp-font-light xp-line-1-2">
                            Al hacer clic en el botón "PAGAR", declaras que tienes más de 18 años. Puedes cancelar tu suscripción en cualquier momento; para hacerlo, visita tu Cuenta y haz clic en "Cancelar Suscripción".
                        </p>
                        <p class="xp-font-09 mt-3 xp-text-white text-center xp-font-light xp-line-1-2">
                            Xpeaking no realiza cargos automáticos en cualquier modalidad de pago, ni ofrece reembolsos.
                        </p>
                        <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="payment">
                            Pagar
                        </button>
                    </div>
                </div>
                <!-- PAYMENT TRANSFER -->
                <div class="d-flex flex-column" v-if="payMethod == paymentsMethods.transfer">
                    <div class="xp-dashboard-card-alert-header flex-column align-items-center">
                        <h2 class="xp-dashboard-card-alert-title xp-text-primary xp-font-2"> Transferencia </h2>
                        <p class="xp-font-1 mt-4 xp-text-white text-center xp-font-light xp-line-1-2">
                            [Sólo Perú] Realiza tu pago sin comisiones a través de YAPE  (BCP) o PLIN (Interbank, Scotiabank, BBVA) al número 939 992 192 
                        </p>
                        <p class="xp-font-1 mt-4 mb-2 font-weight-bold xp-text-dark xp-bg-warning w-100 py-2 px-3 d-flex justify-content-between">
                            <span>Plan de Suscripción:</span>
                            <span v-if="order && order.description == 'Register'" v-text="'S/ '+order.ammount+' el primer mes'"></span>
                            <span v-else v-text=" 'S/ ' + plan.price + ' al mes'"></span>
                        </p>
                        <p class="xp-font-09 mt-3 xp-text-white text-center xp-font-light xp-line-1-2">
                            Al hacer clic en el botón "PAGAR", declaras que tienes más de 18 años. Puedes cancelar tu suscripción en cualquier momento; para hacerlo, visita tu Cuenta y haz clic en "Cancelar Suscripción".
                        </p>
                        <p class="xp-font-09 mt-3 xp-text-white text-center xp-font-light xp-line-1-2">
                            Xpeaking no realiza cargos automáticos en cualquier modalidad de pago, ni ofrece reembolsos.
                        </p>
                        <div class="xp-bg-primary p-0 mt-3 text-white radius-4">
                            <input type="file" name="xp-file-voucher" id="xp-file-voucher" style="width: 0; height: 0; position: absolute; top: -1rem;" accept=".png, .jpeg, .jpg, .pdf" @change="changeFile($event)">
                            <label for="xp-file-voucher" class="m-0 py-2 px-4 cursor-pointer xp-font-1">
                                <i class="fas fa-upload mr-2"></i>
                                Adjuntar comprobante
                            </label>
                        </div>
                        <div class="mt-3" v-if="voucher.file">
                            <p class="text-white text-center xp-text-jade mb-1 xp-font-1">Archivo adjuntado</p>
                            <div class="d-flex align-items-center">
                                <span class="py-2 px-4 radius-2 xp-border xp-border-jade-alt xp-font-1 xp-font-wrap mr-2" v-text="voucher.fullName"></span>
                                <span class="text-white cursor-pointer xp-font-12" @click="$bvModal.show('xp-modal-voucher-preview')">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="saveFile">
                                Guardar comprobante
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ALERT --> 
        <!-- MODAL VOUCHER -->
        <b-modal id="xp-modal-voucher-preview" title="Previsualizacion de archivo"  hide-footer @show="openModalPreview">
            <div class="d-flex">
                <embed v-bind:src="voucher.url" width="100%" v-if="voucher.extension == 'pdf'">
                <img v-bind:src="filePreview" alt="" v-else>
            </div>
            <b-button class="mt-3 xp-bg-primary mt-3" block @click="$bvModal.hide('xp-modal-voucher-preview')">Cerrar</b-button>
        </b-modal>
        <!-- END MODAL VOUCHER -->
    </div>
</template>
<script>
import Swal from 'sweetalert2'

    export default {
       data(){
			return{
                load: false,
                search: '',
                songs: [],
                songsFilter: [],
                plan: {
                    price: 0
                },
                newest: true,
                suscription: null,
                order: null,
                valuePoint: 0,
                dateRenewal: '',
                payMethod: 0,
                paymentsMethods: {
                    card: 0,
                    points: 0,
                    transfer: 0
                },
                pointsUser: 0,
                voucher: {
                    file: null,
                    extension: '',
                    name: '',
                    fullName: '',
                    url: ''
                },
                filePreview: null
			}
        },
        props:[],
		mounted(){
            this.getValuePoint()
            this.getPlan()
            this.getDataSuscription()
        },
        methods: {
            getPlan(){
                axios.get('/planes/recomendado')
                .then(response => {
                    this.plan = response.data.plan
                    response.data.paymentMethods.forEach(pM => {
                        if(pM.name == "Tarjeta"){
                            this.paymentsMethods.card = pM.value
                        }
                        else if(pM.name == "Puntos"){
                            this.paymentsMethods.points = pM.value
                        }
                        else if(pM.name == "Transferencia"){
                            this.paymentsMethods.transfer = pM.value
                        }
                    });
                })
                .catch(error => {
                })
            },
            getValuePoint(){
                axios.get('/puntos/valor')
                .then(response => {
                    this.valuePoint = response.data.valuePoint
                })
                .catch(error => {
                })
            },
            getDataSuscription(){
                this.load = true
                axios.get('/usuario/suscripcion/datos')
                .then(response => {
                    this.newest = response.data.new
                    this.suscription = response.data.suscription
                    this.order = response.data.order
                    this.dateRenewal = response.data.dateRenewal
                    this.pointsUser = response.data.pointsUser
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            payment(){
                if(this.order){
                    if(this.pointsUser >= (parseInt(this.order.ammount) * this.valuePoint)){
                        Swal.fire({
                            title: '¿Estás seguro que deseas realizar esta operación?',
                            text: "",
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Si',
                            cancelButtonText: 'No',
                            customClass: {
                                container: 'xp-sweet-container-xs'
                            }
                        })
                        .then((result) => {
                            if(result.value){
                                this.load = true
                                axios.post('/usuario/suscripcion/pagar', {
                                    planId: this.plan.id,
                                    payMode: this.payMethod,
                                    orderId: this.order.id
                                })
                                .then(response => {
                                    this.load = false
                                    this.payMethod = 0
                                    if(response.data.success){
                                         Swal.fire({
                                            title: response.data.message,
                                            text: "",
                                            icon: 'success',
                                            showCancelButton: false,
                                            confirmButtonText: 'Entendido',
                                            customClass: {
                                                container: 'xp-sweet-container-xs'
                                            }
                                        })
                                        this.getDataSuscription()
                                    }
                                    else{
                                         Swal.fire({
                                            title: response.data.message,
                                            text: "",
                                            icon: 'error',
                                            showCancelButton: false,
                                            confirmButtonText: 'Entendido',
                                            customClass: {
                                                container: 'xp-sweet-container-xs'
                                            }
                                        })
                                    }
                                })
                                .catch(error => {
                                    Swal.fire({
                                        title: 'Oh no, algo salió mal, no pudimos procesar el pago',
                                        text: "",
                                        icon: 'error',
                                        showCancelButton: false,
                                        confirmButtonText: 'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })
                                    this.load = false
                                })
                            }
                        })
                    }
                    else{
                        Swal.fire({
                            title: 'Lo sentimos, no cuentas con los puntos suficientes para pagar tu suscripción',
                            text: "",
                            icon: 'info',
                            showCancelButton: false,
                            confirmButtonText: 'Entendido',
                            customClass: {
                                container: 'xp-sweet-container-xs'
                            }
                        })
                    }
                }
            },
            changeFile(e){
                if(e.target.files[0]){
                    this.voucher.file = e.target.files[0]
                    let dataFile = e.target.files[0].name.split('.')
                    this.voucher.name = dataFile[0]
                    this.voucher.extension = dataFile[1]
                    this.voucher.fullName = e.target.files[0].name

                    
                    // this.extension = nF[nF.length-1]
                    // Creamos el objeto de la clase FileReader
                    if(this.voucher.extension == "pdf"){
                        this.voucher.url = URL.createObjectURL(event.target.files[0])
                    }
                    else{
                        let reader = new FileReader();
    
                        // Leemos el archivo subido y se lo pasamos a nuestro fileReader
                        reader.readAsDataURL(this.voucher.file);
                        const child = this
                        // Le decimos que cuando este listo ejecute el código interno
                        reader.onload = function(){
                            child.filePreview = reader.result
                        };
                    }
                }
                else{
                    this.voucher.file = null
                    this.voucher.name = ''
                    this.voucher.extension = ''
                    this.voucher.fullName = ''
                    this.voucher.url = ''
                }
            },
            openModalPreview(){
                // this.voucher.file = null
                // this.voucher.name = ''
                // this.voucher.extension = ''
                // this.voucher.fullName = ''
                // this.voucher.url = ''
                // let fileI = document.getElementById('xp-file-voucher')
                // fileI.value = null
            },
            saveFile(){
                // START
                Swal.fire({
                    title: 'Confirmación!',
                    text: "¿Estás seguro que deseas enviar el archivo ingresado?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Enviar!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        this.load = true
                        let formData = new FormData()
                        formData.append('orderId', this.order.id)
                            
                        if(this.voucher.file){
                            formData.append('file', this.voucher.file) 
                            formData.append('extension', this.voucher.extension)     
                        }

                        axios.post('/usuario/suscripcion/subir/archivo', formData, {
                            'content-type': 'multipart/form-data' ,
                            'processData': false,
                            'contentType': false,
                        })
                        .then(response => {
                                this.load = false
                                if(response.data.success){
                                     Swal.fire({
                                        title: response.data.message,
                                        text: "",
                                        icon: 'success',
                                        showCancelButton: false,
                                        confirmButtonText: 'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })
                                    this.getDataSuscription()
                                }
                                else{
                                     Swal.fire({
                                        title: response.data.message,
                                        text: "",
                                        icon: 'error',
                                        showCancelButton: false,
                                        confirmButtonText: 'Entendido',
                                        customClass: {
                                            container: 'xp-sweet-container-xs'
                                        }
                                    })
                                }
                                this.payMethod = 0
                        })
                        .catch(error => {
                                this.load=false
                                Swal.fire({
                                    title: 'Oh no, no pudimos subir el archivo',
                                    text: "",
                                    icon: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: 'Entendido',
                                    customClass: {
                                        container: 'xp-sweet-container-xs'
                                    }
                                })
                        });
                    }
                })   
                // END
            }
        },
        computed: {
        },
        watch: {
        }
    }
</script>