<template>
    <div class="d-flex flex-column">
        <loader :show="load"></loader>
        <div class="row m-0 mt-2">
            <div class="col-12 px-0 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table xp-table-dark" 
                    :items="orders"
                >
                    <!-- :filter="filters.search" -->
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <span v-text="data.index + 1"></span>
                    </template>

                    <template v-slot:cell(dateCreated)="data">
                        <div class="text-center" v-text="data.item.dateCreated"></div>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(datePayment)="data">
                       <div class="text-center" v-text="data.item.datePayment"></div>
                    </template>

                    <template v-slot:cell(ammount)="data">
                        <div class="text-center" v-text="data.item.ammount"></div>
                    </template>

                    <template v-slot:cell(paymentMethod)="data">
                        <div class="text-center" v-text="data.item.paymentMethod"></div>
                    </template>
                            
                    <template v-slot:cell(userPayment)="data">
                        <div class="text-center" v-text="data.item.userPayment"></div>
                    </template>

                    <template v-if="orders.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
       data(){
			return{
                load: false,
                fields: [
                    {key: 'index', label: '#', sortable: false},
                    {key: 'dateCreated', label: 'Factura generada', sortable: false},
                    {key: 'datePayment', label: 'Fecha de Pago', sortable: false},
                    {key: 'ammount', label: 'Monto', sortable: false},
                    {key: 'paymentMethod', label: 'Método de Pago', sortable: false},
                    {key: 'userPayment', label: 'Usuario que Pagó', sortable: false},
                ],
                orders: []
			}
        },
        props:[],
		mounted(){
            this.getHistory()
        },
        methods: {
            getHistory(){
                this.load = true
                axios.post('/usuario/suscripcion/pagos/historial')
                .then(response => {
                    this.orders = response.data.orders
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            }
        },
        computed: {
        },
        watch: {
           
        }
    }
</script>