<template>
    <div class="d-flex flex-column">
        <loader :show="load"></loader>
        <div class="row m-0 w-100">
            <div class="col-12 p-0">
                <div class="xp-filter-group">
                    <div class="row m-0 xp-filter-group-content">
                        <div class="xp-filter-group-item mr-4 col-12 col-lg-10 p-0">
                            <div class="xp-filter-group-form xp-filter-group-fron-icon">
                                <input class="xp-filter-group-form-control xp-rounded" type="text" placeholder="Buscar" v-model="search">
                                <span class="xp-filter-group-form-control-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xp-favorites-list mt-4">
            <div class="xp-favorites-item mt-3" v-for="song in songsFilter">
                <!-- <h1 class="text-white" v-text="song.name"></h1> -->
                <a class="xp-card-single p-0" v-bind:href="'/cancion/'+song.id+'/'+song.slug">
                    <div class="xp-card-single-main">
                        <div class="xp-card-single-header">
                            <!-- 'storage/songs/' +  -->
                            <!-- <img v-bind:src="testOrigin(song.cover)" alt=""> -->
                            <div class="xp-card-single-picture" v-bind:style="{background:('url(' + testOrigin(song.cover) + ')')}"></div>
                            <div class="xp-card-single-header-alt">
                            </div>
                        </div>
                        <div class="xp-card-single-body">
                            <div class="xp-card-single-body-title">
                                <h5 class="" v-text="song.name"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="xp-card-single-footer">
                        <div class="xp-card-single-footer-artist text-white">
                            <a v-for="(artist,index) in song.artists" v-bind:href="'/artistas/'+artist.slug" v-text="artist.stage_name,{', ':index>=1}"></a>
                        </div>
                    </div>
                </a>
            </div>
            <p class="text-center text-white" v-if="songsFilter.length == 0">No tienes favoritos</p>

        </div>
    </div>
</template>
<script>

    export default {
       data(){
			return{
                load: false,
                search: '',
                songs: [],
                songsFilter: []
			}
        },
        props:[],
		mounted(){
            this.getFavoriteSongs()
            document.addEventListener('DOMContentLoaded', ()=>{
                    let vw = Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
                    if(vw <= 576){
                        this.slickOptions.slidesToShow = 2
                    }
                })

                window.addEventListener('resize', ()=>{
                    let vw = Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
                    if(vw <= 576){
                        this.slickOptions.slidesToShow = 2
                        this.reInit()
                    }
                    else{
                        this.slickOptions.slidesToShow = 5
                        this.reInit()
                    }
                })
        },
        methods: {
            getFavoriteSongs(){
                this.load = true
                axios.get('/usuario/favoritos/canciones')
                .then(response => {
                    // console.log(response.data.favorites)
                    this.songs = response.data.songs
                    this.songsFilter = this.songs
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            testOrigin(url){
                let evaluate = /^(http|https):\/\//
                let result = url
                if(!evaluate.test(url)){
                    result = ('/storage/songs/' + url)
                }
                return result
            }
        },
        computed: {
        },
        watch: {
            search: function(newValue){
                this.songsFilter = []
                if(newValue.length == 0){
                    this.songsFilter = this.songs
                }
                else{
                    this.songs.forEach((song)=>{
                        let valid = false
                        if(song.name.toLowerCase().includes(newValue)){
                            valid = true
                        }

                        song.artists.forEach(artist=>{
                            if(artist.stage_name.toLowerCase().includes(newValue)){
                                valid = true
                            }
                        })

                        if(valid){
                            this.songsFilter.push(song)
                        }
                    })
                }
            }
        }
    }
</script>