<template>
        <div class="full-data-profile-content pt-4 pt-md-5">
            <!-- LOADER -->
            <loader :show="load"></loader>
            <div class="row m-0">
                <div class="col-12 p-0">
                    
                    <div class="card-data-profile-detail">
                        <div class="card-data-profile-detail-header">
                            <ul class="row nav nav-tabs xp-nav-tabs" id="tab-profile-detail" role="tablist">
                                <div class="col-12 col-md-4 px-0 card-data-profile card-data-profile-slot">
                                    <div class="card-data-profile-header">
                                        <h4>Mis favoritos</h4>
                                    </div>
                                </div>
                                <li class="col-6 col-md-4 px-0 nav-item xp-nav-item">
                                    <a class="nav-link xp-nav-link" v-bind:class="{active:(block == 'songs')}" id="xp-achievements-tab" data-toggle="tab" href="#xp-achievements-tab-detail" role="tab" aria-controls="xp-achievements-tab-detail" aria-selected="true" v-on:click="changeBlock('songs')">CANCIONES</a>
                                </li>
                                <li class="col-6 col-md-4 px-0 nav-item xp-nav-item">
                                    <a class="nav-link xp-nav-link" v-bind:class="{active:(block == 'artists')}" id="xp-profile-tab" data-toggle="tab" href="#xp-profile-tab-detail" role="tab" aria-controls="xp-profile-tab-detail" aria-selected="true" v-on:click="changeBlock('artists')">ARTISTAS</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-data-profile-detail-body px-2">
                            <div class="tab-content xp-tab-content" id="tab-profile-detail-content">
                                <div class="tab-pane fade" v-bind:class="[(block=='songs')?'show active':'']" id="xp-achievements-tab-detail" role="tabpanel" aria-labelledby="xp-achievements-tab">
                                    <div class="xp-data-detail">
                                        <user-favorites-songs v-if="block == 'songs'"></user-favorites-songs>
                                    </div>
                                </div>
                                <div class="tab-pane xp-tab-pane fade " v-bind:class="[(block=='artists')?'show active':'']" id="xp-profile-tab-detail" role="tabpanel" aria-labelledby="xp-profile-tab">
                                    <div class="xp-data-detail">
                                        <user-favorites-artists v-if="block == 'artists'"></user-favorites-artists>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
</template>
<script>
import Swal from 'sweetalert2'
import moment from 'moment'

    export default {
       data(){
			return{
                load: false,
                block: 'songs'
			}
        },
        props:[],
		mounted(){
        },
        methods: {
            changeBlock(block){
                this.block = block
            }
        },
        computed: {
        }
    }
</script>