<template>
    <div class="d-flex flex-column">
        <loader :show="load"></loader>
        <div class="row m-0 w-100">
            <div class="col-12 p-0">
                <div class="xp-filter-group">
                    <div class="row m-0 xp-filter-group-content">
                        <div class="xp-filter-group-item mr-4 col-12 col-lg-10 p-0">
                            <div class="xp-filter-group-form xp-filter-group-fron-icon">
                                <input class="xp-filter-group-form-control xp-rounded" type="text" placeholder="Buscar" v-model="search">
                                <span class="xp-filter-group-form-control-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xp-favorites-list mt-4">
            <div class="xp-songs-grid-item resize" v-for="artist in artistsFilter">
                    <a class="xp-card-single resize" v-bind:href="'/artistas/'+artist.slug">
                        <div class="xp-card-single-main">
                            <div class="xp-card-single-header resize xp-card-single-header-rounded">
                                <!-- <img v-bind:src="testOrigin(artist.picture)" alt=""> -->
                                <div class="xp-card-single-header-pinture rounded" v-bind:style="{background:('url(' + testOrigin(artist.picture) + ')')}"></div>
                                <div class="xp-card-single-header-alt xp-card-single-header-rounded-alt">
                                </div>
                            </div>
                            <div class="xp-card-single-body">
                                <div class="xp-card-single-body-title">
                                    <h5 class="" v-text="artist.stage_name"></h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <p class="text-center text-white" v-if="artistsFilter.length == 0">No tienes favoritos</p>
        </div>
    </div>
</template>
<script>

    export default {
       data(){
			return{
                load: false,
                search: '',
                artists: [],
                artistsFilter: []
			}
        },
        props:[],
		mounted(){
            this.getFavoriteArtists()
        },
        methods: {
            getFavoriteArtists(){
                this.load = true
                axios.get('/usuario/favoritos/artistas')
                .then(response => {
                    // console.log(response.data.favorites)
                    this.artists = response.data.artists
                    this.artistsFilter = this.artists
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            testOrigin(url){
                let evaluate = /^(http|https):\/\//
                let result = url
                if(!evaluate.test(url)){
                    result = ('/storage/artist/' + url)
                }
                return result
            }
        },
        computed: {
        },
        watch: {
            search: function(newValue){
                this.artistsFilter = []
                if(newValue.length == 0){
                    this.artistsFilter = this.artists
                }
                else{
                    this.artists.forEach((artist)=>{
                        let valid = false
                        if(artist.stage_name.toLowerCase().includes(newValue)){
                            valid = true
                        }

                        if(valid){
                            this.artistsFilter.push(artist)
                        }
                    })
                }
            }
        }
    }
</script>