<template>
    <div>
        <b-dropdown right>
            <template>
                <span class="sr-only">Search</span>
            </template>
            <b-dropdown-item href="#">Action</b-dropdown-item>
            <b-dropdown-item href="#">Another action</b-dropdown-item>
            <b-dropdown-item href="#">Something else here...</b-dropdown-item>
        </b-dropdown>
    </div>
</template>
<script>
    export default {
       data(){
			return{
			}
        },
        props:[],
		mounted(){
        },
        methods: {
        },
        computed: {
        }
    }
</script>