<template>
    <nav class="pagination is-centered is-rounded d-flex align-items-center justify-content-center" role="navigation" aria-label="pagination">
        <a class="pagination-previous cursor-pointer" @click.prevent="changePage(1)" :disabled="pagination.current_page <= 1">
            <i class="fas fa-angle-double-left"></i>
        </a>
        <a class="pagination-previous cursor-pointer mr-2" @click.prevent="changePage(pagination.current_page - 1)" :disabled="pagination.current_page <= 1">
            <i class="fas fa-angle-left"></i>
        </a>
        <ul class="pagination m-0 p-0">
            <li class="page-item" v-for="page in pages" v-bind:class="{'active':isCurrentPage(page)}">
                <a class="page-link" @click.prevent="changePage(page)">{{ page }}</a>
            </li>
        </ul>
        <a class="pagination-next cursor-pointer ml-2" @click.prevent="changePage(pagination.current_page + 1)" :disabled="pagination.current_page >= pagination.last_page">
            <i class="fas fa-angle-right"></i>
        </a>
        <a class="pagination-next cursor-pointer" @click.prevent="changePage(pagination.last_page)" :disabled="pagination.current_page >= pagination.last_page">
            <i class="fas fa-angle-double-right"></i>
        </a>
    </nav>
</template>
<script>
    export default {
       data(){
			return{
			}
        },
        props:['pagination', 'offset'],
		mounted(){
        },
        methods: {
            isCurrentPage(page) {
                return this.pagination.current_page === page;
            },
            changePage(page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                this.$emit('paginate');
            }
        },
        computed: {
            pages() {
                let pages = [];
                let from = this.pagination.current_page - Math.floor(this.offset / 2);
                if (from < 1) {
                    from = 1;
                }
                let to = from + this.offset - 1;
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                while (from <= to) {
                    pages.push(from);
                    from++;
                }
                return pages;
            }
        }
    }
</script>
