<template>
    <div class="w-100">
        <input class="control__input control__input--search" type="text" placeholder="Buscar canciones, artistas, ..." name="buscar" id="xp-search-input" @focus="changeResults(true)"  v-model="search" @blur="changeResults(false)"/>
        <label class="control__icon" for="xp-serach-control"><i class="fas fa-search"></i></label>
        <div class="xp-search-results animated fadeInDown xp-delay-04s" v-if="showResults && search.trim().length>0">
            <span class="xp-search-results-title">
                Resultados
            </span>
            <div class="xp-search-results-content">
                <loader-section :show="load"></loader-section>
                <div class="xp-search-results-list" v-if="results.songs.length>0">
                    <p class="cf-text-primary xp-search-results-subtitle">Canciones</p>
                    <div class="xp-search-results-list-content xp-scroll">
                        <div class="xp-search-results-item" v-for="song in results.songs">
                            <!-- CARD -->
                            <a class="xp-card-single-min" v-bind:href="'/cancion/reproductor/'+song.id+'/'+song.slug">
                                <div class="xp-card-single-min-main">
                                    <div class="xp-card-single-min-header">
                                        <img v-bind:src="testOrigin(song.cover)" alt="">
                                    </div>
                                    <div class="xp-card-single-min-body">
                                        <h5 class="" v-text="song.name"></h5>
                                        <a v-for="artist in song.artists" v-bind:href="'/artistas/'+artist.slug" v-text="artist.stage_name"></a>
                                    </div>
                                </div>
                            </a>
                            <!-- END CARD -->
                        </div>
                    </div>
                </div>
                <div class="xp-search-results-listmt-2" v-if="results.artists.length>0">
                    <p class="cf-text-primary xp-search-results-subtitle">Artistas</p>
                    <div class="xp-search-results-list-content xp-scroll">
                        <div class="xp-search-results-item" v-for="artist in results.artists">
                            <!-- CARD -->
                            <a class="xp-card-single-min" v-bind:href="'/artistas/'+artist.slug">
                                <div class="xp-card-single-min-main">
                                    <div class="xp-card-single-min-header xp-card-single-min-header-circle">
                                        <img v-bind:src="testOriginArtist(artist.picture)" alt="">
                                    </div>
                                    <div class="xp-card-single-min-body">
                                        <h5 class="" v-text="artist.stage_name"></h5>
                                    </div>
                                </div>
                            </a>
                            <!-- END CARD -->
                        </div>
                    </div>
                </div>
                <p v-if="results.songs.length == 0 && results.artists.length == 0" class="cf-text-primary xp-search-results-subtitle text-center xp-text-dark">
                    Sin resultados
                </p>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
       data(){
			return{
                load: false,
                showResults: false,
                search: '',
                results: {
                    songs: [],
                    artists: []
                }
			}
        },
        props:[],
		mounted(){

        },
        methods: {
            changeResults(status){
                let time = 0
                if(!status) time = 1000
                
                setTimeout(() => {
                    this.showResults = status
                }, time);
            },
            getData(){
                this.load = true
                axios.post('/contenido/buscar', {
                    search: this.search.trim()
                })
                .then(response => {
                    this.results.songs = response.data.songs
                    this.results.artists = response.data.artists
                    this.load = false
                })
                .catch(error => {
                    this.resetResults()
                    this.load = false
                })
            },
            resetResults(){
                this.results.songs = []
                this.results.artists = []
            },
            testOrigin(url){
                let evaluate = /^(http|https):\/\//
                let result = url
                if(!evaluate.test(url)){
                    result = ('/storage/songs/' + url)
                }
                return result
            },
            testOriginArtist(url){
                let evaluate = /^(http|https):\/\//
                let result = url
                if(!evaluate.test(url)){
                    result = ('/storage/artists/' + url)
                }
                return result
            },
            linkSong(){
                console.log(1)
            }
        },
        computed: {
        },
        watch: {
            search: function(newValue){
                if(newValue.trim().length == 0){
                    this.resetResults()
                }
                else{
                    this.getData()
                }
            }
        }
    }
</script>