<template>
    <div class="xp-search d-flex">
        <form @submit="submitSearch($event, false)" method="GET" :action="'/'+action" autocomplete="off">
            <div class="xp-search-content-dropdown">
                <b-dropdown size="lg" variant="link" toggle-class="text-decoration-none">
                    <template v-slot:button-content class="p-0">
                        <div class="xp-search-dropdown"  data-target="#full-data-profile">

                            <a href="#">
                                <i class="fas fa-chevron-down xp-text-primary"></i>
                            </a>
                        </div>
                    </template>
                    <b-dropdown-group>
                        <div class="xp-nav-search animated fadeInDown xp-delay-04s">
                            <!-- <partials-nav-auth></partials-nav-auth> -->
                            <div class="xp-nav-search-content">
                                    <div class="xp-nav-search-content-list">
                                        <div class="row m-0">
                                            <div class="col-12 col-md-3 mt-3 mt-md-0">
                                                <label class="xp-form-label" for="">TIPO:</label>
                                                <select class="xp-form-control" v-model="filters.type" name="tipo">
                                                    <option v-bind:value="''" :selected="filters.type == ''">Todos los tipos</option>
                                                    <option v-for="type in types" v-bind:value="type.value" v-text="type.name" :selected="filters.type == type.value"></option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-md-3 mt-3 mt-md-0">
                                                <label class="xp-form-label" for="">GÉNERO:</label>
                                                <select class="xp-form-control" v-model="filters.gender" name="genero">
                                                    <option v-bind:value="''" :selected="filters.gender==''">Todos los géneros</option>
                                                    <option v-for="gender in genders" v-bind:value="gender.id" v-text="gender.name" :selected="filters.gender == gender.id"></option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-md-3 mt-3 mt-md-0">
                                                <label class="xp-form-label" for="">IDIOMA:</label>
                                                <select class="xp-form-control" v-model="filters.language" name="lenguaje">
                                                    <option v-bind:value="''" :selected="filters.language==''">Todos los idiomas</option>
                                                    <option v-for="language in languages" v-bind:value="language.id" v-text="language.name" :selected="filters.language == language.id"></option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-md-3 mt-3 mt-md-0">
                                                <label class="xp-form-label" for="">AÑO DE LANZAMIENTO:</label>
                                                <select class="xp-form-control" name="anio" v-model="filters.year">
                                                    <option v-bind:value="''" :selected="filters.year == ''">Todos los años</option>
                                                    <option v-for="year in years" v-bind:value="year" v-text="year" :selected="filters.year == year"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mx-0 mt-5 d-flex justify-content-center">
                                            <div class="col-6 col-md-3">
                                                <button class="xp-button xp-button-danger xp-button-pd mr-3 w-100" @click="submitSearch($event, true)">
                                                    Restablecer
                                                </button>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <button class="xp-button xp-button-primary xp-button-pd w-100" @click="submitSearch($event, false)">
                                                    Buscar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </b-dropdown-group>
                </b-dropdown>
                <!-- SEARCH -->
                <search></search>
                <!-- END SEARCH -->
            </div>
        </form>
    </div>
</template>
<script>
import moment from 'moment'

    export default {
       data(){
			return{
                load: false,
                registers: [],
                focusSearch: false,
                filters: {
                    search: '',
                    gender: '',
                    language: '',
                    type: '',
                    year: '',
                    search: ''
                },
                genders: [],
                languages: [],
                types: [
                    {name: "Canciones", value: "canciones"},
                    {name: "Artistas", value: "artistas"},
                    {name: "Top alumnos", value: "top-alumnos"},
                    {name: "Top embajadores", value: "top-ambajadores"}
                ],
                years: [],
                action: ''
			}
        },
        props:[],
		mounted(){

            this.getYear()
            this.getGenders()
            this.getLaguages()

            document.addEventListener('DOMContentLoaded', ()=>{
                let url = window.location.href.split('?')
                if(url.length>1){
                    let parameters = url[1].split('&')
                    parameters.forEach((parameter)=>{
                        let listVar = parameter.split('=')
                        if(listVar.length>1){
                            if(listVar[0] == "tipo"){
                                this.filters.type = (listVar[1].length==0?'':listVar[1])
                            }
                            else if(listVar[0] == "genero"){
                                this.filters.gender = (listVar[1].length==0?'':listVar[1])
                            }
                            else if(listVar[0] == "lenguaje"){
                                this.filters.language = (listVar[1].length==0?'':listVar[1])
                            }
                            else if(listVar[0] == "anio"){
                                this.filters.year = (listVar[1].length==0?'':listVar[1])
                            }
                            else if(listVar[0] == "buscar"){
                                this.filters.search = (listVar[1].length==0?'':listVar[1])
                            }
                        }
                    })
                }
                else{
                    this.filters.type = ''
                    this.filters.gender = ''
                    this.filters.language = ''
                    this.filters.year = ''
                    this.filters.search = ''
                }
            })


        },
        methods: {
            changeViewSearch(){
                if(this.filters.search.length==0){
                    this.focusSearch = false
                }
            },
            getGenders(){
                axios.get('/contenido/generos/list')
                .then(response => {
                    this.genders = response.data.genders
                })
                .catch(error => {
                })
            },
            getLaguages(){
                axios.get('/idiomas')
                .then(response => {
                    this.languages = response.data.languages
                })
                .catch(error => {
                })
            },
            getYear(){
                axios.get('/contenido/canciones/antigua')
                .then(response => {
                    let year = moment().year()
                    for(let i = year; i >= response.data.year; i--){
                        this.years.push(i)
                    }
                })
                .catch(error => {
                })
            },
            getSearch(){
                this.load = true
                axios.post('/contenido/buscar', this.filters)
                .then(response => {
                    this.registers = response.data.registers
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            resetFilters(){
                this.registers = []
                this.filters.search = ''
                this.filters.gender = ''
                this.filters.language = ''
                this.filters.type = ''
                this.filters.year = ''
            },
            testOrigin(url){
                let evaluate = /^(http|https):\/\//
                let result = url
                if(!evaluate.test(url)){
                    result = ('/storage/songs/' + url)
                }
                return result
            },
            submitSearch(e, reset){
                if(this.filters.type == 'canciones' || this.filters.type == 'artistas'){
                    this.action = this.filters.type
                }
                else{
                    if(!reset){
                        e.preventDefault();
                    }
                }

                if(reset){
                    this.resetFilters()
                    e.preventDefault();
                }


                return true      
            }
        },
        computed: {
        }
    }
</script>