<template>
    <div class="d-flex flex-column">
        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12">
                <h2 class="xp-ds-title xp-text-primary">Ingresos</h2>
            </div>
        </div>
        <!-- RESUME -->
        <div class="row m-0 mt-0 mt-md-3 mb-4">
            <div id="app" class="col-md-6">
                <graph-pie
                :width="370"
                :height="370"
                :padding-top="75"
                :padding-right="75"
                :padding-bottom="75"
                :padding-left="75"
                :values="values"
                :names="names"
                :active-index="[ 0, 1 ]"
                :active-event="'click'"
                :show-text-type="'outside'"
                :data-format="dataFormat"
                :shape="'donut'"
                :show-total-value="true">
                    <note :text="'Puntos'"></note>
                    <legends :names="names"></legends>
                    <tooltip :names="names"></tooltip>
                </graph-pie>
            </div>
            <div class="col-md-6">
                <div class="xp-ds-list flex-column">
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Total Puntos:</h4>
                        <span class="xp-ds-subtitle xp-text-jade-alt font-weight-bold" v-text="total"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Puntos Disponibles:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="available"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';
import VueGraph from 'vue-graph'
Vue.use(VueGraph)
import GraphLine3D from 'vue-graph/src/components/line3d.js'
import NoteWidget from 'vue-graph/src/widgets/note.js'
import LegendWidget from 'vue-graph/src/widgets/legends.js'
Vue.component(GraphLine3D.name, GraphLine3D);
Vue.component(NoteWidget.name, NoteWidget);
Vue.component(LegendWidget.name, LegendWidget);
    export default {
        
        components: {
        },
       data(){
			return{
                load: false,
                values: [],
                names: [],
                available: 0,
                total: 0
			}
        },
        props:[],
		mounted(){
            this.getExpenses()
        },
        methods: {
            getExpenses(){
                axios.get('/panel/finanzas/egresos/resumen')
                .then(response => {
                    this.total = response.data.total
                    this.available = response.data.available
                    this.values.push(response.data.difference)
                    this.values.push(response.data.available)
                    this.names.push('Diferencia')
                    this.names.push('Disponible')
                })
                .catch(error => {
                })
            },
            dataFormat: function(a, b) {
                if(b) return b + "%";
                return a;
            }
        },
        computed: {
        }
    }
</script>