<template>
    <div class="d-flex flex-column">
        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12">
                <h2 class="xp-ds-title xp-text-primary">Pendientes de Pago</h2>
            </div>
        </div>
        <!-- RESUME -->
        <div class="row m-0 mt-0 mt-md-3 mb-4">
            <div class="col-12">
                <div class="xp-ds-list">
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Total:</h4>
                        <span class="xp-ds-subtitle xp-text-jade-alt font-weight-bold" v-text="resume.total"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">3 días:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="resume.threeDays"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">2 días:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="resume.twoDays"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">1 día:</h4>
                        <span class="xp-ds-subtitle xp-text-warning font-weight-bold" v-text="resume.oneDay"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Vencidos:</h4>
                        <span class="xp-ds-subtitle xp-text-danger font-weight-bold" v-text="resume.expired"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Sin suscripción:</h4>
                        <span class="xp-ds-subtitle xp-text-danger font-weight-bold" v-text="resume.noSuscriptions"></span>
                    </span>
                </div>
            </div>
        </div>
        <!-- FILTERS -->
        <div class="row m-0 mt-3">
            <div class="col-12 p-0">
                <div class="xp-ds-filters">
                    <div class="xp-ds-filters-block row m-0">
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4">
                            <div class="xp-ds-form-group xp-ds-form-group-icon w-100">
                                <input class="xp-ds-form-control xp-ds-rounded w-100" type="text" placeholder="Buscar alumno" v-model="filters.search">
                                <span class="xp-ds-form-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">Del:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateFrom" @change="getResume()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">al:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateTo" @change="getResume()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-order col-12 col-md-6 mt-3 pl-3 pl-lg-3">
                            <button class="xp-button xp-button-primary mx-auto mb-1" v-on:click="CheckSuscriptions()" id="checksuscriptions">
                                <i class="fas fa-credit-card mr-1"></i>
                                Verificar todas las Suscripciones
                            </button>
                            <div class="xp-ds-form-group xp-ds-form-group-resalt w-100">
                                <span class="xp-ds-form-group-resalt-icon">
                                    <i class="fas fa-sort-amount-up"></i>
                                </span>
                                <select class="xp-ds-form-control w-100" v-model="filters.days">
                                    <option v-for="optionD in optionsDays" v-bind:value="optionD.value" v-text="optionD.label" :selected="optionD.value == filters.days"></option>
                                </select>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="filterRegisters()"
                    :filter="filters.search"
                    :per-page="perPage"
                    :current-page="currentPage"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <!-- <span v-text="data.index + 1"></span> -->
                        <span v-text="data.item.index"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(username)="data">
                        <span v-text="data.item.user.username"></span>
                    </template>
                    
                    <template v-slot:cell(document)="data" class="text-center">
                        <div class="text-center">
                            <span v-if="data.item.file" class="xp-text-link cursor-pointer" @click="previewDocument(data.item.file)">Ver</span>
                            <span v-else>----</span>
                        </div>
                    </template>
                    <template v-slot:cell(verify)="data" class="text-center">
                        <div class="d-flex justify-content-center">
                            <div class="button-cover">
                                <div class="xp-switch-button r">
                                    <input type="checkbox" class="checkbox" :checked="data.item.user.status == codeVerify" @click="cancelClicked($event, data.item.user)">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-slot:cell(pay)="data">
                        <span  class="d-flex">
                            <button class="xp-button xp-button-primary mr-2" v-on:click="paymentOrder(paymentMode.transfer, data.item.type, data.item.id)">
                                Transferencia
                            </button>

                            <button class="xp-button xp-button-jade mr-2" v-on:click="paymentOrder(paymentMode.points, data.item.type, data.item.id)">
                                Puntos
                            </button>
                            <button class="xp-button xp-button-jade" v-on:click="paymentOrder(paymentMode.free, data.item.type, data.item.id)">
                                Free
                            </button>
                        </span>
                    </template>
                    <!-- A virtual composite column -->
                    <template v-slot:cell(profile)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-text-link" v-on:click="showProfile(data.item.user.username)">Ver</span>
                        </div>
                    </template>

                    <template v-slot:cell(team)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-text-link" v-on:click="showTeam(data.item.user.username)">Ver</span>
                        </div>
                    </template>

                    <template v-slot:cell(suscription)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-text-link" v-on:click="showSuscription(data.item.user.username)">Ver</span>
                        </div>
                    </template>

                    <template v-slot:cell(date)="data" class="text-center">
                        <div class="text-center" v-text="data.item.created_at"></div>
                    </template>

                    <template v-slot:cell(date_pay)="data" class="text-center">
                        <div class="text-center" v-text="(data.item.date_pay)?data.item.date_pay:'----'"></div>
                    </template>

                    <template v-slot:cell(expired)="data" class="text-center">
                        <div class="text-center" v-text="data.item.expired"></div>
                    </template>

                    

                    <template v-if="totalRows == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex flex-column align-items-center justify-content-center">
                <div class="xp-table-pagination">
                    <b-pagination
                    v-model="currentPage"
                    :total-rows="filterRegisters().length"
                    :per-page="perPage"
                    ></b-pagination>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <span class="font-weifht-bold mr-2">Total registros: </span>
                    <span class="xp-text-danger" v-text="filterRegisters().length"></span>
                </div>
            </div>
        </div>

        <!-- MODAL STUDENT INFO -->
        <b-modal id="xp-moda-info-student" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Informacion de alumno</h5>
            </template>

            <!-- PROFILE USER -->
            <students-profile :username="userSelect" v-if="userSelect"></students-profile>
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd" @click="$bvModal.hide('xp-moda-info-student')">Cerrar</button>
        </b-modal>

        <!-- MODAL VOUCHER -->
        <!-- openModalPreview -->
        <b-modal id="xp-modal-voucher-preview" size="lg" title="Previsualizacion de archivo"  hide-footer>
            <div class="d-flex">
                <embed v-bind:src="voucher.url" width="100%" v-if="voucher.extension == 'pdf'">
                <img v-bind:src="filePreview" alt="" v-else>
            </div>
            <b-button class="mt-3 xp-bg-primary mt-3" block @click="$bvModal.hide('xp-modal-voucher-preview')">Cerrar</b-button>
        </b-modal>
        <!-- END MODAL VOUCHER -->

        <!-- TEAM -->
        <b-modal id="xp-moda-team-student" :body-class="'xp-bg-black'" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Equipo</h5>
            </template>

            <!-- TEAM -->
            <dashboard-user-ambassador :username="userSelect"></dashboard-user-ambassador>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="$bvModal.hide('xp-moda-team-student')">Cerrar</button>
        </b-modal>
        <!-- END TEAM -->

        <!-- SUSCRIPTION -->
        <b-modal id="xp-moda-suscription-student" hide-footer>
            <template v-slot:modal-title>
                <h5>Suscripción</h5>
            </template>

            <!-- Suscription -->
            <div class="row m-0 d-flex w-100">
                <div class="col-12 col-md-8 mx-auto" v-if="modalSuscription.suscription">
                    <div class="card-plan-dark mx-2">
                        <div class="pricing-style-one xp-card-pricing xp-card-pricing-dark" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <div class="pricing-header text-center">
                                <p class="month xp-card-pricing-mount xp-text-primary">
                                    <span class="mount-currency xp-text-primary mx-2">
                                        S/  {{ modalSuscription.suscription.planprice }}  <small class="range-currency">/ mes</small>
                                    </span>
                                </p>
                            </div>
                            <div class="pricing-list">
                                <ul class="xp-list-options">
                                    <li class="xp-list-options-item">
                                        <img class="xp-list-options-icon xp-icon mr-2" src="/img/check.svg" alt="">
                                        <span class="xp-list-options-text xp-text-white">
                                            Acceso ilimitado a todo nuestro catálogo de canciones.
                                        </span>
                                    </li>
                                    <li class="xp-list-options-item">
                                        <img class="xp-list-options-icon xp-icon mr-2" src="/img/check.svg" alt="">
                                        <span class="xp-list-options-text xp-text-white">
                                            Aprende idiomas sin anuncios.
                                        </span>
                                    </li>
                                    <li class="xp-list-options-item">
                                        <img class="xp-list-options-icon xp-icon mr-2" src="/img/check.svg" alt="">
                                        <span class="xp-list-options-text xp-text-white">
                                            Acceso 24/7. Desde cualquier lugar y dispositivo.
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mx-auto">
                    <div class="d-flex mt-3 p-3 xp-border xp-border-primary text-center justify-content-enter" v-if="modalSuscription.suscription">
                        <span class="font-weight-bold mr-2">Desde: </span>
                        <span class="xp-text-primary mr-5" v-text="modalSuscription.suscription.init_at"></span>
                        <span class="font-weight-bold mr-2">Hasta: </span>
                        <span class="xp-text-primary" v-text="modalSuscription.suscription.expires_at"></span>
                    </div>
                </div>
                <div class="col-12 mx-auto" v-if="!modalSuscription.suscription && modalSuscription.order">
                    <div class="d-flex xp-border xp-border-danger p-3 text-center align-items-center flex-column" >
                        <div class="d-flex"><span>Orden Pendiente</span></div>
                        <div class="d-flex mt-2">
                            <span class="font-weight-bold mr-2">Desde: </span>
                            <span class="xp-text-danger" v-text="modalSuscription.order.create"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="$bvModal.hide('xp-moda-suscription-student')">Cerrar</button>
        </b-modal>

    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                resume: {},
                registers: [],
                totalRows: 0,
                fields: [
                    {key: 'index', label: '#', sortable: true},
                    {key: 'username', label: 'Usuario', sortable: true},
                    {key: 'verify', label: 'Verificado'},
                    {key: 'document', label: 'Comprobante', sortable: true},
                    {key: 'pay', label: 'Pagar Suscripción'},
                    {key: 'profile', label: 'Perfil'},
                    {key: 'team', label: 'Equipo'},
                    {key: 'suscription', label: 'Suscripción'},
                    {key: 'date', label: 'Fecha de pedido', sortable: true},
                    {key: 'expired', label: 'Vence', sortable: true},
                ],
                paymentMode: null,
                filters:{
                    search: '',
                    dateFrom: null,
                    dateTo: null,
                    days: -1
                },
                optionsDays: [
                    {label: 'Todos', value: -1},
                    {label: '3 días por vencer', value: 3},
                    {label: '2 días por vencer', value: 2},
                    {label: '1 día por vencer', value: 1},
                    {label: 'Vencido', value: 0},
                    {label: 'Sin suscripcion', value: 'Sin suscripcion'}
                ],
                userSelect: null,
                voucher: {
                    file: null,
                    extension: '',
                    name: '',
                    fullName: '',
                    url: ''
                },
                filePreview: null,
                modalSuscription: {
                    suscription: null,
                    order: null
                },
                currentPage: 1,
                perPage: 20,
                Checkofday:false,
                codeVerify: null,
			}
        },
        props:[],
		mounted(){
            this.getResume()
            this.DayAvailable()
        },
        methods: {
            getResume(){
                axios.post('/panel/finanzas/pagos/pandientes/resumen', this.filters)
                .then(response => {
                    this.resume = response.data.resume
                    this.registers = response.data.data
                    this.paymentMode = response.data.paymentMode
                    this.codeVerify = response.data.codeVerify
                })
                .catch(error => {
                })
            },
            paymentOrder(payMode, type, id){

                let title = ''
                if(payMode == this.paymentMode.transfer){
                    title = '¿Estás seguro que deseas PAGAR esta suscripción con TRANSFERENCIA?'
                }
                else if(payMode == this.paymentMode.points){
                    title = '¿Estás seguro que deseas PAGAR esta suscripción con PUNTOS?'
                }
                else if(payMode == this.paymentMode.free){
                    title = '¿Estás seguro que deseas PAGAR esta suscripción GRATIS?'
                }
                Swal.fire({
                    title: title,
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                   if(result.value){
                       this.load = true
                       axios.post('/panel/orden/pagar', {
                           payment: {
                               type: type,
                               paymentMode: payMode,
                               id: id
                           }
                       })
                       .then(response => {
                            if(response.data.success){
                                
                                Swal.fire({
                                    title: response.data.message,
                                    text: "Esta factura ha sido PAGADA exitosamente.",
                                    icon: 'success',
                                    confirmButtonText: 'Aceptar',
                                    customClass: {
                                        container: 'xp-sweet-container-xs'
                                    }
                                })

                                this.getResume();
                            }
                            else{
                                toastr.warning(response.data.message)
                            }
                            this.load = false
                       })
                       .catch(error => {
                           this.load = false
                           toastr.warning('Oh no, algo salio mal, no pudimos procesar el pago');
                       })
                   }
                })
            },
            filterRegisters(){
                let list = []
                this.registers.forEach(register => {
                    if(register.expired == this.filters.days || this.filters.days == -1){
                        list.push(register)
                    }
                })
                this.totalRows = list.length
                return list
            },
            showProfile(userN){
                this.userSelect = userN
                this.$bvModal.show('xp-moda-info-student')
            },
            previewDocument(fileData){
                let extension = fileData.substr(-3)
                this.voucher.extension = extension
                this.filePreview = "panel/voucher/foto/" + fileData
                this.voucher.url = "panel/voucher/foto/" + fileData
                this.$bvModal.show('xp-modal-voucher-preview')
            },
            showSuscription(userN){
                this.userSelect = userN
                this.modalSuscription.suscription = null
                this.modalSuscription.order = null
                
                axios.post('/panel/estudiantes/suscripcion/datos', {
                    username: this.userSelect
                })
                .then(response => {
                    this.modalSuscription.suscription = response.data.suscription
                    this.modalSuscription.order = response.data.order
                })
                .catch(error => {
                })

                this.$bvModal.show('xp-moda-suscription-student')
            },
            DayAvailable(){
                axios.get('/panel/check/dayavailable', {
                })
                .then(response => {
                    var button=document.getElementById('checksuscriptions')
                    if(response.data.available){
                        this.Checkofday=true
                        button.disabled = false
                    }
                    else{
                        this.Checkofday = false
                        button.disabled = true
                    }
                    
                })
                .catch(error => {
                })
            },
            CheckSuscriptions(){
                var button=document.getElementById('checksuscriptions')
                if (this.Checkofday==true) {
                    axios.get('/panel/check/suscriptions', {
                    })
                    .then(response => {
                        if (response.data.status) {
                            toastr.success('se realizó la operación con exito')
                            button.disabled = true
                        }
                        else{
                            toast.error('tuvimos un problema')
                            button.disabled = true
                        }
                    })
                    .catch(error => {
                    })
                }
            },
            cancelClicked(e, dataUser){
                e.preventDefault();
                let verify = false
                let title = '¿Estás seguro que deseas desactivar el correo este usuario?'

                if(dataUser.status == this.codeVerify){
                    verify = true
                    title = '¿Estás seguro que deseas confirmar el correo de este usuario?'
                }

                Swal.fire({
                    title: title,
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/estudiantes/verificarcorreo', {
                            username: dataUser.username,
                            verify: verify
                        })
                        .then(response => {
                            this.load = false
                            if(response.data.success){
                                this.getResume()
                                toastr.success('Estado cambiado exitosamente')
                            }
                            else{
                                toastr.warning('Oh no, no pudimos guardar la informacion')
                            }
                        })
                        .catch(error => {
                            toastr.error('Oh no, no pudimos guardar la informacion')
                            this.load = false
                        })
                    }
                })
            },
            showTeam(userN){
                this.userSelect = userN
                this.$bvModal.show('xp-moda-team-student')
            },
        },
        computed: {
        }
    }
</script>