<template>
    <div class="d-flex flex-column">
        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12">
                <h2 class="xp-ds-title xp-text-primary">Ingresos</h2>
            </div>
        </div>
        <!-- RESUME -->
        <div class="row m-0 mt-0 mt-md-3 mb-4">
            <div class="col-12 col-md-3">
                <div class="xp-ds-list flex-column">
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Total Ingresos:</h4>
                        <span class="xp-ds-subtitle xp-text-jade-alt font-weight-bold" v-text="profits.transfers + profits.cards + profits.points"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Total Comprobantes:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="profits.sendInvoice"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Total Suscripciones:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="profits.suscriptions"></span>
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="xp-ds-list flex-column">
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Transferencias:</h4>
                        <span class="xp-ds-subtitle xp-text-jade-alt font-weight-bold" v-text="profits.transfers"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Boletas:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="profits.tickets"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Nuevos:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="profits.news"></span>
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="xp-ds-list flex-column">
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Tarjeta:</h4>
                        <span class="xp-ds-subtitle xp-text-jade-alt font-weight-bold" v-text="profits.cards"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Facturas:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="profits.invoices"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Recompra:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="profits.renewal"></span>
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="xp-ds-list flex-column">
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Puntos:</h4>
                        <span class="xp-ds-subtitle xp-text-jade-alt font-weight-bold" v-text="profits.points"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Gratis:</h4>
                        <span class="xp-ds-subtitle xp-text-jade-alt font-weight-bold" v-text="profits.free"></span>
                    </span>
                </div>
            </div>
        </div>
        <!-- FILTERS -->
        <div class="row m-0 mt-3">
            <div class="col-12 p-0">
                <div class="xp-ds-filters">
                    <div class="xp-ds-filters-block row m-0">
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4">
                            <div class="xp-ds-form-group xp-ds-form-group-icon w-100">
                                <input class="xp-ds-form-control xp-ds-rounded w-100" type="text" placeholder="Buscar alumno" v-model="filters.search">
                                <span class="xp-ds-form-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">Del:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateFrom" @change="getProfits()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">al:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateTo" @change="getProfits()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-order col-12 col-md-6 mt-3 pl-3 pl-lg-3">
                            <div class="xp-ds-form-group xp-ds-form-group-resalt w-100">
                                <span class="xp-ds-form-group-resalt-icon">
                                    <i class="fas fa-sort-amount-up"></i>
                                </span>
                                <select class="xp-ds-form-control w-100" v-model="filters.valueType" @change="getProfitsSelect($event)">
                                    <option v-for="optionD in optionsFilter" v-bind:value="optionD.value" v-text="optionD.label" :selected="optionD.value == filters.valueType"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="filterRegisters()"
                    :filter="filters.search"
                    :per-page="perPage"
                    :current-page="currentPage"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <!-- <span v-text="data.index + 1"></span> -->
                        <span v-text="data.item.index"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(username)="data">
                        <span v-text="data.item.username"></span>
                    </template>

                    <!-- A virtual composite column -->
                    <template v-slot:cell(profile)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-text-link" v-on:click="showProfile(data.item.username)">Ver</span>
                        </div>
                    </template>

                    <template v-slot:cell(payuser)="data" class="text-center">
                        <div class="text-center">
                            <span v-text="data.item.userPay"></span>
                        </div>
                    </template>
                    
                    <template v-slot:cell(date_order)="data" class="text-center">
                        <div class="text-center">
                            <span v-text="data.item.date_order"></span>
                        </div>
                    </template>

                    <template v-slot:cell(date)="data" class="text-center">
                        <div class="text-center">
                            <span v-text="data.item.date"></span>
                        </div>
                    </template>

                    <template v-slot:cell(type)="data" class="text-center">
                        <div class="text-center" v-text="data.item.type"></div>
                    </template>

                    <template v-slot:cell(methodpay)="data" class="text-center">
                        <div class="text-center d-flex flex-column align-items-center">
                            <span v-text="(data.item.methodPayment == methodsPayment.card)?'Tarjeta':(data.item.methodPayment == methodsPayment.transfer?'Transferencia':(data.item.methodPayment == methodsPayment.points)?'Puntos':(data.item.methodPayment == methodsPayment.free?'Gratis':''))"></span>
                             <span v-if="data.item.file" class="xp-text-link" v-on:click="previewDocument(data.item.file)">Ver voucher</span>
                        </div>
                    </template>

                    <template v-slot:cell(document)="data" class="text-center">
                        <div class="text-center" v-text="(data.item.typeDocument == typeDocuments.ticket?'Boleta':(data.item.typeDocument == typeDocuments.invoice?'Factura': 'No'))"></div>
                    </template>

                    <template v-slot:cell(admin)="data">
                        <div class="text-center">
                            <span class="xp-table-button-icon" v-on:click="showAlert(data.item)">
                                <i class="fas fa-exchange-alt"></i>
                            </span>
                        </div>
                    </template>
                    <template v-if="totalRows == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex flex-column align-items-center justify-content-center">
                <div class="xp-table-pagination">
                    <b-pagination
                    v-model="currentPage"
                    :total-rows="filterRegisters().length"
                    :per-page="perPage"
                    ></b-pagination>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <span class="font-weifht-bold mr-2">Total registros: </span>
                    <span class="xp-text-danger" v-text="filterRegisters().length"></span>
                </div>
            </div>
        </div>
        <!-- ALERT SEND INVOICE -->
        <div class="xp-dashboard-alert" v-if="alert">
            <div class="xp-dashboard-card-alert animated zoomIn xp-delay-03s">
                <span class="xp-dashboard-alert-close" v-on:click="hideAlert()">
                    <i class="fas fa-times"></i>
                </span>
                <div class="xp-dashboard-card-alert-header">
                    <span class="xp-dashboard-card-alert-icon xp-text-jade">
                        <img src="/img/question.svg" alt="">
                    </span>
                </div>
                <div class="xp-dashboard-card-alert-body">
                    <h6 class="xp-text-danger text-center font-weight-normal mb-2" v-text="resend?'Reenvio de comprobante':'Envio de comprobante'"></h6>
                    <h2 class="xp-dashboard-card-alert-title xp-text-primary"> ¿Qué Comprobante de Pago has enviado? </h2>
                </div>
                <div class="xp-dashboard-card-alert-footer">
                    
                    <div class="row m-0 d-flex justify-content-between mt-2">
                        <div class="col-6 pl-0 pr-1">
                            <button class="xp-button xp-button-primary xp-button-pd w-100" v-on:click="sendInvoice(typeDocuments.ticket)">
                                Boleta
                            </button>
                        </div>
                        <div class="col-6 pr-0 pl-1">
                            <button class="xp-button xp-button-jade xp-button-pd w-100" v-on:click="sendInvoice(typeDocuments.invoice)">
                                Factura
                            </button>
                        </div>
                        <div class="col-12 pr-0 pl-1 mt-2">
                            <button class="xp-button xp-button-danger xp-button-pd w-100" v-on:click="sendInvoice(null)">
                                No
                            </button>
                        </div>
                    </div>
                    <!-- <div class="d-flex justify-content-between mt-2">
                        <button class="xp-button xp-button-danger xp-button-pd w-100" v-on:click="hideAlert()">
                            No he enviado aún
                        </button>
                    </div> -->

                </div>
            </div>
        </div>

        <!-- MODAL STUDENT INFO -->
        <b-modal id="xp-moda-info-student" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Informacion de alumno</h5>
            </template>

            <!-- PROFILE USER -->
            <students-profile :username="userSelect" v-if="userSelect" @close="closeModal"></students-profile>
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd" @click="$bvModal.hide('xp-moda-info-student')">Cerrar</button>
        </b-modal>

        <!-- MODAL VOUCHER -->
        <!-- openModalPreview -->
        <b-modal id="xp-modal-voucher-preview" size="lg" title="Previsualizacion de archivo"  hide-footer>
            <div class="d-flex">
                <embed v-bind:src="voucher.url" width="100%" v-if="voucher.extension == 'pdf'">
                <img v-bind:src="filePreview" alt="" v-else>
            </div>
            <b-button class="mt-3 xp-bg-primary mt-3" block @click="$bvModal.hide('xp-modal-voucher-preview')">Cerrar</b-button>
        </b-modal>

    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                profits: {},
                registers: [],
                totalRows: 0,
                fields: [
                    {key: 'index', label: '#', sortable: true},
                    {key: 'username', label: 'Usuario', sortable: true},
                    {key: 'profile', label: 'Perfil', sortable: true},
                    {key: 'payuser', label: '¿Quién pagó?', sortable: true},
                    {key: 'date_order', label: 'Fecha de Pedido', sortable: true},
                    {key: 'date', label: 'Fecha de Pago', sortable: true},
                    {key: 'type', label: 'Suscripción', sortable: true},
                    {key: 'methodpay', label: 'Modo de Pago', sortable: true},
                    {key: 'document', label: 'Comprobante', sortable: true},
                    {key: 'admin', label: 'Administrar'}
                ],
                methodsPayment: [],
                typeDocuments: [],
                filters:{
                    search: '',
                    dateFrom: null,
                    dateTo: null,
                    valueType: -1,
                    type: null,
                    idType: null
                },
                optionsFilter: [
                    {label: 'Todos', value: -1},
                    {label: 'Tarjeta', value: 'Tarjeta'},
                    {label: 'Puntos', value: 'Puntos'},
                    {label: 'Transferencias', value: 'Transferencias'},
                    {label: 'Factura', value: 'Factura'},
                    {label: 'Boleta', value: 'Boleta'},
                    {label: 'No comprobante', value: 'No comprobante'}
                ],
                alert: false,
                orderSelect: null,
                userSelect: null,
                resend: false,
                voucher: {
                    file: null,
                    extension: '',
                    name: '',
                    fullName: '',
                    url: ''
                },
                filePreview: null,
                currentPage: 1,
                perPage: 20
			}
        },
        props:[],
		mounted(){
            this.getProfits()
        },
        methods: {
            getProfits(){
                axios.post('/panel/finanzas/ingresos/resumen', this.filters)
                .then(response => {
                    this.profits = response.data.profits
                    this.registers = response.data.registers
                    this.methodsPayment = response.data.methodsPayment
                    this.typeDocuments = response.data.typeDocuments
                })
                .catch(error => {
                })
            },
            filterRegisters(){
                let list = []
                this.registers.forEach(register => {
                    if(register.expired == this.filters.days || this.filters.days == -1){
                        list.push(register)
                    }
                })
                this.totalRows = list.length
                return list
            },
            showAlert(dataOrder){
                this.resend = false
                if(dataOrder.sendInvoice){
                    this.resend = true
                }
                this.alert = true
                this.orderSelect = dataOrder
            },
            hideAlert(){
                this.alert = false
                this.orderSelect = null
            },
            sendInvoice(typeDoc){
                if(this.orderSelect){
                        this.alert = false
                        Swal.fire({
                            title: '¿Estás seguro que deseas guardar la información?',
                            text: "",
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Si',
                            cancelButtonText: 'No',
                            customClass: {
                                container: 'xp-sweet-container-xs'
                            }
                        })
                        .then((result) => {
                            if(result.value){
                                this.load = true
                                axios.post('/panel/finanzas/ingresos/comprobante/guardar', {
                                    typeDocument: typeDoc,
                                    orderId: this.orderSelect.id
                                })
                                .then(response => {
                                    this.load = false
                                    if(response.data.success){
                                        toastr.success('Cambios guardados exitosamente!')
                                        this.getProfits()
                                    }
                                    else{
                                        toastr.error('Los cambios no se guardaron!')
                                    }
                                })
                                .catch(error => {
                                    this.load = false
                                    toastr.error('Los cambios no se guardaron!')
                                })
                            }
                        })
                }
            },
            getProfitsSelect(e){
                let type = e.target.value
                this.filters.type = null
                this.filters.idType = null
                if(type == 'Tarjeta' || type == 'Transferencias' || type == 'Puntos' || type == 'Gratis'){
                    this.filters.type = 'methodsPayment'
                    if(type == 'Tarjeta'){
                        this.filters.idType = this.methodsPayment.card
                    }
                    else if(type == 'Transferencias'){
                        this.filters.idType = this.methodsPayment.transfer
                    }
                    else if(type == 'Puntos'){
                        this.filters.idType = this.methodsPayment.points
                    }
                    else if(type == 'Gratis'){
                        this.filters.idType = this.methodsPayment.free
                    }
                }
                else if(type == 'Factura' || type == 'Boleta' || type == 'No comprobante'){
                    this.filters.type = 'typeDocuments'
                    if(type == 'Factura'){
                        this.filters.idType = this.typeDocuments.invoice
                    }
                    else if(type == 'Boleta'){
                        this.filters.idType = this.typeDocuments.ticket
                    }
                }

                this.getProfits()
            },
            showProfile(userN){
                this.userSelect = userN
                this.$bvModal.show('xp-moda-info-student')
            },
            previewDocument(fileData){
                let extension = fileData.substr(-3)
                this.voucher.extension = extension
                this.filePreview = "panel/voucher/foto/" + fileData
                this.voucher.url = "panel/voucher/foto/" + fileData
                this.$bvModal.show('xp-modal-voucher-preview')
            }
        },
        computed: {
        }
    }
</script>