<template>
    <div>
    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                title: '',
                dataHtml: '',
                type: '',
                show: false,
                confirmButtonText: ''
			}
        },
        props:["xpNotification"],
		mounted(){
            this.showNotification()
        },
        methods: {
            showNotification(){
                if(this.xpNotification=='registered'){
                    this.title = '¡Confirma tu email!'
                    this.dataHtml = '<p class="xp-sweetalert-text">Hemos enviado un enlace a tu email para verificar tu correo</p>',
                    this.type = 'success'
                    this.show = true,
                    this.confirmButtonText = 'Entendido'
                }
                else if(this.xpNotification=='resetPasswordEmail'){
                    this.title = 'Listo!'
                    this.dataHtml = '<p class="xp-sweetalert-text">Hemos enviado un enlace a tu email para restablecer tu contraseña.</p>' +
                    '<div class="xp-sweetalert-footer mt-3">'+
                    '<img src="/img/logo-color.svg" />'+
                    '</div>',
                    this.type = 'success'
                    this.confirmButtonText = 'Ok'
                    this.show = true
                }
                else if(this.xpNotification=='passwordChanged'){
                    this.title = 'Listo!'
                    this.dataHtml = '<p class="xp-sweetalert-text">Tu contraseña ha sido restablecida exitosamente.</p>' +
                    '<div class="xp-sweetalert-footer mt-3">'+
                    '<img src="/img/logo-color.svg" />'+
                    '</div>',
                    this.type = 'success'
                    this.confirmButtonText = 'Iniciar Sesión'
                    this.show = true
                }
                else if(this.xpNotification=='verified'){
                    this.title = 'Listo!'
                    this.dataHtml = '<p class="xp-sweetalert-text">Tu correo electrónico ha sido verificado exitosamente.</p>' +
                    '<div class="xp-sweetalert-footer mt-3">'+
                    '<img src="/img/logo-color.svg" />'+
                    '</div>',
                    this.type = 'success'
                    this.confirmButtonText = '¡Ir a suscripción!'
                    this.show = true
                }

                if(this.show){
                    if (this.confirmButtonText == '¡Ir a suscripción!') {
                        Swal.fire({
                            icon: this.type,
                            title: this.title,
                            html: this.dataHtml,
                            text: '',
                            confirmButtonText: this.confirmButtonText,
                            showCancelButton: true,
                            customClass: {
                                container: 'xp-sweet-no-cancel'
                            }
                        
                        }).then((result) => {
                            if(result.value){
                                window.location.replace("/usuario/suscripcion")
                            }
                        })
                    }
                    else{
                        Swal.fire({
                            icon: this.type,
                            title: this.title,
                            html: this.dataHtml,
                            text: '',
                            confirmButtonText: this.confirmButtonText,
                            showCancelButton: false,
                            customClass: {
                                container: 'xp-sweet-no-cancel'
                            }
                        
                        })
                    }
                    
                    
                }

            }
        },
        computed: {
        }
    }
</script>