<template>
    <!-- LOADER -->
    <div class="xp-loader xp-loader-music" v-bind:class="{ 'd-none': !load}">
        <div class="xp-loader-music-content">
            <div class="xp-loader-music-bar"></div>
            <div class="xp-loader-music-bar"></div>
            <div class="xp-loader-music-bar"></div>
        </div>
    </div>
</template>
<script>
    export default {
       data(){
			return{
                load: false
			}
        },
        props:["show"],
		mounted(){
            if(this.show){
                this.load = true
                setTimeout(() => {
                    this.load = false
                }, 1000);
            }
        },
        methods: {
        },
        computed: {
        }
    }
</script>

<style>
.xp-loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
}

.xp-loader .xp-loader-music-content{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
}

.xp-loader-music .xp-loader-music-bar{
    width: 8px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#1ee95d), to(#5714ce));
    background: -webkit-linear-gradient(top, #1ee95d, #5714ce);
    background: -o-linear-gradient(top, #1ee95d, #5714ce);
    background: linear-gradient(to bottom, #1ee95d, #5714ce);
}
    
.xp-loader-music .xp-loader-music-bar:nth-child(1){
    left: 0;
    -webkit-animation: line-grow 0.5s ease alternate infinite;
    animation: line-grow 0.5s ease alternate infinite;
}

.xp-loader-music .xp-loader-music-bar:nth-child(2){
    left: 20px;
    -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
    animation: line-grow 0.5s 0.2s ease alternate infinite;
}

.xp-loader-music .xp-loader-music-bar:nth-child(3){
    left: 40px;
    -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
    animation: line-grow 0.5s 0.4s ease alternate infinite;
}

@-webkit-keyframes line-grow {
        0% {
            height: 0;
        }
        100% {
            height: 75%;
        }
    }
    
    @keyframes line-grow {
        0% {
            height: 0;
        }
        100% {
            height: 75%;
        }
    }
</style>
