<template>
    <div class="d-flex flex-column">
        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12">
                <h2 class="xp-ds-title xp-text-primary">Administradores</h2>
            </div>
        </div>
        <!-- FILTERS -->
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="xp-ds-filters">
                    <div class="xp-ds-filters-block row m-0">
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">Del:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateFrom" @change="getResume()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <label class="xp-ds-form-label">al:</label>
                                <input type="date" class="xp-ds-form-control w-100" v-model="filters.dateTo" @change="getResume()">
                            </div>
                        </div>
                        <div class="xp-ds-filter-order col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-group-horizontal w-100">
                                <button class="xp-button xp-button-primary mt-md-0 p-3" @click="createAdminModal()">Agregar Administrador
                                </button>
                            </div>
                        </div>
                        <div class="xp-ds-filter-item col-12 col-md-6 mt-3 pl-3 pl-lg-3">
                            <div class="xp-ds-form-group xp-ds-form-group-icon w-100">
                                <input class="xp-ds-form-control xp-ds-rounded w-100" type="text" placeholder="Buscar alumno" v-model="filters.search">
                                <span class="xp-ds-form-icon"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="registersFilter"
                    :filter="filters.search"
                    :per-page="perPage"
                    :current-page="currentPage"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data" class="text-center">
                        <!-- <span v-text="data.index + 1"></span> -->
                        <div class="text-center" v-text="data.index+1"></div>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(username)="data">
                        <span v-text="data.item.username"></span>
                    </template>
                    
                    <template v-slot:cell(role)="data" class="text-center">
                        <div class="text-center" v-text="data.item.role.name"></div>
                    </template>

                    <!-- A virtual composite column -->
                    <template v-slot:cell(permissions)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-text-link" v-on:click="showpermissions(data.item.username)">Ver</span>
                        </div>
                    </template>

                    <template v-slot:cell(actions)="data">
                        <div class="text-center">
                            <!-- <span class="xp-table-button-icon mr-3" @click="changeNav('create', data.item.id, filters.status)" title="Editar">
                                <i class="fas fa-edit"></i>
                            </span> -->
                            <span class="xp-table-button-icon mr-3" @click="createAdminModal(data.item.id)" title="Editar">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span class="xp-table-button-icon xp-text-danger" v-if="user.username = 'xpeaking'" @click="deleteuser(data.item.id)" title="Eliminar">
                                <i class="fas fa-times"></i>
                            </span>
                        </div>
                    </template>

                    <!-- <template v-slot:cell(active)="data" class="text-center">
                        <div class="text-center">
                            <span class="xp-badge xp-badge-success" v-if="data.item.active">Activo</span>
                            <span class="xp-badge xp-badge-warning" v-else>Inactivo</span>
                        </div>
                    </template> -->

                    <template v-if="registersFilter.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex flex-column align-items-center justify-content-center">
                <div class="xp-table-pagination">
                    <b-pagination
                    v-model="currentPage"
                    :total-rows="registersFilter.length"
                    :per-page="perPage"
                    ></b-pagination>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <span class="font-weifht-bold mr-2">Total registros: </span>
                    <span class="xp-text-danger" v-text="registersFilter.length"></span>
                </div>
            </div>
        </div>

        <!-- MODAL STUDENT INFO -->
        <b-modal id="xp-moda-info-student" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Informacion de alumno</h5>
            </template>

            <!-- PROFILE USER -->
            <students-profile :username="userSelect" v-if="userSelect" @close="closeModal"></students-profile>
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd" @click="$bvModal.hide('xp-moda-info-student')">Cerrar</button>
        </b-modal>

        <!-- SUSCRIPTION -->
        <b-modal id="xp-moda-user-permission" size="lg" hide-footer>
            <template v-slot:modal-title>
                <h5>Permisos</h5>
            </template>
            <div class="col-12 px-0 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields_permissions" 
                    class="xp-table xp-table-dark" 
                    :items="userModal.permissions"
                >
                    <!-- :filter="filters.search" -->
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data">
                        <div class="text-center" v-text="data.index + 1"></div>
                    </template>

                    <template v-slot:cell(permission)="data">
                        <div class="text-center" v-text="data.item.guard_name"></div>
                    </template>
                    <template v-slot:cell(active)="data" class="text-center">
                        <div class="d-flex justify-content-center">
                            <div class="button-cover">
                                <div class="xp-switch-button r">
                                    <input type="checkbox" class="checkbox" :checked="!data.item.active"  @click="cancelClicked($event, data.item)">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-if="userModal.permissions.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="$bvModal.hide('xp-moda-user-permission')">Cerrar</button>
        </b-modal>


        <!-- TRACING -->
        <b-modal id="xp-moda-admin-create" size="xl" hide-footer>
            <template v-slot:modal-title>
                <h5>Crear Nuevo Administrador</h5>
            </template>
            <admins-create :userid="idSelect" @close="closeModal"></admins-create>
            <!-- Tracing -->
            <div class="row m-0 d-flex w-100">
                <div class="col-12 mx-auto">
                </div>
            </div>
            
            <button class="xp-button xp-button-primary xp-button-lg xp-button-pd mt-4" @click="$bvModal.hide('xp-moda-admin-create')">Cerrar</button>
        </b-modal>


    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                registers: [],
                registersFilter: [],
                totalRows: 0,
                fields_permissions:[
                    'index',
                    {key: 'index', label: '#', sortable: false},
                    {key: 'permission', label: 'Permiso', sortable: false},
                    {key: 'active', label: 'Activo', sortable: false},
                ],
                fields: [
                    'index',
                    {key: 'index', label: '#', sortable: true},
                    {key: 'username', label: 'Usuario', sortable: true},
                    {key: 'role', label: 'Rol'},
                    {key: 'permissions', label: 'Permisos'},
                    {key: 'actions', label: 'Acciones'},
                ],
                filters:{
                    search: '',
                    dateFrom: null,
                    dateTo: null,
                    status: -1
                },
                optionsActives: [
                    {label: 'Todos', value: -1},
                    {label: 'Activos', value: true},
                    {label: 'Inactivos', value: false},
                ],
                userSelect: null,
                userModal: {
                    permissions: [],
                },
                tracing: null,
                currentPage: 1,
                perPage: 15,
                NewAdmin:{
                    name: null,
                    email: null,
                    password: null
                },
                idSelect: null,
                user: null
			}
        },
        props:[],
		mounted(){
            this.getadmin()
            this.getResume()
        },
        methods: {
            getadmin(){
                axios.get('/usuario/datos/autenticado')
                .then(response=>{
                    this.user = response.data.user
                })
            },
            getResume(){
                this.load = true
                axios.post('/panel/admins/lista', this.filters)
                .then(response => {
                    this.registersFilter = []
                    this.registers = response.data.registers
                    response.data.registers.forEach(reg => {
                        this.registersFilter.push(reg)
                    })
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            filterRegisters(e){
                let st = e.target.value
                this.registersFilter = []
                this.registers.forEach(register => {
                    if(this.filters.status == -1 || this.filters.status == register.active){
                        this.registersFilter.push(register)
                    }
                })
            },
            getpermissions(){
                this.userModal.permissions= []
                axios.post('/panel/admins/permisos/datos', {
                    username: this.userSelect
                })
                .then(response => {
                    this.userModal.permissions = response.data.permissions
                })
            },
            showpermissions(userN){
                this.userSelect = userN
                this.userModal.permissions= []
                
                axios.post('/panel/admins/permisos/datos', {
                    username: this.userSelect
                })
                .then(response => {
                    this.userModal.permissions = response.data.permissions
                })
                .catch(error => {
                })

                this.$bvModal.show('xp-moda-user-permission')
            },
            showProfile(userN){
                this.userSelect = userN
                this.$bvModal.show('xp-moda-info-student')
            },
            createAdminModal(idUser){
                if (idUser) {
                    this.idSelect = idUser
                }
                else{
                    this.idSelect = null
                }
                this.$bvModal.show('xp-moda-admin-create')
            },
            closeModal(modalId){
                this.$bvModal.hide(modalId)
                this.idSelect = null
                this.getResume();
                this.userSelect = null
            },
            deleteuser(username){
                Swal.fire({
                    title: '¿Estás seguro que deseas eliminar a este usuario?',
                    text: "Esta acción es irreversible",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/admins/user/delete', {
                            username: username,
                        })
                        .then(response => {
                            this.load = false
                            if(response.data.success){
                                this.getResume()
                                toastr.success(response.data.message)
                            }
                            else{
                                toastr.warning(response.data.message)
                            }
                        })
                        .catch(error => {
                            toastr.error('Oh no, no pudimos completar la acción')
                            this.load = false
                        })
                    }
                })
            },
            cancelClicked(e, permission){
                e.preventDefault();
                let verify = true
                let title = '¿Estás seguro que deseas activar este permiso?'

                if(permission.active == true){
                    verify = false
                    title = '¿Estás seguro que deseas desactivar este permiso?'
                }

                Swal.fire({
                    title: title,
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/admins/permiso/accion', {
                            username: this.userSelect,
                            verify: verify,
                            idpermission: permission.id 
                        })
                        .then(response => {
                            this.load = false
                            if(response.data.success){
                                this.getpermissions()
                                toastr.success('Estado cambiado exitosamente')
                            }
                            else{
                                toastr.warning('Oh no, no pudimos guardar la informacion')
                            }
                        })
                        .catch(error => {
                            toastr.error('Oh no, no pudimos guardar la informacion')
                            this.load = false
                        })
                    }
                })
            },
        },
        computed: {
        }
    }
</script>