<template>
    <div class="delay-04s xp-scroll">
        <!-- loader -->
        <loader :show="load"></loader>
        <!-- <span class="cf-modal-close" v-on:click="close()"> <i class="fas fa-times"></i> </span> -->
        <div class="xp-card-login-body">
            <div class="xp-card-login-header">
                <div class="d-flex mt-4" v-if="errors.length>0">
                    <div class="xp-message-alert xp-message-alert-warning d-flex flex-column"> 
                        <span v-if="errorData.message" class="mt-2" v-for="errorData in errors" v-text="errorData.message"></span>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 mt-3 xp-form-group-super">
                    <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="text" placeholder="Usuario" v-model="user.username" v-bind:class="{ filled:user.username.length>0, invalid: errors.includes('username') }" maxlength="20" @keypress="notSpaces($event)" @input="Lower()">
                    <label class="xp-form-group-super-label">
                        <span>Usuario</span>
                    </label>
                    <span class="xp-form-super-alert xp-text-warning-alt">
                        De 4 a 20 caracteres
                    </span>
                </div>
                <div class="col-12 mt-3 xp-form-group-super">
                    <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="email" placeholder="Email" v-model="user.email" v-bind:class="{ filled:user.email.length>0, invalid: errors.includes('email') }" @keypress="notSpaces($event)">
                    <label class="xp-form-group-super-label">
                        <span>Email</span>
                    </label>
                    <span class="xp-form-super-alert xp-text-warning-alt">
                        El email ingresado no es valido
                    </span>
                </div>
                <div v-if="userid" class="col-md-3 mt-3 xp-form-group-super">
                    <button class="xp-button xp-button-primary xp-button-margin xp-button-lg xp-button-pd" v-on:click="changepasstatus()">Cambiar contraseña</button>
                </div>
                <!-- <div class="col-12 mt-3 xp-form-group-super">
                    <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field" type="phone" placeholder="Celular" v-model="user.phone" v-bind:class="{ filled:user.phone.length>0, invalid: errors.includes('phone') }" maxlength="9" @keypress="onlyNumbers($event)">
                    <label class="xp-form-group-super-label">
                        <span>Celular</span>
                    </label>
                    <span class="xp-form-super-alert xp-text-warning-alt">
                        Debe inicar con "9" y maximo 9 digitos
                    </span>
                </div> -->
                <div v-if="changepassword" class="col-12 mt-3 xp-form-group-super">
                    <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field with-icon" v-bind:type="fieldShow.includes('password')?'text':'password'" placeholder="Contraseña" v-model="user.password" v-bind:class="{ filled:user.password.length>0, invalid: errors.includes('password') }" >
                    <label class="xp-form-group-super-label">
                        <span>Contraseña</span>
                    </label>
                    <span class="xp-form-group-super-icon" v-on:click="changeFieldShow('password')">
                        <i v-if="fieldShow.includes('password')" class="fas fa-eye"></i>
                        <i v-else class="fas fa-eye-slash"></i>
                    </span>
                    <span class="xp-form-super-alert xp-text-warning-alt">
                        De 4 a 20 caracteres
                    </span>
                </div>
                <div v-if="changepassword" class="col-12 mt-3 xp-form-group-super">
                    <input class="xp-form-control xp-form-control-white radius-2 xp-form-group-super-field with-icon" v-bind:type="fieldShow.includes('confirmPassword')?'text':'password'" placeholder="Confirmar contraseña" v-model="user.confirmPassword" v-bind:class="{ filled:user.confirmPassword.length>0, invalid: errors.includes('confirmPassword') }" >
                    <label class="xp-form-group-super-label">
                        <span>Confirmar contraseña</span>
                    </label>
                    <span class="xp-form-group-super-icon" v-on:click="changeFieldShow('confirmPassword')">
                        <i v-if="fieldShow.includes('confirmPassword')" class="fas fa-eye"></i>
                        <i v-else class="fas fa-eye-slash"></i>
                    </span>
                    <span class="xp-form-super-alert xp-text-warning-alt">
                        De 4 a 20 caracteres
                    </span>
                </div>
                <!-- <div class="col-12 col-md-6 xp-form-group-super px-2 mt-4 xp-multiselect-material white">
                    <multiselect v-model="song.language" :options="languages" :clear-on-select="false" placeholder="Seleccione lenguaje" label="name" track-by="name">
                    </multiselect>
                </div> -->
                
            </div>
            <div class="d-flex justify-content-center mt-4" v-if="error">
                <div class="xp-message-alert xp-message-alert-warning"> 
                    <span v-text="error"></span>
                </div>
            </div>
            <div class="xp-card-login-footer mt-4">
                <button v-if="userid" class="xp-button xp-button-success xp-button-margin xp-button-lg xp-button-pd" v-on:click="updatechanges()">
                    Actualizar cambios
                </button>
                <button v-else class="xp-button xp-button-success xp-button-margin xp-button-lg xp-button-pd" v-on:click="checkinfo()">
                    Registrar
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import Swal from 'sweetalert2'
import Multiselect from 'vue-multiselect'

    export default {
        components: { Multiselect },
        data(){
			return{
                load: false,
                alert: false,
                user: {
                    email: '',
                    username: '',
                    password: '',
                    confirmPassword: '',
                    phone: '',
                },
                errors: [],
                error: null,
                fieldShow: [],
                roles : [],
                changepassword: true,

			}
        },
        props:['userid'],
		mounted(){
            document.addEventListener('DOMContentLoaded', () => {
                toastr.options.progressBar = true
            })
            this.getRoles()
            console.log(this.userid)
            if (this.userid) {
                this.getAdminInfo()
                this.changepassword = false
            }
        },
        methods: {
            getAdminInfo(){
                this.load = true
                axios.post('panel/admins/user/info',{
                    userid: this.userid
                })
                .then(response=>{
                    this.user.email = response.data.user.email
                    this.user.username = response.data.user.username
                    this.load = false
                })
            },
            getRoles(){
                // axios.get('/contenido/artistas/list')
                // .then(response => {
                //     this.artists = response.data.artists
                // })
                // .catch(error => {
                // })
            },
            validateStep(){
                this.errors = []
                this.error = null
                if(!this.validEmail(this.user.email)){
                    this.errors.push('email')
                }
                if( !(this.user.username.length >= 4 && this.user.username.length <= 20) ){
                    this.errors.push('username')
                }
                if (this.changepassword) {
                    if( !(this.user.password.length >= 4 && this.user.password.length <= 20) ){
                        this.errors.push('password')
                    }
                    if( !(this.user.confirmPassword.length >= 4 && this.user.confirmPassword.length <= 20) ){
                        this.errors.push('confirmPassword')
                    }
                    // if( !(this.validatePhone(this.user.phone) && this.user.phone.length == 9) ){
                    //     this.errors.push('phone')
                    // }
                    if( !(this.user.confirmPassword.length > 0 && this.user.password.length >0 && this.user.confirmPassword==this.user.password) ){
                        this.error = 'Las contraseñas ingresadas no coinciden'
                    }
                }
            },
            validEmail(email){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            changeFieldShow(field){
                if(this.fieldShow.includes(field)){
                    let indexField = this.fieldShow.indexOf(field)
                    if(indexField>=0){
                        this.fieldShow.splice(indexField, 1)
                    }
                }
                else{
                    this.fieldShow.push(field)
                }
            },
            checkinfo(){
                this.validateStep()
                if(this.errors.length==0 && !this.error){
                    this.saveData()
                }
                
            },
            saveData(){
                this.validateStep()
                // this.validateStep(3)
                
                if(this.errors.length==0 && !this.error){
                    this.load = true
                    this.errors = []
                    axios.post('/panel/admins/register', {
                        user: this.user,
                    })
                    .then(response => {
                        let errors = response.data.errors

                        if(response.data.success){
                            toastr.success('Usuario registrado exitosamente')
                            this.load = false
                            this.$emit('close', 'xp-moda-admin-create')
                        }
                        else{
                            if(errors){
                                this.errors = errors
                                this.load = false
                            }
                            else if(errors == undefined){
                                this.load = false
                            }
                        }
                    })
                    .catch(error => {
                        this.load = false
                        toastr.error('El registro no se realizo correctamente, intentelo de nuevo por favor')
                    })
                }
            },
            updatechanges(){
                this.validateStep()
                if(this.errors.length==0 && !this.error){
                    axios.post('/panel/admins/cambiardatos/admin', {
                        user: this.user,
                        changepassword: this.changepassword,
                        iduser: this.userid,
                    })
                    .then(response => {
                        let errors = response.data.errors

                        if(response.data.success){
                            toastr.success('Usuario registrado exitosamente')
                            this.load = false
                            this.$emit('close', 'xp-moda-admin-create')
                        }
                        else{
                            if(errors){
                                this.errors = errors
                                this.load = false
                            }
                            else if(errors == undefined){
                                this.load = false
                            }
                        }
                    })
                    .catch(error => {
                        this.load = false
                        toastr.error('El registro no se realizo correctamente, intentelo de nuevo por favor')
                    })
                }
            },
            validatePhone(value){
                let t = /^9[0-9]+/
                return t.test(value)
            },
            onlyNumbers(e){
                let key = window.Event ? e.which : e.keyCode
                if(key >= 48 && key <= 57){

                }
                else{
                    e.preventDefault();
                }
            },
            notSpaces(e){
                let key = window.Event ? e.which : e.keyCode
                if(key ==32){
                    e.preventDefault();
                }
            },
            Lower(){
                this.user.username = this.user.username.toLowerCase();
            },
            changepasstatus(){
                this.changepassword = !this.changepassword
            }
        },
        computed: {
        }
    }
</script>