<template>
    <div class="d-flex flex-column">
        <loader :show="load"></loader>

        <div class="row m-0">
            <div class="col-12">
                <h2 class="xp-ds-title xp-text-primary">Reportes</h2>
            </div>
        </div>
        <!-- RESUME -->
        <div class="row m-0 mt-0 mt-lg-3 mb-4">
            <div class="col-12">
                <div class="xp-ds-list">
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Total:</h4>
                        <span class="xp-ds-subtitle xp-text-jade-alt font-weight-bold" v-text="reportsbase.length"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Atendidos:</h4>
                        <span class="xp-ds-subtitle xp-text-primary font-weight-bold" v-text="attendedreports.length"></span>
                    </span>
                    <span class="xp-ds-list-item">
                        <h4 class="xp-ds-subtitle mr-2">Pendientes:</h4>
                        <span class="xp-ds-subtitle xp-text-danger font-weight-bold" v-text="pendingreports.length"></span>
                    </span>
                </div>
            </div>
        </div>
        <!-- FILTERS -->
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="xp-ds-filters">
                    <div class="xp-ds-filters-block row m-0">
                        <div class="xp-ds-filter-order col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                            <div class="xp-ds-form-group xp-ds-form-group-resalt">
                                <span class="xp-ds-form-group-resalt-icon">
                                    <i class="fas fa-sort-amount-up"></i>
                                </span>
                                <select class="xp-ds-form-control w-100" v-model="filters.status" @change="filterRegisters($event)">
                                    <option v-for="optionD in optionsActives" v-bind:value="optionD.value" v-text="optionD.label" :selected="optionD.value == filters.status"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DATA TABLE -->
        <div class="row m-0 mt-4">
            <div class="col-12 table-responsive xp-scroll">
                <b-table 
                    small 
                    :fields="fields" 
                    class="xp-table" 
                    :items="reports"
                    :per-page="perPage"
                    :current-page="currentPage"
                >
                    <!-- A virtual column -->
                    <template v-slot:cell(index)="data" class="text-center">
                        <!-- <span v-text="data.index + 1"></span> -->
                        <span v-text="data.item.id"></span>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(username)="data" class="text-center">
                        <span v-text="data.item.user.username"></span>
                    </template>
                    <template v-slot:cell(word)="data" class="text-center">
                        <span v-text="data.item.word"></span>
                    </template>
                    <template v-slot:cell(content)="data" class="text-center w-30">
                        <div class="text-center" v-text="data.item.content"></div>
                    </template>
                    <template v-slot:cell(source_language)="data" class="text-center">
                        <span v-text="data.item.source_language.name"></span>
                    </template>
                    <template v-slot:cell(target_language)="data" class="text-center">
                        <span v-text="data.item.target_language.name"></span>
                    </template>
                    <template v-slot:cell(date)="data" class="text-center">
                        <span v-text="data.item.created"></span>
                    </template>
                    <template v-slot:cell(status)="data" class="text-center">
                        <div class="d-flex justify-content-center">
                            <div class="button-cover">
                                <div class="xp-switch-button r">
                                    <input type="checkbox" class="checkbox" :checked="!data.item.resolved == codeLocked" @change="changeStatusUser($event, data.item)" @click="cancelClicked($event, data.item)">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </template>

                    <template v-if="reports.length == 0" v-slot:table-caption>
                        <div class="d-flex justify-content-center">
                            Sin registros
                        </div>
                    </template>
                </b-table>
            </div>
            <div class="col-12 mt-3 d-flex flex-column align-items-center justify-content-center">
                <div class="xp-table-pagination">
                    <b-pagination
                    v-model="currentPage"
                    :total-rows="reports.length"
                    :per-page="perPage"
                    ></b-pagination>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <span class="font-weifht-bold mr-2">Total registros: </span>
                    <span class="xp-text-danger" v-text="reports.length"></span>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
import Swal from 'sweetalert2';

    export default {
       data(){
			return{
                load: false,
                reports: [],
                reportsbase: [],
                attendedreports: [],
                pendingreports:[],
                registersFilter: [],
                totalRows: 0,
                fields: [
                    {key: 'index', label: '#', sortable: true},
                    {key: 'username', label: 'Usuario', sortable: true},
                    {key: 'word', label: 'Palabra', sortable: true},
                    {key: 'content', label: 'Descripción', sortable: true},
                    {key: 'source_language', label: 'Lenguaje base', sortable: true},
                    // {key: 'invitations', label: '# Invitaciones'},
                    {key: 'target_language', label: 'Lenguaje objetivo', sortable: true},
                    // {key: 'levels', label: '# Niveles'},
                    {key: 'date', label: 'Fecha de Registro'},
                    {key: 'status', label: 'Atendido', sortable: true},
                ],
                filters:{
                    search: '',
                    dateFrom: null,
                    dateTo: null,
                    status: -1
                },
                optionsActives: [
                    {label: 'Todos', value: -1},
                    {label: 'Pendientes', value: true},
                    {label: 'Atendidos', value: false},
                ],
                codeLocked: 1,
                currentPage: 1,
                perPage: 15
			}
        },
        props:[],
		mounted(){
            this.getdata()
        },
        methods: {
            getdata(){
                this.load = true
                axios.get('/panel/estudiantes/reportes/lista',)
                .then(response => {
                    this.reports = response.data.reports
                    this.reportsbase = this.reports
                    response.data.reports.forEach(reg => {
                        if (reg.resolved>=1) {
                            this.attendedreports.push(reg)
                        }
                        else{
                            this.pendingreports.push(reg)
                        }
                    })
                    this.load = false
                })
                .catch(error => {
                    this.load = false
                })
            },
            filterRegisters(e){
                let st = e.target.value
                this.registersFilter = []
                if(this.filters.status == -1){
                    this.reports = this.reportsbase
                }
                else if(this.filters.status == true){
                    this.reports = this.pendingreports
                }
                else{
                    this.reports = this.attendedreports
                }
            },
            cancelClicked(e, dataItem){
                e.preventDefault();
                let locked = true
                let title = '¿Estás seguro de haber solucionado la observación?'

                if(dataItem.resolved == this.codeLocked){
                    locked = false
                    title = '¿Estás seguro que deseas desbloquear este usuario?'
                }

                Swal.fire({
                    title: title,
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No',
                    customClass: {
                        container: 'xp-sweet-container-xs'
                    }
                })
                .then((result) => {
                    if(result.value){
                        this.load = true
                        axios.post('/panel/estudiantes/reportes/actualizar', {
                            report_id: dataItem.id,
                            locked: locked
                        })
                        .then(response => {
                            this.load = false
                            if(response.data.success){
                                this.reportsbase = []
                                this.pendingreports = []
                                this.attendedreports = []
                                this.getdata()
                                this.filters.status = -1
                                toastr.success('Estado cambiado exitosamente')
                            }
                            else{
                                toastr.warning('Oh no, no pudimos guardar la informacion')
                            }
                        })
                        .catch(error => {
                            toastr.error('Oh no, no pudimos guardar la informacion')
                            this.load = false
                        })
                    }
                })
            }
            
        },
        computed: {
        }
    }
</script>